/* ==========================================================================
   Colors
    #dfdfdf (light grey)
    #4d4d4d (dark grey)
    #ed1c24 (Red)
    #ffffff (white)
   ========================================================================== */


/* ==========================================================================
   custom screen visibility
   ========================================================================== */

@media screen and (max-width: 991px) {
    .visible-mobile {
        display: block !important;
    }
    .visible-desktop {
        display: none !important;
    }
}

@media screen and (min-width: 992px) {
    .visible-mobile {
        display: none !important;
    }
    .visible-desktop {
        display: block !important;
    }
}


/* ==========================================================================
   MISC
   ========================================================================== */

.no-margin {
    margin: 0;
}

.display-flex {
    display: flex;
}

.display-inline-block {
    display: inline-block;
}

.display-table-cell {
    display: table-cell;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.no-text-decoration {
    text-decoration: none !important;
}

.not-visible {
    visibility: hidden;
}

.hide {
    display: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.nopadding {
    padding: 0;
    margin: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none;
}

.vertical-padding {
    padding: 10px 10px 10px 0;
}

.list-item-padding {
    padding-top: 5px;
}

.component-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.zero-component-padding {
    padding-left: 0;
    padding-right: 0;
}

.inline-block {
    display: inline-block;
}

.margin-bottom-3 {
    margin-bottom: 3px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.margin-top-1 {
    margin-top: 1px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-35 {
    margin-top: 35px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-right--37 {
    margin-right: -37px;
}

.padding-8 {
    padding: 8px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-right-0 {
    padding-right: 0;
}

.padding-right-6 {
    padding-right: 6px;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-left-4 {
    padding-left: 4px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-left-7 {
    padding-left: 7px;
}

.padding-left-18 {
    padding-left: 18px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-25 {
    padding-left: 25px;
}

.padding-left-32 {
    padding-left: 32px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-12 {
    padding-top: 12px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-bottom-3 {
    padding-bottom: 3px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.overflow-hidden {
    overflow: hidden;
}

.font-size-8 {
    font-size: 8px;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-20 {
    font-size: 20px;
    line-height: 24px;
}

.font-size-30 {
    font-size: 30px;
    line-height: 34px;
}

.font-size-38 {
    font-size: 38px;
    line-height: 42px;
}

.top-5 {
    top: 5px;
}

.v-align-middle {
    vertical-align: middle;
}

.cursor-pointer,
.pointer__cursor {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.customPlaceholder {
    color: #A3A3A3;
}


/* ==========================================================================
   Shared Layout : View
   ========================================================================== */


/* section */

.page--background-color {
    background-color: #dfdfdf;
}

.page_header {
    margin-right: 15px;
    margin-bottom: 20px;
}

.page-section {
    margin: 20px 0;
}

.page-section__header {
    font-weight: 30px;
    padding: 12px 12px 12px 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.page-section__header__title {
    color: #4d4d4d;
    font-size: 30px;
    margin-bottom: 25px;
}

.page-section__sub-header {
    padding: 12px 0;
}

.page-section__sub-header__title {
    font-weight: bold;
    font-size: 25px;
    color: #808080;
}

.page-section__title__error {
    color: #ed1c24;
}

.page-section__body {
    padding: 10px 0;
}

.page__footer {
    padding: 10px;
}

.sub-section {
    margin: 10px 0;
    padding: 15px 0;
}

.sub-section__header {
    background-color: #fff;
}

.sub-section__header__title {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: bold;
}

.sub-section__header__title__margin {
    margin-top: 10px;
    margin-bottom: 20px;
}

.sub-section__body {
    padding: 10px;
}

.sub-section__sub-header {
    margin-top: 10px;
}

.section__divider {
    border-top: 1px solid #ed1c24;
}

.detail-section__row {
    padding: 5px 0 5px 8px;
}

.detail-section__row__label {
    font-weight: bold;
    font-size: 13px;
}

.detail-section__row__value {
    color: #808080;
    font-size: 13px;
}

.divider-padding {
    padding-top: 5px;
    padding-bottom: 10px;
}


/*** search page ***/

.entry_search_wrapper {
    padding: 18px 30px;
    background-color: #ededed;
}


/*** lightbox ***/

.lightbox_wrapper {
    display: block;
    max-width: 780px;
    min-width: 0px;
    margin-right: auto;
    margin-left: auto;
}


/*** acknowledgement page ***/

.acknowledgement-page-section {
    margin: 30px 0;
}


/*** errorbox ***/

.server-error-box {
    width: 100%;
    border: 2px solid #ed1c24;
    border-radius: 6px;
    color: #ed1c24;
}

.server-error-box__content-padding {
    padding: 20px 5px;
}


/*** table pagination ***/

.table-pagination-wrapper {
    text-align: right;
    padding: 10px 0;
}

.table-pagination {
    border-radius: 4px;
    background: #eaeaea;
    display: inline-block;
}

.table-pagination__nav-block {
    display: inline-block;
    padding: 10px 15px;
}

.table-pagination__nav-block span {
    position: relative;
    top: 1px;
    margin: 0 3px;
}

.table-pagination__nav-block--back {
    border-right: 1px solid #ddd;
    cursor: pointer;
}

.table-pagination__nav-block--back:before {
    content: "<<";
    color: #ED2324;
    font-size: 10px;
    font-weight: bold;
}

.table-pagination__nav-block--page {
    padding: 0 15px;
}

.table-pagination__nav-block--page input {
    text-align: center;
    width: 30px;
    height: 30px;
}

.table-pagination__nav-block--next {
    border-left: 1px solid #ddd;
    cursor: pointer;
}

.table-pagination__nav-block--next:after {
    content: ">>";
    color: #ED2324;
    font-size: 10px;
    font-weight: bold;
}


/* ==========================================================================
   Layout element
   ========================================================================== */

body {
    display: block;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    padding-top: 0px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #4d4d4d;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}

h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    font-size: 34px;
    line-height: 38px;
}

p {
    margin-bottom: 5px;
    text-align: left;
}

label {
    font-weight: normal;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #ed1c24;
}

a:hover {
    text-decoration: underline;
    color: #bf171d;
}

.button,
a:focus {
    outline: none;
}

.button {
    text-align: center !important;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    padding: 0px 40px;
}

.button--red-thick {
    color: white;
    height: 50px;
    background-color: #ef1616;
}

.button--red-thin {
    color: white;
    height: 40px;
    background-color: #ef1616;
}

.button--dark-grey {
    color: #ffffff;
    height: 40px;
    background-color: #4d4d4d;
}

.button-delete--dark-grey {
    color: #ffffff;
    padding: 8px !important;
    background-color: #4d4d4d;
}

.button--light-grey {
    color: #4d4d4d;
    height: 40px;
    background-color: #dfdfdf;
}

.button--light-grey:hover {
    color: #4d4d4d !important;
}


/*KIV*/


/*
.button:hover,
.button:active,
.button:visited,
.button:focus {
    cursor: pointer;
    color: white;
}*/

.button:hover {
    text-decoration: none;
}

.search-button-margin {
    margin-right: 15px;
    margin-top: 10px;
    float: right;
}

.button-right {
    float: right;
    margin: 5px;
}

.button-left {
    margin: 5px;
}

.secondary-button {
    text-align: center !important;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    padding: 0px 15px;
}

.secondary-button--red-thin {
    color: white;
    height: 30px;
    background-color: #ef1616;
}

.secondary-button--grey-thin {
    color: white;
    height: 40px;
    background-color: #4d4d4d;
}

.secondary-button--white-thin {
    color: #4d4d4d;
    height: 30px;
    background-color: transparent;
}

@media (min-width:768px) {
    .right-button {
        padding: 10px 20px;
    }
    .left-button {
        padding: 10px 20px;
    }
    .right-wrapper {
        float: right;
        padding: 0 5px;
    }
    .left-wrapper {
        float: left;
        padding: 0 5px;
    }
}

@media (max-width:767px) {
    .right-button {
        width: 100%;
        max-width: 250px;
        min-width: 200px;
    }
    .left-button {
        width: 100%;
        max-width: 250px;
        min-width: 200px;
    }
    .right-wrapper {
        padding: 5px 0;
        text-align: center;
    }
    .left-wrapper {
        padding: 5px 0;
        text-align: center;
    }
}

.dropdown-wrapper {
    padding-bottom: 5px;
}

.inline-block {
    max-width: 100%;
    display: inline-block;
}

.entry_label {
    padding-top: 10px;
    float: none;
    line-height: 20px;
}

.container {
    width: 1145px !important;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 500px) {
    .container {
        max-width: 95% !important;
    }
}

@media (max-width: 1145px) {
    .container {
        max-width: 96% !important;
    }
}

@media (min-width:768px) {
    .input-wrapper {
        padding-right: 30px;
    }
}

.two-fields-padding {
    padding-left: 15px;
}


/* ==========================================================================
   Spinner
   ========================================================================== */

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    min-width: 24px;
    min-height: 24px;
}

.spinner:before,
.spinner img {
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -10px;
    margin-left: -10px;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border-top: 3px solid #f01616;
    border-right: 3px solid transparent;
    animation: spinner .6s linear infinite;
}


/* ==========================================================================
   input : Style sheet copy from webflow
   ========================================================================== */

.input,
.select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.input:-moz-placeholder,
.select:-moz-placeholder {
    color: #999999;
}

.input::-moz-placeholder,
.select::-moz-placeholder {
    color: #999999;
    opacity: 1;
}

.input:-ms-input-placeholder,
.select:-ms-input-placeholder {
    color: #999999;
}

.input::-webkit-input-placeholder,
.select::-webkit-input-placeholder {
    color: #999999;
}

.input:focus,
.select:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
}

.input[disabled],
.select[disabled],
.input[readonly],
.select[readonly],
fieldset[disabled] .input,
fieldset[disabled] .select {
    cursor: not-allowed;
    background-color: #eeeeee;
}

textarea.input,
textarea.select {
    height: auto;
}

.form {
    margin: 0 0 15px;
}

.input-medium {
    width: 50%;
    float: none;
}

@media (max-width: 479px) {
    .input-medium {
        width: 100%;
    }
}


/* ==========================================================================
   Modal Dialog
   ========================================================================== */

.modal-dialog {
    margin: 30px auto 10px auto;
    max-width: 90%;
}

.modal-wrapper {
    padding: 10px;
}

.modal-header-custom {
    min-height: 16px;
    padding: 15px 25px;
}

.modal-body-custom {
    position: relative;
    padding: 15px 25px;
}

.modal-footer-custom {
    text-align: right;
    padding: 15px 25px;
    margin: 0 10px 50px 10px;
}

.modal-close-button {
    padding: 10px;
    float: right;
    top: -20px;
    right: -20px;
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 50%;
    color: #FFF;
    background: red;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.modal-primary-button {
    float: right;
    border-radius: 4px;
    background: #ef1616;
    padding: 12px;
    min-width: 20%;
    border: 0;
    color: #FFF;
}

.modal-secondary-button {
    float: left;
    border-radius: 4px;
    background: #dcdcdc;
    padding: 12px;
    min-width: 20%;
    border: 0;
}


/* ==========================================================================
    Loading overlay 
   ========================================================================== */

.overlay {
    position: fixed;
    z-index: 98;
    top: 0;
    background-color: #ddd;
    width: 100%;
    height: 100%;
}

.loading-wrapper {
    z-index: 98;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
}

.loading-img {
    position: relative;
    top: 40%;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #a1a1a1;
    background: #dddddd;
    border-radius: 10px;
}

.full-page-overlay {
    background: none;
    background-color: #000;
    opacity: 0.7;
    filter: alpha(opacity 70);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}


/* ==========================================================================
   Layout element : Hamburger menu (mobile)
   ========================================================================== */

.high-z-index {
    position: relative;
    z-index: 98;
}


/*------------- override dl-menu [s] -------------*/

.dl-menuwrapper {
    position: absolute;
    top: 0;
    background: #FFF;
    margin-top: -50px;
    z-index: 99;
    max-width: 290px;
    height: 100%;
    /*not fully bounded probably due to library css, add 100px for safety measure*/
    transition: all 200ms ease-out;
    left: 0;
    transform: translate3d(-300px, 0, 0);
}

.dl-menuwrapper li a {
    padding: 10px 20px;
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li>a:not(:only-child):after {
    top: 10px;
    line-height: normal;
}

.dl-back a {
    background: #FFF !important;
    color: #808080 !important;
}

.dl-menuwrapper li.dl-back:after {
    color: #808080;
    content: url('../images/icon_back.png');
}

.dl-menuwrapper li>a:not(:only-child):after {
    content: url('../images/arrow_right_button.png');
}

.dl-menuwrapper li {
    box-shadow: inset 0 -1px 0 rgba(31, 29, 25, .2), inset 0 0 8px rgba(0, 0, 0, .06);
}

.dl-menuwrapper li>a:after {
    color: #FFF;
}

.dl-menuwrapper a {
    text-decoration: none;
}

.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li > ul > li {
    display: block;
}

.level-one {
    background: #ed1b23;
}

.level-two {
    background: #6d6d6d;
}

.level-three {
    background: #b2b2b2;
}


/*------------- override dl-menu [e] -------------*/

.uip-menu__nav-button {
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.uip-menu__subnav {
    position: static;
    padding-top: 9px;
    /*padding-bottom: 9px;*/
    background-color: white;
}

.uip-menu__logo-container {
    position: static;
    display: block;
    max-width: 153px;
    min-width: 153px;
    margin-right: auto;
    margin-left: auto;
    float: left;
}

.uip-menu__logo {
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 75px;
    max-width: 155px;
    min-height: 75px;
    min-width: 155px;
    background-image: url('../images/logo.gif');
    background-repeat: no-repeat;
    background-attachment: scroll;
    text-indent: -50%;
}

@media screen and (max-width: 991px) {
    .uip-menu__logo-container {
        display: block;
        float: none;
    }
    .uip-menu__logo {
        position: static;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        display: block;
        max-height: 60px;
        max-width: 153px;
        min-height: 60px;
        margin-right: auto;
        margin-left: auto;
        float: none;
        background-image: url('../images/logo_small.png');
        background-position: 50% 50%;
        text-indent: -50%;
    }
    .hamburger {
        color: #f01616;
        background: #FFF;
        position: static;
        display: block;
        float: left;
        clear: none;
    }
    .hamburger.w--open {
        color: #f01616;
        background-color: #FFF;
    }
    .uip-menu__red-man-wrapper {
        float: right;
        position: relative;
    }
    .uip-menu__red-man-wrapper .red-man-menu {
        background: #FFF;
        position: relative;
        display: block;
        float: right;
        padding: 18px 10px;
        clear: none;
    }
    .uip-menu__red-man-wrapper .red-man-menu.expanded {
        border-bottom: 3px solid #ad181d;
    }
    .uip-menu__red-man-wrapper .red-man-sub-menu.expanded {
        top: 100%;
        right: 0;
        left: inherit;
    }
}

@media screen and (max-width: 479px) {
    .uip-menu__logo-container {
        display: block;
        float: none;
    }
}


/* ==========================================================================
   Layout element : Mobile menu
   ========================================================================== */

.dl-menu .notification-wrapper {
    overflow: auto;
    max-height: 180px;
}

.dl-menu .notification-icon {
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.dl-menu .notification-badge {
    position: absolute;
    top: -8px;
    right: -6px;
    font-size: 10px;
    background-color: #999;
    width: 16px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 4px;
}

.dl-menu .notification-action {
    font-size: 13px;
}

.dl-menu .notification-action--view {
    background: url(../images/notification_view_icon.png) left center no-repeat;
    padding-left: 32px;
}

.dl-menu .read-more {
    text-align: right;
    font-size: 13px;
}


/* ==========================================================================
   Layout element : Desktop menu
   ========================================================================== */

.nav-bar-container {
    max-width: 1145px;
}

.menu-bar {
    float: right;
}

.menu-bar .menu-block {
    display: inline-block;
    position: relative;
}

.menu-bar .divider {
    display: inline-block;
    width: 1px;
    background: #d5d5d5;
    height: 30px;
    float: right;
    position: relative;
    margin-top: 25px;
}

.menu-bar .divider.hide {
    display: none;
}

.menu-bar .main-menu {
    background: #FFF;
    position: relative;
    padding: 0 10px;
    font-size: 18px;
    border-top: 1px solid #FFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: 80px;
}

.menu-bar .main-menu.expanded {
    z-index: 100 !important;
    color: #ef1616;
    border-top: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.menu-bar .main-menu .notification-icon-wrapper {
    display: inline-block;
    position: relative;
    margin-right: 15px;
}

.menu-bar .main-menu .notification-icon {
    font-size: 22px;
    top: 4px;
    color: #ababab!important;
}

.menu-bar .main-menu .notification-badge {
    position: absolute;
    right: -8px;
    top: -8px;
    background-color: red;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    width: 18px;
    height: 19px;
    text-align: center;
}

.menu-bar .main-menu table {
    min-height: 80px;
}

.menu-bar .main-menu table td {
    vertical-align: middle;
}

.menu-bar .main-menu .menu-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ed1c24;
    content: "";
    position: relative;
    margin-left: 15px;
    right: 0;
    float: right;
}

.menu-bar .sub-menu {
    z-index: 99 !important;
    background: #FFF;
    margin-top: -1px;
    border: 1px solid #d5d5d5;
    border-radius: 4px 0 4px 4px;
    box-shadow: 2px 0 14px rgba(31, 29, 25, .26);
    position: absolute;
    padding: 15px 0;
    right: 0;
}

.menu-bar .sub-menu.hide {
    display: none;
}

.menu-bar .sub-menu.expanded {
    display: block !important;
}

.menu-bar .sub-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-bar .sub-menu .level-2 {
    padding: 5px;
}

.menu-bar .sub-menu .level-3 {
    padding: 3px;
}

.menu-bar .sub-menu .level-2 a {
    color: #4d4d4d;
    font-size: 14px;
}

.menu-bar .sub-menu .level-3 a {
    color: #808080;
    font-size: 13px;
}

.menu-bar .sub-menu .level-2 a:hover {
    color: #bf171d;
}

.menu-bar .sub-menu .level-3 a:hover {
    color: #ed1c24;
}

.menu-bar .sub-menu .sub-menu-column {
    display: inline-block;
    padding-left: 20px;
    width: 238px;
}

.menu-bar .notification-menu .notification-item {
    display: block;
    padding: 10px;
    width: 300px;
    margin: 5px 10px;
    background: #efefef;
    border-radius: 4px;
}

.menu-bar .notification-item .item-title {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
}

.menu-bar .notification-item .item-date {
    float: right;
    font-size: 11px;
    color: #bbb;
}

.menu-bar .notification-item .item-message {
    font-size: 12px;
    color: #888;
}

.menu-bar .notification-item .item-action {
    font-weight: 600;
    font-size: 12px;
    text-align: right;
    cursor: pointer;
    display: inline-block;
}

.menu-bar .notification-item .item-action--view {
    background: url(../images/notification_view_icon.png) left center no-repeat;
    padding-left: 32px;
}

.menu-bar .notification-menu .read-more {
    color: #ed1c24;
    display: inline-block;
    padding-top: 10px;
    padding-right: 15px;
    font-size: 11.5px;
    font-weight: 500;
    cursor: pointer;
}

.dotted-left-border {
    border-left: 1px dotted #d5d5d5;
}

@media screen and (max-width: 991px) {
    .menu-desktop {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .dl-menuwrapper {
        display: none;
    }
    .menu-overlay {
        display: none !important;
    }
}

#siteWrapper {
    position: relative;
    height: 100%;
    width: 100%;
    /*transform: translate3d(0, 0, 0);*/
    transition: all 200ms ease-out;
    backface-visibility: hidden;
}

#menu-overlay {
    position: absolute;
    display: none;
    z-index: 98;
    top: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#menu-overlay.show {
    display: block;
}


/* ==========================================================================
   Back To Top Button
   ========================================================================== */

.back-to-top-button--desktop {
    margin-top: 30px;
    float: right;
    cursor: pointer;
}

.back-to-top-button--mobile {
    position: fixed;
    z-index: 99;
    right: 0;
    cursor: pointer;
    bottom: 45px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.53);
    border-radius: 6px 0px 0px 6px;
    padding: 5px 10px;
}

.back-to-top-button__text {
    font-size: 12px;
    color: #808080;
    margin-right: 15px;
}

@media (max-width: 500px) {
    .back-to-top-button--mobile {
        display: block;
    }
}

@media (min-width: 501px) {
    .back-to-top-button--mobile {
        display: none;
    }
}
