.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #FFFFFF;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #5B4195;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.header_row{
	
	margin-right: -15px;
    margin-left: -15px;
}

.navbar {
    margin-bottom: 0px;
	
}
/** CSS to support Tablet and Mobile Phones**/
@media all and (max-width: 769px) {
	#header_wrap {width:72%; margin:0 auto; padding:24px;}
	#content_wrap {width:72%; margin:0 auto; overflow:hidden;}
	#quotation_content_wrap {width:72%; margin:0 auto; overflow:hidden;}
	.site_logo {
		width: 170px;
		height: 100%;
		border: 0px solid #E9E9E9;
		margin-top: 15px;
	}
	
	#top_login_cont {
		display:none;
	}
	#top_login_icon{
		margin-right: -60px;
		margin-top: 35px;
		font-size: 25px;
		color: #6E4598;
		cursor: pointer;
		float: right;
	}
	
	.menu_toggle_button{
		margin-top: 40px;
		margin-left: -2px;
	}
	
	.navbar-default .navbar-toggle {
		border-color: rgba(115, 115, 115, 0);
	}
	
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: rgba(221, 221, 221, 0);
	}
	
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #4F00A0;
		/* font-size: 20px; */
		height: 4px;
		width: 30px;
		margin-top: 6px;
	}
	
	/**Homepage**/
	.home_button {
    font-size: 140%;
    padding: 20px;
    margin-top: 0px;
	}
	
	.homepage_button {
    padding-top: 40%;
	}
	
	
}

/**css to support desktop**/
@media (min-width: 769px){
	.select_row { clear: both;width: 100%;display: flex;align-items: center;margin: 0px;}
	.navbar-header {
		width: 100%;
	}
	
	.site_logo {
		margin-left: -15px;
	}
	
	.show_menu, #top_login_icon, div.dollar_sign, .quote_discount_label_responsive, .quotation_summary_bottom_title, .responsive{
		display:none;
	}
	
	
}	

@media (min-width : 769px) and (max-width:1000px){
	#header_wrapper {width:1000px; background:#ffffff; min-height:130px;}
	#content_wrapper {float: left; width: 1000px; padding:40px 0;}
	#footer_wrapper {background:#ffffff; width:1000px; float:left; font-size:14px;}
	#footer_wrap {width:95%; margin:0 auto; padding:24px 0; color:#888888; overflow: hidden;}
	#header_wrap {width:100%;}
	.footer_cont.right { margin-right: 20px;}
	.footer_cont { width: 60%;}
	#top_login_cont { margin-right:0px;}
	.landing_page {min-height: 1300px;width: 1000px;
}
}

/* ALL Smartphones (portrait)  and (landscape)----------- */
@media (min-width : 320px) and (max-width : 769px){
	#content_wrap {width:90%; margin:0 auto; overflow:hidden;}
	#quotation_content_wrap {width:100%; margin:0 auto; overflow:hidden;}
	#footer_wrap {width:72%; margin:0 auto; padding:24px 0; color:#888888; overflow: hidden;}
	.site_logo {
		margin-left: 25px;
	}
	h2.home_title {
		/**color: #ffffff;
			line-height: 44px;
			margin: 0 0 24px 0;
		text-align: center;**/
		font-size: 24px;
		margin: 0px 0px 10px;
		line-height: 34px;
	}
	
	h3.home_title {
		font-size: 24px;
		color: #f7d9bf;
		line-height: 34px;
		text-align: center;
		margin: 0 0 5px 0;
	}
	
	#gender_wrap {
		width: 100%;
		margin: 24px auto;
	}
	
	a.male_doll_cont:hover {
		margin-top:-1px; 
		margin-left:-1px;
	}
	
	a.female_doll_cont:hover {
		margin-top:-1px; 
		margin-right:-1px;
		
	}
	
	label.landing_dialogue {
        margin: 17px 5px -52px 22px;
	}   
	label.landing_dialogue1 {
        margin: 15px 5px 10px 5px;
	}
	.male_years_old{
		margin-left: 45px;
	}
	.landing_page {
		min-height: 768px;
	}
	
	.footer_cont.right {
		display:none;
	}
	
	.page_age_textbox {
		padding: 5px 15px 5px 10px;
		margin-left: 60px;
		font-size: 21px;
	    width: 70%;
	}
	.male_years_old{
		margin-left: 45px !important;
	}
	.female_years_old{
		margin-left: 45px !important;
	}
	.responsive_row{
		
		margin-top:20px;
	}
	
	.dialogue_select .activetrigger {
		padding: 0px 15px 6px 10px;
		font-size: 23px;
		margin-top: -10px;
	}
	
	.dialogue_select .trigger {
		padding: 6px 15px 6px 10px;
		font-size: 23px;
		width: 80%;
		margin-top: -10px;
		margin-left: 20px;
	}
	
	.gender_box_btn {
		margin: 5px auto 0;
	}
	
	.age_landing_alert_box {
		font-size: 10px;
		margin-left: 13%;
	}
	.age_landing_alert_box:after {
		left: 45px;
	}


	/*General 02_plans page CSS for Responsive*/
	.personal_info_box {
		display:none ;
	}

	.title_box {
		margin: auto ;
		float: none ;
	}

	h2.inner_title {
		text-align: center ;
	}

	h2.inner_title span {
		font-weight: bold ;
		font-size: 24px;
	}

	.plans {
		margin: 20px 0 0 0 ;
	}

	.plan {
		width:100%;
	}

	.plan.left{ float:none ;}
	.plan.right{ float:none ;}


	/*Make sure this only affects the plan page since the selected 
		is being used across several pages*/
	.plans .get_plan_btn{
		width: 80%;
		text-align: center;
		margin-bottom: 50px ;
	}

	.plans .get_plan_btn.mobile_reduce_margin{
		margin-bottom:20px ;
	}


	/*General 05_signup page CSS for Responsive*/
	.plans .add_purple_lines {
		border: rgb(111, 69, 153) solid 8px ;
		border-style: solid none ;
		padding: 25px 0px ;
		min-height: 450px ;
		margin-bottom: 40px ;
	}

	.signup_section .textfield.responsive_margin{
		margin-bottom: 15px ;
	}

	.signup_section .textfield.password_field{
		width: 100%;
	}

	.signup_section .textfield.retype_field{
		width: 100%;
	}

	.signup_section .signup_table .responsive_hide{
		display: none ;
	}

	.signup_section .signup_table .responsive_hide{
		display: initial ;
	}

	.signup_section .signup_table .signup_responsive_btn{
		width: 100%;
		margin-bottom: 5px ;
	}

	.white_btn.signup_responsive_back_btn{
		text-align: center;
    	width: 25%;
    	margin-top: 60px !important ;
    	position: absolute;
	}

	.plan.responsive_margin{
		margin-bottom: 25px ;
	}


	/*General ApplicationProgress (06) page CSS for Responsive*/
	/*The following are the css for manipulating the 4 option tabs*/
	/*Subsection for personal details tab (Single Line Assumption)*/
	.personal_detail_appli_prog .link_title{
		text-align: left ;
		padding-right: 20px ;
	}

	/*Subsection for Occupation tab*/
	.Occupation_Info_appli_prog .link_title{
		text-align: left;
		padding-right: 2px ;
	}

	/*Sub-subsection for Occupation edit tab (Single Line Assumption)*/
	.Occupation_Info_appli_prog_edit .link_title{
		text-align: left;
		padding-right: 2px ;
	}


	/*Subsection for health declaration tab (Single Line Assumption)*/
	.Health_Dec_appli_prog .link_title{
		text-align: left; 
		padding-right: 20px ;
	}

	/*Sub-subsection for health declaration edit tab (Single Line Assumption)*/
	.Health_Dec_appli_prog_edit .link_title{
		text-align: left; 
		padding-right: 20px ;
	}


	/*Subsection for documentative tab (Single Line Assumption)*/
	.Documentative_appli_prog .link_title{
		text-align: left; 
		padding-right: 20px ;
	}

	/*Subsection for documentative disabled tab (Single Line at 320px)*/
	.Documentative_appli_prog_disabled .link_title{
		text-align: left; 
		padding-right: 40px ;
	}

	.Documentative_appli_prog_disabled .link_icon{
		margin-top: -40px ;
		padding-left: 8px ;
	}

	/*Sub-subsection for documentative edit tab (Single Line Assumption)*/
	.Documentative_appli_prog_edit .link_title{
		text-align: left ;
		padding-right: 20px ;
	}


	/*General health form (13-16) page CSS for Responsive*/
	/*The following are the css for general manipulation flex tables*/
	.inner_content_wrap{
		padding-top: 20px ;
		padding-left: 15px ;
		padding-right: 15px ;
		padding-bottom:10px ;

		margin-bottom: 15px ;
	}

	/*Standard font sizes are defined here*/
	.title_box h2.responsive_health_title_size{
		font-size: 24px ;
	}

	.health_form_title h2.responsive_health_title{
		font-size: 18px ;
	}

	.health_form_content .responsive_select_size{
		font-size: 18px ;
	}

	.health_form_content .responsive_select_size option{
		font-size: 18px ;
	}

	.health_form_content .responsive_select_size optgroup{
		font-size: 20px ;
	}

	.health_form_content .responsive_textbox_fontsize{
		font-size: 18px ;  /* disused css*/
	}

	.custom_row_table .validation_message_pop_box {
		font-size: 18px ;
	}


	.custom_row_table .responsive_add_left_border{
		border-left-style: solid ;
	}

	.custom_row_table .responsive_remove_top_border{
		border-top-style: none ;
	}

	.custom_row_table .responsive_remove_left_right_margin{
		margin-left: 0 ;
		margin-right: 0 ;
	}

	.custom_row_table .custom_combo_box.responsive_reduce_select_padding{
		padding-left: 0px ;
		line-height: 1.3 ;
	}

	.custom_row_table .custom_combo_box.responsive_maximize_width{
		width: 100% ;	/*Fill up the entire box whenever it goes responsive*/
	}

	.custom_row_table .textarea_responsive{
		height:85%;
		width:96%;
	}

	.custom_row_table .textarea_responsive_medical_institute_specific{
		height: 81% ;
	}


	.custom_row_table .textarea_responsive_table_height{
		height:150px;
	}

	.custom_row_table .textbox_responsive{
		height: 100% ;
		width: 95% ;
	}

	.custom_row_table .checkbox_responsive_height{
		min-height: 50px;
	}

	.custom_row_table .textarea_error_responsive_position{
		margin-top: 120px ;
		margin-left: -180px;
	}

	.custom_row_table .textarea_error_responsive_position.shift_to_below{
		margin-top: 115px ;
	}

	.custom_row_table .textarea_error_responsive_position.shift_to_center_below{
		margin-left: -180px ;
		margin-top: 120px ;
	}

	.custom_row_table .validation_message_textarea_pop_box.shift_to_right_textarea{
		margin-top: 120px ;
		margin-left: -180px ;
	}

	.custom_row_table .center_element{
    	margin-top: 0px ;
	}

	/*Subsection for flex table*/
	.custom_row_table .responsive_set_table_100width{
		width:100% ;
	}

	.custom_row_table .responsive_set_table_50width{
		width:50% ;
	}

	.custom_row_table .responsive_set_table_25width{
		width:25% ;
	}




	/**General Dialogue CSS**/
	
	.form_backdrop {
		padding: 25px 10px 5px 10px;
	}
	
	.page_textbox{
		width:230px;
		font-size: 24px;
		padding: 1px 5px 0px 10px;
		margin-top: 20px;
		line-height: 0.1;
		
	}

	.gender_textbox{

		width:140px;
	}
	
	.Personal-detail-table h2{
		font-size: 24px;
		line-height: 2.0;
		
	}
	.Personal-detail-table h3{
		font-size: 24px;
		line-height: 2.0;
		
	}
	.Personal-detail-table select {
		background: url(../images/black_arrow_down.png) 99% 50% no-repeat;
		margin-top:15px;
		line-height: 1.5;
		text-align-last: center;
		padding-right: 20px;
	}
	.Occupation_table select {
		margin-top:20px;
		width: 90%;
		padding-right: 20px
	}
	
	.Occupation_table input {
		width: 80%;
		margin-right: 10px;
		
	}
	.Occupation_table h2 {
		font-size: 20px;
		line-height: 1.0;
	}
	.overflow_text_OIjob, .overflow_text_OIindustry{	
		display:none;	
	}
	.page_textbox_oijobs {
		padding-right: 15px;
		top: -30px;
		margin-right: 10px;
	}
	.page_textbox_OIindustry {
		padding-right: 15px;;
	}

	.linebreak{
		display: block;	
	}
	
	.placeholder_position input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		color:    #989898;
		font-style: italic;
		padding-top:15px;
	}
	
	/**Quotation Forms**/
	
	.left {
		float: none;
	}
	.title_box {
		margin: 0px 0 0 0;
	}
	h2.inner_title{
		text-align:center;
		font-size:35px;
	}
	h2.inner_title span {
		font-size: 19px;
	}
	.personal_info_box {
		display:none;
	}
	.quotation {
		margin: 10px 0 0 0;
		padding: 7px;
	}
	.quotation_box {
		padding-bottom: 50px;
	}
	.responsive_text_center{
		text-align: center;	
	}
	h3.content_title {
		font-size: 30px;
		margin: 0px 0px 15px;
	}
	.quotation_table th.quote_col1, th.quote_col2 {
		text-align:center;
	}
	.quote_input_big {
		font-size: 20px;
		padding: 8px 12px;
		width: 100%;
		height:123px;
		margin-top: 20px;
	}
	.quote_input{
		width: 100%;
		margin-top: -30px;
		text-align: left;
	}
	.main_con_label {
		margin: 0px 0px 0px;
	}
	div.dollar_sign{
		margin-top: -20px;
		text-align: center;
		padding-bottom: 62px;
	}
	.main_con_selection label {
	    margin: 15px 0px 0px 15px;
	}
	.main_con_selection {
        padding-bottom: 20px;
	}
	#quotebox_tip1 {
		margin-left: 92px;
	}
	#quotebox_tip2 {
		margin-left: 91px;
		z-index:9999;
	}
	#quotebox_tip3 {
		margin-left: 91px;
		z-index: 9999;
	}
	#quotebox_tip4 {
		margin-left: 92px;
		margin-top: -1px;
		z-index: 9999;
	}
	#quotebox_tip5 {
		margin-left: 92px;
		margin-top: -1px;
		z-index: 9999;
	}
	.select_daily, .select_duration {
		width: 150px;
		margin: 5px 0px -5px;
		padding-bottom: 15px;
		
	}
	.quotation_desc_box{
		padding-right:20px;
		text-align: left;
		padding-top: 20px;
	}
	#quote_tip1{
		margin: 0px 0px 0px 42px;	
	}
	#quote_tip2{
		margin: 0px 0px 0px 16px;	
	}
	#quote_tip3{
		margin: -14px 0px 0px 155px;
	}
	#quote_tip4{
		margin: -30px 0px 0px 155px;
	}
	#quote_tip5{
		margin: -30px 0px 0px 155px;
	}
	.quote_discount_label_responsive{
		color: #C73880;
	}
	.select_payment_schedule {
		width: 150px;
	}
	.quote_total{
		width: 90px;
		padding: 0;
		text-align: left;
		font-size: 25px;
	}
	span.dollar_sign {
		display:none;
	}
	
	#sum_medical_treatment{
		margin-top: 25px;
	}
	
	#sum_surgery{
		margin-top: 10px;
	}
	#sum_treatment,#sum_hospitalization,#sum_women{
		margin-top: 20px;
	}
	.quote_discount_label{
		display:none;
	}
	
	/**Quotation Summary**/
	.non_responsive{
		display:none;
	}
	.quotation_summary_top_title{
		display:none;
	}
	.quotation_summary_female, .quotation_summary_male{
		margin: 0 auto;	
		float:none;
	}
	.quotation_summary_top {
		width: 100%;
		height: 100%;
	}
	.quotation_summary {
		padding: 0px 15px 34px 15px;
	}
	h3.content_center_title {
		font-size: 25px;
		margin: 20px 0 20px 0;
		text-align: center;
		white-space: nowrap;
	}
	.quotation_summary_date_col {
		float: none;
		width: 100%;
		height: 100%;
		padding: 15px 0 0;
		text-align: center;
	}
	.quotation_summary_date_col p {
		margin: 80px 0 5px 3px;
		text-align: center;
		float: none;
	}
	.quotation_info_content_box {
		padding: 25px;
		height: 100%;
		text-align: center;
	}
	h3.purple_bg_title {
		font-size: 20px;
		padding: 10px 1px;
	}
	.div_benefit > span {
		font-size: 15px;
		font-weight: 500;
	}
	.div_benefit{
	    padding: 0 10px;	
	}
	.quotation_summary_table td {
		font-size: 100%;
	}
	.responsive_font{
		display:block;
	}
	.div_surgery > span {
		font-size: 17px;
		height: 100%;
	}
	.summary_duration {
		width: 100%;
		padding: 30px 0 30px 0;
	}
	.circle_age, .circle_age_lifetime{
		width: 50px;
		height: 50px;
		font-size: 25px;
		line-height: 50px;
	}
	.circle_age_lifetime{
		width: 50px;
		height: 50px;
		font-size: 12px;
		line-height: 50px;
	}
	.image_dot_left, .image_dot_right{
		width: 9.3%;
		height: 30px;
		margin-top: 10px;
	}
	.word_payment > span {
		font-size: 25px;
		font-weight: bold;
		line-height: 50px;
		margin-left: 10px;
	}
	.right_quotation{
		float:right;
	}
	
	.left_quotation{
		float:left;
	}
	.word_years_old {
		width: 31%; 
		height: 23px;
		text-align: center;
	}
	.image_dot_right{
		width: 5%;
		margin-left: 57px;
		margin-top: 12px;
	}
	.payment_summary_table td.big_text {
		font-size: 20px;
	}
	.payment_summary_table th {
		text-align: center;
	}
	
	.quotation_summary_top_wrapper {
    margin: 0 auto;
    overflow: inherit; 
	}
	h3.quotation_summary_purple_bg_title {
    font-size: 20px;
    text-align: left;
	}
	
	/**Acknowledgement**/
	.logo_icon_small {
		background-image: url(../images/logo_icon_medium.png);
		float: right;
		width: 50px;
		background-size: 100%;
		height: 50px;
		margin-top: -40px;
	}
	.responsive_title_box {
		padding-top: 40px;
	}
	h3.ack_step_title {
		font-weight: bolder;
	}
	h2.ack_inner_title {
		font-size: 26px;
		padding-top: 20px;
		font-weight: bolder;
	}
	h2.ack_inner_title span {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 30px;
	}
	.acknowledgement_num_col {
	width: 100%;
    float: none;
    text-align: left;
    padding-top: 100px;
	}	
	.grey_download_pdf_btn{
	float: none;
    margin: 60px auto auto auto;		
	} 
	.acknowledgement_date_table td {
		padding: 10px 15px;
	}
	.acknowledgement_holder_table td {
     padding: 0 10px 0 10px;
	 line-height: 25px;
	}
	.contract_content {
    margin: 25px 0 0 0;
	}
	h3.contract_content_title {
    font-size: 25px;
	}
	.contract_content_table td.left_td {
		padding: 10px 10px;
	}
	.acknowledgement_collapse_box{
		border: 1px solid #dddddd;
	}
	.acknowledgement_collapse_box td{
		padding: 15px 5px 15px;
		
	}
	.acknowledgement_collapsed_box td{
		padding-left: 25px;
		border-top: none;
		border-top: 1px solid rgba(221, 221, 221, 0);
		padding-bottom: 10px;
		line-height: 1.3em;
	}
	.contract_content_table_left_div_right {
       width: 0%;
	}
	.smoke_acknowledgement_alert_box {
    position: absolute;
    left: 31px;
	font-size: 14px;
	margin-left:0;
	}
	.smoke_acknowledgement_alert_box:after{
	left: 60px;		
	}
	.underwriter {
    height: 156px;
    border: 1px solid #dddddd;
    padding: 10px 10px 10px 10px; 
    line-height: 250%;
	}
	.policy_acknowledgement_table th {
    font-size: 15px;
	}

	.quotation_summary_top_wrapper td.align_with_title{
		padding-left: 10px ;
	}
	.ack_linebreak{
	display:block;	
		
	}
	.ack_linebreak_push_bottom{
	display:block;	
	margin-top:16px;
	}
	.ack_linebreak_push_top{
	display:block;	
	margin-top:-15px;
	}
	/**Payment**/
	.title_box_responsive{
    text-align: center;
	}
	
	/**Document Verification**/
	h2.inner_title_dv {
    font-size: 24px;
	}
}

/* Smartphones (portrait) ----------- */
@media (max-width : 320px) {
	/* Styles */
	
	.site_logo {
		width: 170px;
		height: 100%;
		border: 0px solid #E9E9E9;
		margin-top: 15px;
		margin-left: 10px;
	}
	
	
	a.male_doll_cont {
		background: url(../images/doll_male_bigMobile.jpg) top left no-repeat;
		width: 130px;
		height: 130px;
		margin-bottom:25px;
	}
	/**male doll animation**/
	
	a.female_doll_cont {
		background: url(../images/doll_female_bigMobile.jpg) top left no-repeat;
		width: 130px;
		height: 130px;
		margin-bottom:25px;
	}
	
	.male_wrap, .female_wrap {
		width: 250px;
		height: 270px;
		font-size: 23px;
		padding: 5px 5px;
	}
	#male_box, #female_box {
		width: 270px;
		height: 290px;
	}
	
	
	#female_box {
		margin-left:3%;
	}
	#male_box {
		margin-right:3%;
	}
	
	.female-datepicker, .male-datepicker {
		margin-left: -55px;
		margin-top: -90%;
	}
	

	/**Landing**/
	/**Dialogue: PersonalDetailsD1 Alert Boxes**/
	.name_PD_alert_box, .gender_PD_alert_box, .BirthDate_PD_alert_box{
		left: 25%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
		
	}
	.name_PD_alert_box:after, .gender_PD_alert_box:after, .BirthDate_PD_alert_box:after{
		left: 45%;	
		
	}
	/**Dialogue: PersonalDetailsD2 Alert Boxes**/
	.postalcode_PD_alert_box , .perfecture_PD_alert_box, .city_PD_alert_box, .BlockNo_PD_alert_box, .ContactNum_PD_alert_box{
		left: 25%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
	}
	.postalcode_PD_alert_box:after, .perfecture_PD_alert_box:after, .city_PD_alert_box:after, .BlockNo_PD_alert_box:after, .ContactNum_PD_alert_box:after{
		left: 45%;
	}


	/*Plans_02*/
	/*Specialized accordion arrow image*/
	button.plan_accordion_button {
		background-position: 75% 50% ;
	}


	/*Specialized ApplicationProgress (06) page CSS for Responsive 320px*/
	/*Subsection for Occupation tab (Double Line, specific for 320px)*/
	.Occupation_Info_appli_prog .link_title{
		padding-right: 35px ;
	}

	.Occupation_Info_appli_prog .link_icon{
		margin-top: -30px;
	}

	/*Sub-subsection for Occupation edit tab (Double Line, specific for 320px)*/
	.Occupation_Info_appli_prog_edit .link_title{
		padding-right: 35px;
	}

	.Occupation_Info_appli_prog_edit .link_edit_pencil{
		margin-top: -30px;
	}

	.Occupation_Info_appli_prog_edit .link_edit_arrow{
		margin-top: -30px;
	}


	/*Subsection for documentative tab  (Double Line, specific for 320px)*/
	.Documentative_appli_prog .link_title{
		padding-right: 25px ;
	}

	.Documentative_appli_prog .link_icon{
		margin-top: -45px;
	}

	/*Sub-subsection for documentative edit tab (Double Line, specific for 320px)*/
	.Documentative_appli_prog_edit .link_title{
		padding-right: 25px ;
	}

	.Documentative_appli_prog_edit .link_edit_pencil{
		margin-top: -40px;
	}

	.Documentative_appli_prog_edit .link_edit_arrow{
		margin-top: -40px;
	}


	/*Specific health form (13-16) page CSS for Responsive for 320px*/
	.custom_row_table .textarea_responsive_table_height{
		height:200px;
	}

	.custom_row_table .textarea_error_responsive_position{
		margin-top: 160px ;
	}

	.custom_row_table .textarea_responsive{
		height: 80% ;
	}

	.custom_row_table .textarea_responsive_medical_institute_specific{
		height: 72% ;
	}

	.custom_row_table .textarea_error_responsive_position_medical_institute_specific{
		margin-top: 140px ;
	}

	.custom_row_table .textarea_responsive_date_hospital_specific{
		height: 75% ;
	}

	.custom_row_table .textarea_error_responsive_position.shift_to_center_below{
		margin-left: -180px ;
		margin-top: 150px ;
	}



	/**Dialogue: Occupation Alert Boxes**/
	.industry_OI_alert_box, .industryOthers_OI_alert_box, .job_OI_alert_box,.jobOthers_OI_alert_box , .field_OI_alert_box, .fieldOthers_OI_alert_box{
		left: 25%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
		
	}
	.jobOthers_OI_alert_box{
		margin-top: -70px;
		
	}
	.industry_OI_alert_box:after, .industryOthers_OI_alert_box:after, .job_OI_alert_box:after, .jobOthers_OI_alert_box:after, .field_OI_alert_box:after, .fieldOthers_OI_alert_box:after{
		left: 45%;	
		
	}
	/**Dialogue: Health Alert Boxes**/
	.height_HD_alert_box{
		padding: 1px 20px;
		font-size: 10px;
		margin-top: -60px;
		left: 50%;
		margin-left:0;
		
	}
	.weight_HD_alert_box{
		left: 20%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
		margin-top: -10px;
		
	}
	.height_HD_alert_box:after, .weight_HD_alert_box:after{
		left: 45%;
	}
	/**Dialogue: Health1 Alert Boxes**/
	.Disease_Cancer_HD_alert_box{
		padding: 1px 20px;
		font-size: 10px;
		margin-top: 210px;
		left: 29%;
		margin-left:0;
		
	}
	
	.Disease_Cancer_HD_alert_box:after{
		left: 45%;
	}
}

/**Apple iPhone3/4 (landscape)**/
/**LG Optimus S (landscape)**/
/**Samsung Galaxy S5 (potrait)**/
/**Apple iPhone 6 (potrait)**/
/**Apple iPhone 6 Plus (potrait)**/
/* Smartphones (landscape) and (Potrait) ----------- */
@media (min-width : 321px) and (max-width:480px) {
	/* Styles */
	a.male_doll_cont {
		background: url(../images/doll_male_bigMobile_M360.jpg) top left no-repeat;
		width: 145px;
		height: 145px;
		margin-bottom:25px;
	}
	a.female_doll_cont {
		background: url(../images/doll_female_bigMobile_M360.jpg) top left no-repeat;
		width: 145px;
		height: 145px;
		margin-bottom:25px;
	}
	.male_wrap, .female_wrap {
		width: 250px;
		height: 270px;
		font-size: 23px;
		padding: 5px 5px;
	}
	#male_box, #female_box {
		width: 270px;
		height: 290px;
	}
	
	.female-datepicker, .male-datepicker {
		margin-left: -55px;
		margin-top: -90%;
	}
	#female_box {
		margin-left:6%;
	}
	#male_box {
		margin-right: 6%;
	}
	


	/*Plans_02*/
	/*Specialized accordion arrow image*/
	button.plan_accordion_button {
		background-position: 71% 50% ;
	}

	/*Specialized ApplicationProgress (06) page CSS for Responsive 321px - 480px*/
	/*Subsection for documentative tab (Double Line, ranges from 321px-480px)*/
	.Documentative_appli_prog .link_title{
		padding-right: 40px ;
	}

	.Documentative_appli_prog .link_icon{
		margin-top: -40px;
	}

	/*Sub-subsection for documentative edit tab (Double Line, ranges from 321px-480px)*/
	.Documentative_appli_prog_edit .link_title{
		padding-right: 40px ;
	}

	.Documentative_appli_prog_edit .link_edit_pencil{
		margin-top: -40px;
	}

	.Documentative_appli_prog_edit .link_edit_arrow{
		margin-top: -40px;
	}


	/*Specific health form (13-16) page CSS for Responsive for 321px-480px*/
	.custom_row_table .textarea_responsive_table_height{
		height:170px;
	}

	.custom_row_table .textarea_responsive{
		height: 80% ;
	}

	.custom_row_table .textarea_error_responsive_position{
		margin-top: 130px ;
	}

	.custom_row_table .textarea_error_responsive_position.shift_to_center_below{
		margin-left: -180px ;
		margin-top: 150px ;
	}


	/**Landing**/
	/**Dialogue: PersonalDetailsD1 Alert Boxes**/
	.name_PD_alert_box, .gender_PD_alert_box, .BirthDate_PD_alert_box{
		left: 29%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
		
	}
	.name_PD_alert_box:after, .gender_PD_alert_box:after, .BirthDate_PD_alert_box:after{
		left: 45%;	
		
	}
	/**Dialogue: PersonalDetailsD2 Alert Boxes**/
	.postalcode_PD_alert_box , .perfecture_PD_alert_box, .city_PD_alert_box, .BlockNo_PD_alert_box, .ContactNum_PD_alert_box{
		left: 29%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
	}
	.postalcode_PD_alert_box:after, .perfecture_PD_alert_box:after, .city_PD_alert_box:after, .BlockNo_PD_alert_box:after, .ContactNum_PD_alert_box:after{
		left: 45%;
	}
	/**Dialogue: Occupation Alert Boxes**/
	.industry_OI_alert_box, .industryOthers_OI_alert_box, .job_OI_alert_box,.jobOthers_OI_alert_box , .field_OI_alert_box, .fieldOthers_OI_alert_box{
		left: 35%;
		padding: 1px 20px;
		font-size: 10px;	
		
	}
	.jobOthers_OI_alert_box{
		margin-top: -70px;
		
	}
	.industry_OI_alert_box:after, .industryOthers_OI_alert_box:after, .job_OI_alert_box:after, .jobOthers_OI_alert_box:after, .field_OI_alert_box:after, .fieldOthers_OI_alert_box:after{
		left: 45%;	
		
	}
	/**Dialogue: Health Alert Boxes**/
	.height_HD_alert_box{
		padding: 1px 20px;
		font-size: 10px;
		margin-top: -100px;
		left: 40%;
		margin-left:0;
		
	}
	.weight_HD_alert_box{
		left: 42%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
	}
	.height_HD_alert_box:after, .weight_HD_alert_box:after{
		left: 45%;
	}
	
	/**Dialogue: Health1 Alert Boxes**/
	.Disease_Cancer_HD_alert_box{
		padding: 1px 20px;
		font-size: 10px;
		margin-top: 210px;
		left: 29%;
		margin-left:0;
	}
	
	.Disease_Cancer_HD_alert_box:after{
		left: 45%;
	}
	
	/**Quotation**/
	#quote_tip1 {
		margin: 0px 0px 0px 65px;
	}
	#quote_tip2, #quote_tip4{
		margin: -35px 0px 0px 177px;
	}
	#quote_tip3, #quote_tip5  {
		margin: -15px 0px 0px 177px;
	}
	#quotebox_tip1 {
		margin-left: 115px;
	}
	#quotebox_tip2, #quotebox_tip4 {
		margin-left: 115px;
		/**margin-top: -7px;**/
		z-index: 999;
	}
	#quotebox_tip3, #quotebox_tip5 {
		margin-left: 115px;
		margin-top: 9px;
		z-index: 999;
	}
	.select_daily, .select_duration {
		width: 180px;
		padding-bottom: 15px;
	}
	.select_payment_schedule {
		width: 180px;
	}
	#sum_medical_treatment{
		margin-top: 20px;
	}
	#sum_hospitalization{
		margin-top: 5px;
	}
	#sum_treatment, #sum_women, #sum_surgery{
		margin-top: 10px;
	}
	.image_dot_right {
		width: 10%;
		margin-left: 70px;
	}
	.image_dot_left{
		width: 12%;
	}
	.word_payment > span {
		margin-left: 20px;
	}
	/**Acknowledgement**/
	.smoke_acknowledgement_alert_box {
    position: absolute;
    left: 34px;
    font-size: 14px;
	margin-left:0;
	}
	
	/**Payment**/
	.title_box_responsive{
    text-align: center;
	}
}

/**Samsung Galaxy s5, Apple iPhone, Apple iPhone 6 Plus**/
/* Smartphones (Potrait) ----------- */
@media (width : 360px) {
	.site_logo {
		width: 170px;
		height: 100%;
		border: 0px solid #E9E9E9;
		margin-top: 15px;
		margin-left: 25px;
	}
	#female_box {
		margin-left:6%;
	}
	#male_box {
		margin-right: 6%;
	}

	
	/**Dialogue: Occupation Alert Boxes**/
	.industry_OI_alert_box, .industryOthers_OI_alert_box, .job_OI_alert_box,.jobOthers_OI_alert_box , .field_OI_alert_box, .fieldOthers_OI_alert_box{
		left: 28%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
		
	}
	.jobOthers_OI_alert_box{
		margin-top: -70px;
		
	}
	.industry_OI_alert_box:after, .industryOthers_OI_alert_box:after, .job_OI_alert_box:after, .jobOthers_OI_alert_box:after, .field_OI_alert_box:after, .fieldOthers_OI_alert_box:after{
		left: 45%;	
		
	}
	
	/**Dialogue: Health Alert Boxes**/
	.height_HD_alert_box{
		left: 45%;
		padding: 1px 20px;
		font-size: 10px;
		margin-top: -110px;
		margin-left:0;
		
	}
	.weight_HD_alert_box{
		left: 42%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
		
	}
	.height_HD_alert_box:after, .weight_HD_alert_box:after{
		left: 45%;
	}
	
	/**Quotation Forms **/
	#quote_tip1 {
    margin: 0px 0px 0px 80px;
	}
	#quote_tip2{
		margin: -35px 0px 0px 193px;
	}
	
	#quote_tip4 {
        margin: -20px 0px 0px 193px;
	}
	#quote_tip3, #quote_tip5 {
    margin: -15px 0px 0px 193px;
}
	#quotebox_tip1 {
    margin-left: 130px;
	}
	#quotebox_tip2 {
    margin-left: 130px;
    z-index: 9999;

	}
	#quotebox_tip4 {
		margin-left: 130px;
		z-index: 9999;
		margin-top: 5px;
	}
	#quotebox_tip3, #quotebox_tip5 {
    margin-left: 130px;
    margin-top: 9px;
    z-index: 9999;
	}
	#quotebox_tip2{
	    margin-top: -5px;	
	}
	
	/**Quotation Summary**/
	.word_payment > span {
    margin-left: 15px;
	}
	
	.image_dot_right {
    width: 10%;
    margin-left: 70px;
}
	}

	@media (min-width : 361px) and (max-width:413px){
	
	/**Quotation**/
	.main_con_selection label {
		margin: 15px 0px 0px 30px;
	}
	
	#quote_tip1 {
		 margin: 0px 0px 0px 96px;
	}
	#quote_tip2{
		margin: -10px 0px 0px 211px;
	}
	#quote_tip3, #quote_tip5  {
		margin: -15px 0px 0px 211px;
	}
	#quote_tip4 {
		margin: -19px 0px 0px 211px;
	}
	#quotebox_tip1,#quotebox_tip2, #quotebox_tip4,#quotebox_tip3, #quotebox_tip5 {
		margin-left: 148px;
	}	
	#quotebox_tip4 {
		margin-top: 5px;
	}	
	
	#sum_medical_treatment{
		margin-top: 30px;
	}
	
	#sum_hospitalization,#sum_treatment{
		margin-top: 10px;
	}
	
	#sum_women{
		margin-top: 10px;
	}
	#sum_surgery{
		margin-top: 10px;
	}
	
}

/**Apple iPhone 6 Plus**/
/* Smartphones (Landscape) ----------- */
@media (width : 414px) {
	.site_logo {
		width: 170px;
		height: 100%;
		border: 0px solid #E9E9E9;
		margin-top: 15px;
		margin-left: 45px;
	}
	
	#female_box {
		margin-left:14%;
	}
	#male_box {
		margin-right: 14%;
	}
	.female-datepicker, .male-datepicker {
		margin-left: -55px;
		margin-top: -90%;
	}
	/*Plans_02*/
	/*Specialized accordion arrow image*/
	button.plan_accordion_button {
		background-position: 68% 50% ;
	}


	/**Landing**/
	/**Dialogue: PersonalDetailsD1 Alert Boxes**/
	.name_PD_alert_box, .gender_PD_alert_box, .BirthDate_PD_alert_box{
		left: 30%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
		
	}
	.name_PD_alert_box:after, .gender_PD_alert_box:after, .BirthDate_PD_alert_box:after{
		left: 45%;	
		
	}
	/**Dialogue: PersonalDetailsD2 Alert Boxes**/
	.postalcode_PD_alert_box , .perfecture_PD_alert_box, .city_PD_alert_box, .BlockNo_PD_alert_box, .ContactNum_PD_alert_box{
		left: 30%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
	}
	.postalcode_PD_alert_box:after, .perfecture_PD_alert_box:after, .city_PD_alert_box:after, .BlockNo_PD_alert_box:after, .ContactNum_PD_alert_box:after{
		left: 45%;
	}
	
	/**Dialogue: Occupation Alert Boxes**/
	.industry_OI_alert_box, .industryOthers_OI_alert_box, .job_OI_alert_box,.jobOthers_OI_alert_box , .field_OI_alert_box, .fieldOthers_OI_alert_box{
		left: 31%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
		
	}
	.jobOthers_OI_alert_box{
		margin-top: -70px;
		
	}
	.industry_OI_alert_box:after, .industryOthers_OI_alert_box:after, .job_OI_alert_box:after, .jobOthers_OI_alert_box:after, .field_OI_alert_box:after, .fieldOthers_OI_alert_box:after{
		left: 45%;	
		
	}
	/**Quotation**/
	.main_con_selection label {
		margin: 15px 0px 0px 50px;
	}
	
	.select_daily, .select_duration {
		width: 200px;
		padding-bottom: 15px;
	}
	.select_payment_schedule {
		width: 200px;
	}
	
	#quote_tip1 {
		margin: 0px 0px 0px 115px;
	}
	#quote_tip2{
		margin: -35px 0px 0px 230px;
	}
	#quote_tip3, #quote_tip5  {
		margin: -15px 0px 0px 230px;
	}
	#quote_tip4 {
		margin: -19px 0px 0px 230px;
	}
	#quotebox_tip1,#quotebox_tip2, #quotebox_tip4,#quotebox_tip3, #quotebox_tip5 {
		margin-left: 168px;
	}	
	#quotebox_tip2{
		margin-top: -5px;
	}
	#quotebox_tip4 {
		margin-top: 5px;
	}	
	
	#sum_medical_treatment{
		margin-top: 20px;
	}
	
	#sum_hospitalization,#sum_treatment{
		margin-top: 6.5px;
	}
	
	#sum_women{
		margin-top: 10px;
	}
	#sum_surgery{
		margin-top: 10px;
	}
	/**Quotation Summary**/
	.image_dot_right, .image_dot_left {
		width: 14%
	}
}


/*Specific case handling for this resolution range*/
@media (min-width : 440px) and (max-width : 489px) {
	.Documentative_appli_prog_disabled .link_icon{
		margin-top: -30px ;
	}
}


/**Apple iPhone3/4,LG Optimus**/
/* Smartphones (Landscape) ----------- */
@media (width : 480px) {
		.homepage_button {
		padding-top: 30%;
		}
	
	.site_logo {
		margin-left: 65px;
	}
	
	#female_box {
		margin-left:19%;
	}
	#male_box {
		margin-right: 19%;
	}
	

	/*Plans_02*/
	/*Specialized accordion arrow image*/
	button.plan_accordion_button {
		background-position: 67% 50% ;
	}

	/*Specialized ApplicationProgress (06) page CSS for Responsive 480px*/
	/*Subsection for documentative tab (Single Line, for 480px)*/
	.Documentative_appli_prog .link_title{
		padding-right: 15px ;
	}

	.Documentative_appli_prog .link_icon{
		/*This is specific*/
		margin-top: -4px;
	}

	/*Sub-subsection for documentative edit tab (Single Line, for 480px)*/
	.Documentative_appli_prog_edit .link_title{
		padding-right: 15px ;
	}

	.Documentative_appli_prog_edit .link_edit_pencil{
		margin-top: -4px;
	}

	.Documentative_appli_prog_edit .link_edit_arrow{
		margin-top: -4px;
	}




	/**Landing**/
	/**Dialogue: PersonalDetailsD1 Alert Boxes**/
	.name_PD_alert_box, .BirthDate_PD_alert_box{
		left: 34%;
		padding: 1px 20px;
		font-size: 10px;	
		
	}
	.gender_PD_alert_box{
		left: 40%;
		padding: 1px 20px;
		font-size: 10px;		
	}
	.name_PD_alert_box:after, .gender_PD_alert_box:after, .BirthDate_PD_alert_box:after{
		left: 45%;	
		
	}
	/**Dialogue: PersonalDetailsD2 Alert Boxes**/
	.postalcode_PD_alert_box , .perfecture_PD_alert_box, .city_PD_alert_box, .BlockNo_PD_alert_box, .ContactNum_PD_alert_box{
		left: 38%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
	}
	.postalcode_PD_alert_box:after, .perfecture_PD_alert_box:after, .city_PD_alert_box:after, .BlockNo_PD_alert_box:after, .ContactNum_PD_alert_box:after{
		left: 35%;
	}
	
	/**Quotation**/
	.main_con_selection label {
		margin: 15px 0px 0px 100px;
	}
	
	.select_daily, .select_duration {
		width: 200px;
		padding-bottom: 15px;
	}
	.select_payment_schedule {
		width: 200px;
	}
	
	#quote_tip1 {
		margin: 0px 0px 0px 170px;
	}
	#quote_tip2{
		margin: -19px 0px 0px 281px;
	}
	#quote_tip3, #quote_tip5  {
		margin: -15px 0px 0px 281px;
	}
	#quote_tip4 {
		margin: -19px 0px 0px 281px;
	}
	#quotebox_tip1,#quotebox_tip2, #quotebox_tip4,#quotebox_tip3, #quotebox_tip5 {
		margin-left: 220px;
		margin-top: 10px;
	}	
	#quotebox_tip4 {
		margin-top: 5px;
	}	
	
	#sum_medical_treatment{
		margin-top: 5px;
	}
	
	#sum_hospitalization,#sum_treatment{
		margin-top: 10px;
	}
	
	#sum_women{
		margin-top: 10px;
	}
	#sum_surgery{
		margin-top: 10px;
	}
	
	/**Quotation Summary**/
	.word_payment > span {
		margin-left: 15px;
	}
	
	.image_dot_left {
		width: 21%;
	}
	
	.image_dot_right {
		width: 20%;
		margin-left:55px;
	}
	
	/**Acknowledgement**/
	.smoke_acknowledgement_alert_box {
    position: absolute;
    left: 40px;
    font-size: 14px;
	margin-left:0;
	}
	
}	


/*Specific case handling for this resolution range*/
@media (min-width : 490px) and (max-width : 768px) {
	.Documentative_appli_prog_disabled .link_icon{
		margin-top: -5px ;
	}
}


/* Smartphones (Landscape) ----------- */
/* Tablets (Potrait) ----------- */
@media (min-width : 434px) and (max-width:640px){
	.homepage_button {
		padding-top: 26%;
	}
	
	
	.site_logo {
		margin-left: 105px;
	}
	a.male_doll_cont {
		background: url(../images/doll_male_bigMobile_M480.jpg) top left no-repeat;
		width: 195px;
		height: 195px;
		margin-bottom:25px;
	}
	a.female_doll_cont {
		background: url(../images/doll_female_bigMobile_M480.jpg) top left no-repeat;
		width: 195px;
		height: 195px;
		margin-bottom:25px;
	}
	.male_wrap, .female_wrap {
		width: 250px;
		height: 270px;
		font-size: 23px;
		padding: 5px 5px;
	}
	#male_box, #female_box {
		width: 270px;
		height: 290px;
	}
	
	.female-datepicker, .male-datepicker {
		margin-left: -55px;
		margin-top: -90%;
	}
	
	#female_box {
		margin-left:25%;
	}
	#male_box {
		margin-right: 25%;
	}


	/*Plans_02*/
	/*Specialized accordion arrow image*/
	button.plan_accordion_button {
		background-position: 63% 50% ;
	}


	/**Landing**/
	/**Dialogue: PersonalDetailsD1 Alert Boxes**/
	.name_PD_alert_box, .gender_PD_alert_box, .BirthDate_PD_alert_box{
		left: 37%;
		padding: 1px 20px;
		font-size: 10px;	
		margin-left:0;
		
	}
	.name_PD_alert_box:after, .gender_PD_alert_box:after, .BirthDate_PD_alert_box:after{
		left: 45%;	
		
	}
	/**Dialogue: PersonalDetailsD2 Alert Boxes**/
	.postalcode_PD_alert_box , .perfecture_PD_alert_box, .city_PD_alert_box, .ContactNum_PD_alert_box{
		left: 35%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
	}
	.BlockNo_PD_alert_box{
		left: 15%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
	}
	.postalcode_PD_alert_box:after, .perfecture_PD_alert_box:after, .city_PD_alert_box:after, .BlockNo_PD_alert_box:after, .ContactNum_PD_alert_box:after{
		left: 45%;
	}
	
	/**Dialogue: Occupation Alert Boxes**/
	.industry_OI_alert_box, .industryOthers_OI_alert_box, .job_OI_alert_box,.jobOthers_OI_alert_box , .field_OI_alert_box, .fieldOthers_OI_alert_box{
		left: 37%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
		
	}
	.jobOthers_OI_alert_box{
		margin-top: -70px;
		
	}
	.industry_OI_alert_box:after, .industryOthers_OI_alert_box:after, .job_OI_alert_box:after, .jobOthers_OI_alert_box:after, .field_OI_alert_box:after, .fieldOthers_OI_alert_box:after{
		left: 45%;	
		
	}
	/**Dialogue: Health Alert Boxes**/
	.height_HD_alert_box{
		left: 42%;
		padding: 1px 20px;
		font-size: 10px;
		margin-top: -100px;
		margin-left:0;
	}
	.weight_HD_alert_box{
		left: 41%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
	}
	.height_HD_alert_box:after, .weight_HD_alert_box:after{
		left: 45%;
	}
	.linebreak_tablet{
		display:block;
	}
	
	/**Dialogue: Health1 Alert Boxes**/
	.Disease_Cancer_HD_alert_box{
		padding: 1px 20px;
		font-size: 10px;
		margin-top: 210px;
		left: 25%;
		margin-left:0;
	}
	
	.Disease_Cancer_HD_alert_box:after{
		left: 45%;
	}
	
	/**Quotation**/
	.main_con_selection label {
		margin: 15px 0px 0px 165px;
	}
	
	.select_daily, .select_duration {
		width: 200px;
		padding-bottom: 15px;
	}
	.select_payment_schedule {
		width: 200px;
	}
	
	#quote_tip1 {
		margin: 0px 0px 0px 232px;
	}
	#quote_tip2{
		margin: -19px 0px 0px 345px;
	}
	#quote_tip3, #quote_tip5  {
		margin: -15px 0px 0px 345px;
	}
	#quote_tip4 {
		margin: -19px 0px 0px 345px;
	}
	#quotebox_tip1,#quotebox_tip2, #quotebox_tip4,#quotebox_tip3, #quotebox_tip5 {
		margin-left: 283px;
		margin-top: 10px;
		z-index:9999;
	}	
	#quotebox_tip4 {
		margin-top: 5px;
	}	
	
	
	#sum_medical_treatment, #sum_hospitalization,#sum_treatment,#sum_women,#sum_surgery{
		margin-top: 10px;
	}
	
	
	/**Quotation Summary**/
	.word_payment > span {
		margin-left: 20px;
	}
	
	.image_dot_left {
		width: 23%;
	}
	
	.image_dot_right {
		width: 20%;
		margin-left:55px;
	}
	/**Acknowledgement**/
	.smoke_acknowledgement_alert_box {
    position: absolute;
    left: 45px;
    font-size: 14px;
	margin-left:0;
	}

	/*health forms specific case*/
	.custom_row_table .textarea_responsive_date_hospital_specific{
		height: 80% ;
	}
}

@media (min-width : 434px) and (max-width : 532px){
	
/**Personal Detail - Dialogue Box**/	
.BlockNo_PD_alert_box {
    left: 35%;
}	
	
	
	
}

/* Tablet iPad(Potrait) ----------- */
/* Mobile (Landscape)---------------*/
@media (width : 533px) {
	.site_logo {
		margin-left: 90px;
	}
	
	#female_box {
		margin-left:22%;
	}
	#male_box {
		margin-right: 22%;
	}
	/**Landing**/
	/**Dialogue: PersonalDetailsD1 Alert Boxes**/
	.name_PD_alert_box, .BirthDate_PD_alert_box{
		left: 35%;
		padding: 1px 20px;
		font-size: 10px;	
		margin-left:0;
	}
	.gender_PD_alert_box{
		left: 42%;
		padding: 1px 20px;
		font-size: 10px;	
		margin-left:0;
	}
	.name_PD_alert_box:after, .gender_PD_alert_box:after, .BirthDate_PD_alert_box:after{
		left: 45%;	
		
	}
	/**Dialogue: PersonalDetailsD2 Alert Boxes**/
	.postalcode_PD_alert_box , .perfecture_PD_alert_box, .city_PD_alert_box, .BlockNo_PD_alert_box, .ContactNum_PD_alert_box{
		left: 35%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
	}
	.postalcode_PD_alert_box:after, .perfecture_PD_alert_box:after, .city_PD_alert_box:after, .BlockNo_PD_alert_box:after, .ContactNum_PD_alert_box:after{
		left: 45%;
	}
	
	
}

@media (width : 568px) {

	
}
@media (min-width : 563px) and (max-width : 599px) {
	/**Quotation Summary**/
	.postalcode_PD_alert_box, .city_PD_alert_box {
    left: 15%;
    padding: 1px 20px;
    font-size: 10px;
    margin-left: 0;
	}
	.perfecture_PD_alert_box {
    left: 60%;
    margin-top: -70px;
	}
	.BlockNo_PD_alert_box {
    left: 60%;
	}
	.ContactNum_PD_alert_box {
    left: 40%;
    padding: 1px 20px;
    font-size: 10px;
    margin-left: 0;
	}
	/**Quotation Summary**/
	.word_payment > span {
		margin-left: 20px;
	}
	
	.image_dot_left {
		width: 24%;
	}
	
	.image_dot_right {
		width: 24%;
		margin-left: 50px;
	}
}

/* Tablet iPad(Potrait) ----------- */
@media (min-width : 600px) and (max-width : 640px){
	.homepage_button {
		padding-top: 20%;
	}
	/**Landing**/
	/**Dialogue: PersonalDetailsD1 Alert Boxes**/
	.name_PD_alert_box, .gender_PD_alert_box, .BirthDate_PD_alert_box{
		left: 36%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
		
	}
	.name_PD_alert_box:after, .gender_PD_alert_box:after, .BirthDate_PD_alert_box:after{
		left: 45%;	
		
	}
	/**Dialogue: PersonalDetailsD2 Alert Boxes**/
	.postalcode_PD_alert_box, .city_PD_alert_box {
		left: 15%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
	}
	.perfecture_PD_alert_box, .BlockNo_PD_alert_box{
		left: 60%;
		padding: 1px 20px;
		font-size: 10px;	
		margin-left:0;
	}
	.ContactNum_PD_alert_box{
		left:35%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
	}
	.postalcode_PD_alert_box:after, .perfecture_PD_alert_box:after, .city_PD_alert_box:after, .BlockNo_PD_alert_box:after, .ContactNum_PD_alert_box:after{
		left: 45%;
	}	
	/**Dialogue: Occupation Alert Boxes**/
	.industry_OI_alert_box, .industryOthers_OI_alert_box, .job_OI_alert_box,.jobOthers_OI_alert_box , .field_OI_alert_box, .fieldOthers_OI_alert_box{
		left: 37%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
		
	}
	.jobOthers_OI_alert_box{
		margin-top: -70px;
		
	}
	.industry_OI_alert_box:after, .industryOthers_OI_alert_box:after, .job_OI_alert_box:after, .jobOthers_OI_alert_box:after, .field_OI_alert_box:after, .fieldOthers_OI_alert_box:after{
		left: 45%;	
		
	}
	/**Quotation**/
	.main_con_selection label {
		margin: 15px 20px 0px 80px;
	}
	
	.select_daily, .select_duration {
		width: 200px;
		padding-bottom: 15px;
	}
	.select_payment_schedule {
		width: 200px;
	}
	.quote_input{
		height:100%;
	}
	.quote_input_big{
	    height: 85px;	
		margin-top: -55px;
	}
	
	#quote_tip1 {
		margin: 0px 0px 0px 285px;
	}
	#quote_tip2{
		margin: -19px 0px 0px 398px;
		
	}
	#quote_tip3, #quote_tip5  {
		margin: -15px 0px 0px 398px;
	}
	#quote_tip4 {
		margin: -19px 0px 0px 398px;
	}
	#quotebox_tip1,#quotebox_tip2, #quotebox_tip4,#quotebox_tip3, #quotebox_tip5 {
		margin-left: 336px;
		margin-top: 10px;
		z-index:9999;
	}	
	#quotebox_tip4 {
		margin-top: 5px;
	}	
	
	#sum_medical_treatment{
		margin-top: 0px;
	}
	
	#sum_hospitalization,#sum_treatment{
		margin-top: 0px;
	}
	
	#sum_surgery,#sum_women{
		margin-top: 0px;
	}
	#sum_surgery{
		margin-top: 5px;
	}
	
	/**Quotation Summary**/
	.word_payment > span {
		margin-left: 25px;
	}
	
	.image_dot_left {
		width: 28%;
	}
	
	.image_dot_right {
		width: 24%;
		margin-left: 50px;
	}
	/**Acknowledgement**/
	.smoke_acknowledgement_alert_box {
    position: absolute;
    left: 50px;
    font-size: 14px;
	margin-left:0;
	}
}

@media (width : 603px) {
	
	.image_dot_left {
		width: 30%;
	}
	
	.word_payment > span {
		margin-left: 15px;
	}
	
	.image_dot_right {
		width: 25%;
		margin-left: 30px;
	}
}

/**Samsung Galaxy S2,ASUS Galaxy 7, Apple iPhone 5, Samsung Galaxy s5/s3/s4**/
/* Smartphones (Landscape) ----------- */
@media (min-width : 640px) and (max-width:768px){
	.homepage_button {
		padding-top: 20%;
	}
	
	.site_logo {
		margin-left: 105px;
	}
	
	a.male_doll_cont {
		background: url(../images/doll_male_bigMobile_M600.jpg) top left no-repeat;
		width: 250px;
		height: 250px;
		margin-bottom:25px;
	}
	a.female_doll_cont {
		background: url(../images/doll_female_bigMobile_M600.jpg) top left no-repeat;
		width: 250px;
		height: 250px;
		margin-bottom:25px;
	}
	.male_wrap, .female_wrap {
		width: 250px;
		height: 270px;
		font-size: 23px;
		padding: 5px 5px;
	}
	#male_box, #female_box {
		width: 270px;
		height: 290px;
	}
	
	.female-datepicker, .male-datepicker {
		margin-left: -55px;
		margin-top: -100%;
	}
	#female_box {
		margin-left:25%;
	}
	#male_box {
		margin-right: 25%;
	}
	
	/**Dialogue: PersonalDetailsD2 Alert Boxes**/
	.postalcode_PD_alert_box, .city_PD_alert_box {
		left: 22%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
	}
	.perfecture_PD_alert_box, .BlockNo_PD_alert_box{
		left: 57%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
	}
	.ContactNum_PD_alert_box{
		left:41%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
	}
	.postalcode_PD_alert_box:after, .perfecture_PD_alert_box:after, .city_PD_alert_box:after, .BlockNo_PD_alert_box:after, .ContactNum_PD_alert_box:after{
		left: 45%;
	}
	
	/**Dialogue: Occupation Alert Boxes**/
	.industry_OI_alert_box, .industryOthers_OI_alert_box, .job_OI_alert_box,.jobOthers_OI_alert_box , .field_OI_alert_box, .fieldOthers_OI_alert_box{
		left: 37%;
		padding: 1px 20px;
		font-size: 10px;
		margin-left:0;
		
	}
	.jobOthers_OI_alert_box{
		margin-top: -70px;
		
	}
	.industry_OI_alert_box:after, .industryOthers_OI_alert_box:after, .job_OI_alert_box:after, .jobOthers_OI_alert_box:after, .field_OI_alert_box:after, .fieldOthers_OI_alert_box:after{
		left: 45%;	
		
	}
	/**Dialogue: Health Alert Boxes**/
	.height_HD_alert_box{
		left: 28%;
		padding: 1px 20px;
		font-size: 10px;
		margin-top: -20px;
		margin-left:0;
	}
	.weight_HD_alert_box{
		left: 67%;
		padding: 1px 20px;
		font-size: 10px;
		margin-top: -20px;
		margin-left:0;
	}
	.height_HD_alert_box:after, .weight_HD_alert_box:after{
		left: 45%;
	}
	
	/**Dialogue: Health1 Alert Boxes**/
	.Disease_Cancer_HD_alert_box{
		padding: 1px 20px;
		font-size: 10px;
		margin-top: 210px;
		left: 30%;
		margin-left:0;
		
	}
	
	.Disease_Cancer_HD_alert_box:after{
		left: 45%;
	}
	/**Quotation**/
	.main_con_selection label {
		margin: 15px 20px 0px 80px;
	}
	
	.select_daily, .select_duration {
		width: 200px;
		padding-bottom: 15px;
	}
	.select_payment_schedule {
		width: 200px;
	}
	.quote_input{
		height:100%;
	}
	.quote_input_big{
	    height: 85px;	
		margin-top: -55px;
	}
	
	#quote_tip1 {
		margin: 0px 0px 0px 285px;
	}
	#quote_tip2{
		margin: -19px 0px 0px 398px;
		
	}
	#quote_tip3, #quote_tip5  {
		margin: -15px 0px 0px 398px;
	}
	#quote_tip4 {
		margin: -19px 0px 0px 398px;
	}
	#quotebox_tip1,#quotebox_tip2, #quotebox_tip4,#quotebox_tip3, #quotebox_tip5 {
		margin-left: 336px;
		margin-top: 10px;
		z-index:9999;
	}	
	#quotebox_tip4 {
		margin-top: 5px;
	}	
	
	#sum_medical_treatment{
		margin-top: 0px;
	}
	
	#sum_hospitalization,#sum_treatment{
		margin-top: 0px;
	}
	
	#sum_surgery,#sum_women{
		margin-top: 0px;
	}
	#sum_surgery{
		margin-top: 5px;
	}
	/**Quotation Summary**/
	.word_payment > span {
		margin-left: 25px;
	}
	
	.image_dot_left {
		width: 29%;
	}
	
	.image_dot_right {
		width: 25%;
		margin-left: 50px;
	}
	/**Acknowledgement**/
	.smoke_acknowledgement_alert_box {
    position: absolute;
    left: 60px;
    font-size: 14px;
	margin-left:0;
	}
}
/* Smartphones (Landscape) ----------- */
@media (width : 640px) {
	.site_logo {
		margin-left: 120px;
	}
	
	#female_box {
		margin-left:25%;
	}
	#male_box {
		margin-right: 25%;
	}
	
	/**Landing**/
	/**Dialogue: PersonalDetailsD1 Alert Boxes**/
	.name_PD_alert_box,  .BirthDate_PD_alert_box{
		left: 38%;
		padding: 1px 20px;
		font-size: 10px;	
		margin-left:0;
	}
	
	.gender_PD_alert_box{
		left: 43%;
		padding: 1px 20px;
		font-size: 10px;	
		margin-left:0;
	}
	.name_PD_alert_box:after, .gender_PD_alert_box:after, .BirthDate_PD_alert_box:after{
		left: 45%;	
		
	}
	/**Dialogue: Health Alert Boxes**/
	.height_HD_alert_box{
		left: 43%;
		padding: 1px 20px;
		font-size: 10px;
		margin-top: -110px;
		margin-left:0;
	}
	.weight_HD_alert_box{
		left: 42%;
		padding: 1px 20px;
		font-size: 10px;
		margin-top: -20px;
		margin-left:0;
	}
	.height_HD_alert_box:after, .weight_HD_alert_box:after{
		left: 45%;
	}
	/**Quotation Summary**/
	.word_payment > span {
		margin-left: 25px;
	}
	
	.image_dot_left {
		width: 28%;
	}
	
	.image_dot_right {
		width: 24%;
		margin-left: 50px;
	}
	
}
/**iPhone 6**/
/* Smartphones (Landscape) ----------- */
@media (width : 667px) {
	.site_logo {
		margin-left: 130px;
	}
	
	#female_box {
		margin-left:25%;
	}
	#male_box {
		margin-right: 25%;
	}
	/**Landing**/
	/**Dialogue: PersonalDetailsD1 Alert Boxes**/
	.name_PD_alert_box,  .BirthDate_PD_alert_box{
		left: 38%;
		padding: 1px 20px;
		font-size: 10px;	
		margin-left:0;
	}
	
	.gender_PD_alert_box{
		left: 43%;
		padding: 1px 20px;
		font-size: 10px;	
		margin-left:0;
	}
	.name_PD_alert_box:after, .gender_PD_alert_box:after, .BirthDate_PD_alert_box:after{
		left: 45%;	
		
	}
	/**Dialogue: Health Alert Boxes**/
	.height_HD_alert_box{
		left: 28%;
		padding: 1px 20px;
		font-size: 10px;
		margin-top: -10px;
		margin-left:0;
	}
	.weight_HD_alert_box{
		left: 71%;
		padding: 1px 20px;
		font-size: 10px;
		margin-top: -60px;
		margin-left:0;
	}
	.height_HD_alert_box:after, .weight_HD_alert_box:after{
		left: 45%;
	}
	
	/**Quotation**/
	.main_con_selection label {
		margin: 15px 20px 0px 80px;
	}
	
	.select_daily, .select_duration {
		width: 200px;
		padding-bottom: 15px;
	}
	.select_payment_schedule {
		width: 200px;
	}
	.quote_input{
		height:100%;
	}
	.quote_input_big{
	    height: 85px;	
		margin-top: -55px;
	}
	
	#quote_tip1 {
		margin: 0px 0px 0px 300px;
	}
	#quote_tip2{
		margin: -19px 0px 0px 415px;
		
	}
	#quote_tip3, #quote_tip5  {
		margin: -15px 0px 0px 415px;
	}
	#quote_tip4 {
		margin: -19px 0px 0px 415px;
	}
	#quotebox_tip1,#quotebox_tip2, #quotebox_tip4,#quotebox_tip3, #quotebox_tip5 {
		margin-left: 352px;
		margin-top: 10px;
		z-index:9999;
	}	
	#quotebox_tip4 {
		margin-top: 5px;
	}	
	
	#sum_medical_treatment{
		margin-top: 0px;
	}
	
	#sum_hospitalization,#sum_treatment{
		margin-top: 0px;
	}
	
	#sum_surgery,#sum_women{
		margin-top: 0px;
	}
	#sum_surgery{
		margin-top: 5px;
	}
}

/**iPhone 6**/
/* Smartphones (Landscape) ----------- */
@media (width : 736px) {
	.site_logo {
		margin-left: 145px;
	}
	
	#female_box {
		margin-left:28%;
	}
	#male_box {
		margin-right: 28%;
	}
	/**Landing**/
	/**Dialogue: PersonalDetailsD1 Alert Boxes**/
	.name_PD_alert_box,  .BirthDate_PD_alert_box{
		left: 38%;
		padding: 1px 20px;
		font-size: 10px;	
		margin-left:0;
	}
	
	.gender_PD_alert_box{
		left: 43%;
		padding: 1px 20px;
		font-size: 10px;	
		margin-left:0;
	}
	.name_PD_alert_box:after, .gender_PD_alert_box:after, .BirthDate_PD_alert_box:after{
		left: 45%;	
		
	}
	/**Dialogue: Health Alert Boxes**/
	.height_HD_alert_box{
		left: 28%;
		padding: 1px 20px;
		font-size: 10px;
		margin-top: -10px;
		margin-left:0;
	}
	.weight_HD_alert_box{
		left: 67%;
		padding: 1px 20px;
		font-size: 10px;
		margin-top: -10px;
		margin-left:0;
	}
	.height_HD_alert_box:after, .weight_HD_alert_box:after{
		left: 45%;
	}
	
	#quote_tip1 {
		margin: 0px 0px 0px 350px;
	}
	
	#quote_tip2{
		margin: -19px 0px 0px 462px;
		
	}
	#quote_tip3, #quote_tip5  {
		margin: -15px 0px 0px 462px;
	}
	#quote_tip4 {
		margin: -19px 0px 0px 462px;
	}
	#quotebox_tip1,#quotebox_tip2, #quotebox_tip4,#quotebox_tip3, #quotebox_tip5 {
		margin-left: 400px;
	}	
}

@media (width:768px){
/**support ipad width**/

	/*Below are adaptions for health forms 13-16 for issues encountered during hardware testing (768px)*/
	/*Ipad (768px x 1024px)*/
	.textarea_responsive.hardware_adaptions{
		width:95%;
	}
	.landing_page {
		min-height: 820px;
	}
	.footer_cont.right {
		display: block;
	    width: 80%;
		margin-right: 40px;
	}
	
	.navbar-nav{
	display:none;	
		
	}
	#top_login_icon{
	display:none;	
		
	}
	#top_login_cont {
    float: right;
    /* width: 50%; */
    text-align: right;
    margin: -30px -100px 0 250px;
    display: block;
    width: 100%;
    padding-bottom: 20px;
	}
	.site_logo {
    margin-left: -100px;
	}
	#footer_wrap {
    width: 100%;
	}
	.homepage_button {
    padding-top: 40%;
	}
	.home_button {
    font-size: 250%;
    padding: 30px;
    margin-top: 0px;
	}
	.navbar-header {
    width: 100%;
	}
	/**Landing Page**/
	a.female_doll_cont {
    background: url(../images/doll_female_bigMobile_M800.jpg) top left no-repeat;
    width: 294px;
    height: 294px;
    margin-bottom: 25px;
	}
	a.male_doll_cont {
    background: url(../images/doll_male_bigMobile_M800.jpg) top left no-repeat;
    width: 294px;
    height: 294px;
    margin-bottom: 25px;
	}
	#male_box, #female_box {
    width: 340px;
    height: 340px;
	}
	.male_wrap, .female_wrap {
    width: 320px;
    height: 320px;
    font-size: 23px;
    padding: 5px 5px;
	}
	
	label.landing_dialogue {
    margin: 17px -20px -52px 22px;
	}
	.female-datepicker, .male-datepicker {
    margin-left: -55px;
    margin-top: -45%;
	}
	.gender_box_btn {
    margin: 30px auto 0;
	width: 250px;
	}
	.responsive_row {
    margin-top: 35px;
	}
	/**Quotation Summary**/
	#quote_tip1 {
    margin: 0px 0px 0px 385px;
	}
	#quote_tip2 {
		margin: -20px 0px 0px 498px;
	}
	#quote_tip3, #quote_tip5 {
    margin: -15px 0px 0px 498px;
	}
	#quote_tip4 {
    margin: -19px 0px 0px 498px;
	}
	#quotebox_tip1, #quotebox_tip2, #quotebox_tip4, #quotebox_tip3, #quotebox_tip5 {
    margin-left: 436px;
    margin-top: 10px;
    z-index: 9999;
	}
	div.dollar_sign {
    margin-top: -30px;
	}
	.quote_input_big {
    height: 77px;
    margin-top: -55px;
	}
	#sum_medical_treatment {
    margin-top: 5px;
	}
	#sum_surgery, #sum_women {
    margin-top: 10px;
	}
	#sum_hospitalization, #sum_treatment {
    margin-top: 7px;
	}
	
	/**Quotation Summary**/
	.image_dot_right {
    width: 29%;
    margin-left: 60px;
	}
	.image_dot_left {
    width: 29%;
	}
	.word_payment > span {
    margin-left: 40px;
	}
	/**Plan**/
	.white_btn.signup_responsive_back_btn {
		width: 15%;
	}
	.plans .get_plan_btn {
		width: 100%;
	}
		/**Personal Particular, Occupation, Health Dialog**/
	.page_textbox {
		width: 270px;
	}
	.name_PD_alert_box {
    left: 290px;
	padding: 1px 20px;
    font-size: 10px;
	margin-left:0;
	}
	.gender_PD_alert_box {
    left: 330px;
	padding: 1px 20px;
    font-size: 10px;
	margin-left:0;
	
	}
	.Occupation_table select {
    width: 60%;
	}
	.Occupation_table input {
		width: 57%;
		margin-right: 10px;
	}
	.jobOthers_OI_alert_box {
    margin-top: -20px;
	}
	.height_HD_alert_box, .weight_HD_alert_box {
		margin-top: -13px;
	}

}
@media (min-width : 769px) and (max-width:966px){	
	/**Landing**/
	.male-datepicker{
		position: absolute;
		margin-top: 50px;
		/* z-index: 999; */
		margin-left: -150px;
		
	}

	.female-datepicker{
		position: absolute;
		margin-top: 50px;
		/* z-index: 999; */
		margin-left: -150px;
		
	}

	/**Dialogue: PersonalDetailsD1 Alert Boxes**/
	.name_PD_alert_box,  .BirthDate_PD_alert_box{
		left: 65%;
		padding: 1px 20px;
		font-size: 15px;	
		margin-left:0;
	}
	.gender_PD_alert_box{
		left: 98%;
		padding: 1px 20px;
		font-size: 15px;		
		margin-left:0;
	}
	.name_PD_alert_box:after, .gender_PD_alert_box:after, .BirthDate_PD_alert_box:after{
		left: 45%;	
		
	}
	/**Dialogue: PersonalDetailsD2 Alert Boxes**/
	.postalcode_PD_alert_box, .city_PD_alert_box {
		left: 38%;
		padding: 1px 20px;
		font-size: 15px;
		margin-left:0;
	}
	.city_PD_alert_box {
		left: 15%;
		padding: 1px 20px;
		font-size: 15px;
		margin-left:0;
	}
	.perfecture_PD_alert_box{
		left: 75%;
		padding: 1px 20px;
		font-size: 15px;
		margin-left:0;
	}
	
	.BlockNo_PD_alert_box{
		left: 55%;
		padding: 1px 20px;
		font-size: 15px;
		margin-left:0;
	}
	.ContactNum_PD_alert_box{
		left:75%;
		padding: 1px 20px;
		font-size: 15px;
		margin-left:0;
	}
	.postalcode_PD_alert_box:after, .perfecture_PD_alert_box:after, .city_PD_alert_box:after, .BlockNo_PD_alert_box:after, .ContactNum_PD_alert_box:after{
		left: 45%;
		
	}	
	
	/**Dialogue: Occupation Alert Boxes**/
	.industry_OI_alert_box, .industryOthers_OI_alert_box, .job_OI_alert_box,.jobOthers_OI_alert_box , .field_OI_alert_box, .fieldOthers_OI_alert_box{
		left: 40%;
		padding: 1px 20px;	
		margin-left:0;
	}
	.jobOthers_OI_alert_box{
		margin-top: -70px;
		
	}
	.industry_OI_alert_box:after, .industryOthers_OI_alert_box:after, .job_OI_alert_box:after, .jobOthers_OI_alert_box:after, .field_OI_alert_box:after, .fieldOthers_OI_alert_box:after{
		left: 45%;	
		
	}
	/**Dialogue: Health Alert Boxes**/
	.height_HD_alert_box{
		left: 43%;
		padding: 1px 20px;
		font-size: 15px;
		margin-top: -20px;
		margin-left:0;
	}
	.weight_HD_alert_box{
		left: 85%;
		padding: 1px 20px;
		font-size: 15px;
		margin-top: -20px;
		margin-left:0;
	}
	.height_HD_alert_box:after, .weight_HD_alert_box:after{
		left: 45%;
	}
	
	/**Dialogue: Health1 Alert Boxes**/
	.Disease_Cancer_HD_alert_box{
		padding: 1px 20px;
		font-size: 15px;
		margin-top: 200px;
		left: 46%;
		margin-left:0;
	}
	
	.Disease_Cancer_HD_alert_box:after{
		left: 45%;
	}
	
	/**Acknowledgement**/
	.smoke_acknowledgement_alert_box {
    position: absolute;
    left: 60px;
    font-size: 14px;
	margin-left:0;
	}
}



@media (min-width : 853px) and (max-width:966px){	
	/**Dialogue: Health Alert Boxes**/
	.height_HD_alert_box{
		left: 38%;
		padding: 1px 20px;
		font-size: 15px;
		margin-top: -20px;
		margin-left:0;
		
	}
	.weight_HD_alert_box{
		left: 72%;
		padding: 1px 20px;
		font-size: 15px;
		margin-top: -20px;
		margin-left:0;
	}
	.height_HD_alert_box:after, .weight_HD_alert_box:after{
		left: 45%;
	}
}
@media (min-width : 900px) and (max-width:966px){	
	/**Dialogue: Health Alert Boxes**/
	.height_HD_alert_box{
		left: 34%;
		padding: 1px 20px;
		font-size: 15px;
		margin-top: -20px;
		margin-left:0;
		
	}
	.weight_HD_alert_box{
		left: 64%;
		padding: 1px 20px;
		font-size: 15px;
		margin-top: -20px;
		margin-left:0;
	}
	.height_HD_alert_box:after, .weight_HD_alert_box:after{
		left: 45%;
	}
}

@media (min-width : 966px) and (max-width:1300px){	
	/**Landing**/
	/**Dialogue: PersonalDetailsD1 Alert Boxes**/
	.name_PD_alert_box,  .BirthDate_PD_alert_box{
		left: 50%;
		padding: 1px 20px;
		font-size: 15px;	
		margin-left:0;
	}
	
	.gender_PD_alert_box{
		left: 70%;
		padding: 1px 20px;
		font-size: 15px;	
		margin-left:0;
	}
	.name_PD_alert_box:after, .gender_PD_alert_box:after, .BirthDate_PD_alert_box:after{
		left: 45%;	
		
	}
	/**Dialogue: PersonalDetailsD2 Alert Boxes**/
	.postalcode_PD_alert_box {
		left: 30%;
		padding: 1px 20px;
		font-size: 15px;
		margin-left:0;
	}
	.city_PD_alert_box {
		left: 19%;
		padding: 1px 20px;
		font-size: 15px;
		margin-left:0;
	}
	.perfecture_PD_alert_box{
		left: 62%;
		padding: 1px 20px;
		font-size: 15px;	
		margin-left:0;
	}
	
	.BlockNo_PD_alert_box{
		left: 43%;
		padding: 1px 20px;
		font-size: 15px;	
		margin-left:0;
	}
	.ContactNum_PD_alert_box{
		left: 60%;
		padding: 1px 20px;
		font-size: 15px;
		margin-left:0;
	}
	.postalcode_PD_alert_box:after, .perfecture_PD_alert_box:after, .city_PD_alert_box:after, .BlockNo_PD_alert_box:after, .ContactNum_PD_alert_box:after{
		left: 45%;
	}	
	
	/**Dialogue: Occupation Alert Boxes**/
	.industry_OI_alert_box, .industryOthers_OI_alert_box, .job_OI_alert_box,.jobOthers_OI_alert_box , .field_OI_alert_box, .fieldOthers_OI_alert_box{
		left: 40%;
		padding: 1px 20px;	
		margin-left:0;
		
	}
	.jobOthers_OI_alert_box{
		margin-top: -70px;
		margin-left:0;
		
	}
	.industry_OI_alert_box:after, .industryOthers_OI_alert_box:after, .job_OI_alert_box:after, .jobOthers_OI_alert_box:after, .field_OI_alert_box:after, .fieldOthers_OI_alert_box:after{
		left: 45%;	
		
	}
	/**Dialogue: Health Alert Boxes**/
	.height_HD_alert_box{
		left: 33%;
		padding: 1px 20px;
		font-size: 15px;
		margin-top: -20px;
		margin-left:0;
		
	}
	.weight_HD_alert_box{
		left: 64%;
		padding: 1px 20px;
		font-size: 15px;
		margin-top: -20px;
		margin-left:0;
	}
	.height_HD_alert_box:after, .weight_HD_alert_box:after{
		left: 45%;
	}
	
	/**Dialogue: Health1 Alert Boxes**/
	.Disease_Cancer_HD_alert_box{
		padding: 1px 20px;
		font-size: 15px;
		margin-top: 200px;
		left: 36%;
		margin-left:0;
	}
	
	.Disease_Cancer_HD_alert_box:after{
		left: 45%;
	}
	
	/**Acknowledgement**/
	.smoke_acknowledgement_alert_box {
    position: absolute;
    left: 60px;
    font-size: 14px;
	margin-left:0;
	}
}
@media (min-width : 1024px) and (max-width : 1280px){
	.postalcode_PD_alert_box {
		left: 33%;
		padding: 1px 20px;
		font-size: 15px;
		margin-left:0;
	}
	.city_PD_alert_box {
		left: 11%;
		padding: 1px 20px;
		font-size: 15px;
		margin-left:0;
	}	
	.ContactNum_PD_alert_box{
		left: 62%;
		padding: 1px 20px;
		font-size: 15px;
		margin-left:0;
	}
	.BlockNo_PD_alert_box{
		left: 41%;
		padding: 1px 20px;
		font-size: 15px;
		margin-left:0;
	}
	
	.perfecture_PD_alert_box{
		left: 57%;
		padding: 1px 20px;
		font-size: 15px;
		margin-left:0;
	}
	
	/**Dialogue: Health Alert Boxes**/
	.height_HD_alert_box{
		left: 35%;
		padding: 1px 20px;
		font-size: 15px;
		margin-top: -20px;
		margin-left:0;
	}
	.weight_HD_alert_box{
		left: 60%;
		padding: 1px 20px;
		font-size: 15px;
		margin-top: -20px;
		margin-left:0;
	}
	.height_HD_alert_box:after, .weight_HD_alert_box:after{
		left: 45%;
	}
	
	/**Acknowledgement**/
	.smoke_acknowledgement_alert_box {
    position: absolute;
    left: 60px;
    font-size: 14px;
	margin-left:0;
	}

	/*Below are adaptions for health forms 13-16 for issues encountered during hardware testing (1024px)*/
	/*Ipad (768px x 1024px)*/
	.textarea_responsive.hardware_adaptions{
		width:95%;
	}
	.landing_page {
    min-height: 1000px;
	}
	
}


@media (min-width : 1124px) and (max-width : 1300px){
	
	/**Acknowledgement**/
	.smoke_acknowledgement_alert_box {
    position: absolute;
    left: 190px;
    font-size: 14px;
	margin-left:0;
	}
	.landing_page {
    min-height: 1100px;
	}
	
}