.mWrapper
{
    max-width: 1145px;
    margin-left: auto;
    margin-right: auto;
}

.oHide
{
    overflow: hidden;
}

.fLeft
{
    float: left;
}

.blackButton
{
    padding: 12px 0;
    font-size: 13px;
    line-height: 13px;
    
    text-align: center;
    background-color: #585759;
    color: #FFFFFF;

    cursor: pointer;
    
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* border radius */
}

.redButton
{
    padding: 12px 0;
    font-size: 15px;
    line-height: 15px;
    
    text-align: center;
    background-color: #ed1c24;
    color: #FFFFFF;

    cursor: pointer;
    
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* border radius */
}

.footerTop {
    background-color: #464547;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    /*margin-top:40px;*/
}

.footerTop .footerContent {
    padding: 22px 0;
}

.footerTop .footerContent .footerCol {
    font-size: 26px;
    line-height: 28px;
}

.footerTop .footerContent .footerColMobileLeft {
    width: 58%;
}

.footerTop .footerContent .footerCol .innerWrap {
    /* to even up the height of each column */
    /*padding-bottom: 500em;
                margin-bottom: -500em;
                margin-right: -1px;*/
}

.footerTop .footerContent .footerCol1 {
    width: 27%;
}

.footerTop .footerContent .footerCol1b {
    width: 42%;
}

.footerTop .footerContent .footerCol1 .innerWrap,
.footerTop .footerContent .footerCol2 .innerWrap {
    border-right: 1px solid #565557;
    margin-right: 20px;
    padding-right: 20px;
    min-height: 55px;
}

.footerTop .footerContent .footerCol2 {
    width: 73%;
}

.footerTop .footerContent .footerCol2 a:hover {
    color: inherit;
    text-decoration: inherit;
    cursor: default;
}

.footerTop .footerContent .footerCol2b {
    padding: 10px 0 0 10px;
    width: 52%;
}

.footerTop .footerContent .footerCol3 {
    width: 42%;
}

.footerTop .footerContent .footerCol4 {}

.footerTop .footerContent .footerCol1 .padTop {
    padding-top: 12px;
}

.footerTop .footerContent .footerCol2 .footerCol2Wrap {}

.footerTop .footerContent .footerCol2 .footerCol2Left {
    width: 55%;
}

.footerTop .footerContent .footerCol2 .footerCol2Left .callText {
    padding-left: 40px;
}

.footerTop .footerContent .footerCol2 .footerCol2Right {
    width: 45%;
}

.footerTop .footerContent .footerCol3 .buttonCol {
    width: 31.5%;
}

.footerTop .footerContent .footerCol3 .buttonColSm {
    width: 18.5%;
}


/* vertical-align button */

.footerTop .footerContent .footerCol3 .button {
    margin-right: 5px;
    height: 54px;
    line-height: 30px;
}

.footerTop .footerContent .footerCol3 .button>span {
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
}

.footerTop .footerContent .footerCol3 .button .ver {
    line-height: 15px;
}

.footerTop .footerContent .footerCol3 .buttonCol.last .button {
    margin-right: 0;
}

.footerTop .footerContent .tncContent {
    font-size: 11px;
    line-height: 14px;
    padding: 15px 0 15px 0;
}

.footerTop .footerContent .tncContent .tnc {
    color: #999;
}

.footerTop .footerContent .small {
    font-size: 13px;
    line-height: 13px;
}

.footerMiddle {
    background-color: #4e4d4f;
    color: #FFFFFF;
}

.footerMiddle .footerContent {
    padding: 55px 0;
}

.footerMiddle .footerContent .footerCol {
    font-size: 18px;
    line-height: 19px;
    width: 25%;
}

.footerMiddle .footerContent .footerCol a {
    color: #fff;
}

.footerMiddle .footerContent .footerCol .innerWrap {
    padding: 0 20px;
}

.footerMiddle .footerContent .footerCol.first .innerWrap {
    padding-left: 0;
}

.footerMiddle .footerContent .footerCol.last .innerWrap {
    padding-right: 0;
}

.footerMiddle .footerContent .footerCol .listTitle {
    padding-bottom: 10px;
}

.footerMiddle .footerContent .footerCol ul {
    font-size: 12px;
    line-height: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #cccccc;
}

.footerMiddle .footerContent .footerCol a:hover {
    color: #FFFFFF;
}

.footerBottom {
    background-color: #FFFFFF;
}

.footerBottom .footerContent {
    padding: 40px 0;
}

.footerBottom .footerContent .logoContent {
    width: 155px;
}

.footerBottom .footerContent .tncContent {
    font-size: 13px;
    line-height: 18px;
    border-left: 1px solid #f2f2f2;
    padding-left: 30px;
    padding-bottom: 10px;
    margin-left: 180px;
}

.footerBottom .footerContent .tncContent .tnc {
    color: #808080;
    padding-bottom: 0px;
    padding-top: 5px;
}

.footerBottom .footerContent .tncContent .copyRight {
    color: #4d4d4d;
    padding-bottom: 8px;
}

.footerBottom .footerContent .tncContent .footerNote {
    color: #808080;
}

.footerBottom .footerContent .footerLeft {
    width: 100%;
    margin-right: -280px;
}

.footerBottom .footerContent .footerLeft .innerWrap {
    margin-right: 300px;
}

.footerBottom .footerContent .socialContent {
    width: 280px;
}

.footerBottom .footerContent .socialContent .gelUpdateContent {
    background-color: #f5f5f5;
    font-size: 14px;
    line-height: 16px;
    padding: 9px;
    margin-top: 10px;
    max-width: 100%;
}

@media only screen and (max-width:1145px) {
    .mWrapper
    {
        max-width: 96%;
    }

    .footerTop .footerContent .footerCol1,
    .footerTop .footerContent .footerCol2 {
        float: none;
        width: 100%;
    }
    .footerTop .footerContent .footerColMobileLeft {
        width: 60%;
    }
    .footerTop .footerContent .footerCol3 {
        width: 40%;
    }
    .footerTop .footerContent .footerCol3 .buttonColSm {
        /*width: 100% !important;   */
        margin-bottom: 5px;
    }
    .footerTop .footerContent .footerCol3 .buttonCol {
        width: 50%;
    }
    .footerTop .footerContent .footerCol3 .buttons3 .buttonCol.first {
        width: 100%;
    }
    .footerTop .footerContent .footerCol3 .buttons1 .buttonCol.only {
        width: 100%;
    }
    .footerTop .footerContent .footerCol3 .buttonCol.last .button {
        margin-right: 5px;
    }
    .footerTop .footerContent .footerCol1 .innerWrap,
    .footerTop .footerContent .footerCol2 .innerWrap {
        border-right: 0;
        margin-right: 0;
        padding-right: 0;
    }
    .footerTop .footerContent .footerCol1 .padTop {
        padding-top: 6px;
    }
    /* used for home page */
    .footerWhite .footerLeft {
        width: 50%;
    }
    .footerWhite .footerLeft .footerLeftCol1 {
        width: 100%;
    }
    .footerWhite .footerLeft .footerRightCol1 {
        padding: 10px 0 10px 0;
        float: left;
        width: 100%;
        font-size: 28px;
        border-right: none;
        margin-bottom: 15px;
    }
    .footerWhite .footerLeft .footerRightCol1 .footerLeftCall {
        width: 45%;
    }
    .footerWhite .footerLeft .footerLeftCol1 .tncContent {
        border-right: none;
        position: static;
    }
    .footerWhite .footerRight .buttonSet .button {
        width: 40%;
        display: inline-block;
        margin-left: 5px;
        margin-bottom: 5px;
        vertical-align: middle;
    }
}

@media only screen and (max-width:1000px) {
    .footerBottom .footerContent .socialContent .gelUpdateContent {
        max-width: 260px;
    }
    /* used for home page */
    .footerWhite .footerLeft {
        width: 52%;
    }
    .footerWhite .footerRight {
        width: 45%;
    }
    .footerWhite .footerLeft .footerLeftCol1 {
        width: 100%;
    }
    .footerWhite .footerLeft .footerRightCol1 {
        font-size: 24px;
    }
    .footerWhite .footerLeft .footerRightCol1 .footerLeftCall {
        width: 48%;
    }
    .footerWhite .footerLeft .footerLeftCol1 .tncContent {
        border-right: none;
    }
    .footerWhite .footerRight .buttonSet .button {
        width: 35%;
        display: inline-block;
        margin-left: 5px;
        margin-bottom: 5px;
        vertical-align: middle;
        font-size: 12px;
    }
}

@media only screen and (max-width:800px) {
    .footerTop .footerContent .footerColMobileLeft,
    .footerTop .footerContent .footerCol3 {
        float: none;
        width: 100%;
    }
    .footerTop .footerContent .footerColMobileLeft {
        margin-bottom: 20px;
    }
    .footerTop {
        border-bottom: 0;
    }
    .footerMiddle {
        display: none;
    }
    .footerBottom .footerContent .footerLeft {
        float: left;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .footerBottom .footerContent .footerLeft .innerWrap {
        margin-right: 0;
    }
    .footerWhite .footerLeft .footerRightCol1 {
        font-size: 20px;
    }
    .footerWhite .footerLeft .footerRightCol1 .footerLeftCall {
        width: 48%;
    }
}

@media only screen and (max-width:700px) {
    .footerBottom .footerContent .logoContent {
        border-right: 0;
    }
    .footerBottom .footerContent .tncContent {
        float: left;
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        border-left: 0;
        padding-left: 0;
    }
    .footerBottom .footerContent .tncContent .tnc {
        padding-bottom: 15px;
    }
    .footerBottom .footerContent .tncContent .copyRight {
        padding-bottom: 15px;
    }
}

@media only screen and (max-width:500px) {
    .mWrapper
    {
        max-width: 92%;
    }

    .footerTop .footerContent .footerCol2 .footerCol2Left .callImg {
        display: none;
    }
    .footerTop .footerContent .footerCol2 .footerCol2Left .callText {
        padding-left: 0;
    }
    .footerTop .footerContent .footerCol {
        font-size: 22px;
        line-height: 24px;
    }
    .footerTop .footerContent .small {
        font-size: 12px;
    }
    .footerTop .footerContent .footerCol1 .innerWrap,
    .footerTop .footerContent .footerCol2 .innerWrap {
        min-height: 0;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width:400px) {
    .footerTop .footerContent .footerCol {
        font-size: 18px;
        line-height: 22px;
    }
    .footerTop .footerContent .small {
        font-size: 11px;
    }
    .footerTop .footerContent .footerCol3 .button {
        font-size: 13px;
    }
}
