@charset "UTF-8";

/*========== Global Style ==========*/
/**== Editing this file will take effect on whole site ==**/


* {padding: 0;margin: 0;}
div {box-sizing: border-box;}

/*Some properties within body and h1-h6 are being set so they may override the bootstrap defaults*/
body {margin:0; padding:0; background:#e9e9e9; font-family: Arial, Helvetica, sans-serif; color:#333333; line-height: normal; font-size: initial;}

h1, h2, h3, h4, h5, h6 {font-family: 'Arial Rounded MT Bold', 'Nunito', Arial, sans-serif; margin:0; padding:0; }

.left {float:left;}
.right {float:right;}

.row {clear:both; display:inline-block;}

a {text-decoration:none !important;}

span {font-size:14px; color:#333333;}
span.edit_cta {background:url(../images/black_arrow_left.png) left center no-repeat; padding-left:15px; font-weight:normal;}
span.more_details_cta {background:url(../images/black_arrow_right.png) right center no-repeat; padding-right:15px; font-weight:normal;}
span.dollar_sign {font-size:14px; margin:0 0 0 4px;}
span a {color:inherit;}

.purple_pattern_bg {background:url(../images/purple_pattern_bg.png); }

.pink_color {color:#c73880;}

.tips_sticker {background:url(../images/tips_sticker.png) center center no-repeat; width:18px; height:18px; display:inline-block; text-indent:-9999em;margin: 0 0 0 10px;}
.tips_box {background:#f0df95; border:1px solid #dddddd; font-size:12px; position:absolute; display:none; padding:12px; margin-top:10px;}
	.tips_box:after{
		content: "";
		position: absolute;
		top: -10px;
		left: 60px;
		border-style: solid;
		border-width: 0 10px 10px;
		border-color: #f0df95 transparent;
		display: block;
		width: 0;
		z-index: 1;
	}

.cta_btn {border: 1px solid #dddddd; padding:8px 30px 8px 20px; background: url(../images/black_arrow_right.png) 90% 50% no-repeat;
font-size:16px; font-family: 'Arial Rounded MT Bold', 'Nunito', Arial, sans-serif; font-weight:bold; color:#333333; cursor:pointer;}
.pink_btn {background:#c73880 url(../images/white_arrow_right.png) 90% 50% no-repeat; color:#ffffff; font-size:22px;}
.beige_btn {background:#f7d9bf url(../images/black_arrow_right.png) 90% 50% no-repeat; color:#333333; font-size:22px;}


.border_top_ddd {border-top:1px solid #dddddd;}

.table_style {border:1px solid #dddddd;border-collapse: collapse;}
	.table_style td {    padding: 6px 10px 0;}
		.table_style .tr_btm_space td {padding:6px 10px;}
	.table_th {background:#e9e9e9; color:#333333; font-size:18px;}
		.table_th th { padding:12px;}
		
/**.select_row {display:block; clear:both; width:100%; margin:0; display:flex; align-items:center;}**/


#main_wrapper {width:100%;}

/*Dicky*/
.text_left {text-align:left;}
.text_center {text-align:center;}
.summary_table_style {border-collapse: collapse;}
	.summary_table_style td {    padding: 15px 0 0;}
	.summary_table_style .tr_btm_space td {padding:6px 10px;}
	.summary_table_th {}
	.summary_table_th th { padding:15px;}

.base_btn {border: 1px solid #dddddd; font-family: 'Arial Rounded MT Bold', 'Nunito', Arial, sans-serif; font-weight:bold; cursor:pointer;}	
.purple_next_btn {background:#6f439a url(../images/white_arrow_right.png) 90% 50% no-repeat; color:#ffffff; font-size:20px; width:176px; height:58px; margin:20px auto; padding:14px 10px 8px 50px;}
.purple_proceed_payment_btn {background:#6f439a url(../images/white_arrow_right.png) 90% 50% no-repeat; color:#ffffff; font-size:26px; width:360px; height:58px; margin:20px auto; padding:10px 10px 8px 35px;}
.purple_proceed_btn {background:#6f439a url(../images/white_arrow_right.png) 90% 50% no-repeat; color:#ffffff; font-size:26px; width:190px; height:58px; margin:20px auto; padding:10px 10px 8px 35px;}
.grey_back_btn {background:#e9e9e9 url(../images/black_arrow_left.png) 10% 50% no-repeat; color:#333333; font-size:20px; width:138px; height:58px; margin:20px auto; padding:14px 10px 8px 50px;}
.grey_download_pdf_btn {background:#d8d8d8 url(../images/download_icon.png) 10% 50% no-repeat; color:#333333; font-size:18px; width:212px; height:42px; margin: 60px 0 0; padding:7px 10px 8px 55px;}
/*Dicky*/


/*This global p is to override the default p (margin:10px 0 0 0) from bootstrap*/
p {margin:0;}

h1.normalize, h2.normalize, h3.normalize, h4.normalize, h5.normalize, h6.normalize {
	font-weight: bold; 
	line-height: normal;
}