/* ==========================================================================
    Base View
   ========================================================================== */

.base-header {
    position: relative;
    z-index: 99;
}

.base-footer {
    position: relative;
    z-index: 2;
}

.base-content {
    position: relative;
    z-index: 98;
}


/* ==========================================================================
   Red Man Menu
   ========================================================================== */

.red-man-wrapper {
    position: relative;
}

.signin-banner-wrapper .red-man-wrapper {
    float: right;
}

.red-man-menu {
    padding: 14px;
    position: relative;
    cursor: pointer;
}

.signin-banner-wrapper .red-man-menu {
    padding: 10px 10px 13px 10px;
    border-bottom: 3px solid transparent;
    margin-top: -3px;
}

.red-man-menu.expanded {
    border-bottom: 3px solid #ad181d;
}

.uip-header__item .red-man-menu.expanded {
    padding-bottom: 11px !important;
}

.red-man-sub-menu {
    display: none;
    border: 1px solid #d5d5d5;
    padding: 18px 9px;
    max-width: 185px;
    min-width: 185px;
    position: absolute;
    z-index: 99;
    left: -42px;
    background-color: #FFF;
    color: #808080;
    box-shadow: 2px 0 14px rgba(31, 29, 25, .26);
}

.signin-banner-wrapper .red-man-sub-menu {
    right: 0;
    left: inherit;
}

.red-man-sub-menu.expanded {
    display: block;
}

.red-man-sub-menu__panel {
    border-bottom: dotted 1px #CCCCCC;
    padding: 0 10px 20px;
    margin-bottom: 15px;
}

.red-man-sub-menu__panel--last {
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0;
}

.red-man-sub-menu__panel__title {
    padding-bottom: 3px;
    font-size: 13px;
    line-height: 19px;
}

.red-man-sub-menu__panel__link {
    margin-bottom: 3px;
    padding: 8px 10px;
    font-size: 13px;
    line-height: 13px;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    box-shadow: 2px 0 14px rgba(31, 29, 25, .26);
    background-clip: padding-box;
    background-color: #ed1c24;
    color: #FFF;
    cursor: pointer;
}

.red-man-sub-menu__panel__link:after {
    content: url('../images/arrow_right_button.png');
    float: right;
}


/* ==========================================================================
   Policy Detail !!TODO
   ========================================================================== */

.poldetails_wrapper {
    margin-bottom: 15px;
    border: 1px solid #cfcfcf;
}

.poldetails_header {
    margin-top: 0px;
    padding: 8px;
    background-color: #ef1616;
    color: white;
}

.poldetails_content {
    padding: 0px;
    border-bottom: 1px solid #cfcfcf;
}

.poldetails_datarow {
    padding-top: 10px;
    padding-bottom: 10px;
}

.poldetails_label {
    padding: 0px 8px;
    font-weight: 700;
}

.poldetail_subheader {
    margin-right: 0px;
    margin-bottom: 12px;
    margin-left: 0px;
    padding: 4px 0px 4px 4px;
    background-color: #363636;
    color: white;
    font-weight: 700;
}

.poldetails_col {
    position: relative;
}

.poldetails_col.right {
    padding-right: 10px;
    padding-left: 10px;
}

.poldetails_col._0leftpad {
    padding-left: 0px;
}

.poldetails_col._0rightpad {
    padding-right: 0px;
}

.poldetails_data {
    padding-left: 10px;
    padding-right: 10px;
}

.datarow_lefttxt {
    margin-right: 15px;
    padding-right: 1px;
    float: left;
}

.entry_list {
    margin-bottom: 12px;
}

.entry_agent_pic {
    max-width: 150px;
    border: 1px solid #d6d6d6;
}

.financialPlannerHeader_cross {
    margin-top: 20px;
    margin-right: 15px;
    font-size: 20px;
}

.fc_label {
    display: block;
    float: none;
    font-size: 16px;
    font-weight: 700;
}

.button--policyDetails-red-thin {
    color: white;
    background-color: #ef1616;
    border: none;
    border-radius: 5px;
}

.override-h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.table--policyDetails_text {
    float: right;
}

@media screen and (max-width: 768px) {
    .table--policyDetails_text {
        float: none;
    }
}


/* --- Policy Detail New --- */

.polDetails__icon {
    max-width: 45px;
    max-height: 45px;
}

.polDetails__icon-small {
    max-width: 35px;
    max-height: 35px;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 960px) {
    .polDetails__text-width {
        min-width: 22%;
    }
}

@media (min-width: 768px) and (max-width: 935px) {
    .polDetails__icon-width {
        min-width: 10%;
    }
}

.polDetails__hr-style {
    border-top: 1px solid #D0D0D0;
    margin-top: 7px;
    margin-bottom: 10px;
}

.polDetails__section-panel {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    background-color: #fff;
}

.polDetails__section-panel__header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    padding: 15px;
}

.polDetails__section-panel__header-expand {
    background-color: #DEDEDC;
}

.polDetails__section-panel__header-collapse {
    background-color: #f5f5f5;
}

.polDetails__section-panel__padding {
    padding: 6px 20px 0 23px;
}

.polDetails__table-title {
    font-size: 16px;
    padding-bottom: 9px;
    padding-left: 0;
}

.polDetails__note {
    padding: 20px 0 0 23px;
    font-style: italic;
    font-size: 12px;
}

.polDetails__row-data {
    padding: 5px 25px 5px 38px;
}

.polDetails__padding {
    padding: 0 0 0 7px;
}

.polDetails-section__body {
    padding: 22px 0;
    overflow: hidden;
}

#policy_details_type .drop-down-list__arrow,
#policy_details_list .drop-down-list__arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 4px 0 4px;
    border-color: #ed1c24 transparent transparent transparent;
    float: right;
    position: absolute;
    right: 10px;
    top: 18%;
}

.polDetails__representative-section-panel {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    padding: 5px 12px;
    max-width: 390px;
    display: table-cell;
}

.polDetails__representative-details-wrapper {
    display: table-cell;
    line-height: 18px;
    vertical-align: middle;
}

.polDetails__representative-details {
    max-width: 200px;
    word-break: break-all;
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}

.polDetails__representative-details__name {
    max-width: 75px;
    font-size: 13px;
    font-weight: bold;
    word-break: break-word;
}

.polDetails__representative-details__email,
.polDetails__representative-details__contact-no {
    display: inline-block;
    max-width: 160px;
    vertical-align: middle;
}

.polDetails__representative-details__info-no {
    display: table-cell;
    vertical-align: middle;
}

.polDetails__representative-details__mas-no,
.polDetails__representative-details__consult-no {
    max-width: 75px;
    word-break: break-all;
    font-size: 13px;
}

.polDetails__representative__padding {
    padding: 7px 14px;
}

.polDetails__white-button {
    padding: 11px 11px;
    background-color: white;
    border-color: #dfdfdf;
}

.polDetails__pay-prem-button {
    max-width: 120px;
    padding: 5px 13px;
}

.polDetails__go-button {
    max-width: 44px;
}

.polDetails__divider {
    border-right: 1px solid #8A8A8A;
    margin: 0 12px 0 9px
}

.polDetails__width {
    max-width: 335px;
}

.polDetails__action-panel {
    padding: 8px 0;
}

.poldetails__ddl-section {
    padding: 0 0 0 15px;
}

.polDetails__ddl-wrapper {
    display: inline-block;
    position: relative;
    z-index: 9;
    width: 208px;
}

.polDetails__ddl-wrapper__z-index {
    z-index: 20;
}

.polDetails__ddl-display-item {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    line-height: 34px;
}

.polDetails__ddl-display-item__name {
    display: inline-block;
    max-width: 190px;
}

.polDetails__ddl-display-action {
    cursor: pointer;
    line-height: 34px;
    padding-right: 5px;
    display: inline-block;
}

.polDetails__ddl-display-item > img,
.polDetails__ddl-display-action > img {
    padding-left: 5px;
    float: right;
    position: relative;
    width: 15px;
    top: 15px;
}

.polDetails__ddl-container-wrapper {
    position: relative;
}

.polDetails__ddl-container {
    width: 280px;
    max-height: 180px;
    overflow: auto;
    box-shadow: 3px 3px 20px -8px rgba(0, 0, 0, 0.75);
    border: 1px solid #ddd;
    position: absolute;
    top: 10px;
    left: 0;
    background: #fff;
}

.polDetails__ddl-item {
    padding: 8px 15px;
    color: #999;
    font-size: 15px;
    line-height: 19px;
    cursor: pointer;
}

.polDetails__ddl-item:hover {
    background: #efefef;
}

.polDetails__ddl-selected-item {
    background: #efefef;
}

.polDetails__info-text {
    font-size: 12px;
    color: #767676;
}

.polDetails__fundDetails__total-row {
    background-color: #797472 !important;
    color: #ffffff;
}

.polDetails__pieChart-container-left {
    margin-left: 30px;
}

.polDetails__pieChart-container-right {
    margin-left: 10px;
}

.polDetails__pieChart-container-center {
    text-align: center;
}

.polDetails__pieChart-legend {
    width: 13px;
    height: 13px;
    margin: 0px 5px -2px 15px;
    display: inline-block;
}

.polDetails__pieChart-legend-equity {
    background-color: #D9F53F;
}

.polDetails__pieChart-legend-bond {
    background-color: #5CDA21;
}

.polDetails__pieChart-legend-asset {
    background-color: #31AFF5;
}

.polDetails__pieChart-legend-market {
    background-color: #2156D4;
}

.polDetails__pieChart-note {
    padding: 12px 0 10px 0px;
    font-style: italic;
    font-size: 13px;
}


/* ----- END ----- */


/*------------ Non Ge Policy Details-----------------*/

.datePicker-icon__NonGE {
    background: #FFFFFF url(../images/datePickerRed.png) right center no-repeat !important;
    background-size: 32px 34px !important;
}

.nonGEpolicydetails__delete-section-panel {
    margin-top: 5px;
    background: #f5f5f5;
    overflow: hidden;
    padding: 10px;
}

.nonGEpolicydetails__delete-message {
    padding-left: 15px;
}

.nonGEpolicydetails__delete-button-section {
    padding-left: 10px;
}


/*------ END ------ */


/* header of accordian*/

.panel {
    border: none;
}

.panel-heading {
    padding: 0px;
    outline: 0;
}

.panel-body {
    padding: 0px;
}

.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0px;
}

.panel .panel-default {
    border: none;
}

.panel-group {
    margin-bottom: 0px;
}

.high-z-index {
    position: relative;
    z-index: 98;
}

.accordion-section__row {
    padding-left: 15px;
    padding-right: 15px;
}

.accordion-section__button {
    float: right;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 30px;
    width: 30px;
}


/* ==========================================================================
   Profile Update Page
   ========================================================================== */

.policy-address-overseas {
    display: none;
}

.personal-details-input-label {
    display: none;
}

.personal-details__input {
    padding: 0 !important;
    margin-bottom: 10px;
}

.unitNum-label {
    padding: 10px 0 0 14px;
    color: #666;
}

.span-red {
    color: red;
}


/* ==========================================================================
   Service Request !!TODO
   ========================================================================== */

.reqactions_actoptions {
    margin-bottom: 15px;
}

.reqactions_radiobtn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    background-color: #ededed;
}

.reqactions_radiobtn_sub {
    padding-left: 32px;
}


/* ==========================================================================
   CKA
   ========================================================================== */

.cka-section {
    margin-top: 20px;
}

.cka-section ul {
    margin-bottom: 0;
}

.cka-section textarea {
    border: 0;
}

.cka-section-header {
    background: #ed1c24;
    padding: 5px 10px 20px 15px;
    color: white;
}

.cka-section-content {
    border: 1px solid #C1C1C1;
    margin-bottom: 5px;
}

.cka-section-content-selection {
    padding: 10px 5px;
}

.cka-section-content-description {
    border-right: 1px solid #C1C1C1;
    border-bottom: 1px solid #C1C1C1;
    padding: 10px 50px 10px 10px;
    min-height: 110px;
}

.cka-section-details-header {
    padding: 10px 10px !important;
    background: #D3D3D3;
}

.cka-section-details-input {
    width: 100%;
    resize: none;
    border: 1px solid transparent;
}

.cka-section-details-input--has-error {
    border: 1px solid #ed1c24 !important;
}

.cka .hfits-input-error {
    margin-bottom: 0;
}

.no-padding {
    padding: 0;
}

.align-center {
    text-align: center;
}

.cka-instruction-wrapper {
    margin: 20px 0 10px 0;
}

.cka-instruction-wrapper__instruction {
    padding: 10px 0;
}

.remaining-characters {
    font: 10pt arial;
    color: #989898;
    text-align: right;
    padding: 2px 10px;
}


/* ==========================================================================
   Report 
   ========================================================================== */

#maincontainer {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}


/* ==========================================================================
   Panel Clinic 
   ========================================================================== */

#panel-clinic__map {
    height: 500px;
    width: 100%
}

#panel-clinic__map img {
    max-width: none;
}

.infoWindowContent {
    font-size: 14px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}


/* ==========================================================================
   Company Profile
   ========================================================================== */

.company-submit-button {
    margin-top: 20px;
}

.company-list-item {
    color: #929292!important;
}

.highlight {
    background-color: #dfdfdf;
}

.company_selector_box {
    width: 660px;
    border: 2px solid #d0d0d0;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    color: #929292;
    font-size: 16px;
    padding: 10px 0;
    margin: 10px 0 0 0;
}

.company_selector_box ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

.company_selector_box ul a {
    float: left;
    width: 100%;
    padding: 5px;
    text-decoration: none;
}

.company_selector_box ul a:hover {
    background: #808080;
    color: #ffffff;
    text-decoration: none;
}

.company_selector_box ul li {
    padding: 0;
    display: block;
    width: 100%;
}

.company_selector_box ul li a {
    padding: 5px 5px 5px 10px;
}

.company_selector_box ul li ul {}

.company_selector_box ul li ul li {
    width: 100%;
}

.company_selector_box ul li ul a {
    padding: 5px 5px 5px 30px;
}

.company_selector_box ul li ul ul a {
    padding: 5px 5px 5px 60px;
}

@media only screen and (max-width: 1145px) {
    .company_selector_box {
        width: 100%;
    }
}

.company-acknow__img {
    float: left;
    padding: 20px;
}

.company-acknow__img--tick,
.company-acknow__img--cross {
    height: 32px;
    width: 32px;
}

.company-acknow__msg {
    padding: 20px;
}

.company-acknow__btn {
    margin: 0px 5px 10px 0px;
    float: right;
    padding-top: 8px;
}


/* ==========================================================================
   login, forgot password & sign up
   ========================================================================== */

.signin-banner-container {
    background: #FFF;
}

.signin-banner-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1145px;
}

.signin-banner-wrapper__logo-login {
    display: block;
    margin-bottom: 8px;
    padding-top: 0px;
    text-align: left;
}

.signin-outer-wrapper {
    max-width: 1145px;
    margin: 0 auto;
    padding: 25px 15px;
}

.signin-inner-wrapper {
    max-width: 340px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
    float: right;
}

@media (max-width: 767px) {
    .signin-inner-wrapper {
        margin-left: auto;
        margin-right: auto;
    }
}

.signin-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #FFF;
    padding: 20px 0;
    border-bottom: 2px solid #dedede;
    font-size: 18pt;
    color: #999;
}

.signin-body {
    padding: 10px 15px;
    background: #f5f5f5;
}

.signin-body__unauthorized {
    margin-bottom: 0px!important;
    padding: 7px
}

.signin-body__signin-button-wrapper {
    margin-top: 15px;
    text-align: center;
}

.signin-body__signin-button-wrapper__signin-button {
    color: #FFF !important;
    background: #ed1c24 !important;
    border: 0;
    padding: 12px;
    min-width: 35%;
}

.signin-body__signin-button-wrapper__signin-button__icon {
    vertical-align: middle;
    padding-right: 8px;
}

.signin-body__forgot-password-link {
    color: #ed1c24;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 11px;
}

.signup-wrapper {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.signup-wrapper__no-user-id-link {
    font-size: 11.5px;
    color: #888;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.signup-wrapper__signup-button {
    padding: 12px;
    min-width: 80%;
    color: inherit !important;
    max-width: 100%;
    background-color: #f5f5f5 !important;
}

.signin-body .label-tooltip[data-placement="right"] + .tooltip > .tooltip-arrow {
    border-right-color: #FFF;
}

.signin-body .label-tooltip[data-placement="left"] + .tooltip > .tooltip-arrow {
    border-left-color: #FFF;
}

.signin-body .label-tooltip[data-placement="top"] + .tooltip > .tooltip-arrow {
    border-top-color: #FFF;
}

.signin-body .label-tooltip[data-placement="bottom"] + .tooltip > .tooltip-arrow {
    border-bottom-color: #FFF;
}

.signin-body .label-tooltip + .tooltip > .tooltip-inner {
    background-color: #FFF;
    color: #000;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    text-align: left;
    font-size: 8.5pt;
    width: 180px;
}

.signin-footer {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #FFF;
    font-size: 9pt;
    color: #888;
    padding: 15px 0;
}

@media (max-width: 991px) {
    .login-wrapper__logo-login {
        float: left
    }
    .signin-banner-wrapper__logo-login {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .login-wrapper__logo-login {
        float: none
    }
}

@media (max-width: 479px) {
    .login-wrapper__logo-login {
        float: none
    }
}

.page_header-padding {
    padding-top: 40px;
}

.resetPassword__info-box {
    width: 100%;
    border: 2px solid #4d4d4d;
    border-radius: 6px;
    padding: 0 10px 10px 10px;
}

span > h2 {
    padding-bottom: 10px;
}

.top-padding {
    padding-top: 30px;
}

@media (max-width: 767px) {
    .bottom-padding {
        padding-bottom: 0!important;
    }
}


/* ==========================================================================
   Footer html
   ========================================================================== */

.footer-section {
    padding-top: 40px;
    background: #fff;
}

.footer-section__logo {
    display: block;
    margin-right: 19px;
}

.footer-section__listfoot {
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 8px;
    padding-left: 8px;
    float: left;
    border-right-style: solid;
    border-right-width: 1px;
    font-size: 12px;
    line-height: 12px;
}

.footer-section__listfoot.last {
    border-right-style: none;
    border-right-width: 0px;
}

.footer-section__newsletter {
    display: inline;
    color: red;
    text-decoration: none;
}

.footer-section__newsletter__container {
    position: static;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 15px;
    clear: both;
    background-color: #e6e6e6;
    line-height: 38px;
}

.footer-section__icon-list {
    display: inline-block;
    margin-top: 0px;
    float: right;
    clear: none;
    margin-bottom: 0px
}

.footer-section__icon-list li {
    display: inline-block;
    margin-right: 2px;
    padding-bottom: 9px;
    float: right;
    border-radius: 3px;
}

.footer-section__copyright-txt {
    display: block;
    margin-bottom: 6px;
    margin-left: 8px;
    color: #7a7a7a;
    font-size: 12px;
}

.footer-section__copyright-section {
    display: block;
    margin-left: 20px;
    float: left;
}

.footer-section__copyright-txt {
    display: block;
    margin-bottom: 6px;
    margin-left: 8px;
    color: #7a7a7a;
    font-size: 12px;
}

@media (max-width: 991px) {
    .footer-section__icon-list {
        margin-top: 10px;
        float: none;
    }
    .footer-section__copyright-section {
        margin-top: 10px;
        margin-left: 0px;
    }
}

@media (max-width: 767px) {
    .footer-section__icon-list {
        margin-top: 18px;
        float: none;
    }
    .footer-section__copyright-section {
        margin-left: 0px;
    }
}

@media (max-width: 479px) {
    .footer-section__icon-list {
        float: none;
    }
    .footer-section__copyright-section {
        margin-left: 0px;
    }
}


/* ==========================================================================
    Header 
   ========================================================================== */

.uip-header {
    background-color: #ed1c24;
}

.uip-header__container {
    max-width: 1145px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
}

.uip-header__item {
    cursor: pointer;
    border-left: 1px solid #f14950;
    line-height: 19px;
    font-weight: bold;
    height: 47px;
    padding: 14px;
    float: left;
}

.uip-header__item-last {
    border-right: 1px solid #f14950;
}

.uip-header__item-left {
    font-size: 16px;
    font-weight: bold;
}

.uip-header__item-right {
    font-size: 11px;
    font-weight: normal;
}

.uip-header__language {
    padding-right: 12px;
    float: left;
}


/* ==========================================================================
    Language Modal 
   ========================================================================== */

.lang-modal {
    padding: 20px;
}

.lang-modal__header {
    padding: 20px 0;
    font-size: 16px;
    font-weight: normal;
}

.lang-model__body {
    padding: 0 25px 20px 25px;
}

.lang-block {
    font-size: 13px;
    min-height: 100px;
}

.lang-block__icon {
    border: 1px solid #e1e1e1;
}

.lang-block__country-label {
    padding-left: 5px;
    color: #808080;
    font-weight: bold;
}

.lang-block__item-list {
    margin-top: 15px;
    list-style: none;
}

.lang-block__item-link:hover {
    color: #4d4d4d;
    font-weight: bold;
}


/*------------------------------- seem to be removed in future !!TODO--------------------------------*/

.modal-dialog-center {
    margin: 0;
    position: absolute;
    top: 30%;
}

.tablesaw-container {
    overflow-x: auto;
}

.chart > canvas {
    display: inline;
}

.profile-label {
    font-weight: 700;
    margin-right: 8px;
}

td,
th,
.profile-label {
    word-wrap: break-word;
}

.disable-scroll {
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
}

.pdf-modal .modal-dialog {
    height: 85%;
    width: 85%;
}

.pdf-modal .modal-content {
    height: 100%;
    width: 100%;
}

@media (max-width: 40em) {
    .tablesaw-visible-non-mobile,
    .table-visible-non-mobile {
        display: none;
    }
    .tablesaw-visible-mobile,
    .table-visible-mobile {
        display: block;
        margin-bottom: 5px;
    }
}

@media (min-width: 40em) {
    .table .number {
        text-align: right;
    }
    .tablesaw-visible-mobile,
    .table-visible-mobile {
        display: none;
    }
    .tablesaw-visible-non-mobile,
    .table-visible-non-mobile {
        display: block;
    }
}


/*--------------- Profile Update Page CSS Style----------------*/

.policy-address-overseas {
    display: none;
}

.personal-details-input-label {
    display: none;
}

.personal-details__input {
    padding: 0 !important;
    margin-bottom: 10px;
}

.error-message {
    padding: 5px;
    color: #ed1c24;
    font-style: italic;
}

.unitNum-label {
    padding: 10px 0 0 14px;
    color: #666;
}

.span-red {
    color: red;
}


/*-----------------------------------------------------*/


/*Style for Pie chart Section and pie chart table detail section*/


/*@media screen and (max-width: 1024px) {
    #pieChartSection {
        visibility: hidden;
    }
    .chartDetailTable {
        display: none;
    }
    .pieChart-section-background-colour {
        visibility: hidden;
    }
    .dashboard__main-content {
        display: none;
    }
}*/

.page-section--background {
    height: 450px;
}


/*style for pie chart and svg element for responsive behaviour*/

.dashboard__main-content {
    height: 450px;
}

#pieChartSection {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 100%
}

#pieChartSection svg {
    /*display: block;*/
    width: auto !important;
}

.dashboard_textarea {
    display: inline-block;
    width: 410px;
    height: 320px;
    padding-top: 45px;
}

.dashboard_textarea--username {
    padding: 10px 20px 10px 20px;
}

.dashboard_textarea--username p {
    font-size: 20px;
    color: #4D4D4D;
}

.dashboard-textAreaPanel {
    padding: 10px 20px 10px 20px;
}

.dashboard_textarea--headerMessage {
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 10px;
}

.dashboard_textarea--headerMessage p {
    font-size: 36px;
    line-height: 1.1;
}

.dashboard_textarea--headerMessage img {
    vertical-align: top;
    cursor: pointer;
}

.dashboard-textAreaPanel__content {
    height: 180px;
    overflow: auto;
    position: relative;
    color: #808080;
}

.dashboard-textAreaPanel__content span {
    font-size: 14px;
    padding-bottom: 10px;
}

.dashboard-textAreaPanel__content span:nth-child(2) {
    /*font-size: 14px;*/
    padding-bottom: 10px;
}

.dashboard-textAreaPanel__content .contentSection {
    padding-top: 10px;
}

.dashboard-textAreaPanel__content .recommendation {
    padding-bottom: 10px;
}

.dashboard-textAreaPanel__content .recommendationTitle {
    font-weight: bold;
    font-size: 14px;
}

.dashboard-textAreaPanel__content .recommendationColumn {
    padding-bottom: 5px;
}

.dashboard-textAreaPanel__content .recommendationName {
    font-size: 16px;
}

.dashboard-textAreaPanel__wrap {
    position: relative;
}

.dashboard-textAreaPanel__gradient {
    width: 95%;
    height: 17%;
    position: absolute;
    top: 160px;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #F6F6F6 100%);
}

.dashboard-tooltipPanel {
    min-height: 178px;
    width: 410px;
    margin-top: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* prevents bg color from leaking outside the border */
    background-color: #fff;
    /* layer fill content */
    -moz-box-shadow: 2px 0 14px rgba(31, 29, 25, .26);
    /* drop shadow */
    -webkit-box-shadow: 2px 0 14px rgba(31, 29, 25, .26);
    /* drop shadow */
    box-shadow: 2px 0 14px rgba(31, 29, 25, .26);
    /* drop shadow */
    padding-left: 10px;
    color: #4d4d4d;
}

.dashboard-tooltipPanel__closebtn {
    position: relative;
    float: right;
    top: -23px;
    right: -23px;
    height: 44px;
    width: 44px;
    /*padding: 10px;*/
    cursor: pointer;
}

.dashboard-tooltipPanel__content {
    overflow: hidden;
    width: 70%;
    float: left;
}

.dashboard-tooltipPanel__content .tooltipSection {
    padding: 10px;
}

.dashboard-tooltipPanel__content .tooltipDetails {
    overflow: auto;
    height: 120px;
    margin-top: 15px;
}

.dashboard-tooltipPanel__imageSection {
    position: relative;
    top: -24px;
    padding-left: 10px;
}

.dashboard-benefitBadgeArea {
    width: 280px;
    display: inline-block;
    float: right;
    padding-top: 50px;
}

.dashboard-benefitBadgeArea__title {
    margin-top: 10px;
    margin-bottom: 30px;
}

.dashboard-benefitBadgeArea__title h4 {
    border: 1px solid #CCC;
    border-radius: 20px;
    font-size: 12pt;
    color: #4D4D4D;
    padding: 5px 10px;
    text-align: center;
    width: 195px;
}

.dashboard-benefitBadgeArea__panel {
    margin: 10px;
}

.dashboard-benefitBadgeArea__content {
    height: 57px;
}

.dashboard-benefitBadgeArea__content div:nth-child(1) {
    display: inline-block;
    float: left;
    padding-right: 10px;
}

.dashboard-benefitBadgeArea__content div:nth-child(2) {
    display: inline-block;
    padding-top: 5px;
}

.dashboard-benefitBadgeArea__content div:nth-child(2) p:nth-child(1) {
    font-size: 20px;
}

.dashboard-benefitBadgeArea__content div:nth-child(2) p:nth-child(2) img {
    vertical-align: top;
    cursor: pointer;
}

.dashboard-benefitBadgeArea__content-seperator {
    border-left: 1px solid #CCC;
    height: 30px;
    position: relative;
    left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pieChart-section-background-colour {
    background: rgb(246, 246, 246);
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(246, 246, 246, 1) 77%, rgba(235, 235, 235, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(246, 246, 246, 1) 77%, rgba(235, 235, 235, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(246, 246, 246, 1) 77%, rgba(235, 235, 235, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#eaeaea', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.pieChart-section-class {
    width: 400px;
    display: inline-block;
    float: left;
    position: relative;
    padding-top: 25px;
}


/* ==========================================================================
   Dashboard Policy table
   ========================================================================== */

.tab_icon {
    width: 30px;
}

.tab_icontd {
    padding-right: 10px;
}

.tab h1 {
    font-size: 34px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.policy_title-section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.policy_footnote {
    color: #808080;
    font-size: 12px;
}

.title_header {
    font-size: 40px;
}

.table_planName_policyNo {
    color: #ED1C24;
}

.rider_indicator {
    background: #ED1C24;
    color: #fff;
    border: none;
    border-radius: 21px;
    font-size: 12px;
    outline: none;
    height: 25px;
    vertical-align: text-bottom;
    margin-top: 2px;
    cursor: default;
}

.icon__expand-table {
    width: 30px;
    height: 30px;
    display: block;
    background: red;
}


/* ==========================================================================
   Dashboard Card View
   ========================================================================== */


/*=======DDL=======*/

.db-ddl-wrapper {
    padding: 10px 0;
    display: inline-block;
    position: relative;
    z-index: 9;
}

.db-ddl-display-item {
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-size: 28px;
    line-height: 34px;
}

.db-ddl-display-item > img {
    padding-left: 5px;
}

.db-ddl-container-wrapper {
    position: relative;
}

.db-ddl-container {
    width: 280px;
    max-height: 180px;
    overflow: auto;
    box-shadow: 3px 3px 20px -8px rgba(0, 0, 0, 0.75);
    border: 1px solid #ddd;
    position: absolute;
    top: 10px;
    left: 0;
    background: #fff;
}

.db-ddl-item {
    padding: 8px 15px;
    color: #999;
    font-size: 15px;
    line-height: 19px;
    cursor: pointer;
}

.ddl__gradient {
    position: absolute;
    height: 30px;
    width: 280px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #F6F6F6 100%);
    top: 160px;
}

.db-ddl-item:hover {
    background: #efefef;
}

.db-ddl-selected-item {
    background: #efefef;
}

.db-ddl-disabled-item {
    cursor: not-allowed;
    opacity: 0.5;
}


/*=======Action=======*/

.db-action-panel {
    float: right;
    position: relative;
    top: 8px;
}

.db-action {
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
}

.db-action > img {
    padding-right: 5px;
    position: relative;
}

.db-action > img + span {
    position: relative;
    top: 2px;
}

.db-action-button {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
}

.db-action-divider {
    padding: 0 8px;
    display: inline-block;
    position: relative;
    top: 2px;
    color: #ddd;
    font-size: 18px;
    line-height: 22px;
}


/*@media (max-width: 1010px) {
    .db-action-panel {
        width: 100%;
        text-align: left;
    }
}

@media (min-width: 1011px) {
    .db-action-panel {
        width: calc(100% - 405px);
        text-align: right;
    }
}*/


/*=======Card=======*/

.db-card-wrapper {
    margin-left: -8px;
    margin-right: -8px;
    position: relative;
    z-index: 8;
}

.db-card-panel {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    background-color: #fff;
}

.db-card-panel__header {
    height: 65px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
}

.db-card-panel__content {
    height: 182px;
    padding: 10px 15px;
}


/*cv: card view*/

.cv-header-wrapper {
    width: 100%;
    display: flex;
}

.cv-header-title-wrapper {
    display: inline-block;
    float: left;
    width: calc(100% - 75px);
}

.cv-header-title {
    font-size: 20px;
    line-height: 24px;
    max-width: calc(100% - 10px);
}

.cv-header-icon-wrapper {
    vertical-align: middle;
    width: 50px;
    min-width: 50px;
    display: inline-block;
    float: left;
}

.cv-header-icon-wrapper img {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    top: 2px;
}

.cv-collapse-icon-wrapper {
    vertical-align: middle;
    text-align: right;
    min-width: 20px;
    float: left;
}

.cv-collapse-icon-wrapper img {
    position: relative;
    top: 12px;
}

.cv-upper-content {
    height: 120px;
}

.cv-long-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cv-small-text {
    font-size: 12px;
    line-height: 16px;
    color: #999
}

.cv-rider {
    padding: 5px 8px;
    color: #fff;
    border-radius: 13px;
    font-size: 11px;
}

.cv-rider--terminated {
    background: #888;
}

.cv-arrow-wrapper {
    vertical-align: middle;
    text-align: right;
    padding-right: 3px;
}

.cv-arrow-wrapper > img {
    margin-top: -2px;
}

.cv-divider {
    margin: 10px 0;
}

.cv-footer--view-all {
    color: #ed1c24;
    cursor: pointer;
}

.cv-footer--less {
    color: #999;
}


/*pl: policy list*/

.pl-content-wrapper {
    width: 100%;
}

.pl-content-row {
    height: 60px;
    max-height: 60px;
    display: flex;
    width: 100%;
}

.pl-product-rider-wrapper {
    width: calc(100% - 25px);
    float: left
}

.pl-product-wrapper {
    float: left;
    position: relative;
    top: 12px;
}

.pl-product--non-ge {
    position: relative;
    top: 8px;
}

.pl-rider-wrapper {
    float: right;
    position: relative;
    top: 18px;
}

.pl-arrow-wrapper {
    float: left;
    width: 25px;
    text-align: right;
    padding-right: 3px;
    position: relative;
    top: 18px;
}


/*rec: recommendation*/

.rec-header {
    padding: 12px 0;
    font-weight: bold;
}

.rec-product-wrapper {
    vertical-align: middle;
    width: 80%;
    padding: 5px 0;
}


/*emp: empty*/

.emp-icon-wrapper {
    text-align: center;
    padding: 12px 0 10px;
}

.emp-message {
    padding: 5px 65px;
    text-align: center;
    font-weight: bold;
}


/*pd: policy details*/

.pd-left-wrapper {
    vertical-align: middle;
    width: 50%;
    max-width: 50%;
    padding: 12px 0;
    display: inline-block
}

.pd-right-wrapper {
    vertical-align: middle;
    padding-left: 10px;
    display: inline-block
}

@media (min-width: 768px) and (max-width: 991px) {
    .card-view-2 {
        clear: left;
    }
}

@media (min-width: 992px) {
    .card-view-3 {
        clear: left;
    }
}


/* ==========================================================================
   Summary Of Activities
   ========================================================================== */

.red-font {
    color: #ed1c24;
}

.summary-section {
    margin-top: 20px;
}


/* ==========================================================================
   status bubble
   ========================================================================== */

.status__main-action-button {
    height: 75px;
    width: 100%;
    background-color: #ed1c24;
    color: #FFFFFF;
    text-align: center;
    line-height: 15px;
    border-radius: 4px;
    padding: 12px 0;
    border: none;
    font-size: 15px;
}

.status__bubble-field {
    width: 140px;
    margin: 0 40px 0 0;
}

.status__bubble {
    height: 140px;
    padding-top: 10px;
    border-radius: 70px;
}

.status__bubble-count {
    display: block;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    background: #4D4D4D;
    color: #ffffff;
    font-size: 19px;
    float: right;
    padding: 12px;
    line-height: 20px;
    text-align: center;
    min-width: 46px;
}

.status__section-title {
    margin-bottom: 40px;
}

.status__section-bottom-border {
    border-bottom: 15px solid #EA1820;
}

.status__bubble-name {
    float: left;
    width: 100%;
    text-align: center;
    margin: 12px 0 14px 0;
    color: #000000;
    font-size: 20px;
}

.status__active-field {
    height: 24px;
}

.status__active-bubble {
    background: url(../images/claims_cat_arrow.png) bottom center no-repeat;
}

.status__main-button-container {
    float: right;
    margin-top: 40px;
    margin-bottom: 40px;
}

.status_action__button {
    width: 100%;
    margin: 0 0 7px 0;
    padding-top: 18px;
    margin-bottom: 10px;
    padding-bottom: 19px;
    color: #ffffff;
    font-size: 13px;
    border: none;
    border-radius: 4px;
}

.status_action__button-red {
    background-color: #ed1c24;
}

.status_action__button-black {
    background-color: #585759;
}

.status_action__button-loadmore {
    color: #808080;
    background-color: #f5f5f5;
    line-height: 0px;
}

.status_action__button-search {
    width: 138px;
    height: 40px;
    color: #ffffff;
    font-size: 14px;
    border: none;
    border-radius: 4px;
}

.status_row__content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.status_content__detail-section-top-border {
    border-top: 1px solid #E0E0E0;
}

.status_content {
    border-bottom: 1px solid #E0E0E0;
    padding: 20px 0;
}

.status_content__detail {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #929292;
    margin: 0 0 30px 0;
}

@media screen and (max-width: 450px) {
    .status__bubble-field {
        width: 140px;
        margin: 0 18px 0 0;
    }
}


/* ==========================================================================
   profile update page 
   ========================================================================== */

.padding-right {
    padding-top: 35px;
    padding-right: 15px;
}

.margin-right {
    margin-right: 15px;
}

.btn {
    border: 1px solid #e6e6e6;
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    color: #4d4d4d;
}

.btn.active,
.btn:active {
    background-color: #e91c23;
    color: #f5f5f5;
    outline: none;
}

.form-btn {
    width: 100%;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    background-color: #4d4d4d;
    color: #f5f5f5;
}


/* ==========================================================================

   Non Ge Policy pages 
   ========================================================================== */

.non-ge-policy__button-sub-section {
    margin-top: 20px;
}


/* ==========================================================================
   direct channel page 
   ========================================================================== */

.page__navigation-header {
    box-shadow: 1px 1px 2px #dfdfdf;
    background-color: #F9F8F6;
    color: #4d4d4d;
    font-size: 20px;
    min-height: 65px;
    text-align: center;
    border-right: 2px solid #E5E4E2;
    display: flex;
    align-items: center;
}

.page__navigation-header__selected {
    box-shadow: 1px 1px 2px #dfdfdf;
    background-color: #ed1c24;
    color: #ffffff;
    font-size: 20px;
    min-height: 65px;
    text-align: center;
}

.page__navigation-number__vertical {
    vertical-align: middle;
}

.page__navigation-number {
    border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    background-color: #ed1c24;
    color: #ffffff;
    line-height: 14px;
    text-align: center;
    min-width: 30px;
    margin: 0 10px;
}

.page__navigation-number__selected {
    border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    background-color: #4d4d4d;
    color: #ffffff;
    font-size: 23px;
    padding: 5px 12px;
    line-height: 14px;
    text-align: center;
    min-width: 30px;
    margin: 0 10px;
}

@media (min-width: 768px) {
    .page__navigation-number {
        font-size: 23px;
        padding: 5px 12px;
    }
    .page__navigation-number__selected {
        font-size: 23px;
        padding: 5px 12px;
    }
    .page__navigation-header__table-height {
        min-height: 65px;
        width: 100%;
    }
    .page__navigation-name__vertical {
        vertical-align: middle;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .page__navigation-number {
        font-size: 18px;
        padding: 4px 9px;
    }
    .page__navigation-number__selected {
        font-size: 18px;
        padding: 4px 9px;
    }
    .page__navigation-header__table-height {
        min-height: 40px;
        width: 100%;
    }
    .page__navigation-name__vertical {
        vertical-align: middle;
        text-align: left;
    }
    .no-padding-header {
        padding: 0;
    }
}

.fLeft {
    float: left;
}

.disabled-field {
    background-color: #eee !important;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-30 {
    padding-top: 30px;
}

.font__bold {
    font-weight: bold;
}

.font__color-red {
    color: #ed1c24;
}

@media (min-width: 768px) {
    .margin-top-20 {
        margin-top: 20px;
    }
    .residence-field-width {
        width: 36.4%;
    }
}

@media (max-width: 767px) {
    .margin-top-15 {
        margin-top: 15px;
    }
    .padding-top-80__hr {
        padding-top: 80px !important;
    }
    .padding-top-5__note {
        padding-top: 5px;
    }
}

.font-size-20 {
    font-size: 20px !important;
}

.font-size-23 {
    font-size: 23px !important;
}

.font-size-28 {
    font-size: 28px !important;
    line-height: 32px;
}

.field-padding {
    padding: 10px 15px;
}

.font-size-34 {
    font-size: 34px;
}

.font-size-36 {
    font-size: 36px !important;
}

.direct-channel__hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #eee;
}

.direct-channel__hr-padding {
    padding-top: 18px;
    padding-bottom: 10px;
}

.direct-channel__coverage-option__hr-padding {
    padding-top: 65px;
}

@media (min-width: 768px) {
    .grey-container {
        background-color: #f5f5f5;
        padding: 30px;
    }
    .direct-channel__plan-details-container {
        background-color: #ffffff;
        padding: 30px;
        min-width: 300px;
        max-width: 1116px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .grey-container {
        background-color: #f5f5f5;
        padding: 15px;
    }
    .direct-channel__plan-details-container {
        background-color: #ffffff;
        padding: 15px;
        min-width: 300px;
        max-width: 1116px;
        margin-left: auto;
        margin-right: auto;
    }
}

.plan-benefit-container {
    background-color: #f5f5f5;
    padding: 30px;
    margin-top: 40px;
    color: #808080;
}

.product__table-tab {
    background-color: #4d4d4d;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding: 17px 24px;
}

.product__table-tab__selected {
    background-color: #ed1c24;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding: 17px 24px;
}

.product__table-container {
    background-color: #ffffff;
    padding: 25px;
}

.product__table-container table,
.product__table-container th {
    border: 1px solid #dfdfdf;
    padding: 15px;
    color: #4d4d4d;
}

.product__table-container td {
    border-right: 1px solid #dfdfdf;
    padding-bottom: 5px;
    padding-top: 5px;
}

.product__table-container tr td {
    padding-left: 15px;
}

@media (max-width: 767px) {
    .button__align-center {
        text-align: center
    }
}

@media (min-width: 768px) {
    .error-msg__zero-padding {
        padding: 0;
    }
}

.coverage-option__tab {
    background-color: #f5f5f5;
    color: #4d4d4d;
    font-size: 20px;
    min-height: 65px;
    text-align: left;
    border: none;
    outline: none;
    border-radius: 8px;
}

.coverage-option__tab__selected {
    background-color: #ed1c24;
    color: #ffffff;
    font-size: 20px;
    min-height: 65px;
    text-align: left;
    border: none;
    outline: none;
    border-radius: 8px;
}

.plan-benefit__text__big {
    font-size: 25px;
    color: #4d4d4d;
}

.plan-benefit__icon-wrapper {
    vertical-align: middle;
    display: inline-block;
}

.plan-benefit__icon-width {
    width: 30px;
    height: 50px;
}

.plan-benefit__icon-name {
    font-size: 16px;
    vertical-align: middle;
    float: none;
    display: inline-block;
    color: #4d4d4d
}

.total-premium-amount-container {
    background-color: #4d4d4d;
    margin: 0 -29px;
    padding: 30px;
    color: #ffffff;
}

.total-premium-amount__icon {
    text-align: center;
    padding: 5px 0
}

.total-premium-amount__icon__sign {
    font-size: 65px;
    color: #ed1c24;
    font-weight: bold;
    padding-top: 20px;
}

.total-premium-amount__icon__right {
    text-align: right;
    padding-right: 20px;
}

.total-premium-amount__equal-border {
    border-color: #ed1c24;
    border-width: 10px
}

.product__table__item-header {
    color: #4d4d4d;
    font-weight: bold;
    padding: 0 0 10px 0;
}

.product__table__item-info {
    color: #4d4d4d;
    font-weight: bold;
    padding: 0 0 10px 0;
}

.button-collapse {
    cursor: pointer;
}

.button-collapse--collapse {
    background: #dfdfdf;
    color: #4d4d4d;
    border-radius: 6px;
    padding: 10px 15px;
}

.button-collapse--expand {
    background: #ed1c24;
    color: #fff;
    border-radius: 6px;
    padding: 10px 15px;
}

.button-collapse-icon {
    float: right;
    height: 25px;
    width: 25px;
}

.button-collapse--collapse .button-collapse-icon {
    background: url(../images/icon_backBottom.png) no-repeat;
}

.button-collapse--expand .button-collapse-icon {
    background: url(../images/icon_backTop.png) no-repeat;
}


/* ==========================================================================
  direct channel page - applicaiton details
   ========================================================================== */

.contact-wrapper {
    padding: 10px 0;
}

.app-details-button-wrapper {
    padding-top: 20px;
}

.app-details-button-padding {
    padding: 5px 15px;
}

.app-details-product-container {
    background: #4d4d4d;
    color: #fff;
}

.app-details-product-container__header {
    background: #ed1c24;
    font-weight: bold;
}

.app-details-next-step {
    color: #ed1c24;
}

.app-ref-num {
    padding: 10px 0;
}

@media screen and (max-width: 767px) {
    .app-details-button-left {
        text-align: center;
    }
    .app-details-button-right {
        text-align: center;
    }
    .app-details-product-container {
        margin: 20px -15px;
    }
    .app-ref-num {
        text-align: left;
    }
    .app-details-next-step {
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 768px) {
    .app-details-button-left {
        text-align: left;
    }
    .app-details-button-right {
        text-align: right;
    }
    .app-details-product-container {
        margin: 20px -30px;
    }
    .app-ref-num {
        text-align: right;
    }
    .app-details-next-step {
        padding: 5px 0;
    }
}


/* ==========================================================================
  direct channel page - applicaiton details - step indicator
   ========================================================================== */

.step-indicator-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    padding: 35px 15px 10px;
}

.step-indicator-bullet {
    width: 21px;
    height: 20px;
    border-radius: 10px;
    border: 5px solid #dfdfdf;
    background: #dfdfdf;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.step-indicator-bullet--highlight {
    background: #ed1c24;
    background-clip: padding-box;
    z-index: 2;
}

.step-indicator-bullet--subsequent {
    margin-left: -10px;
}

.step-indicator-line {
    height: 15px;
    display: inline-block;
    position: relative;
    top: 5px;
    z-index: 1;
    margin-left: -10px;
}

.step-indicator-line--highlight {
    z-index: 3;
}

.step-indicator-line__top {
    width: calc(100% - 10px);
    height: 4px;
    background: #dfdfdf;
    display: block;
    position: relative;
    left: 5px;
}

.step-indicator-line__middle {
    width: 100%;
    height: 2px;
    background: #dfdfdf;
    display: block;
    position: relative;
}

.step-indicator-line--highlight .step-indicator-line__middle {
    background: #ed1c24;
}

.step-indicator-line__bottom {
    width: calc(100% - 10px);
    height: 4px;
    background: #dfdfdf;
    display: block;
    position: relative;
    left: 5px;
}
