@charset "UTF-8";

/*=========== General Styling ===========*/
/*=========== Edit here ===========*/


/* Header */

#header_wrapper {width:100%; background:#ffffff; min-height:130px;}
#header_wrap {width:1000px; margin:0 auto; padding:24px;}
#logo_cont {float:left;} 
/**#logo_cont a.site_logo {background:url(../images/logo_nfL_button.png) left top no-repeat; display:block; cursor:pointer; border:0; text-indent:-9999em;**/
#top_login_cont {float:right; width:50%; text-align:right; margin: 40px -5px 0 0;}
.login_footnote {display: inline-block; margin: 12px 10px 0 0;}
.top_login_btn {}


/******** Content *********/
#content_wrapper {float: left; width: 100%; padding:40px 0;}
#content_wrap {width:1000px; margin:0 auto; overflow:hidden;}
#quotation_content_wrap {width:1000px; margin:0 auto; overflow:hidden;}
#title_wrap {width:100%; margin:0 auto; overflow: hidden;}
.title_box {margin:30px 0 0 0;}
h2.inner_title {font-size:46px; line-height:40px;}
h2.inner_title span {font-size:30px; clear:both; display:block;} 

h3.purple_bg_title {background:#6e4598; color:#ffffff; font-size:24px; text-align:center; padding: 10px 25px;}
h3.content_title {color:#6e4598; font-size:32px; margin:0 0 30px 0;}

.content_box {width:100%; overflow: hidden;}

/* 01_landing */
.landing_page { min-height:800px;}

h2.home_title {font-size:40px; color:#ffffff; line-height:44px; margin:0 0 24px 0;  text-align:center;}
h3.home_title {font-size:40px; color:#f7d9bf; line-height:44px; text-align:center;margin: 0 0 5px 0;}

#gender_wrap {width:910px; margin:24px auto;}
.gender_cont {}
.gender_cont a {display:block; text-indent:-9999em;}
.gender_cont.male {float:left;}
a.male_doll_cont {background:url(../images/doll_male_bigThumb.jpg) top left no-repeat; width:420px; height:420px;
	-webkit-transition: margin 0.1s ease-out;
	-moz-transition: margin 0.1s ease-out;
	-o-transition: margin 0.1s ease-out;
	transition: margin 0.1s ease-out;
	display:block;
}
a.male_doll_cont:hover {margin-top:-6px; margin-left:-6px;
	-webkit-box-shadow: 6px 6px 0px 0px rgba(74, 49, 111, 0.75);
	-moz-box-shadow: 6px 6px 0px 0px rgba(74, 49, 111, 0.75);
	box-shadow: 6px 6px 0px 0px rgba(74, 49, 111, 0.75);;
	
}
.gender_cont.female {float:right;}
a.female_doll_cont {background:url(../images/doll_female_bigThumb.jpg) top left no-repeat; width:420px; height:420px;
	-webkit-transition: margin 0.1s ease-out;
	-moz-transition: margin 0.1s ease-out;
	-o-transition: margin 0.1s ease-out;
	transition: margin 0.1s ease-out;
	display:block;
}

a.female_doll_cont:hover {margin-top:-6px; margin-right:-6px;
	-webkit-box-shadow: -6px 6px 0px 0px rgba(74, 49, 111, 0.75);
	-moz-box-shadow: -6px 6px 0px 0px rgba(74, 49, 111, 0.75);
	box-shadow: -6px 6px 0px 0px rgba(74, 49, 111, 0.75);;
	
}

#male_box,#female_box {width:420px; height:420px; background:rgba(0,0,0,0.3); display:none; position:relative; border:3px solid rgba(255,255,255,0.3);}
#male_box { float: right;}
#female_box { float: left;}

.male_wrap, .female_wrap {width:400px; height:400px; border:3px solid rgba(255,255,255,0.3); margin:7px; color:#ffffff; font-size:30px; font-family: 'Arial Rounded MT Bold', 'Nunito', Arial, sans-serif; padding: 40px 15px; text-align:center;}
label.landing_dialogue {float:left; margin:27px 5px 10px 5px; display:inline-block;}
label.landing_dialogue1 {float:center; margin:27px 5px 10px 5px; display:inline-block;}
.select_age {width:90px;float:left; margin:10px 5px;display:inline-block;}
.select_status {width:150px;float:left; margin:10px 5px;display:inline-block;}
.select_smoke {width:230px;float:left; margin:10px 5px;display:inline-block;}
.select_smoke1 {width:230px;float:center; margin:10px 5px;display:inline-block;}
.gender_box_btn {margin:20px auto 0; width:220px;}
.gender_box_close_btn { width:50px; height:50px; position:absolute; right: 0;}
.gender_box_close_btn a {background:url(../images/gender_box_close_btn.png) top left no-repeat; text-indent:-9999em; width:50px; height:50px; display:block; cursor:pointer;}


/* Plans and Quotation*/
.personal_info_box {width:340px;}
.personal_doll_thumb { float:left; width: 90px; height:132px;}
.personal_info_col { float:right; width:230px; height:132px; border:2px solid #dddddd; color:#6e4598; font-size:20px; font-weight:bold; padding:15px;}
.personal_info_col p {word-wrap:normal; float: left; margin: 20px 0 0 3px;}

.plans { margin: 30px 0 0 0;}
.plans_wrapper {width:100%;}
.plan { width:48%;}
.plan_content_box {padding:25px; overflow: hidden;background:#ffffff;}
ul.plans_list {list-style:none; display:inline; float:left; margin:22px 0;}
ul.plans_list li {background:url(../images/purple_tick.png) left center no-repeat; padding: 5px 20px 5px 30px; float: left; font-size:14px; width: 160px;}

.plans_price_tag { width:100%; background:#fff0b1; color:#c73880; float:left; font-weight:bold; font-size:24px; text-align:center;}
span.price_pop { color:#c73880; font-size:50px;}
.plans_details {width:100%; text-align:center; margin: 20px 0 0 0; float:left;}
.get_plan_btn {width:200px; margin:20px auto;}

.quotation {background:#ffffff;margin: 30px 0 0 0; padding:34px;}
.quotation_box {margin:20px 0 0 0;}
.quotation_table {width:100%;}
.quotation_table th.quote_col1 {width:72%}
.quotation_table th.quote_col2 {width:38%}
.quotation_table td {border-right:1px solid #dddddd;}

#quote_tip1:hover + #quotebox_tip1, #quote_tip2:hover + #quotebox_tip2, #quote_tip3:hover + #quotebox_tip3, #quote_tip4:hover + #quotebox_tip4, #quote_tip5:hover + #quotebox_tip5{display:block; width:140px;}
#quotebox_tip1 {margin-left:40px;}
#quotebox_tip2 {margin-left:230px;}
#quotebox_tip3 {margin-left:100px;}
#quotebox_tip4 {margin-left:140px;}
#quotebox_tip5 {margin-left:110px;}

.quote_input {background:#e9e9e9; color:#333333; border:none; font-size:20px; padding: 8px 12px; width:180px; text-align:right; }
.quote_input_big { font-size:30px; padding:18px 12px;}
.quote_total {background:#ffffff; color:#c73880; border:none; font-size:30px; font-weight:bold; padding:8px 12px; width:180px; text-align:right; }

.main_con_selection {float:right;}
.select_daily, .select_duration { width:150px;}
.select_payment_schedule {width:250px;}
/**.main_con_label {margin:30px 0 0 0; float:left; margin:40px 0 0 0;}**/
.main_con_selection label {float:left; font-size:14px; width: 100px;}
/*Comment out by Dicky as it affect Quotation Page -> Main Contrac drop down*/
/*.main_con_selection select {float:right; width:148px; margin: 6px 0 6px 10px;}*/

.quote_discount_label {background:#c73880; color:#ffffff; font-size:16px; padding: 0; margin: 0 0 0 10px; font-family: 'Arial Rounded MT Bold', 'Nunito', Arial, sans-serif; float:left;}
.quote_discount_label::before, .quote_discount_label::after {display:inline-block;position:relative; height:31px; vertical-align:middle;}
.quote_discount_label::before {content: url(../images/pink_tail_left.png); width:12px; right:12px;}
.quote_discount_label::after {content: url(../images/pink_arrow_right.png); width:15px; left:15px;}



/* Footer */
#footer_wrapper {background:#ffffff; width:100%; float:left; font-size:14px;}
#footer_wrap {width:1000px; margin:0 auto; padding:24px 0; color:#888888; overflow: hidden;}
.footer_cont {width:49%;}
.footer_cont p {margin:0 0 10px 0;}
.footer_cont.right {text-align:right;}
ul.footer_nav {list-style:none; /**margin:42px 0 0 0;**/}
ul.footer_nav li {margin:0 0 0 20px;display:inline; }
ul.footer_nav li a {color:inherit;}
#footer_copyright {background:#eeeeee; color:#333333; text-align:center; padding:14px 0;}



/*Appvalley extra css*/
/*General styling options for general use across all pages*/
.use_cursor_pointer{
    cursor:pointer;     /*Use the mouse hand icon*/
}

.use_cursor_pointer:disabled{
    cursor:default;     /*Use the default mouse icon*/
}


/* For plan page accordion */
button.plan_accordion_button {
    background: url(../images/black_arrow_right.png) 62% 50% no-repeat;
    font-size: 14px ;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.plan_accordion_button.active, button.plan_accordion_button:hover {
    background-color: #ddd;
    background-image: url(../images/black_arrow_down.png) ;
}

.plan_accordion_body {
	padding: 0 10px;
	/*  background-color: white;*/
    display: none;  	/* hidden by default */
    text-align: left;
}

.plan_accordion_body.unhide {
	display: block !important ;   /* Must display the accordion regardless */
}

ul.plans_list li {
   /* This is already implemented in the designer css, but we need to add extra options to 
   override bootstrap defaults.*/
   box-sizing: content-box ;
   -webkit-box-sizing: content-box ;
   -moz-box-sizing: content-box ;

}


/* For Signup page 05 general styling */

h2.inner_title span.unbold{
    font-weight: normal ;
}

.download_pdf_btn {
    background: url(../images/black_arrow_down.png) right center no-repeat;
    padding-right: 15px;
    font-weight: normal;
}

.plan .signup_section{
    width:100% ;
}

.signup_section .signup_table{
    width:98% ;
}

.signup_section .signup_btn{
    width: 155%;
    margin: 10px auto;
    margin-bottom: 40px ;
    font-size: 20px;
    text-align: center;
}

.signup_section .login_btn{
    background-color: rgb(221, 221, 221) ;
    margin: 10px auto;
    margin-bottom: 40px ;
    font-size: 20px;
    width: 50%;
    text-align: center ;
}

.signup_section .back_btn{
    text-align: center;
    width:400px;
}

.signup_section .textfield{
    height: 58px;
    font-size: 20px;
    margin-bottom: 10px;
}

.signup_section .textfield.password_field{
    width:93% ;
    padding-left: 18px ;
    padding-right: 18px ;
}

.signup_section .textfield.retype_field{
    padding-left: 18px ;
}

.signup_section .textfield.email_field{
    width:100% ;
    padding-left: 18px ;
    padding-right: 18px ;
}

.signup_section .textfield.force_include_padding_border{
    /* settings below force the text-field to keep its size. It will create the illusion
      of padding the internals */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



/* For health declaration additional pages page 13 general styling */

.inner_content_wrap {
    background-color: white; 

    padding-top: 45px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 55px;

    margin-bottom:55px ;

    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: rgb(111, 69, 153) ;       /* #6f4599; */
}

.inner_title_progress_wrap {


}

.health_form_structure {
    background-color: #f4f4f4 ; 

    margin-top:10px ;
    margin-bottom:25px ;
}

.health_form_title {
    background-color: rgb(159, 209, 122) ;
    color: white ;
    text-align: center;
    padding-top: 15px ;
    padding-bottom: 15px ;

}

.health_progress_bar {
    float: right;
    right: 38%;
    position: relative;
    text-align: left;
    margin-bottom: 25px;

}

.health_form_content {
    background-color: rgb(245, 245, 245) ;
    padding-top: 20px ;
    padding-bottom: 20px ;
}

.custom_row_table {
    margin: 25px auto ;
    width: 90% ;
    background-color: white ;

}

/* select only the class custom_internal_table that is descendant of class row_table */
.custom_row_table .custom_internal_table_title {
    width: 100% ;
    min-height: 100px ;
    border:1px solid black ;
    padding: 10px ;
    padding-top: 1.15em ;
    text-align: center ;
    text-decoration: none ;
    font-size: 24px ;
}

.custom_row_table .custom_internal_table {
    width: 100% ;
    min-height: 100px ;
    border:1px solid black ;
    padding: 10px ;
}

.custom_row_table .remove_top_border {
    border-top-style: none ;
}

.custom_row_table .remove_left_border {
    border-left-style: none ;
}

/*.custom_row_table .clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.custom_row_table .clearfix { display: inline-block; }

* html .clearfix { height: 1%; }
.custom_row_table .clearfix { display: block; }
*/

/*.custom_row_table .table_clearfix {
    overflow: auto ;

}
*/

.custom_row_table.set_flex_parent {
    /*Set the display to flexbox. The rest should be default*/
    display: -ms-flexbox;      /* Middle - IE 10 */
    /*display: -webkit-box ;      OLD - Chrome 4 - ?? */
    display: -webkit-flex;     /* NEW - Chrome 17 - ?? */
    /*-webkit-box-lines: multiple ;    OLD - Chrome 4 - ?? */
    -webkit-flex-wrap: wrap ;       /* NEW - Chrome 17 - ?? */
    -ms-flex-wrap: wrap ;

    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
}
.custom_row_table .set_flex_child {
   /* -webkit-box-flex: 1.0 ;*/
    -webkit-flex:1 auto ;
    -ms-flex: 1 auto ;

    flex: 1 auto ;

}

.custom_row_table .set_internal_table_50width {
    width: 50% ;
}

.custom_row_table .set_internal_table_20width {
    width: 20% ;
}

.custom_row_table .set_internal_table_40width {
    width: 40% ;
}

.custom_row_table .set_internal_table_35width {
    width: 35% ;
}

.custom_row_table .set_internal_table_65width {
    width: 65% ;
}

.custom_row_table .set_internal_table_60width {
    width: 60% ;
}

.custom_row_table .set_internal_table_16width{
    width: 16% ;
}

.custom_row_table .set_internal_table_32width{
    width: 32% ;
}

.custom_row_table .set_internal_table_33width{
    width: 33% ;
}

.custom_row_table .set_internal_table_30width{
    width: 30% ;
}

.custom_row_table .custom_combo_box{
    border: 8px solid transparent;
    background: url(../images/black_arrow_down.png) 100% 75% no-repeat;
    text-align: left;
    padding: 20px 10px 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: -28px;
}

.custom_row_table .center_element{
    margin-top: 31px ;
    text-align: center ;
}

.custom_row_table .textarea_grey_border{
    border-color: rgb(221, 221, 221) ;
    width:97%;
}

/* Ellipses are a css trick to artificially shorten a select's option length and append ... to the end*/
.custom_row_table .custom_combo_box.accomodate_ellipses{
    padding: 20px 37px 5px 10px;
}

.custom_row_table .ellipses{
    position: absolute;
    margin-top: 6px;
    margin-left: -45px;
    cursor: default;
    font-size: 20px;
}

/* End of ellipses corner*/

/*specific customization goes here*/
.custom_row_table .custom_combo_box.set_month_field_padding{
    padding: 20px 5px 5px 0px;
}

.custom_row_table .custom_combo_box.accomodate_ellipses.ellipses_reduce_padding{
    padding: 20px 30px 5px 5px;
}

.custom_row_table .ellipses.shift_to_right{
    margin-left: -38px;
}

/*End of specific customization goes here*/

.custom_row_table .validation_message_pop_box{
    background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 20px;
    position: absolute;
    padding: 1px;
    margin-top: -25px;
    color: #C71919;
}

.custom_row_table .validation_message_pop_box.shift_to_below{
    margin-top: 5px;
}


.custom_row_table .validation_message_pop_box:after {
    /*This dictates the artificial arrow for the error box*/
    content: "";
    position: absolute;
    top: -8px;
    left: 45px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.custom_row_table .validation_message_textarea_pop_box{
    background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 20px;
    position: absolute;
    padding: 1px;
    margin-top: 67px;
    margin-left: -350px;
    color: #C71919;

}

.custom_row_table .validation_message_textarea_pop_box.shift_to_below{
    margin-top: 81px;
}

.custom_row_table .shift_to_way_below_medical_institute_specific{
    margin-top: 100px;
}

.custom_row_table .validation_message_textarea_pop_box.shift_to_center_below{
    margin-top: 81px;
    margin-left: -485px;
}
.custom_row_table .validation_message_textarea_pop_box.shift_to_right_textarea{
    margin-left: -312px ;
}

.custom_row_table .validation_message_textarea_pop_box:after {
    /*This dictates the artificial arrow for the error box for textarea*/
    content: "";
    position: absolute;
    top: -8px;
    left: 45px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}


/* Disable all possible angular default decoration.
 * This is a fix for the Mozilla Firefox browser which was constantly popping up angular
 * red outlines every time an invalid appears
 */
.custom_row_table .ng-invalid{
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow:none;
}

.custom_row_table .ng-dirty {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow:none;
}


select.set_max_width_90 {
    max-width: 90% ;
}

.set_text_align_center {
    text-align: center;
}

/*Caution - Unless required to be more specific, this grey-color behaviour will apply to all disabled select*/
select[disabled]
{
    color : #BBBBBB;
    background-color: #DBDBDB;
} 

.validation_error_display_message {
    color : red ;
}


/*Mozilla only fix in order to left align all labels under option tags*/
@-moz-document url-prefix() {

    option {
        text-align: -moz-left;
        border-right: 0.5px solid #6c6c6c;
    }

    /*The sub-titles of optgroup in the option list*/
    optgroup {
        text-align: -moz-left;
        border-right: 0.5px solid #6c6c6c;
    }

    /*The children of optgroup tags*/
    optgroup > option {
        margin-left : 15px ;
    }

}







/* For health declaration additional page 14 extras */

.custom_row_table.removeBackgroundColor{
     background-color: transparent ;
}

.custom_row_table .split_table_width_49{
    width: 49% ;
    background-color: white ;
}

.custom_row_table .split_table_margin_left{
    margin-left: 1%;
}

.custom_row_table .split_table_margin_right{
    margin-right: 1%;
}


/*This tiny section is a stray for the small_personal_info_box template. */
.edit_cta.change_cursor_to_pointer{
    cursor: pointer ;
}



/**Added by Parvin**/

.page_age_textbox{
    color: #fff;
    padding: 20px 15px 5px 10px;
    font-size: 30px;
    width: 80%;
    background: url(../images/beige_arrow_down.png) 99% 50% no-repeat;
    border: none;
    border-bottom: 2px solid #f7d9bf;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-appearance: none;
	border-radius: 0;
    box-sizing: border-box;
    text-align: center;
    line-height: px;
    vertical-align: middle;
    padding-bottom: -10px;
	cursor:pointer;
	
}
.page_textbox_heigt_weight{
    border: 8px solid transparent;
    border-image-source: url(../images/border1.png);
    border-image-repeat: round;
    border-image-slice: 24;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    padding: 20px 0px 5px 0px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    line-height: px;
    vertical-align: middle;
    padding-bottom: -10px;
    position: relative;
    top: -20px;
    color: black;
    /* padding-right: 40px; */
    width: 115px;
}

.page_textbox{
    border: 8px solid transparent;
    border-image-source: url(../images/border1.png);
    border-image-repeat: round;
    border-image-slice: 24;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    padding: 20px 15px 5px 10px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    line-height: px;
    vertical-align: middle;
    padding-bottom: -10px;
    position: relative;
    top: -28px;
	color:black;
	padding-right: 38px;
	
}
.text_box_smoke_nonsmoke{
	width: 220px;
}
.page_textbox_oijobs{
    border: 8px solid transparent;
    border-image-source: url(../images/border1.png);
    border-image-repeat: round;
    border-image-slice: 24;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    padding: 20px 15px 5px 10px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    line-height: px;
    vertical-align: middle;
    padding-bottom: -10px;
    position: relative;
    top: -28px;
	color:black;
	padding-right: 61px;
}
.page_option_box{
    color: #fff;
    padding: 20px 15px 5px 10px;
    font-size: 30px;
    background: url(../images/beige_arrow_down.png) 99% 50% no-repeat;
    border: none;
    border-bottom: 2px solid #f7d9bf;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    line-height: px;
    vertical-align: middle;
    padding-bottom: -10px;
	width: 90%;

}

.page_option_box select, .page_option_box option {
	margin: 40px;
    background: rgb(255, 255, 255);
    color: #397AB7;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    font-size: 22px;
    padding: 6px 10px;
}

select  {
	/*for firefox*/
	-moz-appearance: none;
	/*for chrome*/
	-webkit-appearance:none;
	outline:none;
}

/*for IE10*/
select::-ms-expand  {
    display: none;
}

.male-datepicker{
	position: absolute;
    margin-top: -150px;
    /* z-index: 999; */
    margin-left: -150px;
	
}

.female-datepicker{
	position: absolute;
    margin-top: -150px;
    /* z-index: 999; */
    margin-left: -150px;
	
}

.female-datepicker span,.male-datepicker span{
	font-size: 13px !important;
	
}
label {
	
	font-weight: normal!important;
}

.form_backdrop {
    min-height: 20px;
    padding: 25px 50px 50px 50px;
    margin-bottom: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    border-top: 7px solid #6E4598;
}
.payment_table, .Acknowledgement_table, .Quatation-table, .Personal-detail-table {
	/**margin-bottom: -4px;**/
	margin-left:auto; 
    margin-right:auto;
	text-align:center;
	
}
.payment_table, .Acknowledgement_table, .Quatation-table, .Personal-detail-table .table  th, .table td , .table tbody{ 
	border-top: none !important; 
	padding: 8px 0px 8px 0px !important;
}

.payment_table, .Acknowledgement_table, .Quatation-table, .Personal-detail-table span{
	font-size: 13px !important;
	
}
.Occupation_table span{
    font-size: 24px !important;
    /**color: #909090 !important;**/
	
}
.payment_table, .Acknowledgement_table, .Quatation-table, .Personal-detail-table h2 {
	font-family: 'Arial Rounded MT Bold', 'Nunito', Arial, sans-serif !important;
	/**'Arial Rounded MT Bold', 'Nunito', Arial, sans-serif;**/
	font-weight: 600;
}

.Personal-detail-table .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #6E4598;
    font-size: 20px;
    margin-top: -4px;
}
.Acknowledgement_table{
	
	
}
.Quatation-table, .Personal-detail-table  select{
	background: url(../images/black_arrow_down.png) 99% 75% no-repeat;
	
} 
.Occupation_table select {
		margin-top:0px;
		width: 375px;
	}
.birthday_textbox {
    width: 273px;
}

.purple_btn {
    
    color: #ffffff !important;;
    /* font-size: 22px; */
    margin-top: 100px !important;
}

.left_btn_icon{
	background: #6E4598 url(../images/white_arrow_left.png) 3% 50% no-repeat;
	padding-left: 40px;
}
.right_btn_icon{
	background: #6E4598 url(../images/white_arrow_right.png) 95% 50% no-repeat;
	padding-right: 40px;
}
.white_btn {
    background: url(../images/black_arrow_left.png) 10% 50% no-repeat;
    color: #333333 !important;
    /* font-size: 22px; */
    margin-top: 100px !important;
	padding: 8px 30px 8px 25px !important;
}
.purple_btn a {
    color: #ffffff !important;;
    text-decoration: none;
}

.purple_btn a:hover {
	color: #ffffff !important;
	text-decoration:none; 
	cursor:pointer;
}

.white_red_btn {
    background: #dddddd;
    color: #c3377e !important;
    /* font-size: 22px; */
    margin-top: 100px !important;
}

.white_pink_btn{
    background: #c83880;
    color: #FFFFFF !important;
    /* font-size: 22px; */
    margin-top: 100px !important;
}

.white_pink_btn  .glyphicon{
	color: #FFFFFF;
    font-size: 13px;
	
}
/* enable absolute positioning */
.inner-addon {
	position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
	position: absolute;
	padding: 10px;
	cursor: pointer;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #989898;
	font-style: italic;
	
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #989898;
	opacity:  1;
	font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #989898;
	opacity:  1;
	font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    #989898;
	font-style: italic;
}
:placeholder-shown { 
	color:    #989898;
	font-style: italic;
}

.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #6E4598 !important;
    border-color: #FFFFFF !important;
}

.dropdown-menu{
	
	border: 3px solid #6e4598 !important;
	outline:none !important;
	box-shadow: 0px 5px 5px rgb(0, 0, 0) !important;
}


/*quarter progress bar*/
.circular_progress {
	position: absolute;
    margin-left: 0px;
    /*width: 350px;*/
    /*height: 350px;*/
}

/*quarter progress bar*/


.shadow_for_progress{
	 box-shadow: 1px 3px 5px #888888;
	 }   

.app_prog .personal_detail_appli_prog{
    height: 50px;
    color: black;
    background-color: #779BBC;
    border: 3px solid #dddddf !important;
    cursor: pointer;
}
.personal_detail_appli_prog .link_title{
	float: left;
    padding-left: 20px;
    padding-top: 8px;
    color: white;
	
}
.personal_detail_appli_prog .link_edit_pencil{
	float: right;
    padding-right: 20px;
    padding-top: 8px;
	color: white;
	font-size: 13px;
}
.personal_detail_appli_prog .link_edit_arrow{
	float: right;
    padding-right: 20px;
    padding-top: 10px;
	color: white;
	font-size: 20px;
}

.personal_detail_appli_prog .link_checkbox{
    float: right;
    padding-right: 20px;
    padding-top: 13px;
    color: white;
    font-size: 15px;
}
.personal_detail_appli_prog{
   height: 50px;
    color: white;
    background-color: #779BBD;
}
/**CSS for Personal Detail Information Edit Button**/
.app_prog .personal_detail_appli_prog_edit{
	height: 50px;
    color: white !important;
    background-color: #779BBC;
	border: 3px solid #dddddf !important;
	cursor: pointer;
	
}

.personal_detail_appli_prog_edit .link_title{
	float: left;
    padding-left: 20px;
    padding-top: 8px;
	
}

.personal_detail_appli_prog_edit .link_edit_pencil{
	float: right;
    padding-right: 20px;
    padding-top: 8px;
	font-size: 13px;
	color: white !important;
}
.personal_detail_appli_prog_edit .link_edit_arrow{
	float: right;
    padding-right: 20px;
    padding-top: 10px;
	color: white;
	font-size: 20px;
}
/**CSS for Occupation Information link Button**/
.app_prog  .Occupation_Info_appli_prog{
	height: 50px;
    color: white;
    background-color: #E39191;
	border: 3px solid #dddddf !important;
	cursor: pointer;
}
.Occupation_Info_appli_prog .link_title{
	float: left;
    padding-left: 20px;
    padding-top: 8px;
    color: white;
	
}
.Occupation_Info_appli_prog .link_icon{
    float: right;
    padding-right: 20px;
    padding-top: 13px;
    color: white;
    font-size: 15px;
}
/**CSS for Occupation Information disabled link Button**/
.app_prog  .Occupation_Info_appli_prog_disabled{
	height: 50px;
    color: white;
    background-color: #FFFFFF;
	border: 3px solid #dddddf !important;
	cursor: pointer;
}
.Occupation_Info_appli_prog_disabled .link_title{
	float: left;
    padding-left: 20px;
    padding-top: 8px;
	color:black;
	
}
.Occupation_Info_appli_prog_disabled .link_icon{
	float: right;
    padding-right: 20px;
    padding-top: 13px;
	color: black;
	font-size: 15px;
}
/**CSS for Occupation Information Edit Button**/
.app_prog .Occupation_Info_appli_prog_edit{
	height: 50px;
    color: white !important;
    background-color: #E39291;
	border: 3px solid #dddddf !important;
	cursor: pointer;
	
}

.Occupation_Info_appli_prog_edit .link_title{
	float: left;
    padding-left: 20px;
    padding-top: 8px;
	
}

.Occupation_Info_appli_prog_edit .link_edit_pencil{
	float: right;
    padding-right: 20px;
    padding-top: 8px;
	font-size: 13px;
	color: white !important;
}
.Occupation_Info_appli_prog_edit .link_edit_arrow{
	float: right;
    padding-right: 20px;
    padding-top: 10px;
	color: white;
	font-size: 20px;
}

/**CSS for Health Declaration link Button**/
.app_prog  .Health_Dec_appli_prog{
	height: 50px;
    color: white;
    background-color: #9FD07A;
    border: 3px solid #dddddf !important;
    cursor: pointer;
}
.Health_Dec_appli_prog .link_title{
	float: left;
    padding-left: 20px;
    padding-top: 8px;
    color: white;
	
}
.Health_Dec_appli_prog .link_icon{
    float: right;
    padding-right: 20px;
    padding-top: 13px;
    color: white;
    font-size: 15px;
}
/**CSS for Health Declaration disabled link Button**/
.app_prog  .Health_Dec_appli_prog_disabled{
	height: 50px;
    color: white;
    background-color: #FFFFFF;
	border: 3px solid #dddddf !important;
	cursor: pointer;
}
.Health_Dec_appli_prog_disabled .link_title{
	float: left;
    padding-left: 20px;
    padding-top: 8px;
	color:black;
	
}
.Health_Dec_appli_prog_disabled .link_icon{
	float: right;
    padding-right: 20px;
    padding-top: 13px;
	color: black;
	font-size: 15px;
}
/**CSS for Occupation Information Edit Button**/
.app_prog .Health_Dec_appli_prog_edit{
	height: 50px;
    color: white !important;
    background-color: #9FD07A;
	border: 3px solid #dddddf !important;
	cursor: pointer;
}

.Health_Dec_appli_prog_edit .link_title{
	float: left;
    padding-left: 20px;
    padding-top: 8px;
	
}

.Health_Dec_appli_prog_edit .link_edit_pencil{
	float: right;
    padding-right: 20px;
    padding-top: 8px;
	font-size: 13px;
	color: white !important;
}

.Health_Dec_appli_prog_edit .link_edit_arrow{
	float: right;
    padding-right: 20px;
    padding-top: 10px;
	color: white;
	font-size: 20px;
}

/**CSS for Documentative link Button**/
.app_prog  .Documentative_appli_prog{
	height: 50px;
    color: white;
    background-color: #E9C684;
	border: 3px solid #dddddf !important;
	cursor: pointer;
}
.Documentative_appli_prog .link_title{
    float: left;
    padding-left: 20px;
    padding-top: 8px;
    color: white
	
}
.Documentative_appli_prog .link_icon{
    float: right;
    padding-right: 20px;
    padding-top: 13px;
    color: white;
    font-size: 15px;
}

/**CSS for Documentative disabled link Button**/
.app_prog  .Documentative_appli_prog_disabled{
    height: 50px;
    color: white;
    background-color: #FFFFFF;
    border: 3px solid #dddddf !important;
    cursor: pointer;
}
.Documentative_appli_prog_disabled .link_title{
	float: left;
    padding-left: 20px;
    padding-top: 8px;
	color:black;
	
}
.Documentative_appli_prog_disabled .link_icon{
	float: right;
    padding-right: 20px;
    padding-top: 13px;
	color: black;
	font-size: 15px;
}

/**CSS for Documentative Edit Button**/
.app_prog .Documentative_appli_prog_edit{
	height: 50px;
    color: white !important;
    background-color: #E9C684;
	border: 3px solid #dddddf !important;
	cursor: pointer;
	
}

.Documentative_appli_prog_edit .link_title{
	float: left;
    padding-left: 20px;
    padding-top: 8px;
	
}

.Documentative_appli_prog_edit .link_edit_pencil{
	float: right;
    padding-right: 20px;
    padding-top: 8px;
	font-size: 13px;
	color: white !important;
}

.Documentative_appli_prog_edit .link_edit_arrow{
	float: right;
    padding-right: 20px;
    padding-top: 10px;
	color: white;
	font-size: 20px;
}
.age_landing_alert_box{
    background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 15px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: 5px;
    color: #C71919;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -35px;
}

.age_landing_alert_box:after {
    content: "";
    position: absolute;
    top: -5px;
    left: 65px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.smoke_landing_alert_box{
    background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 12px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -6px;
    color: #C71919;
	left:140px;
}

.smoke_landing_alert_box:after {
    content: "";
    position: absolute;
    top: -5px;
    left: 45px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.name_PD_alert_box{
    background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -20px;
    margin-left: 450px;
    color: #C71919;
    /*left: 670px;*/
    padding: 5px;
}

.name_PD_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 65px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.BirthDate_PD_alert_box{
    background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -20px;
    color: #C71919;
    left: 540px;
    padding: 5px;
}

.BirthDate_PD_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.gender_PD_alert_box{
    background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -20px;
    margin-left: 640px;
    color: #C71919;
    /*left: 890px;*/
    padding: 5px;
}

.gender_PD_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.email_PD_alert_box{
    background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -20px;
    color: #C71919;
    left: 690px;
    padding: 5px;
}

.email_PD_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.postalcode_PD_alert_box{
    background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -20px;
    margin-left: 240px ;
    color: #C71919;
    /*left: 40%;*/
    padding: 5px;
}

.postalcode_PD_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.perfecture_PD_alert_box{
	background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -20px;
    margin-left: 540px;
    color: #C71919;
    /*left: 56%;*/
    padding: 5px;
}

.perfecture_PD_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.city_PD_alert_box{
	background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -20px;
    margin-left: 80px;
    color: #C71919;
   /* left: 22%;*/
    padding: 5px;
}

.city_PD_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.BlockNo_PD_alert_box{
	background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -20px;
    margin-left: 360px;
    color: #C71919;
    /*left: 44%;*/
    padding: 5px;
}

.BlockNo_PD_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.ContactNum_PD_alert_box{
	background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -20px;
    margin-left: 600px;
    color: #C71919;
    /*left: 58%;*/
    padding: 5px;
}

.ContactNum_PD_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.industry_OI_alert_box{
	background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -20px;
    margin-left: 400px ;
    color: #C71919;
    /*left: 630px;*/
    padding: 5px;
}

.industry_OI_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}
.industryOthers_OI_alert_box{
	background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -20px;
    margin-left: 600px;
    color: #C71919;
    /*left: 800px;*/
    padding: 5px;
}

.industryOthers_OI_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.job_OI_alert_box{
	background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -20px;
    margin-left: 280px;
    color: #C71919;
   /* left: 510px;*/
    padding: 5px;
}

.job_OI_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.jobOthers_OI_alert_box{
	background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -20px;
    margin-left: 460px;
    color: #C71919;
    /*left: 700px;*/
    padding: 5px;
}

.jobOthers_OI_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.fieldOthers_OI_alert_box{
	background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -20px;
    margin-left: 600px;
    color: #C71919;
    /*left: 840px;*/
    padding: 5px;
}

.fieldOthers_OI_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.CompanyName_OI_alert_box{
	background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -20px;
    color: #C71919;
    left: 400px;
    padding: 5px;
}

.CompanyName_OI_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}
.PositionTitle_OI_alert_box{
	background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -20px;
    color: #C71919;
    left: 820px;
    padding: 5px;
}
.PositionTitle_OI_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}
.field_OI_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.field_OI_alert_box{
	background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -20px;
    margin-left: 400px ;
    color: #C71919;
    /*left: 620px;*/
    padding: 5px;
}

.height_HD_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.height_HD_alert_box{
	background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -15px;
    margin-left: 270px;
    color: #C71919;
    /*left: 495px;*/
    padding: 5px;
}

.weight_HD_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.weight_HD_alert_box{
	background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -15px;
    margin-left: 560px;
    color: #C71919;
    /*left: 780px;*/
    padding: 5px;
}

.SmokeStatus_HD_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.SmokeStatus_HD_alert_box{
	background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: -20px;
    color: #C71919;
    left: 590px;
    padding: 5px;
}

.Disease_Cancer_HD_alert_box:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 80px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.Disease_Cancer_HD_alert_box{
    background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 17px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: 200px;
    margin-left: 300px ;
    color: #C71919;
    /*left: 540px;*/
    padding: 5px;
}


.homepage_header{display:none;}

.homepage_button{
	padding-top: 15%;
	
}
 .home_button{
	border: 4px solid #FFFFFF;
    background: #6E4598 90% 50% no-repeat;
    font-size: 50px;
    font-family: 'Arial Rounded MT Bold', 'Nunito', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    padding: 20px;
	box-shadow: 1px 3px 5px #888888;
 }
 .overflow_text_OIindustry{
    position: absolute;
    margin-top: 1px;
    /* float: right; */
    margin-left: -50px;
	cursor:default;
	 }

.overflow_text_OIjob{
    position: absolute;
    margin-top: 1px;
    /* float: right; */
    margin-left: -61px;
	cursor:default;
	 }
/*Dicky*/
h3.content_center_title {color:white; font-size:36px; margin:0 0 30px 0;text-align:center;}
/*.personal_doll_big_thumb { float:right; width: 208px; height:208px; }*/
.quotation_summary_male { background-image: url(../images/doll_male_smallThumb.png); float:right; width: 196px; height:196px; }
.quotation_summary_female { background-image: url(../images/doll_female_smallThumb.png); float:right; width: 196px; height:196px; }
.quotation_summary { background:#ffffff; padding:0px 34px 34px 34px; border-top:10px solid #6e4598; }
.quotation_summary_top_wrapper { margin:0 auto; overflow:hidden; }
.quotation_summary_top { float:left; width:228px; height:108px; background: #6e4598; border-bottom-right-radius:5px; border-bottom-left-radius:5px; padding-top:0; }
.quotation_summary_date_col { float:right; width:330px; height:108px; color:#6e4598; padding:15px 0 0; }
.quotation_summary_date_col p { word-wrap:normal; margin: 40px 0 5px 3px; text-align:right; line-height: 150%; }
.quotation_summary_date_col p span { display: block; font-size:18px;}
.quotation_info { width:50%; border:1px solid #dedcdd; }
.quotation_info_content_box { padding:25px; overflow: hidden; background:#fffbe8; height:100px; }
.quotation_info_content_box p { word-wrap:normal; margin: 0px 0 5px 0px; line-height: 100%; }
.quotation_info_content_box p span { display: block; }
.one_third_content_box { width: 33.33333333%; overflow: hidden; min-height:101px; padding: 0 0 0; }
.quotation_summary_box, .quotation_tnc_box { margin:30px 0 0 0; }
.quotation_tnc_box p { padding:10px; font-size:14px; line-height: 150%; background:#e9e9e9; }
.quotation_summary_table { width:100%; }
	.quotation_summary_table th.quote_col1 { width:50%; }
	.quotation_summary_table th.quote_col2 { width:50%; }
	.quotation_summary_table td { font-size:22px; }
	.td_benefit { vertical-align:bottom; }
	.div_benefit { height:38px; background:#e9e9e9; vertical-align:bottom; }
	.div_benefit > span { font-family: Arial, Helvetica, sans-serif; color:#333333; font-size:20px; height:38px; line-height:38px; }
	.div_surgery { height:50px; background:#e9e9e9; vertical-align:bottom; }
	.div_surgery > span { font-family: Arial, Helvetica, sans-serif; color:#333333; font-size:20px; height:50px;  } 
.summary_checkbox { background:url(../images/purple_tick.png) left center no-repeat; float: left; font-size:22px; padding: 5px 20px 5px 30px; }
.summary_duration { width: 82.30%; margin: 0 auto; padding:70px 0 30px 0; }
.circle_age { width:70px; height:70px; -moz-border-radius: 35px; border-radius:35px; font-size:30px; color:#fff; line-height:70px; text-align:center; background:#3c86c7; }
.circle_age_lifetime  { width:70px; height:70px; -moz-border-radius: 35px; border-radius:35px; font-size:17px; color:#fff; line-height:70px; text-align:center; background:#3c86c7; }
.image_dot_left { width:31.3316%; height:70px; background:url(../images/black_dot_left.png) left center repeat-x; }
.image_dot_right { width:32.550%; height:70px; background:url(../images/black_dot_right.png) left center repeat-x; }
.word_payment { width:17.7546%; height:70px; text-align:center; }
.word_payment > span { font-size:30px; font-weight:bold; line-height:70px; }
.word_years_old { width:9.7911%; height:23px; text-align:center; }
.word_years_old > span { font-size:17px; font-weight:bold; color:#3c86c7; }
.payment_summary_table th { width:100%; color:#ba0049; font-size:24px; }
.payment_summary_table td { border-right:1px solid #dddddd; line-height: 150%; padding:10px 20px 10px; }
.payment_summary_table td.big_text { font-size: 24px; }
.payment_summary_table td.small_text { font-size: 14px; }
.quotation_summary_content_table th.quote_col1 { width:22%; border-right:1px solid #dddddd; }
.quotation_summary_content_table th.quote_col2, .quote_col3, .quote_col4, .quote_col5, .quote_col6, .quote_col7 { width:13%; border-right:1px solid #dddddd; }
.quotation_summary_content_table td { border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; line-height:125%; padding:10px; }
.quotation_summary_content_table td.title { border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; line-height:125%; padding:10px 30px 10px 20px; }
h3.quotation_summary_purple_bg_title {background:#6e4598; color:#ffffff; font-size:24px; text-align:center; padding: 10px 25px;}
h3.quotation_summary_purple_bg_title > span {color:#ffffff; font-size:24px; }
.logo_icon_big { background-image: url(../images/logo_icon_big.png); float:right; width: 184px; height:184px; }
h2.ack_inner_title {font-size:40px; line-height:40px;}
h2.ack_inner_title span {font-size:22px; clear:both; display:block;} 
h3.ack_step_title {font-size:18px; line-height:34px;}
.acknowledgement_num_col { float:left; width:360px; height:108px; color:#6e4598; padding:15px 0 0; }
.acknowledgement_num_col p { word-wrap:normal; margin: 40px 0 5px 80px; text-align:left; line-height: 150%; }
.acknowledgement_num_col p span { display: block; font-size:18px;}
.acknowledgement_date_table { margin:20px 0 0 0; }
.acknowledgement_date_table td { width:33.33333333%; border-right:1px solid #dddddd; line-height: 150%; padding:10px 20px 10px; }
.acknowledgement_date_table td span { color:#aaaaaa; }
.acknowledgement_holder_table { margin:20px 0 0 0; background:#fffbe8; }
.acknowledgement_holder_table td {line-height: 200%; padding:15px; }
.acknowledgement_holder_table td.normal { width:16.66666667%; }
.acknowledgement_holder_table td.small { width:13%; }
.acknowledgement_holder_table td.smaller { width:10%; }
.acknowledgement_holder_table td.title { width:18%; border-right:1px solid #dddddd; }
.acknowledgement_holder_table td.insurer { width:18%; border-right:1px solid #dddddd; line-height: 150%; padding:0 0 0 15px; border-top:1px solid #dddddd;}
.acknowledgement_holder_table td.add_top_border { border-top: 1px solid #dddddd }
.acknowledgement_holder_table td.aboutpolicy { border-right:1px solid #dddddd; line-height: 150%; padding:0 0 0 15px; border-top:1px solid #dddddd;}
h3.contract_content_title {color:#6e4598; font-size:32px; margin:0;}
.contract_content { margin:60px 0 0 0; }
.contract_content_table { margin:0; }
.contract_content_table td { vertical-align:top; }
.contract_content_table td.left_td { width:35%; padding:20px 15px; }
.contract_content_table td.right_td { width:65%; border-left:1px solid #dddddd; padding:0px; }
.contract_content_table td.right_td_empty { width:65%; padding:0px; }
.contract_content_table_left_div_wrapper { width:100%; }
.contract_content_table_left_div_wrap { width:100%; margin:15px 0 15px 0;}
.contract_content_table_left_div_left { width:55%; padding-bottom:10px; }
.contract_content_table_left_div_right { width:45%; }
h3.confirmation_content_title {color:#6e4598; font-size:32px; margin:0;}
.confirmation_content { margin:60px 0 0 0; }
.confirmation_content_table { margin:0; }
.confirmation_content_table td { vertical-align:top; }
.confirmation_content_table td.left_td { width:35%; padding:20px 15px; }
.confirmation_content_table td.right_td { width:65%; border-left:1px solid #dddddd; padding:0px; }
.confirmation_content_table td.right_td_empty { width:65%; padding:0px; }
.confirmation_content_table_left_div_wrapper { width:100%; }
.confirmation_content_table_left_div_wrap { width:100%; margin:15px 0 15px 0;}
.confirmation_content_table_left_div_left { width:55%; }
.confirmation_content_table_left_div_right { width:45%; }
.confirmation_content_table_left_div_right span { line-height:60px; }
.acknowledgement_contract_content_table th { border-bottom:1px solid #dddddd; padding:20px 10px;}
.acknowledgement_contract_content_table th.title { width:50%; }
.acknowledgement_contract_content_table th.option { width:33.33333334%; border-left:1px solid #dddddd; text-align:center;}
.acknowledgement_contract_content_table th.premium { width:16.66666667%; border-left:1px solid #dddddd; }
.acknowledgement_contract_content_table td { border-left:1px solid #dddddd; /**padding:15px;**/ padding-top:25px; text-align:center; }
.acknowledgement_contract_content_table td.top { padding-top:50px; text-align:center; }
.acknowledgement_contract_content_table td.title { border-left:hidden; }
.acknowledgement_contract_content_table td.premium { text-align:right; }
.contract_content_table td.beneficial { border-top:1px solid #dddddd; vertical-align:top; line-height: 125%; padding-bottom:10px; }
.contract_content_table td.Annual_Monthly_Payment { border-top:1px solid #dddddd; vertical-align:top; line-height: 125%; padding-bottom:10px; text-align: right;}
.contract_content_table span.ack_payment {padding-right: 10px;text-transform: capitalize; }
.contract_content_table span.ack_inicial_payment {padding-right: 15px; text-transform: capitalize; }
.contract_content_table td.beneficial>h2{ padding:15px 0 10px 0; }
.acknowledgement_contract_content_table .tr_btm_space td { height:25px;}
.grey { color:#979797; }
.policy_acknowledgement_table { margin:20px 0; }
.policy_acknowledgement_table th { border-bottom:1px solid #dddddd; padding:15px; width:100%; text-align:left; font-size: 18px; }
.policy_acknowledgement_table td { padding-bottom:40px; }
.underwriter { height:156px;border:1px solid #dddddd; padding:90px 15px 20px 15px; line-height:150%; }
.ack_btn { 
	width:70px; 
	height:38px; 
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0; 
	margin-right:5px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #dddddd;
	background-color:#ffffff;
	color:#333333;
}
.ack_btn:focus { outline:0;}
input.ack { background-color:#333333; color:#ffffff; }
.policy_question { padding-top: 20px; padding-left: 5px; }
.policy_question > span { font-size: 18px; }
.policy_ans_btn { padding:8px 0 0 20px; }
.page_select{
	padding: 6px 10px;
	width: 100%;
	height: 30px;
	background: url(../images/black_arrow_down.png) 92% 50% no-repeat;
    display: block;
    border: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	text-decoration: none !important;
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}

.duration_ack_coverage_years {
    /* margin-left: 0px; */
    text-align: right;
    font-family: 'Arial Rounded MT Bold', 'Nunito', Arial, sans-serif;
    font-size: 20px;
    line-height: 20px;
	margin-top:20px;
}

.smoke_acknowledgement_alert_box{
    background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 16px;
    position: absolute;
    padding: 1px;
    margin-top: 10px ;
    margin-left: -10px ;
    color: #C71919;
	
}

.smoke_acknowledgement_alert_box:after {
    content: "";
    position: absolute;
    top: -5px;
    left: 45px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.smoke_quotation_alert_box{
    background: #f0df95;
    border: 1px solid #dddddd;
    font-size: 16px;
    position: absolute;
    /* display: none; */
    padding: 1px;
    margin-top: 25px;
    color: #C71919;
	left:700px;
}

.smoke_quotation_alert_box:after {
    content: "";
    position: absolute;
    top: -5px;
    left: 45px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f0df95 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

span.dollar_sign_quotation {
    font-size: 14px;
    margin: 0 0 0 4px;
}

.premium_data_align_ack{
	
margin-top:20px;
}
/*Dicky*/
