/* ==========================================================================
   Override CSS
   ========================================================================== */


/* ==========================================================================
   Layout element : Pagination
   ========================================================================== */


/*overwrite bootstrap css start ---------------------------*/

.pagination {
    margin: 20px 0;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    border-radius: 4px;
    *zoom: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
    display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
    background-color: #f5f5f5;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
    color: #999999;
    cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
    color: #999999;
    cursor: default;
    background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
    border-left-width: 1px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination-centered {
    text-align: center;
}


/*overwrite bootstrap css end ------------------------------*/


/* ==========================================================================
   Layout element : Pickadata, Footable
   ========================================================================== */


/* override bootstrap tab [s]*/

.nav.tabs {
    background-color: yellow;
}

.nav-tabs > li {
    padding-bottom: 0 !important;
}

.nav-tabs > li > a {
    margin-left: 2px;
    top: 1px;
    border: none;
}

.nav-tabs > li:first-child > a {
    margin-left: 0;
}

.nav-tabs > li > a:link {
    background: #dfdfdf;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background: red;
    color: white;
}

.nav-tabs--with-border {
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
}


/* override bootstrap tab [e]*/


/*override pickadate css [s]*/

.picker__nav--next:hover,
.picker__nav--prev:hover {
    background: none;
}

.picker__select--month,
.picker__select--year {
    height: inherit;
    min-width: 125px;
}

@media (max-width: 495px) {
    .picker__select--month,
    .picker__select--year {
        height: inherit;
        margin: auto;
        display: block;
        min-width: 125px;
    }
}


/*override pickadate css [e]*/


/***********************  Override: footable [s] ************************/

.footable {
    background: #fff;
    border-collapse: collapse;
    border-spacing: 0;
    color: #726E6D;
    border: 2px solid #ddd;
}

.footable thead tr th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    background: #ed1c24;
    color: #fff;
}

.footable > thead > tr > th,
.footable > tbody > tr > th,
.footable > tfoot > tr > th,
.footable > thead > tr > td,
.footable > tbody > tr > td,
.footable > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.footable tbody tr td {
    border-bottom: 2px solid #ddd;
}

.footable > tbody > tr:hover {
    background: #ededed;
}

.footable.breakpoint > tbody > tr.footable-row-detail {
    background: white;
}


/*align footable detail value to left hand side*/

.footable-row-detail-value {
    display: table-cell;
    text-align: left;
}


/*avoid field wrap*/

.footable--nowrap {
    white-space: nowrap;
}


/* Footable table row styling for collapsible table UI*/

.footable-row-detail-name {
    white-space: pre-line;
    width: 20%;
}

@media (max-width: 991px) {
    .footable-row-detail-name {
        width: 15%;
    }
}

@media (max-width: 767px) {
    .footable-row-detail-name {
        width: 15%;
    }
}

@media (max-width: 479px) {
    .footable-row-detail-name {
        width: 50%;
    }
}


/* added for overall footable */

.footable-row-detail-inner {
    width: 100%;
}


/*-------------- Override: footable [e] ---------*/


/* ==========================================================================
   Breadcrumb
   ========================================================================== */


/***********************  Override: breadcrum [s] ************************/

@media only screen and (max-width:985px) {
    .breadcrumb {
        display: none;
    }
}

.breadcrumb,
.breadcrumb a {
    background-color: #fff;
    color: #999999;
}

.breadcrumb > li + li:before {
    content: "> "!important;
}


/***********************  Override: breadcrum [e] ************************/


/*-------------- Override: default label [s] ---------*/

label {
    font-weight: bold!important;
}


/*-------------- Override: default label [e] ---------*/


/*-------------- Override: form control [s] ---------*/

.form-control__border-radius-none {
    border-radius: 0px;
}


/*-------------- Override: form control [e] ---------*/
