<div class="page-section__header__title font-size-20">Benefits
    <span label-tooltip
        tooltip-config="ctrl.config.benefitTooltip"
        field-name="'benefitTooltip'"
        icon="'ui-components/images/ico-help.gif'"
        ng-click="ctrl.selectTooltip($event)">
            </span> at a glance
</div>
<div>
    Benefits at a glance is provided for illustration purposes only, and should not be solely relied upon when assessing if the preduct(s) meet your needs. It is important that you read the full Policy Illustration
    <span label-tooltip
        tooltip-config="ctrl.config.policyIllustrationTooltip"
        field-name="'policyIllustration'"
        icon="'ui-components/images/ico-help.gif'"
        ng-click="ctrl.selectTooltip($event)">
    </span> 
    and Product Summary (PIPS). In the event of inconsistencies between the information in the Benefits at a glance and PIPS, the latter shall prevail.
</div>

