<div class="cka-instruction-wrapper">
    <div class="cka-instruction-wrapper__instruction">
        {{'cfo.label.ckaInstructionNote1' | translate}}
    </div>
    <div class="cka-instruction-wrapper__instruction">
        {{'cfo.label.ckaInstructionNote2' | translate}}
    </div>
    <div class="cka-instruction-wrapper__instruction">
        <span>{{'cfo.label.ckaInstructionNote3' | translate}}</span>
        <span>(<a href="http://www.moneysense.gov.sg/Understanding-Financial-Products/Investments/Guides-and-Articles/~/media/Moneysense/Guides%20and%20Articles/Guides/PDF%20Unlisted%20Specified.ashx"
            target="_blank">{{'cfo.label.ckaEnglishGuide' | translate}}</a>)</span>
        <span>(<a href="http://www.moneysense.gov.sg/Understanding-Financial-Products/Investments/Guides-and-Articles/~/media/Moneysense/Guides%20and%20Articles/Guides/PDF%20Unlisted%20Specified%20C.ashx" target="_blank">{{'cfo.label.ckaChineseGuide' | translate}}</a>)</span>
    </div>
</div>
