<div style="margin: 20px 0; font-style: italic;">
    <div>Note:</div>
    <div>-Your password should consist {{ctrl.securityPolicy.min_pswd_length}}-{{ctrl.securityPolicy.max_pswd_length}} characters
    </div>
    <div>-Your password should comprise of at least {{ctrl.securityPolicy.contain_uppercase}} uppercase character, {{ctrl.securityPolicy.contain_lowercase}} lowercase character, {{ctrl.securityPolicy.contain_number}} digit and {{ctrl.securityPolicy.contain_special_char}} special character (!@#$%^&*)
    </div>
</div>
