<div class="dashboard-tooltipPanel__content">
    <div class="tooltipSection">
        <h4 ng-if="ctrl.showCategoryTooltip === true">{{'cfo.label.tooltipHeaderCategoryMessage' | translate: ctrl.getCategoryName(ctrl.categoryTitle)}}</h4>
        <!-- <h4 ng-if="ctrl.showBenefitTooltip === true">{{'cfo.label.tooltipHeaderBenefitMessage'| translate: ctrl.getBenefitName(ctrl.benefitName)}}</h4> -->
        <h4 ng-if="ctrl.showBenefitTooltip === true && ctrl.categoryCode === 'LIFESTYLE_PROTECTION'">{{'cfo.label.lifestyleTooltipHeaderBenefitMessage'| translate: ctrl.getBenefitName(ctrl.benefitName)}}</h4>
        <h4 ng-if="ctrl.showBenefitTooltip === true && ctrl.categoryCode === 'LIFE_PROTECTION' && ctrl.specialTooltip">{{'cfo.label.lifeSpecialTooltipHeaderBenefitMessage'| translate: ctrl.getBenefitName(ctrl.benefitName)}}</h4>
        <h4 ng-if="ctrl.showBenefitTooltip === true && ctrl.categoryCode === 'LIFE_PROTECTION' && !ctrl.specialTooltip">{{'cfo.label.tooltipHeaderBenefitMessage'| translate: ctrl.getBenefitName(ctrl.benefitName)}}</h4>
        <h4 ng-if="ctrl.showBenefitTooltip === true && ctrl.categoryCode === 'HEALTH_PROTECTION'">{{'cfo.label.tooltipHeaderBenefitMessage'| translate: ctrl.getBenefitName(ctrl.benefitName)}}</h4>
        <h4 ng-if="ctrl.showBenefitTooltip === true && ctrl.categoryCode === 'PERSONAL_ACCIDENT'">{{'cfo.label.tooltipHeaderBenefitMessage'| translate: ctrl.getBenefitName(ctrl.benefitName)}}</h4>
        <h4 ng-if="ctrl.showBenefitTooltip === true && ctrl.categoryCode === 'WEALTH_ACCUMULATION'">{{'cfo.label.wealthTooltipHeaderBenefitMessage'| translate: ctrl.getBenefitName(ctrl.benefitName)}}</h4>
        <h4 ng-if="ctrl.showBenefitTooltip === true && ctrl.categoryCode === 'RETIREMENT'">{{'cfo.label.retirementTooltipHeaderBenefitMessage'| translate: ctrl.getBenefitName(ctrl.benefitName)}}</h4>
        <div class="tooltipDetails">
            <p ng-bind-html="ctrl.toolTipDetailMessage"></p>
        </div>
    </div>

</div>
<div class="dashboard-tooltipPanel__closebtn"
    ng-click="ctrl.showTooltip('close')">
    <img ng-src="{{ctrl.tooltipPanelCloseButtonIcon}}"
        width="44"
        height="44" /></div>
<img class="dashboard-tooltipPanel__imageSection"
    ng-src="{{ctrl.tooltipPanelIcon}}" />
