<span><h2>Attention:</h2><span>
<ol style="font-size:20px">
    <li>
        <h4>Individual Customer: Please provide your personal details.</h4>
    </li>
    <li>
        <h4>Corporate Administrator: Please provide your User ID.</h4>
    </li>
    <li>
        <h4>Distribution Representative: Please provide your User ID.</h4>
    </li>
</ol>
