<!-- Page Content -->
<div>
	<div  class="purple_pattern_bg landing_page">
		<div >
				<center>
				<div class="homepage_button">
				<a class="home_button purple_btn" href="#/landing">Direct Sales Channel</a>
				</div>
				</center>

		</div><!--content_wrap-->
			
	</div><!--content_wrapper-->
	
</div>	