	
<div id="main_wrapper">


	<div id="content_wrapper">
    	<div id="content_wrap">

            <div id="title_wrap">
            	<div class="title_box left">
                    <h2 class="inner_title normalize">Awesome! Unfinished Work!
                        <span>Here’s your recommended plans :</span>
                    </h2>
                </div>

                <personal-info-box> </personal-info-box>
                
    		</div><!--title_wrap-->
            
            <div class="content_box plans">
            	<div class="plans_wrapper">
                	<div class="plan left">
                    	<h3 class="purple_bg_title normalize">Medical Insurance</h3>
                        <div class="plan_content_box">
                        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,Neque porro quisquam.</p>
                            <ul class="plans_list">
                            	<li>Neque porro quisquam</li>
                            	<li>Neque porro quisquam</li>
                            	<li>Neque porro quisquam</li>
                            	<li>Neque porro quisquam</li>
                            </ul>
                            <div class="plans_price_tag"><span class="price_pop">{{medicalInsurancePriceYen | currency:"¥" : 0}}</span> / month</div>
                            <div class="plans_details">
                            	<span>
                                    <button class='plan_accordion_button'> More details </button>
                                    <div class='plan_accordion_body'>
                                        <p> Yo Dawg! I heard you like details so I put details in your details! </p>
                                        <p> So complicate, much accordion, very detail </p>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="cta_btn pink_btn plans_page get_plan_btn" ng-click='planSelected("Medical Insurance")'>Get this plan</div>
                    </div>
                    
                    <div class="plan right">
                    	<h3 class="purple_bg_title normalize">Life Insurance</h3>
                        <div class="plan_content_box">
                        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,Neque porro quisquam.</p>
                            <ul class="plans_list">
                            	<li>Neque porro quisquam</li>
                            	<li>Neque porro quisquam</li>
                            	<li>Neque porro quisquam</li>
                            	<li>Neque porro quisquam</li>
                            </ul>
                            <div class="plans_price_tag"><span class="price_pop">{{lifeInsurancePriceYen | currency:"¥" : 0}}</span> / month</div>
                            <div class="plans_details">
                            	<span>
                                    <button class='plan_accordion_button'> More details </button>
                                    <div class='plan_accordion_body'>
                                        <p> Yo Dawg! I heard you like details so I put details in your details! </p>
                                        <p> So complicate, much accordion, very detail </p>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="cta_btn pink_btn plans_page get_plan_btn mobile_reduce_margin" ng-click='planSelected("Life Insurance")'>Get this plan</div>
                    </div>
                </div>
            	
            
            </div>
            
            
    	</div><!--content_wrap-->

	</div><!--content_wrapper-->

</div>

