<!-- Page Content -->
<div ng-controller="LandingCtrl" ng-init="tamingselect();scrollTo();">
	<div id="content_wrapper" class="purple_pattern_bg landing_page">
		<a id="top-scroll" name="top"></a>
		<div id="content_wrap">
		
			<div id="title_wrap">
				<h2 class="home_title">Before we started,<br />let us know more about you.</h2>
				<h3 class="home_title">What is your gender?</h3>
			</div>
			<a  class="back-to-top" scroll-to-item id="scroll" scroll-to="#top-scroll"></a>
			

			<div id="gender_wrap" >
				<form name="genderForm">
					
					<div class="gender_cont male"><a id="male_doll" class="male_doll_cont" ng-click="switchfemale();">I am a male.</a></div>
					<div id="female_box">
						<div class="gender_box_close_btn"><a ng-click="switchmale('');">Close</a></div>
						<div class="female_wrap">
							<div class="responsive_row">
								<div class="row">
									<label class="landing_dialogue">I’m</label>
									<div class="dialogue_select select_age">
										<input ng-click="femaleOpened=true;$event.stopPropagation(); hideErrorMsg();female_age_rq=false;"  ng-readonly="true" size="2" class="page_age_textbox" type="text" ng-model="female_age" ng-Trim="false"></input>
										<div ng-show="female_age_rq"class="age_landing_alert_box">
											This field is required 
										</div>
										<span class="female-datepicker"><input ng-change="calculateAge('female');"  type="text"   style="display: none;" datepicker-options="dateOptions" class="male_BirthDate"  max-date="maxDate" min-date="minDate" ng-model="female_BirthDate"  uib-datepicker-popup="dd.MM.yyyy"  is-open="femaleOpened" ng-click="femaleOpened=true" show-button-bar="false"/></span>
										<!--<div class="dialogue_select select_age">
											<select class="turnintodropdown">
											<option>Age</option>
											<option value="">33</option>
											<option value="">34</option>
											<option value="">35</option>
											</select>
										</div>-->
									</div>
									<label class="landing_dialogue female_years_old">years old </label>
								</div>
								<div class="row">
									<label class="text-center landing_dialogue1">female and I’m</label>
									<div class="dialogue_select select_smoke1">
										<div id="female_smoke">
											<select class="turnintodropdown">
												<option>a smoker</option>
												<option value="">a smoker</option>
												<option value="">a non-smoker</option>
											</select>
										</div>
									</div>
									<!--<div ng-show="female_smoke" class="smoke_landing_alert_box">
										This field is required 
									</div>-->
								</div>
								
								<div class="cta_btn beige_btn gender_box_btn" ng-click="submit('female')">Request a plan</div>
							</div>
						</div>
					</div>
					
					<div class="gender_cont female"><a id="female_doll" class="female_doll_cont" ng-click="switchmale('');">I am a female.</a></div>
					<div id="male_box">
						<div class="gender_box_close_btn"><a ng-click="switchfemale('');">Close</a></div>
						<div class="male_wrap">
							<div class="responsive_row">
								<div class="row">
									<label class="landing_dialogue">I’m</label>
									<div class="dialogue_select select_age">
										<input ng-click="Opened=true;$event.stopPropagation(); hideErrorMsg();male_age_rq=false;" ng-readonly="true" size="2" class="page_age_textbox" type="text" ng-model="male_age" ng-Trim="false"></input>
										<div ng-show="male_age_rq" class="age_landing_alert_box">
											This field is required 
										</div>
										<span class="male-datepicker"><input ng-change="calculateAge('male')" type="text" style="display: none;" datepicker-options="dateOptions"  max-date="maxDate" min-date="minDate" class="male_BirthDate" ng-model="male_BirthDate"  uib-datepicker-popup="dd.MM.yyyy"  is-open="Opened" ng-click="Opened=true" show-button-bar="false"></span>
										</div>
										<label class="landing_dialogue male_years_old">years old</label>
									</div>
									<div class="row">
										<label class="landing_dialogue1">male and I’m</label>
										<div class="dialogue_select select_smoke1">
											<div id="male_smoke">
												<select class="turnintodropdown">
													<option>a smoker</option>
													<option value="">a smoker</option>
													<option value="">a non-smoker</option>
												</select>
											</div>
										</div>
										<!--<div  ng-show="male_smoke" class="smoke_landing_alert_box">
											This field is required 
										</div>-->
									</div>
									
									<div class="cta_btn beige_btn gender_box_btn" ng-click="submit('male')">Request a plan</div>
								</div>
							</div>
						</div>
						
					</form>
					
				</div><!--gender_wrap-->
			<div class="male-datepicker"></div>
			
		</div><!--content_wrap-->
		
	</div><!--content_wrapper-->
	
</div>		