<section id="megamindEventsAndActivitiesWidget" class="four-pack deal-pack row pad-row mm-widget " data-bhw="MegamindEventsAndActivities" data-bhd="{&quot;mm_position&quot;:3,&quot;mm_request_id&quot;:&quot;019810729393341357&quot;,&quot;mm_treatment&quot;:&quot;af34741a&quot;,&quot;campaign&quot;:null}" data-bh-viewport="respect" data-bhw-path="MegamindEventsAndActivities">
  <div class="section-head">
      <a href="/browse/chicago?category=things-to-do" data-bhw="Title" data-bhw-path="MegamindEventsAndActivities|Title"><h2>Things to Do Deals</h2></a>
      <a class="view-all" href="/browse/chicago?category=things-to-do" data-bhc="viewall:MegamindEventsAndActivities" data-bhc-path="MegamindEventsAndActivities|viewall:MegamindEventsAndActivities">View All</a>  </div>
  <div class="block-grid four-up">
      <figure class="deal-card  " data-bhc="deal:c3b47310-ea68-55ec-8dc3-611189e8b494" data-bhd="{&quot;status&quot;:&quot;open&quot;,&quot;sold_out&quot;:false,&quot;permalink&quot;:&quot;chicago-line-cruises-1-1&quot;}" data-bh-viewport="respect" data-uuid="c3b47310-ea68-55ec-8dc3-611189e8b494" data-bhc-path="MegamindEventsAndActivities|deal:c3b47310-ea68-55ec-8dc3-611189e8b494">
        <a href="//www.groupon.com/deals/chicago-line-cruises-1-1">
            <img class="lazy-load" src="//img.grouponcdn.com/deal/h1gWUjEpZygdx8aNqShP/pu-2048x1229/v1/c220x134.jpg" data-original="//img.grouponcdn.com/deal/h1gWUjEpZygdx8aNqShP/pu-2048x1229/v1/c220x134.jpg" alt="Chicago Line Cruises">
    
        <figcaption>
            <p class="deal-title should-truncate" style="word-wrap: break-word;">Chicago Line Cruises</p>
              <p class="merchant-name should-truncate" style="word-wrap: break-word;">
                Chicago Line Cruises
              </p>
              <p class="deal-location should-truncate" style="word-wrap: break-word;">
                Chicago
              </p>
      <div class="pricing">
        <p class="deal-price  ">
            <s class="original-price">$84</s>
    $59
        </p>
      </div>    </figcaption>
        </a>
      </figure>
      <figure class="deal-card  " data-bhc="deal:2f29e4ef-450b-90d1-5131-74daf04275dc" data-bhd="{&quot;status&quot;:&quot;open&quot;,&quot;sold_out&quot;:false,&quot;permalink&quot;:&quot;boone-creek-golf-club&quot;}" data-bh-viewport="respect" data-uuid="2f29e4ef-450b-90d1-5131-74daf04275dc" data-bhc-path="MegamindEventsAndActivities|deal:2f29e4ef-450b-90d1-5131-74daf04275dc">
        <a href="//www.groupon.com/deals/boone-creek-golf-club">
            <img class="lazy-load" src="//img.grouponcdn.com/deal/fSVB5LemnMAkuWRgJ4TT/Rv-3000x1800/v1/c220x134.jpg" data-original="//img.grouponcdn.com/deal/fSVB5LemnMAkuWRgJ4TT/Rv-3000x1800/v1/c220x134.jpg" alt="18-Hole Round of Golf with Cart">
    
        <figcaption>
            <p class="deal-title should-truncate" style="word-wrap: break-word;">18-Hole Round of Golf with Cart</p>
              <p class="merchant-name should-truncate" style="word-wrap: break-word;">
                Boone Creek Golf Club
              </p>
              <p class="deal-location should-truncate" style="word-wrap: break-word;">
                Mc Henry
              </p>
      <div class="pricing">
        <p class="deal-price  ">
          <span class="deal-from">From</span> $69
        </p>
      </div>    </figcaption>
        </a>
      </figure>
      <figure class="deal-card  " data-bhc="deal:5bb63cf8-6045-5ba1-ce7b-ce5dab47781e" data-bhd="{&quot;status&quot;:&quot;open&quot;,&quot;sold_out&quot;:false,&quot;permalink&quot;:&quot;paint-nite-7-96-chicago&quot;}" data-bh-viewport="respect" data-uuid="5bb63cf8-6045-5ba1-ce7b-ce5dab47781e" data-bhc-path="MegamindEventsAndActivities|deal:5bb63cf8-6045-5ba1-ce7b-ce5dab47781e">
        <a href="//www.groupon.com/deals/paint-nite-7-96-chicago">
            <img class="lazy-load" src="//img.grouponcdn.com/deal/5CV25KXffFJoU7Hg3x9Uzj/IMAGE_Paint-Nite-1-700x420/v1/c220x134.jpg" data-original="//img.grouponcdn.com/deal/5CV25KXffFJoU7Hg3x9Uzj/IMAGE_Paint-Nite-1-700x420/v1/c220x134.jpg" alt="Painting Event at Local Bar">
    
        <figcaption>
            <p class="deal-title should-truncate" style="word-wrap: break-word;">Painting Event at Local Bar</p>
              <p class="merchant-name should-truncate" style="word-wrap: break-word;">
                Paint Nite
              </p>
              <p class="deal-location should-truncate no-location" style="word-wrap: break-word;">
                
              </p>
      <div class="pricing">
        <p class="deal-price  ">
            <s class="original-price">$45</s>
    <span class="deal-from">From</span> $25
        </p>
      </div>    </figcaption>
        </a>
      </figure>
      <figure class="deal-card unpurchasable " data-bhc="deal:16a9077b-0988-4755-f12e-9ce002ccd222" data-bhd="{&quot;status&quot;:&quot;open&quot;,&quot;sold_out&quot;:true,&quot;permalink&quot;:&quot;brew-to-be-wild&quot;}" data-bh-viewport="respect" data-uuid="16a9077b-0988-4755-f12e-9ce002ccd222" data-bhc-path="MegamindEventsAndActivities|deal:16a9077b-0988-4755-f12e-9ce002ccd222">
        <a href="//www.groupon.com/deals/brew-to-be-wild">
            <img class="lazy-load" src="//img.grouponcdn.com/deal/nNUsCWDcykfkmi7Sw7qv/dx-2048x1229/v1/c220x134.jpg" data-original="//img.grouponcdn.com/deal/nNUsCWDcykfkmi7Sw7qv/dx-2048x1229/v1/c220x134.jpg" alt="Beer Tasting at Lincoln Park Zoo">
        <div class="unpurchasability-badge sold-out">
          <div class="stamp">
            <div class="height-fix"></div>
            <div class="badge-content">Sold Out</div>
          </div>
        </div>

        <figcaption>
            <p class="deal-title should-truncate" style="word-wrap: break-word;">Beer Tasting at Lincoln Park Zoo</p>
              <p class="merchant-name should-truncate" style="word-wrap: break-word;">
                Brew to Be Wild
              </p>
              <p class="deal-location should-truncate" style="word-wrap: break-word;">
                Lincoln Park Zoo
              </p>
      <div class="pricing">
        <p class="deal-price  ">
            <s class="original-price">$53.56</s>
    $39
        </p>
      </div>    </figcaption>
        </a>
      </figure>
  </div>
</section>