<div class="container">
    <div class="page_header">
        <h1>{{'cfo.header.panelClinic' | translate}}</h1>
    </div>
    <div class="entry_search_wrapper">
        <div class="form">
            <form class="clearfix">
                <div class="clearfix"
                    ng-if="ctrl.isListing">
                    <div class="row">

                        <div class="col-xs-12 col-sm-6 dropdown-wrapper zero-component-padding"
                            ng-if="!ctrl.isUserGroupIndividual">
                            <div drop-down-list
                                label="{name:'cfo.label.clinicProgram'}"
                                form-name="'panel-clinic-form'"
                                form-section-mode="'edit'"
                                form-manager="ctrl.formManager"
                                field-name="'selectedProgram'"
                                field-id="'selectedProgramId'"
                                field-class=""
                                field-style=""
                                default-label="'All'"
                                url="'clinic/ddl/program'"
                                ddl-type="dynamic"
                                ddl-items="ctrl.programs"></div>
                        </div>

                        <div class="col-xs-12 col-md-6"
                            ng-if="ctrl.isUserGroupIndividual">
                            <div single-line-text label="{name:'cfo.label.clinicProgram'}"
                                place-holder="'cfo.label.clinicName'"
                                input-css-class=""
                                label-css-class=""
                                form-name="'panel-clinic-form'"
                                form-section-mode="'view'"
                                form-manager="ctrl.formManager"
                                field-name="'selectedProgramForInd'"
                                field-id="'selectedProgramForIndId'"
                                field-style=""></div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div single-line-text label="{name:'cfo.label.clinicName'}"
                                place-holder="'cfo.label.clinicName'"
                                input-css-class=""
                                label-css-class=""
                                form-name="'panel-clinic-form'"
                                form-section-mode="'edit'"
                                form-manager="ctrl.formManager"
                                field-name="'searchClinic'"
                                field-id="'searchClinicId'"
                                field-style=""></div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div single-line-text label="{name:'cfo.label.address'}"
                                place-holder="'cfo.label.address'"
                                input-css-class=""
                                label-css-class=""
                                form-name="'panel-clinic-form'"
                                form-section-mode="'edit'"
                                form-manager="ctrl.formManager"
                                field-name="'searchAddress'"
                                field-id="'searchAddressId'"
                                field-style=""></div>
                        </div>

                    </div>
                    <div class="row">
                        <button class="button button--red-thin search-button-margin"
                            ng-click="ctrl.getListofClinics()"
                            value="">{{'cfo.button.search' | translate}}</button>
                    </div>

                </div>
                <div class="clearfix"
                    ng-if="!ctrl.isListing">
                    <label for="searchAddress">{{'cfo.label.address'| translate}}</label>
                    <input class="input form-control"
                        id="pac-input"
                        ng-model="ctrl.searchValue"
                        class="controls"
                        type="text"
                        placeholder="{{ 'cfo.label.clinicMapEnterAddress' | translate }}">
                    <button class="button button--red-thin search-button-margin"
                        ng-click="ctrl.clearSearch()">{{'cfo.button.startAgain'|translate}}</button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div>
        <tabset justified="false">
            <tab heading="{{'cfo.header.clinicListing'|translate}}"
                select="ctrl.onListingClicked()">
                <div ng-if="ctrl.showTable">
                    <div class="table-pagination-wrapper">
                        <div class="table-pagination"
                            ng-show="ctrl.showPagination">
                            <div class="table-pagination__nav-block table-pagination__nav-block--back"
                                ng-click="ctrl.previousPageNumber()">
                                <span class="hidden-xs">Back</span>
                            </div>
                            <div class="table-pagination__nav-block table-pagination__nav-block--page">
                                <input type="text"
                                    ng-model="ctrl.formModel.page"
                                    input-format="ctrl.pageNumberFormat"
                                    ng-keydown="$event.which === 13 && ctrl.getPageNumber(ctrl.formModel.page)">
                                <span>of {{ctrl.totalPages}}</span>
                            </div>
                            <div class="table-pagination__nav-block table-pagination__nav-block--next"
                                ng-click="ctrl.nextPageNumber()">
                                <span class="hidden-xs">Next</span>
                            </div>
                        </div>
                    </div>
                    <table class="footable"
                        data-page-size="20">
                        <thead>
                            <tr>
                                <th data-sort-initial="true">
                                    {{'cfo.header.clinicNameHdr'| translate}}
                                </th>
                                <th data-hide="phone"
                                    data-sort-ignore="true">
                                    {{'cfo.header.addressHdr'| translate}}
                                </th>
                                <th data-hide="phone, tablet"
                                    data-sort-ignore="true">
                                    {{'cfo.header.clinicTelephone'| translate}}
                                </th>
                                <th data-hide="phone,tablet"
                                    data-sort-ignore="true">
                                    {{'cfo.header.clinicWeekday'| translate}}
                                </th>
                                <th data-sort-ignore="true">
                                    {{'cfo.header.clinicSaturday'| translate}}
                                </th>
                                <th data-hide="phone,tablet"
                                    data-sort-ignore="true">
                                    {{'cfo.header.clinicSunday'| translate}}
                                </th>
                                <th data-hide="all"
                                    data-sort-ignore="true">
                                    {{'cfo.header.clinicRemarks'| translate}}
                                </th>

                                <th data-hide="phone"
                                    data-sort-ignore="true"
                                    ng-if="!ctrl.isUserGroupIndividual">
                                    {{'cfo.header.clinicProgramHdr'| translate}}

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="!ctrl.hasData">
                                <td colspan="8">
                                    <div align="center">{{'cfo.label.noRecordFound' | translate}}</div>
                                </td>
                            </tr>
                            <tr ng-if="ctrl.hasData"
                                ng-repeat="obj in ctrl.filterResults">
                                <td>{{::obj.name}}</td>
                                <td>{{::obj.address}}</td>
                                <td class="footable--nowrap">+{{::obj.contact_country_cd}}&nbsp {{::obj.contact_num}}</td>
                                <td class="footable--nowrap"
                                    ng-bind-html="::obj.formatedWeekday"></td>
                                <td class="footable--nowrap"
                                    ng-bind-html="::obj.formatedSaturday"></td>
                                <td class="footable--nowrap"
                                    ng-bind-html="::obj.formatedSunday"></td>
                                <td ng-bind-html="::obj.formatedRemark"></td>
                                <td class="footable--nowrap"
                                    ng-if="!ctrl.isUserGroupIndividual">{{::obj.program}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="!ctrl.showTable">
                    <div align="center">{{'cfo.label.noRecordFound' | translate}}</div>
                </div>

            </tab>
            <tab heading="{{'cfo.header.clinicMap'|translate}}"
                select="ctrl.mapRender()">
                <div style="text-align: center"
                    ng-show="!ctrl.isListing">
                    <div id="panel-clinic__map">{{'cfo.label.noRecordFound' | translate}}</div>
                </div>
            </tab>
        </tabset>
    </div>
    <div>
    </div>
</div>
