body {
	padding: 0;
	margin: 0;
	
	overflow-x: hidden;
	
	font-family: Arial, "Helvetica Neue", Helvetica, "STHeiti", \534E\6587\9ED1\4F53, "Microsoft YaHei", \5FAE\8F6F\96C5\9ED1, "SimSun", \5B8B\4F53, "WenQuanYi Micro Hei", sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	
	color: #4d4d4d;
	
}

img {
	border: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}

sub { top: 0.4em; }

a:hover 
{
	text-decoration: underline;
	color: #bf171d;
}

.center
{
	text-align: center !important;	
}

.bold
{
	font-weight: bold;
}

.underline
{
	text-decoration: none;
}

.italic
{
	font-style: italic;
}

.mWrapper
{
	max-width: 1145px;
	margin-left: auto;
	margin-right: auto;
}

.abs
{
	position: absolute;
}

.rel
{
	position: relative;
}

.oHide
{
	overflow: hidden;
}

.fLeft
{
	float: left;
}

.fRight
{
	float: right;
}


/* FE developer note: Please use clearF or oHide in the container containing all float elements */
.clearF:before,
.clearF:after {
  content:"";
  display:table;
}
.clearF:after {
  clear:both;
}
.clearF {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.dIB
{
	display: inline-block;	
}
.dB
{
	display: block;
}
.hidden
{
	display: none;	
}

/* added by Shan to clear margin right for last item */
.clearLast { margin:0; }

/* FE developer note: dIBVerMiddle is a special class for vertical align middle inline block items, 
refer to example at template 16: live great landing */
.dIBVerMiddle
{
	display: inline-block;
	*display: inline;
	*zoom: 1;	
	vertical-align:middle;
}

.dIBVerMiddle:before
{
	content: '';
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 100%;
	vertical-align: middle;	
}
	
	.dIBVerMiddle .verMiddle
	{
		vertical-align: middle;
		display: inline-block;
		*display: inline;
		*zoom: 1;
	}

.clear
{
	clear: both;	
}


.hidden
{
	display: none;	
}

.visible
{
	display: block;	
}

.vHidden
{
	visibility: hidden;
}

.vVisible
{
	visibility: visible;
}

.greyPlaceHolder
{
	background-color: #f9f9f9;
}

.redButtonWArrow
{
	padding: 8px 10px;
	font-size: 13px;
	line-height: 13px;
	
	border: 1px solid #d5d5d5; /* stroke */
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px; /* border radius */
	
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	-moz-box-shadow: 2px 0 14px rgba(31,29,25,.26); /* drop shadow */
	-webkit-box-shadow: 2px 0 14px rgba(31,29,25,.26); /* drop shadow */
	box-shadow: 2px 0 14px rgba(31,29,25,.26); /* drop shadow */
	
	text-align: left;
	background-color: #ed1c24;
	color: #FFFFFF;

	cursor: pointer;
}

	.redButtonWArrow:after
	{
		content: url('../img/arrow_right_button.png');
		float: right;
	}

.redButton
{
	padding: 12px 0;
	font-size: 15px;
	line-height: 15px;
	
	text-align: center;
	background-color: #ed1c24;
	color: #FFFFFF;

	cursor: pointer;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* border radius */
}

.blueButton
{
	padding: 12px 0;
	font-size: 15px;
	line-height: 15px;
	
	text-align: center;
	background-color: #465bb6;
	color: #FFFFFF;

	cursor: pointer;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* border radius */
}

.blackButton
{
	padding: 12px 0;
	font-size: 13px;
	line-height: 13px;
	
	text-align: center;
	background-color: #585759;
	color: #FFFFFF;

	cursor: pointer;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* border radius */
}

.greyButton
{
	padding: 12px 0;
	font-size: 15px;
	line-height: 15px;
	
	text-align: center;
	background-color:#f5f5f5;
	color: #4d4d4d;

	cursor: pointer;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* border radius */
}

	.greyButton p,
	.blackButton p,
	.redButton p,
	.blueButton p,
	.redButtonWArrow p
	{
		margin: 0;
		padding: 0;
	}
	
	.greyButton a,
	.blackButton a,
	.redButton a,
	.blueButton a,
	.redButtonWArrow a
	{
		color: inherit;
	}
	.greyButton a:hover,
	.blackButton a:hover,
	.blueButton a:hover,
	.redButton a:hover,
	.redButtonWArrow a:hover
	{
		text-decoration: none;
	}


/* Input Styles */
input.textBox
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #ffffff;
	border: 1px solid #CCCCCC;;
	padding: 8px 3%;
	
	font-size: 13px;
	line-height: 14px;
	
	width: 94%;
	
	outline: 0;
}
select.selectBox
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #ffffff;
	border: 1px solid #CCCCCC;;
	padding: 8px 2%;
	
	width: 100%;
	
	font-size: 13px;
	line-height: 14px;
	
	outline: 0;
	
}
div.errorText
{
	color: #ed1c24;
	font-size: 16px;
	line-height: 16px;
}




	


/* Color Guides */
.bgRed
{
	background-color: #ed1c24;
}

.txtRed
{
	color: #ed1c24;
}

.txtOrange
{
	color:#ff7203;
}

.txtYellow
{
	color: #ffc800;
}

.txtGreen
{
	color:#84c358;
}



.txtBlue
{
	color: #2e2cff !important;
}

.txtLightGrey
{
	color: #808080;
}

.bgLightGrey
{
	background-color: #f5f5f5;
}

.bgGold
{
	background-color: #f3ecdc;	
}

.bgWhite
{
	background-color: #fff;	
}

.desktopOnly
{
	display: block !important;
}

.desktopOnlyInline
{
	display: inline !important;
}

.mobileOnly
{
	display: none !important;
}



.socials
{
	width: 279px;
	text-align: left;
}

	.footerBottom .footerContent .socialContent .socials .social
	{
		display: inline-block;
		cursor: pointer;
	}	

.breadcrumb
{
	color: #999999;
	font-size: 12px;	
	line-height: 14px;
}


.backTopContainer
{
	margin-bottom: 21px;
	margin-top: 21px;
}

	.backTopContainer .backTopContent
	{
		cursor: pointer;
	}
	
		.backTopContainer .backTopContent .icon
		{
			
		}
		
		.backTopContainer .backTopContent .text
		{
			margin-top: 6px;
			margin-right: 20px;
			
			color: #808080;
			font-size: 12px;
			line-height: 12px;
			
			white-space: nowrap;
		}


.genericDialog
{
	display: none;
}

	.genericDialog .genericDialogContent
	{
		padding: 25px;
		min-width: 350px;
		/*width: 735px;*/
	}



.titleComponent
{
	margin-bottom: 40px;
}
	
	.titleComponent h1.title
	{
		color: #4d4d4d;
		font-size: 40px;
		line-height: 47px;
		font-weight: normal;
		margin: 0;
		padding: 0;
		padding-bottom: 15px;
	}
	
	.titleComponent .description
	{
		font-size: 14px;
		line-height: 21px;
		max-width: 80%;
		color: #808080;

	}

	.titleComponent .description a
	{
		color: #ed1c24;
	}

	
	.titleComponent.center .description
	{
		margin-left: auto;
		margin-right: auto;
	}
	
	.titleComponent .productActionMenu
	{
		margin-top: 15px;	
	}

.titleWIconComponent
{
}

	.titleWIconComponent .titleGroup
	{
	}
	
		.titleWIconComponent .titleGroup.fLeft
		{
			width: 65%;
		}
		.titleWIconComponent .titleGroup.fRight
		{
			width: 35%;
			text-align: right;
		}
			.titleWIconComponent .titleGroup.iconSmall .icon
			{
				margin-top: 7px;
			}
			.titleWIconComponent .titleGroup.iconSmall .text
			{
				margin-left: 48px;
			}
			
	
	.titleWIconComponent .icon
	{
		
	}
	
	.titleWIconComponent .text
	{
		margin-left: 58px;
		color: #4d4d4d;
		font-size: 34px;
		line-height: 40px;
	}
	
	.titleWIconComponent .text.noIcon
	{
		margin-left: 0;	
	}
	
	.titleWIconComponent .subtext
	{
		margin-top: 15px;
		color: #808080;
		font-size: 14px;
		line-height: 24px;
	}
	
		.titleWIconComponent .subtext a
		{
			color: #ed1c24;
		}

.loadmore
{
	font-size: 15px;
	line-height: 18px;
	color: #808080;
	text-align: center;
	
	cursor: pointer;
	
	padding: 11px 0;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #f5f5f5; /* layer fill content */
	-moz-box-shadow: 0 2px 0 rgba(0,0,0,.08); /* drop shadow */
	-webkit-box-shadow: 0 2px 0 rgba(0,0,0,.08); /* drop shadow */
	box-shadow: 0 2px 0 rgba(0,0,0,.08); /* drop shadow */

}

.ui-datepicker
{
    font-size: 75% !important;
    border: 1px solid #CCCCCC !important;
}

.checkboxContainer { overflow: hidden; }
.checkboxContainer .checkboxItem { float: left; }
.checkboxContainer .checkboxLabel {
	position: relative;
	margin-left: 30px;
	margin-top: -1px;
}

.pageBodyContainer .row .text-right { text-align: right; }
.pageBodyContainer .row .text-left { text-align: left; }

.pageBodyContainer .row { 
	box-sizing: border-box; 
	/*min-width: 320px;*/
	margin-right: -10px; margin-left: -10px; 
	padding-top: 10px; padding-bottom: 10px;
}
.row .center-block,
.pageBodyContainer .row .center-block {
	display: block; float: none;
	margin-left: auto; 
	margin-right: auto;
}
.pageBodyContainer .form-horizontal .checkbox, 
.pageBodyContainer .form-horizontal .checkbox-inline, 
.pageBodyContainer .form-horizontal .radio, 
.pageBodyContainer .form-horizontal .radio-inline {
	padding-top: 10px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 10px;
}
.pageBodyContainer .checkbox-inline, 
.pageBodyContainer .radio-inline {
	display: inline-block;
	padding-left: 22px;
	margin-bottom: 0;
	font-weight: 400;
	vertical-align: middle;
	cursor: pointer;
}
/*.pageBodyContainer .checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {*/
	/*margin-top: 0;*/
	/*margin-right: 10px;*/
/*}*/
.pageBodyContainer .checkbox input[type=checkbox], 
.pageBodyContainer .checkbox-inline input[type=checkbox], 
.pageBodyContainer .radio input[type=radio], 
.pageBodyContainer .radio-inline input[type=radio] {
position: absolute;
margin-left: -20px;
}
.pageBodyContainer .row.no-padding {
	padding-top: 0px; padding-bottom: 0px;
}
.pageBodyContainer .row.close-gap {
	margin-right: -8px; margin-left: -8px; min-width: 0;				
}
.pageBodyContainer .row.close-gap .col-md-1, 
.pageBodyContainer .row.close-gap .col-md-2, 
.pageBodyContainer .row.close-gap .col-md-3, 
.pageBodyContainer .row.close-gap .col-md-4, 
.pageBodyContainer .row.close-gap .col-md-5, 
.pageBodyContainer .row.close-gap .col-md-6, 
.pageBodyContainer .row.close-gap .col-md-7, 
.pageBodyContainer .row.close-gap .col-md-8, 
.pageBodyContainer .row.close-gap .col-md-9, 
.pageBodyContainer .row.close-gap .col-md-10, 
.pageBodyContainer .row.close-gap .col-md-11, 
.pageBodyContainer .row.close-gap .col-md-12{
	box-sizing: border-box; padding-left: 8px; padding-right: 8px;
}
.pageBodyContainer .row:before, .pageBodyContainer .row:after { 
	display: table; content: " ";
}
.pageBodyContainer .row:after { 
	clear: both; 
}
.pageBodyContainer .col-md-1, 
.pageBodyContainer .col-md-2, 
.pageBodyContainer .col-md-3, 
.pageBodyContainer .col-md-4, 
.pageBodyContainer .col-md-5, 
.pageBodyContainer .col-md-6, 
.pageBodyContainer .col-md-7, 
.pageBodyContainer .col-md-8, 
.pageBodyContainer .col-md-9, 
.pageBodyContainer .col-md-10, 
.pageBodyContainer .col-md-11, 
.pageBodyContainer .col-md-12, 
.pageBodyContainer .col-md-auto { 
	float: left; box-sizing: border-box; float:left; padding-left:10px; padding-right:10px; min-height: 1px; 
}
.pageBodyContainer .col-md-1:before, 
.pageBodyContainer .col-md-1:after, 
.pageBodyContainer .col-md-2:before, 
.pageBodyContainer .col-md-2:after, 
.pageBodyContainer .col-md-3:before, 
.pageBodyContainer .col-md-3:after, 
.pageBodyContainer .col-md-4:before, 
.pageBodyContainer .col-md-4:after, 
.pageBodyContainer .col-md-5:before, 
.pageBodyContainer .col-md-5:after, 
.pageBodyContainer .col-md-6:before, 
.pageBodyContainer .col-md-6:after, 
.pageBodyContainer .col-md-7:before, 
.pageBodyContainer .col-md-7:after, 
.pageBodyContainer .col-md-8:before, 
.pageBodyContainer .col-md-8:after, 
.pageBodyContainer .col-md-9:before, 
.pageBodyContainer .col-md-9:after, 
.pageBodyContainer .col-md-10:before, 
.pageBodyContainer .col-md-10:after, 
.pageBodyContainer .col-md-11:before, 
.pageBodyContainer .col-md-11:after, 
.pageBodyContainer .col-md-12:before, 
.pageBodyContainer .col-md-12:after {
	display: table; content: " "; 
}
.pageBodyContainer .col-md-1:after, 
.pageBodyContainer .col-md-2:after, 
.pageBodyContainer .col-md-3:after, 
.pageBodyContainer .col-md-4:after, 
.pageBodyContainer .col-md-5:after, 
.pageBodyContainer .col-md-6:after, 
.pageBodyContainer .col-md-7:after, 
.pageBodyContainer .col-md-8:after, 
.pageBodyContainer .col-md-9:after, 
.pageBodyContainer .col-md-10:after, 
.pageBodyContainer .col-md-11:after, 
.pageBodyContainer .col-md-12:after  {
	clear: both;
}
.pageBodyContainer .col-md-12 { width: 100%; }
.pageBodyContainer .col-md-11 { width: 91.6666667%; }
.pageBodyContainer .col-md-10 { width: 83.3333333%; }
.pageBodyContainer .col-md-9 { width: 75%; }
.pageBodyContainer .col-md-8 { width: 66.6666667%; }
.pageBodyContainer .col-md-7 { width: 58.3333333%; }
.pageBodyContainer .col-md-6 { width: 50%; }
.pageBodyContainer .col-md-5 { width: 41.6666667%; }
.pageBodyContainer .col-md-4 { width: 33.3333333%; }
.pageBodyContainer .col-md-3 { width: 25%; }
.pageBodyContainer .col-md-2 { width: 16.6666667%; }
.pageBodyContainer .col-md-1 { width: 8.3333333%; }

.pageBodyContainer .col-xs-12 { width: 100%; }
.pageBodyContainer .col-xs-6 { width: 50%; }
.pageBodyContainer .col-xs-8 { width: 66.6666667%; }

/* Responsive Helper Class */
.visible-sm {display: block !important; }
.visible-lg {display: none !important; }
.visible-sm-inline {display: inline-block !important; }
.visible-lg-inline {display: none !important; }

@media (min-width: 480px) {
	.visible-lg {display: none !important;}
	.visible-sm {display: block !important;}
	.visible-lg-inline {display: none !important;}
	.visible-sm-inline {display: inline-block !important;}
}

@media (min-width: 768px) {
	.visible-lg {display: block !important;}
	.visible-sm {display: none !important;}
	.visible-lg-inline {display: inline-block !important;}
	.visible-sm-inline {display: none !important;}
}

.formPanel .col-md-4.control-label
{
	min-width: 230px;
}

.pageBodyContainer .row .form-control {
	box-sizing: border-box;
	display: block;
	width: 100%; height: 40px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	 -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.pageBodyContainer .row .textboxField
{
	box-sizing: border-box;
	display: block;
	width: 100%; height: 40px;
	font-weight: normal;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	 -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.pageBodyContainer .row textarea.form-control {
	height:75px;
}
.pageBodyContainer .row .form-control[disabled], 
.pageBodyContainer .row .form-control[readonly], 
.pageBodyContainer .row fieldset[disabled] .form-control {
background-color: #FCF7F7;
opacity: 1;
color:#A09D9D;
}
.pageBodyContainer .row .form-control.datepicker[readonly]
{
    background-color: #FFFFFF;
    color: #555;
}
.pageBodyContainer .row small,
.pageBodyContainer .row .small {
	font-size: 12px;
}
.pageBodyContainer .footnote .small {
	font-size: 12px;
	line-height: 21px;
	color: #808080;
}
.pageBodyContainer .tnc a,
.pageBodyContainer .footnote .small a {
	color:#ed1c24;
}
.pageBodyContainer .row .dd-select.error,
.pageBodyContainer .row .form-control.error {
	border:1px solid red;
}

.pageBodyContainer .row .form-horizontal .form-group {
	box-sizing: border-box;
	margin-right: -10px; margin-left: -10px;
	margin-bottom: 20px;
}
.pageBodyContainer .row .form-horizontal .form-group .radio {
	padding-top: 10px;
	padding-bottom: 10px;
}
.pageBodyContainer .row .radio label {
min-height: 20px;
/*padding-left: 20px;*/
margin-bottom: 0;
font-weight: 400;
cursor: pointer;
}
.pageBodyContainer .row .form-horizontal .control-label {
	padding-top: 10px; padding-bottom: 5px; margin-bottom: 0;
	color: #808080;
	white-space: nowrap;
}
.pageBodyContainer .row .form-horizontal .form-group.big-text .control-label {
	padding-top: 14px;
}
.pageBodyContainer .row .form-horizontal .form-group.big-text,
.pageBodyContainer .row .form-horizontal .form-group.big-text .form-control,
.pageBodyContainer .row .form-horizontal .form-control.big-text {
	font-size:20px;
}
.pageBodyContainer .row .form-horizontal .form-group.big-text .form-control,
.pageBodyContainer .row .form-horizontal .form-control.big-text {
	height:50px;
}

.noList
{
	margin: 0;
	padding: 0;
	list-style-type: none; 
}

.nowrap
{
	white-space: normal !important;
}

.btn:hover {text-decoration: none;}
.btn {
	-webkit-appearance:none !important;
	min-width:140px;
	display: inline-block;
	padding: 6px 12px; 
	margin-top: 1px; margin-bottom: 1px;
	font-size: 14px;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	font-family: Arial, "Helvetica Neue", Helvetica, "STHeiti", \534E\6587\9ED1\4F53, "Microsoft YaHei", \5FAE\8F6F\96C5\9ED1, "SimSun", \5B8B\4F53, "WenQuanYi Micro Hei", sans-serif;
	font-weight: lighter;
	-ms-touch-action: manipulation;
		touch-action: manipulation;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px -3px 1px 0px rgba(0,0,0,0.05);
	   -moz-box-shadow: inset 0px -3px 1px 0px rgba(0,0,0,0.05);
			box-shadow: inset 0px -3px 1px 0px rgba(0,0,0,0.05);
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn .icon_LG {padding-right: 20px; margin-bottom: -7px;}

.btn.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.btn.btn-grey {
	color: #4d4d4d;
	background-color:#f5f5f5;
}
.btn.btn-dark-grey {
	color: #fff;
	background-color:#585759;
}
.btn.btn-grey[disabled] {
	color: #BDBDBD;
}
.btn.btn-gel,
.btn.btn-red {
	color: #fff;
	background-color: #ed1c24;
	border-color: transparent;
}

.btn.btn-gel[disabled],
.btn.btn-red[disabled] {
	color:#F2C9C8;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.btn.btn-lg {
	padding: 13px 16px;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 6px;
}
.btn.btn-sm {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
.btn.btn-xs {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.btn.btn-fit-content {
	min-width: 0;
}

.btn.btn-fit {
	width:100% !important;
	min-width: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.pullLeft
{
	float:left;
}

.pullRight
{
	float:right;
}

.rightAuto {right:auto !important;}
.leftAuto {left:auto !important;}
	
.marginBottom0 { margin-bottom: 0px !important;	}
.marginBottom3 { margin-bottom: 3px !important;	}	
.marginBottom5 { margin-bottom: 5px !important;	}		
.marginBottom10 { margin-bottom: 10px !important; }	
.marginBottom15 { margin-bottom: 15px !important; }	
.marginBottom20 { margin-bottom: 20px !important; }
.marginBottom25 { margin-bottom: 25px !important; }
.marginBottom30 { margin-bottom: 30px !important; }
.marginBottom35 { margin-bottom: 35px !important; }
.marginBottom40 { margin-bottom: 40px !important; }
.marginBottom45 { margin-bottom: 45px !important; }
.marginBottom50 { margin-bottom: 50px !important; }
.marginBottom60 { margin-bottom: 60px !important; }
.marginBottom80 { margin-bottom: 80px !important; }
.marginBottom95 { margin-bottom: 95px !important; }

.marginTop0 { margin-top: 0px !important; }
.marginTop2 { margin-top: 2px !important; }
.marginTop4 { margin-top: 4px !important; }
.marginTop6 { margin-top: 6px !important; }
.marginTop10 { margin-top: 10px !important; }
.marginTop12 { margin-top: 12px !important; }
.marginTop15 { margin-top: 15px !important; }
.marginTop20 { margin-top: 20px !important; }
.marginTop25 { margin-top: 25px !important; }
.marginTop30 { margin-top: 30px !important; }
.marginTop40 { margin-top: 40px !important; }
.marginTop50 { margin-top: 50px !important; }

.paddingTop0 { padding-top: 0px !important; }
.paddingTop2 { padding-top: 2px !important; }
.paddingTop5 { padding-top: 5px !important; }
.paddingTop10 { padding-top: 10px !important; }
.paddingTop15 { padding-top: 15px !important; }
.paddingTop18 { padding-top: 18px !important; }
.paddingTop20 { padding-top: 20px !important; }
.paddingTop30 { padding-top: 30px !important; }

.paddingLeft0 { padding-left: 0px !important; }

.paddingRight0 { padding-right: 0px !important; }

.marginLeft0 { margin-left: 0px !important; }
.marginLeft10 { margin-left: 10px !important; }
.marginRight0 { margin-right: 0px !important; }
.marginRight15 { margin-right: 15px !important; }

.paddingBottom0 { padding-bottom: 0px !important; }
.paddingBottom10 { padding-bottom: 10px !important; }
.paddingBottom20 { padding-bottom: 20px !important; }
.paddingBottom25 { padding-bottom: 25px !important; }
.paddingBottom30 { padding-bottom: 30px !important; }
.paddingBottom40 { padding-bottom: 40px !important; }
.paddingBottom45 { padding-bottom: 45px !important; }
.paddingBottom65 { padding-bottom: 65px !important; }

.minWidth100 {min-width: 100px !important;}
.minWidth150 {min-width: 150px !important;}
.minWidth200 {min-width: 200px !important;}
.minWidth300 {min-width: 300px !important;}

.maxWidth25 {max-width: 25px !important;}
.maxWidth50 {max-width: 50px !important;}
.maxWidth100 {max-width: 100px !important;}
.maxWidth200 {max-width: 200px !important;}
.maxWidth100P

.widthAuto {width:auto;}

.borderRight { border-right: 1px solid #dddddd; }
.borderRight1 { border-right: 1px solid #dddddd; }
.borderRight2 { border-right: 2px solid #dddddd; }

.posBottom0 { bottom: 0px; }
.posBottom5 { bottom: 5px; }
.posBottom10 { bottom: 10px; }
.posBottom15 { bottom: 15px; }
.posBottom20 { bottom: 20px; }
	
/* Contact Bar */
.contactBar {
	padding:45px 0 50px;	
}

.contactBarWhite {
	background:#FFF;	
}

.contactBar .title {
	font-size:38px;
	color:#4d4d4d;	
}

.contactBar .text {
	width:60%;
	margin:10px 2% 0 0;
	padding-right:2%;	
	color:#999;
	font-size:14px;
}

.contactBar .text .header { font-size:24px; color:#4d4d4d }

/* buttons */
.helpContact .button {
	display:inline-block;
	margin-left:5px;
	vertical-align:middle;
}

.helpContact .buttonPadded, .contactBar .buttonPadded {	line-height:30px;	}

.helpContact .buttonSet {
	display:inline-block;
	margin:0 0 0 10px;
}

.contactBar .buttonSet { float:right; margin:-60px 0 0 0; }

.contactBar .button {
	width:165px;
	display:inline-block;
	margin-left:5px;
	vertical-align:middle;
}

.verticalLine 
{	
	border-right:1px solid #AAA7A7; 
}
/* end */	


/* Print Hide */
.headerPrint
{
	display: none;	
}
.footerPrint
{
	display: none;	
}	
	.footerPrint .tncContent
	{
		font-size: 11px;
		line-height: 14px;	
		border-top: 1px solid #DEDEDE;
		padding-top: 20px;
	}
		.footerPrint .tncContent .footerNote
		{
				padding-top: 15px;
		}

.ui-dialog .ui-dialog-content
{
    overflow: inherit;
    padding: 0;
}
	
@media only screen and (max-width:1145px) {
	.mWrapper
	{
		max-width: 96%;
	}
	.mWrapper.removeOnSmall
	{
		max-width: 100%;
	}
	
	.desktopOnly, .desktopOnlyInline
	{
		display: none !important;
	}

	.mobileOnly
	{
		display: block !important;
	}

	.titleComponent h1.title
	{
		font-size: 34px;
		line-height: 40px;
	}

}

/* from 1145px to 985px smaller font size */
@media only screen and (max-width: 1145px) and (min-width:700px) {	
	.titleComponent .description
	{
		max-width: 100%;
	}
}

@media only screen and (max-width:985px) {
	.breadcrumb
	{
		display: none;	
	}
	
	.titleWIconComponent .titleGroup
	{
		float: none;
	}
	
	.titleWIconComponent .titleGroup.fLeft
	{
		width: 100%;
	}
	.titleWIconComponent .titleGroup.fRight
	{
		width: 100%;
		text-align: left;
	}
	
	.titleWIconComponent .subtext
	{
		margin-top: 0;
	}
}

@media only screen and (min-width:700px) and (max-width:992px) {

	.pageBodyContainer .row.grid-md .col-sm-12 { width: 100%; }
	.pageBodyContainer .row.grid-md .col-sm-11 { width: 91.6666667%; }
	.pageBodyContainer .row.grid-md .col-sm-10 { width: 83.3333333%; }
	.pageBodyContainer .row.grid-md .col-sm-9 { width: 75%; }
	.pageBodyContainer .row.grid-md .col-sm-8 { width: 66.6666667%; }
	.pageBodyContainer .row.grid-md .col-sm-7 { width: 58.3333333%; }
	.pageBodyContainer .row.grid-md .col-sm-6 { width: 50%; }
	.pageBodyContainer .row.grid-md .col-sm-5 { width: 41.6666667%; }
	.pageBodyContainer .row.grid-md .col-sm-4 { width: 33.3333333%; }
	.pageBodyContainer .row.grid-md .col-sm-3 { width: 25%; }
	.pageBodyContainer .row.grid-md .col-sm-2 { width: 16.6666667%; }
	.pageBodyContainer .row.grid-md .col-sm-1 { width: 8.3333333%; }
}	


@media only screen and (max-width:700px) {
	.titleComponent .description
	{
		max-width: 100%;
	}
	.pageBodyContainer .row.grid-md .col-md-1, 
	.pageBodyContainer .row.grid-md .col-md-2, 
	.pageBodyContainer .row.grid-md .col-md-3, 
	.pageBodyContainer .row.grid-md .col-md-4, 
	.pageBodyContainer .row.grid-md .col-md-5, 
	.pageBodyContainer .row.grid-md .col-md-6, 
	.pageBodyContainer .row.grid-md .col-md-7, 
	.pageBodyContainer .row.grid-md .col-md-8, 
	.pageBodyContainer .row.grid-md .col-md-9, 
	.pageBodyContainer .row.grid-md .col-md-10, 
	.pageBodyContainer .row.grid-md .col-md-11, 
	.pageBodyContainer .row.grid-md .col-md-12 {
		width: 100%;
		box-sizing: border-box;
	}
	.pageBodyContainer .row.grid-md .not-rwd .col-md-12 { width: 100%; }
	.pageBodyContainer .row.grid-md .not-rwd .col-md-11 { width: 91.6666667%; }
	.pageBodyContainer .row.grid-md .not-rwd .col-md-10 { width: 83.3333333%; }
	.pageBodyContainer .row.grid-md .not-rwd .col-md-9 { width: 75%; }
	.pageBodyContainer .row.grid-md .not-rwd .col-md-8 { width: 66.6666667%; }
	.pageBodyContainer .row.grid-md .not-rwd .col-md-7 { width: 58.3333333%; }
	.pageBodyContainer .row.grid-md .not-rwd .col-md-6 { width: 50%; }
	.pageBodyContainer .row.grid-md .not-rwd .col-md-5 { width: 41.6666667%; }
	.pageBodyContainer .row.grid-md .not-rwd .col-md-4 { width: 33.3333333%; }
	.pageBodyContainer .row.grid-md .not-rwd .col-md-3 { width: 25%; }
	.pageBodyContainer .row.grid-md .not-rwd .col-md-2 { width: 16.6666667%; }
	.pageBodyContainer .row.grid-md .not-rwd .col-md-1 { width: 8.3333333%; }

	.pageBodyContainer .row.grid-md .col-xs-12 { width: 100%; }
	.pageBodyContainer .row.grid-md .col-xs-11 { width: 91.6666667%; }
	.pageBodyContainer .row.grid-md .col-xs-10 { width: 83.3333333%; }
	.pageBodyContainer .row.grid-md .col-xs-9 { width: 75%; }
	.pageBodyContainer .row.grid-md .col-xs-8 { width: 66.6666667%; }
	.pageBodyContainer .row.grid-md .col-xs-7 { width: 58.3333333%; }
	.pageBodyContainer .row.grid-md .col-xs-6 { width: 50%; }
	.pageBodyContainer .row.grid-md .col-xs-5 { width: 41.6666667%; }
	.pageBodyContainer .row.grid-md .col-xs-4 { width: 33.3333333%; }
	.pageBodyContainer .row.grid-md .col-xs-3 { width: 25%; }
	.pageBodyContainer .row.grid-md .col-xs-2 { width: 16.6666667%; }
	.pageBodyContainer .row.grid-md .col-xs-1 { width: 8.3333333%; }

}

@media only screen and (max-width:500px) {
	
	.titleComponent h1.title
	{
		font-size: 34px;
		line-height: 38px;
		padding-top: 10px;
		padding-bottom: 20px;
	}
	.mWrapper
	{
		max-width: 92%;
	}

	.genericDialog .genericDialogContent
	{
		min-width: 0;
	}
	
	.backTopContainer.fixed {
		background-color: #ffffff;
		bottom: 20px;
		right: 0;
		margin-bottom: 25px;
		position: fixed;
		right: 0;
		-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.53);
		-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.53);
		box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.53);
		border-radius: 6px 0px 0px 6px;
		-moz-border-radius: 6px 0px 0px 6px;
		-webkit-border-radius: 6px 0px 0px 6px;
		
		z-index: 8;
	}
	
		.backTopContainer.fixed .backTopContent
		{
			padding: 5px 10px 1px;	
		}
	
}

#CQ .x-panel {
    width:100%!important;
}

#CQ .x-panel-noborder .x-panel-body-noborder{
    width:100%!important;
}

#CQ .x-html-editor-wrap {
    width:90%!important;
}