/*********Content Managing**************/

/*****Generic*****/

.cm_pagetitle_wrapper {width:100%; padding:0; margin:0 auto 20px; clear:both;}
	.cm_pagetitle_wrapper object {height:300px;}

.cm_instruction_wrapper {width:100%; padding:0; margin:0 auto;}
	.cm_instruction_wrapper object {height:100px;}

.cm_footer_wrapper {width:100%; padding:0; margin:0 auto;}
	.cm_footer_wrapper object { height:100px;}


/*****Logout*****/
.logout_pagetitle_wrapper {width:100%; padding:0; height:300px; margin:0 auto 40px; clear:both;}
		.logout_pagetitle_wrapper object{height:300px;}



/*****Claim*****/

.claimOverview_pagetitle_wrapper {width:100%; padding:0; height:300px; margin:0 auto 20px; clear:both;}
	.claimOverview_container {}
		.claimOverview_pagetitle_wrapper object{width:100%; height:300px;}

.claimOverview_instruction_wrapper {width:100%; padding:0; height:170px; margin:0 auto 40px; clear:both;}
	.claimOverview_container {}
		.claimOverview_instruction_wrapper object{width:100%;height:170px;}

.claimOverview_footer_wrapper {width:100%; padding:0; height:92px; margin:0 auto 40px; clear:both;}
	.claimOverview_footer_bg {}
		.claimOverview_footer_wrapper object {width:100%;height:92px;}



@media only screen and (max-width: 768px) {
.claimOverview_instruction_wrapper {height:244px; margin:0 auto 20px;}
	.claimOverview_container {}
		.claimOverview_instruction_wrapper object{height:244px;}
		
.claimOverview_footer_wrapper {height:146px; margin:0 auto 40px;}
	.claimOverview_footer_bg {}
		.claimOverview_footer_wrapper object {height:146px;}
	

.cm_pagetitle_wrapper {}
	.cm_pagetitle_wrapper object{height:150px;}
	

.claimOverview_pagetitle_wrapper {height:150px;}
	.claimOverview_container {}
		.claimOverview_pagetitle_wrapper object{height:150px;}

}