<script>
window.onbeforeunload = null;
</script>
<link rel="stylesheet"
    type="text/css"
    href="ui-components/css/components.min.css">
<layout ng-if="ctrl.layoutData"
    layout-data="ctrl.layoutData"></layout>
