<div>
    <div class="emp-icon-wrapper">
        <img src="images/empty-data.png"
            height="80px">
    </div>
    <div class="emp-message">
    	{{'cfo.label.noPolicy' | translate}}
    </div>
</div>
