<div class="cv-upper-content">
    <div class="pl-content-wrapper"
        ng-if="ctrl.cardData.policyList[0]">
        <div ng-repeat="policy in ctrl.cardData.policyList | limitTo: 2"
            class="pl-content-row">
            <div class="pl-product-rider-wrapper">
                <div class="pl-product-wrapper"
                    id="{{'product_' + ctrl.cardData.id + '_' + $index}}">
                    <div ng-if="ctrl.cardData.id !== 'nonGePolicies'">
                        <div class="cv-small-text cv-long-text">
                            {{(policy.number ? policy.number : '-') + ', ' + (policy.life_assured ? policy.life_assured : '-')}}
                        </div>
                        <div class="cv-long-text">
                            {{policy.product_name ? policy.product_name : '-'}}
                        </div>
                    </div>
                    <div ng-if="ctrl.cardData.id === 'nonGePolicies'">
                        <div class="cv-long-text pl-product--non-ge">
                            {{policy.product_name ? policy.product_name : '-'}}
                        </div>
                    </div>
                </div>
                <div class="pl-rider-wrapper"
                    id="{{'status_' + ctrl.cardData.id + '_' + $index}}"
                    ng-init="ctrl.setProductWidth('product_' + ctrl.cardData.id + '_' + $index, 'status_' + ctrl.cardData.id + '_' + $index)">
                    <span class="cv-rider"
                        ng-if="policy.with_rider === 'Y' && policy.status !== 'TERMINATED'"
                        ng-style="{background: ctrl.cardMeta.color}">
                    {{'cfo.label.riders' | translate}}</span>
                    <span class="cv-rider cv-rider--terminated"
                        ng-if="policy.with_rider !== 'Y' && policy.status === 'TERMINATED'">
                    {{'cfo.label.terminated' | translate}}</span>
                    <span class="cv-rider cv-rider--terminated"
                        ng-if="policy.with_rider === 'Y' && policy.status === 'TERMINATED'">
                    {{('cfo.label.riders' | translate) + ', ' + ('cfo.label.terminated' | translate)}}</span>
                </div>
            </div>
            <div class="pl-arrow-wrapper">
                <img class="cursor-pointer"
                    ng-if="policy.status !== 'TERMINATED'"
                    ng-click="ctrl.goToDetails(ctrl.cardData.id, policy)"
                    src="images/icon-right-arrow.png">
            </div>
        </div>
    </div>
</div>
<div ng-if="ctrl.cardData.policyList[0]">
    <hr class="cv-divider">
    <!-- <div ng-if="ctrl.cardData.id !== 'nonGePolicies'"> -->
        <div class="cv-footer--view-all"
            ng-if="ctrl.cardData.recordTotal > 2"
            ng-click="ctrl.updateCardState(ctrl.cardData.id)"
            ng-bind-html="'cfo.label.viewAllPolicies' | translate: {count : ctrl.cardData.recordTotal}">
            <!-- View All <b>{{ctrl.cardData.recordTotal}}</b> Policies -->
        </div>
        <div class="cv-footer--less"
            ng-if="ctrl.cardData.recordTotal === 2">
            <b>{{ctrl.cardData.recordTotal}}</b> {{'cfo.label.policies' | translate}}
        </div>
        <div class="cv-footer--less"
            ng-if="ctrl.cardData.recordTotal < 2">
            <b>{{ctrl.cardData.recordTotal}}</b> {{'cfo.label.policy' | translate}}
        </div>
    <!-- </div> -->
    <!-- <div ng-if="ctrl.cardData.id === 'nonGePolicies'">
        <div class="cv-footer--less"
            ng-if="ctrl.cardData.recordTotal >= 2">
            <b>{{ctrl.cardData.recordTotal}}</b> {{'cfo.label.policies' | translate}}
        </div>
        <div class="cv-footer--less"
            ng-if="ctrl.cardData.recordTotal < 2">
            <b>{{ctrl.cardData.recordTotal}}</b> {{'cfo.label.policy' | translate}}
        </div>
    </div> -->
</div>
