<div class="cv-upper-content">
    <div class="full-width">
        <div class="full-width">
            <div class="pd-left-wrapper">
                <div class="cv-small-text">{{'cfo.label.lifeAssured' | translate}}</div>
                <div class="cv-long-text">
                    {{ctrl.cardData.life_assured ? ctrl.cardData.life_assured : '-'}}
                </div>
            </div>
            <div class="pd-right-wrapper">
                <span class="cv-rider"
                    ng-if="ctrl.cardData.with_rider === 'Y' && ctrl.cardData.status !== 'TERMINATED'"
                    ng-style="{background: ctrl.cardMeta.color}">
                    {{'cfo.label.riders' | translate}}
                </span>
                <span class="cv-rider cv-rider--terminated"
                    ng-if="ctrl.cardData.with_rider !== 'Y' && ctrl.cardData.status === 'TERMINATED'">
                    {{'cfo.label.terminated' | translate}}
                </span>
                <span class="cv-rider cv-rider--terminated"
                    ng-if="ctrl.cardData.with_rider === 'Y' && ctrl.cardData.status === 'TERMINATED'">
                    {{('cfo.label.riders' | translate) + ', ' + ('cfo.label.terminated' | translate)}}
                </span>
            </div>
        </div>
        <div class="full-width">
            <div class="pd-left-wrapper">
                <div class="cv-small-text">{{'cfo.label.policyStarts' | translate}}</div>
                <div class="cv-long-text" ng-if="ctrl.cardState !=='nonGePolicies'">
                    {{ctrl.cardData.start_dt ? (ctrl.cardData.start_dt | date:'dd MMM yyyy') : '-'}}
                </div>
                <div class="cv-long-text" ng-if="ctrl.cardState ==='nonGePolicies'">
                    {{ctrl.cardData.commencement_dt ? (ctrl.cardData.commencement_dt | date:'dd MMM yyyy') : '-'}}
                </div>
            </div>
            <div class="pd-right-wrapper">
                <div class="cv-small-text">{{'cfo.label.premiumDue' | translate}}</div>
                <div class="cv-long-text">
                    {{ctrl.cardData.life_next_premium_due_dt ? (ctrl.cardData.life_next_premium_due_dt | date:'dd MMM yyyy') : '-'}}
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="ctrl.cardData.status !== 'TERMINATED'">
    <hr class="cv-divider">
    <span class="cv-footer--view-all"
        ng-click="ctrl.goToDetails(ctrl.cardMeta.id, ctrl.cardData)">
        {{'cfo.label.viewPolicyDetails' | translate}}
    </span>
</div>
