<div class="col-xs-12 col-sm-6 col-md-4 padding-8"
    ng-class="{'card-view-2': ctrl.cardIndex % 2 === 0,
                'card-view-3': ctrl.cardIndex % 3 === 0}">
    <div class="db-card-panel">
        <div id="{{ctrl.cardData.id + 'Control'}}"
            class="db-card-panel__header"
            data-toggle="collapse"
            data-target="{{'#' + ctrl.cardData.id}}">
            <div class="padding-10">
                <div class="cv-header-wrapper">
                    <div class="cv-header-icon-wrapper">
                        <div ng-if="ctrl.cardState ==='policyType'">
                            <img ng-src="{{ctrl.cardMeta.icon.active}}"
                                ng-if="ctrl.cardData.policyList[0]">
                            <img ng-src="{{ctrl.cardMeta.icon.inactive}}"
                                ng-if="!ctrl.cardData.policyList[0]">
                        </div>
                        <div ng-if="ctrl.cardState !=='policyType' && ctrl.cardState !=='nonGePolicies' ">
                            <img ng-src="{{ctrl.cardMeta.icon.active}}"
                                ng-if="ctrl.cardData.status === 'INFORCE'">
                            <img ng-src="{{ctrl.cardMeta.icon.inactive}}"
                                ng-if="ctrl.cardData.status !== 'INFORCE'">
                        </div>
                        <div ng-if="ctrl.cardState !=='policyType' && ctrl.cardState ==='nonGePolicies' ">
                            <img ng-src="{{ctrl.cardMeta.icon.active}}">
                        </div>
                    </div>
                    <div class="cv-header-title-wrapper">
                        <div ng-if="ctrl.cardState ==='policyType'">
                            {{'cfo.label.policyType' | translate}}
                        </div>
                        <div ng-if="ctrl.cardState !=='policyType'">
                            {{(ctrl.cardMeta.header | translate) + (ctrl.cardData.number ? (', ' + ctrl.cardData.number) : '')}}
                        </div>
                        <div class="cv-header-title cv-long-text">{{ctrl.cardData.header | translate}}</div>
                    </div>
                    <div class="cv-collapse-icon-wrapper">
                        <img src="images/icon-expand.png"
                            ng-if="ctrl.cardData.collapse">
                        <img src="images/icon-collapse.png"
                            ng-if="!ctrl.cardData.collapse">
                    </div>
                </div>
            </div>
        </div>
        <div id="{{ctrl.cardData.id}}"
            class="overflow-hidden collapse in"
            ng-init="ctrl.initCard(ctrl.cardData.id)">
            <div class="db-card-panel__content">
                <!-- level 1 content type -->
                <!-- policy listing -->
                <cv-policy-list ng-if="ctrl.cardState === 'policyType' && ctrl.cardData.policyList[0]"
                    card-data="ctrl.cardData"
                    card-state="ctrl.cardState"
                    card-meta="ctrl.cardMeta"></cv-policy-list>

                <!-- empty segment -->
                <cv-empty-list ng-if="ctrl.cardState === 'policyType' && !ctrl.cardData.policyList[0] &&
                !ctrl.cardData.recommendationList[0]"
                    card-data="ctrl.cardData"></cv-empty-list>

                <!-- level 2 content type -->
                <!-- high level policy details -->
                <cv-policy-details ng-if="ctrl.cardState !== 'policyType'"
                    card-data="ctrl.cardData"
                    card-state="ctrl.cardState"
                    card-meta="ctrl.cardMeta"></cv-policy-details>
            </div>
        </div>
    </div>
</div>
