<div class="container">
    <div class="page_header page_header-padding">
        <h1>{{ 'cfo.header.addNewPolicy' | translate }}</h1>
    </div>
    <div>
        <span style="color:red;">*</span>{{'cfo.label.mandatoryField' | translate }}
    </div>
    <div class="margin-bottom-20 margin-top-10">
        <div class="row">
            <div single-line-text
                label="ctrl.config.planName.label"
                place-holder=""
                column-css-class="ctrl.config.planName.columnCssClass"
                label-css-class="ctrl.config.planName.labelCssClass"
                input-css-class="ctrl.config.planName.inputCssClass"
                form-name="'addPolicyForm'"
                form-section-mode="ctrl.config.planName.mode"
                form-manager="ctrl.formManager"
                validators="ctrl.config.planName.validators"
                field-name="ctrl.config.planName.name"
                field-id="ctrl.config.planName.name"
                field-style="ctrl.config.planName.fieldStyle"
                field-class="ctrl.config.planName.fieldClass"></div>
            <div drop-down-list
                label="ctrl.config.policyType.label"
                form-name="'addPolicyForm'"
                form-section-mode="ctrl.config.policyType.mode"
                form-manager="ctrl.formManager"
                column-css-class="ctrl.config.policyType.columnCssClass"
                label-css-class="ctrl.config.policyType.labelCssClass"
                input-css-class="ctrl.config.policyType.inputCssClass"
                field-name="ctrl.config.policyType.name"
                field-id="ctrl.config.policyType.name"
                input-style="ctrl.config.policyType.inputStyle"
                default-label="ctrl.config.policyType.defaultLabel"
                ignore-sort="ctrl.config.policyType.ignoreSort"
                field-default-value="ctrl.config.policyType.defaultValue"
                ddl-type="ctrl.config.policyType.ddlType"
                ddl-items="ctrl.config.policyType.ddlItems"
                url="ctrl.config.policyType.url"
                validators="ctrl.config.policyType.validators"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 nopadding">
                <div class="col-xs-6">
                    <div class="col-xs-4 nopadding"
                        style="padding-top: 10px;font-weight: bold;">{{'cfo.label.sumAssured' | translate}} <span style="color:red;">*</span> </div>
                    <div class="col-xs-8 nopadding">
                        <div single-line-text
                            label=""
                            place-holder=""
                            column-css-class="ctrl.config.sumAssured.columnCssClass"
                            input-css-class="ctrl.config.sumAssured.inputCssClass"
                            form-name="'addPolicyForm'"
                            form-section-mode="ctrl.config.sumAssured.mode"
                            form-manager="ctrl.formManager"
                            validators="ctrl.config.sumAssured.validators"
                            field-input-format="ctrl.config.sumAssured.inputFormat"
                            field-name="ctrl.config.sumAssured.name"
                            field-id="ctrl.config.sumAssured.name"
                            field-style="ctrl.config.sumAssured.fieldStyle"
                            field-class="ctrl.config.sumAssured.fieldClass"></div>
                        <div single-line-text
                            label=""
                            place-holder="ctrl.config.sumAssuredCurrency.placeHolder"
                            column-css-class="ctrl.config.sumAssuredCurrency.columnCssClass"
                            input-css-class="ctrl.config.sumAssuredCurrency.inputCssClass"
                            form-name="'addPolicyForm'"
                            form-section-mode="ctrl.config.sumAssuredCurrency.mode"
                            form-manager="ctrl.formManager"
                            validators="ctrl.config.sumAssuredCurrency.validators"
                            field-input-format=""
                            field-name="ctrl.config.sumAssuredCurrency.name"
                            field-id="ctrl.config.sumAssuredCurrency.name"
                            field-style="ctrl.config.sumAssuredCurrency.fieldStyle"
                            field-class="ctrl.config.sumAssuredCurrency.fieldClass"></div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-4 nopadding"
                        style="padding-top: 10px;font-weight: bold;">{{'cfo.label.premiumAmount' | translate}}</div>
                    <div class="col-xs-8 nopadding">
                        <div single-line-text
                            label=""
                            place-holder=""
                            column-css-class="ctrl.config.premiumAmount.columnCssClass"
                            input-css-class="ctrl.config.premiumAmount.inputCssClass"
                            form-name="'addPolicyForm'"
                            form-section-mode="ctrl.config.premiumAmount.mode"
                            form-manager="ctrl.formManager"
                            validators="ctrl.config.premiumAmount.validators"
                            field-input-format="ctrl.config.premiumAmount.inputFormat"
                            field-name="ctrl.config.premiumAmount.name"
                            field-id="ctrl.config.premiumAmount.name"
                            field-style="ctrl.config.premiumAmount.fieldStyle"
                            field-class="ctrl.config.premiumAmount.fieldClass"></div>
                        <div single-line-text
                            label=""
                            place-holder="ctrl.config.premiumCurrency.placeHolder"
                            column-css-class="ctrl.config.premiumCurrency.columnCssClass"
                            input-css-class="ctrl.config.premiumCurrency.inputCssClass"
                            form-name="'addPolicyForm'"
                            form-section-mode="ctrl.config.premiumCurrency.mode"
                            form-manager="ctrl.formManager"
                            validators="ctrl.config.premiumCurrency.validators"
                            field-input-format=""
                            field-name="ctrl.config.premiumCurrency.name"
                            field-id="ctrl.config.premiumCurrency.name"
                            field-style="ctrl.config.premiumCurrency.fieldStyle"
                            field-class="ctrl.config.premiumCurrency.fieldClass"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div date-picker
                column-css-class="ctrl.config.commencementDate.columnCssClass"
                label-css-class="ctrl.config.commencementDate.labelCssClass"
                input-css-class="ctrl.config.commencementDate.inputCssClass"
                label="ctrl.config.commencementDate.label"
                form-name="'addPolicyForm'"
                form-section-mode="ctrl.config.commencementDate.mode"
                form-manager="ctrl.formManager"
                validators="ctrl.config.commencementDate.validators"
                field-name="ctrl.config.commencementDate.name"
                field-id="ctrl.config.commencementDate.name"
                field-style="ctrl.config.commencementDate.fieldStyle"
                field-class="ctrl.config.commencementDate.fieldClass"
                min="ctrl.config.commencementDate.min"
                max="ctrl.config.commencementDate.max"
                min-dependency="ctrl.config.commencementDate.minDependency"
                max-dependency="ctrl.config.commencementDate.maxDependency"
                format="ctrl.config.commencementDate.format"></div>
            <div drop-down-list
                label="ctrl.config.premiumFrequency.label"
                form-name="'addPolicyForm'"
                form-section-mode="ctrl.config.premiumFrequency.mode"
                form-manager="ctrl.formManager"
                column-css-class="ctrl.config.premiumFrequency.columnCssClass"
                label-css-class="ctrl.config.premiumFrequency.labelCssClass"
                input-css-class="ctrl.config.premiumFrequency.inputCssClass"
                field-name="ctrl.config.premiumFrequency.name"
                field-id="ctrl.config.premiumFrequency.name"
                input-style="ctrl.config.premiumFrequency.inputStyle"
                default-label="ctrl.config.premiumFrequency.defaultLabel"
                ignore-sort="ctrl.config.premiumFrequency.ignoreSort"
                field-default-value="ctrl.config.premiumFrequency.defaultValue"
                ddl-type="ctrl.config.premiumFrequency.ddlType"
                ddl-items="ctrl.config.premiumFrequency.ddlItems"
                url="ctrl.config.premiumFrequency.url"
                validators="ctrl.config.premiumFrequency.validators"></div>
        </div>
        <div class="row">
            <div date-picker
                column-css-class="ctrl.config.coverageEndDate.columnCssClass"
                label-css-class="ctrl.config.coverageEndDate.labelCssClass"
                input-css-class="ctrl.config.coverageEndDate.inputCssClass"
                label="ctrl.config.coverageEndDate.label"
                form-name="'addPolicyForm'"
                form-section-mode="ctrl.config.coverageEndDate.mode"
                form-manager="ctrl.formManager"
                validators="ctrl.config.coverageEndDate.validators"
                field-name="ctrl.config.coverageEndDate.name"
                field-id="ctrl.config.coverageEndDate.name"
                field-style="ctrl.config.coverageEndDate.fieldStyle"
                field-class="ctrl.config.coverageEndDate.fieldClass"
                min="ctrl.config.coverageEndDate.min"
                max="ctrl.config.coverageEndDate.max"
                min-dependency="ctrl.config.coverageEndDate.minDependency"
                max-dependency="ctrl.config.coverageEndDate.maxDependency"
                format="ctrl.config.coverageEndDate.format"></div>
        </div>
        <div class="non-ge-policy__button-sub-section">
            <div class="left-wrapper">
                <input type="button"
                    value="{{'cfo.button.clear' | translate}}"
                    class="button button--light-grey right-button"
                    ng-click="ctrl.resetForm()" />
            </div>
            <div class="left-wrapper">
                <input type="button"
                    value="{{'cfo.button.add' | translate}}"
                    class="button button--red-thin right-button"
                    ng-click="ctrl.addPolicy()" />
            </div>
            <!-- <div class="left-wrapper">
                <input type="button"
                    value="{{'cfo.button.back' | translate}}"
                    class="button button--light-grey left-button"
                    ng-click="ctrl.backBtnClick()" />
            </div> -->
        </div>
    </div>
</div>
