<div class="container">
    <div acknowledgement-view
        display-title="ctrl.acknowledgement.title"
        content-details="ctrl.acknowledgement.details"
        is-success-view="ctrl.acknowledgement.isSuccessAck"
        is-visible="ctrl.acknowledgement.isVisibleAck">
    </div>
    <div class="page-section padding-left-25">
        <div class="left-wrapper">
            <input type="button"
                value="{{'cfo.button.ok' | translate}}"
                class="button button--red-thin left-button"
                ng-click="ctrl.okBtnClick()" />
        </div>
    </div>
</div>
