<div class="panel-body">
    <div ng-include="'templates/input/commonInputConfig.html'"></div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Minimum Characters To Trigger Auto-Suggestion (default: 1)</label>
        </div>
        <div class="col-xs-6" 
            ng-init="ctrl.field.minChar = (ctrl.field.minChar === undefined) ? 1 : ctrl.field.minChar">
            <input ng-model="ctrl.field.minChar"
                class="form-control"
                type="text"
                style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Number of records in list (default: 10)</label>
        </div>
        <div class="col-xs-6" 
            ng-init="ctrl.field.listNumber = (ctrl.field.listNumber === undefined) ? 10 : ctrl.field.listNumber">
            <input ng-model="ctrl.field.listNumber"
                class="form-control"
                class="form-control"
                type="text"
                style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Strict Mode</label>
        </div>
        <div class="col-xs-6" 
            ng-init="ctrl.field.strictMode = (ctrl.field.strictMode === undefined) ? 'N' : ctrl.field.strictMode">
            <input ng-model="ctrl.field.strictMode"
                type="radio"
                value="Y"> Yes &nbsp;&nbsp;&nbsp;&nbsp;
            <input ng-model="ctrl.field.strictMode"
                type="radio"
                value="N"> No
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Url</label>
        </div>
        <div class="col-xs-6" 
            ng-init="ctrl.field.url = (ctrl.field.url === undefined) ? '' : ctrl.field.url">
            <input ng-model="ctrl.field.url"
                class="form-control"
                type="text"
                style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Type</label>
        </div>
        <div class="col-xs-6" 
            ng-init="ctrl.field.listType = (ctrl.field.listType === undefined) ? 'static' : ctrl.field.listType">
            <input ng-model="ctrl.field.listType"
                type="radio"
                value="static"> Static &nbsp;&nbsp;&nbsp;&nbsp;
            <input ng-model="ctrl.field.listType"
                type="radio"
                value="dynamic"> Dynamic
        </div>
    </div>
    <div ng-if="ctrl.field.listType === 'static'">
        <hr class="row">
        <div class="row">
            <div class="col-xs-3">
                Add Options :
            </div>
            <div class="col-xs-3">
                <input class="btn btn-primary"
                    type="button"
                    value="Add"
                    ng-click="ctrl.addOptions()"
                    style="width:auto;">
            </div>
        </div>
        <div class="row margin"
            ng-repeat="item in ctrl.field.listItems track by $index"
            ng-init="ctrl.field.listItems = (ctrl.field.listItems === undefined) ? [] : ctrl.field.listItems"
            style="margin-top:10px">
            <div class="col-xs-12 panel panel default padding"
                style="background:#F8F8F8;">
                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <button class="btn btn-danger"
                            ng-click="ctrl.removeOptions($index)">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        <label>Option {{$index + 1}}</label>
                    </div>
                    <div class="col-xs-2">
                        <label>Option Value</label>
                    </div>
                    <div class="col-xs-6">
                        <input ng-model="item.value"
                            class="form-control"
                            type="text"
                            style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="row">
    <validation-config field="ctrl.field"></validation-config>
    <hr class="row">
    <dependency-config field="ctrl.field"
        form-input-list="ctrl.formInputList"></dependency-config>
</div>
