<div class="panel-body">
    <div ng-include="'templates/input/commonInputConfig.html'"></div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Button Size</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.buttonSize = (ctrl.field.buttonSize === undefined) ? 'small' : ctrl.field.buttonSize">
            <input ng-model="ctrl.field.buttonSize"
                type="radio"
                value="big"> Big &nbsp;&nbsp;&nbsp;&nbsp;
            <input ng-model="ctrl.field.buttonSize"
                type="radio"
                value="small"> Small
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            Add Options :
        </div>
        <div class="col-xs-3">
            <input class="btn btn-primary"
                type="button"
                value="Add"
                ng-click="ctrl.addOptions()"
                style="width:auto;">
        </div>
    </div>
    <div class="row margin"
        ng-repeat="item in ctrl.field.items"
        ng-init="ctrl.field.items = (ctrl.field.items === undefined) ? [] : ctrl.field.items"
        style="margin-top:10px">
        <div class="col-xs-12 panel panel default padding"
            style="background:#F8F8F8;">
            <div class="col-xs-12">
                <div class="col-xs-3">
                    <button class="btn btn-danger"
                        ng-click="ctrl.removeOptions($index)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    <label>Option {{$index + 1}}</label>
                </div>
                <div class="col-xs-2">
                    <label>Option Label</label>
                </div>
                <div class="col-xs-6">
                    <input ng-model="item.label"
                        class="form-control"
                        type="text"
                        style="width:100%">
                </div>
            </div>
            <div class="col-xs-12"
                style="margin-top:5px">
                <div class="col-xs-offset-3 col-xs-2">
                    <label>Option Value</label>
                </div>
                <div class="col-xs-6">
                    <input ng-model="item.value"
                        class="form-control"
                        type="text"
                        style="width:100%">
                </div>
            </div>
            <div class="col-xs-12"
                style="margin-top:5px">
                <div class="col-xs-offset-3 col-xs-2">
                    <label>Active Image (Optional)</label>
                </div>
                <div class="col-xs-6">
                    <input ng-model="item.activeImagePath"
                        class="form-control"
                        type="text"
                        style="width:100%">
                </div>
            </div>
            <div class="col-xs-12"
                style="margin-top:5px">
                <div class="col-xs-offset-3 col-xs-2">
                    <label>Inactive Image (Optional</label>
                </div>
                <div class="col-xs-6">
                    <input ng-model="item.inactiveImagePath"
                        class="form-control"
                        type="text"
                        style="width:100%">
                </div>
            </div>
            <div class="col-xs-12"
                style="margin-top:5px">
                <div class="col-xs-offset-3 col-xs-2">
                    <label>Label Tooltip (Optional)</label>
                </div>
                <div class="col-xs-6"
                    ng-init="item.tooltip.tooltip = (item.tooltip.tooltip === undefined) ? '' : item.tooltip.tooltip">
                    <input ng-model="item.tooltip.tooltip"
                        class="form-control"
                        type="text"
                        style="width:100%">
                </div>
            </div>
            <div class="col-xs-12"
                style="margin-top:5px">
                <div class="col-xs-offset-3 col-xs-2">
                    <label>Label Tooltip Placement (Optional)</label>
                </div>
                <div class="col-xs-6"
                    ng-init="item.tooltip.tooltipPlacement = (item.tooltip.tooltipPlacement === undefined) ? 'top' : item.tooltip.tooltipPlacement">
                    <select class="form-control"
                        ng-model="item.tooltip.tooltipPlacement">
                        <option value="top">Top</option>
                        <option value="bottom">Bottom</option>
                        <option value="left">Left</option>
                        <option value="right">Right</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <hr class="row">
    <validation-config field="ctrl.field"></validation-config>
    <hr class="row">
    <dependency-config field="ctrl.field"
        form-input-list="ctrl.formInputList"></dependency-config>
</div>
