<div class="row padding">
    <div class="col-xs-3">
        <label>Field Name</label>
    </div>
    <div class="col-xs-6"
        ng-init="ctrl.field.name = (ctrl.field.name === undefined) ? '' : ctrl.field.name">
        <input ng-model="ctrl.field.name"
            class="form-control"
            type="text"
            style="width:100%">
    </div>
</div>
<div class="row padding">
    <div class="col-xs-3">
        <label>Field Id</label>
    </div>
    <div class="col-xs-6"
        ng-init="ctrl.field.id = (ctrl.field.id === undefined) ? ctrl.field.name + 'Id' : ctrl.field.id">
        <input ng-model="ctrl.field.id"
            class="form-control"
            type="text"
            style="width:100%">
    </div>
</div>
<div class="row padding">
    <div class="col-xs-3">
        <label>Label (Optional)</label>
    </div>
    <div class="col-xs-6"
        ng-init="ctrl.field.label.name = (ctrl.field.label.name === undefined) ? '' : ctrl.field.label.name">
        <input ng-model="ctrl.field.label.name"
            class="form-control"
            type="text"
            style="width:100%">
    </div>
</div>
<div class="row padding">
    <div class="col-xs-3">
        <label>Label Tooltip (Optional)</label>
    </div>
    <div class="col-xs-6"
        ng-init="ctrl.field.label.tooltip = (ctrl.field.label.tooltip === undefined) ? '' : ctrl.field.label.tooltip">
        <input ng-model="ctrl.field.label.tooltip"
            class="form-control"
            type="text"
            style="width:100%">
    </div>
</div>
<div class="row padding">
    <div class="col-xs-3">
        <label>Label Tooltip Placement(Optional)</label>
    </div>
    <div class="col-xs-6"
        ng-init="ctrl.field.label.tooltipPlacement = (ctrl.field.label.tooltipPlacement === undefined) ? 'top' : ctrl.field.label.tooltipPlacement">
        <select class="form-control"
            ng-model="ctrl.field.label.tooltipPlacement">
            <option value="top">Top</option>
            <option value="bottom">Bottom</option>
            <option value="left">Left</option>
            <option value="right">Right</option>
        </select>
    </div>
</div>
<div class="row padding">
    <div class="col-xs-3">
        <label>Field Label Class (Optional)</label>
    </div>
    <div class="col-xs-6"
        ng-init="ctrl.field.labelCssClass = (ctrl.field.labelCssClass === undefined) ? 'col-xs-12' : ctrl.field.labelCssClass">
        <input ng-model="ctrl.field.labelCssClass"
            class="form-control"
            type="text"
            style="width:100%">
    </div>
</div>
<div class="row padding">
    <div class="col-xs-3">
        <label>CSS Class (Optional)</label>
    </div>
    <div class="col-xs-6"
        ng-init="ctrl.field.class = (ctrl.field.class === undefined) ? '' : ctrl.field.class">
        <input ng-model="ctrl.field.class"
            class="form-control"
            type="text"
            style="width:100%">
    </div>
</div>
<div class="row padding">
    <div class="col-xs-3">
        <label>Field Input Class (Optional)</label>
    </div>
    <div class="col-xs-6"
        ng-init="ctrl.field.inputCssClass = (ctrl.field.inputCssClass === undefined) ? 'col-xs-12' : ctrl.field.inputCssClass">
        <input type="text"
            ng-model="ctrl.field.inputCssClass"
            class="form-control"
            style="width:100%">
    </div>
</div>
<div class="row padding">
    <div class="col-xs-3">
        <label>CSS Style (Optional)</label>
    </div>
    <div class="col-xs-6"
        ng-init="ctrl.field.style = (ctrl.field.style === undefined) ? '' : ctrl.field.style">
        <textarea style=""
            rows="1"
            ng-model="ctrl.field.style"
            class="form-control"
            style="width:100%"></textarea>
    </div>
</div>
<div class="row padding">
    <div class="col-xs-3">
        <label>Field Label Style (Optional)</label>
    </div>
    <div class="col-xs-6"
        ng-init="ctrl.field.labelStyle = (ctrl.field.labelStyle === undefined) ? '' : ctrl.field.labelStyle">
        <textarea style=""
            rows="1"
            ng-model="ctrl.field.labelStyle"
            class="form-control"
            style="width:100%"></textarea>
    </div>
</div>
<div class="row padding">
    <div class="col-xs-3">
        <label>Field Input Style (Optional)</label>
    </div>
    <div class="col-xs-6"
        ng-init="ctrl.field.inputStyle = (ctrl.field.inputStyle === undefined) ? '' : ctrl.field.inputStyle">
        <textarea style=""
            rows="1"
            ng-model="ctrl.field.inputStyle"
            class="form-control"
            style="width:100%"></textarea>
    </div>
</div>
<div class="row padding">
    <div class="col-xs-3">
        <label>Default Value</label>
    </div>
    <div class="col-xs-6"
        ng-init="ctrl.field.defaultValue = (ctrl.field.defaultValue === undefined) ? '' : ctrl.field.defaultValue">
        <input ng-model="ctrl.field.defaultValue"
            class="form-control"
            type="text"
            style="width:100%"
            ng-if="ctrl.field.type !== 'datePicker'">
        <div ng-if="ctrl.field.type === 'checkbox'">
            Please separate each value with ","
        </div>
        <p class="input-group"
            ng-model="ctrl.field.defaultValue"
            ng-if="ctrl.field.type === 'datePicker'">
            <input id="defaultDate"
                type="text"
                readonly
                class="form-control"
                ng-model="ctrl.field.defaultValue" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="ctrl.openPicker($event, 'defaultPicker')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </p>
    </div>
</div>
<div class="row padding">
    <div class="col-xs-3">
        <label>Show by default</label>
    </div>
    <div class="col-xs-6"
        ng-init="ctrl.field.defaultVisible = (ctrl.field.defaultVisible === undefined) ? true : ctrl.field.defaultVisible">
        <input ng-model="ctrl.field.defaultVisible"
            type="radio"
            ng-value="true"> Yes &nbsp;&nbsp;&nbsp;&nbsp;
        <input ng-model="ctrl.field.defaultVisible"
            type="radio"
            ng-value="false"> No
    </div>
</div>
<div class="row padding">
    <div class="col-xs-3">
        <label>Disable by default</label>
    </div>
    <div class="col-xs-6"
        ng-init="ctrl.field.defaultDisable = (ctrl.field.defaultDisable === undefined) ? false : ctrl.field.defaultDisable">
        <input ng-model="ctrl.field.defaultDisable"
            type="radio"
            ng-value="true"> Yes &nbsp;&nbsp;&nbsp;&nbsp;
        <input ng-model="ctrl.field.defaultDisable"
            type="radio"
            ng-value="false"> No
    </div>
</div>
