<div class="panel-body">
    <div ng-include="'templates/input/commonInputConfig.html'"></div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Format</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.format = (ctrl.field.format === undefined) ? 'dd MMM yyyy' : ctrl.field.format">
            <input ng-model="ctrl.field.format"
                class="form-control"
                type="text"
                style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Min Date</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.min = (ctrl.field.min === undefined) ? '' : ctrl.field.min">
            <p class="input-group"
                ng-model="ctrl.field.min">
                <input id="minDate"
                    type="text"
                    readonly
                    class="form-control"
                    ng-model="ctrl.field.min" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="ctrl.openPicker($event, 'minPicker')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
            </p>
        </div>
        <div class="col-xs-3">
            <input type="button"
                value="today"
                class="btn btn-default"
                ng-click="ctrl.field.min = 'today'" />
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Max Date</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.max = (ctrl.field.max === undefined) ? '' : ctrl.field.max">
            <p class="input-group"
                ng-model="ctrl.field.max">
                <input id="maxDate"
                    type="text"
                    readonly
                    class="form-control"
                    ng-model="ctrl.field.max" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="ctrl.openPicker($event, 'maxPicker')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
            </p>

        </div>
        <div class="col-xs-3">
            <input type="button"
                value="today"
                class="btn btn-default"
                ng-click="ctrl.field.max = 'today'" />
        </div>
    </div>
    <hr class="row">
    <div class="row padding">
        <div class="row col-xs-12">
            <div class="col-xs-3">
                <label>Min Dependency Date</label>
            </div>
            <div class="col-xs-6">
                <input type="button"
                    class="btn btn-primary"
                    value="Add Min Dependency Date"
                    ng-click="ctrl.addDependencyDate(ctrl.field.minDependency)">
            </div>
        </div>
        <div class="row col-xs-offset-3 col-xs-9"
            ng-repeat="item in ctrl.field.minDependency"
            style="padding: 5px 2px;">
            <div class="col-xs-5"
                style="padding-left: 0">
                <input type="text"
                    class="form-control"
                    placeHolder="Name"
                    ng-model="item.name" />
            </div>
            <div class="col-xs-4">
                <input type="checkbox"
                    ng-model="item.excludeSelected" /> Exclude selected date
            </div>
            <div class="col-xs-3">
                <input type="button"
                    class="btn btn-danger"
                    value="X"
                    ng-click="ctrl.removeDependencyDate(ctrl.field.minDependency, $index)">
            </div>
        </div>
    </div>
    <hr class="row">
    <div class="row padding">
        <div class="row col-xs-12">
            <div class="col-xs-3">
                <label>Max Dependency Date</label>
            </div>
            <div class="col-xs-6">
                <input type="button"
                    class="btn btn-primary"
                    value="Add Max Dependency Date"
                    ng-click="ctrl.addDependencyDate(ctrl.field.maxDependency)">
            </div>
        </div>
        <div class="row col-xs-offset-3 col-xs-9"
            ng-repeat="item in ctrl.field.maxDependency"
            style="padding: 5px 2px">
            <div class="col-xs-5"
                style="padding-left: 0">
                <input type="text"
                    class="form-control"
                    placeHolder="Name"
                    ng-model="item.name" />
            </div>
            <div class="col-xs-4">
                <input type="checkbox"
                    ng-model="item.excludeSelected" /> Exclude selected date
            </div>
            <div class="col-xs-3">
                <input type="button"
                    class="btn btn-danger"
                    value="X"
                    ng-click="ctrl.removeDependencyDate(ctrl.field.maxDependency, $index)">
            </div>
        </div>
    </div>
    <hr class="row">
    <validation-config field="ctrl.field"></validation-config>
    <hr class="row">
    <dependency-config field="ctrl.field"
        form-input-list="ctrl.formInputList"></dependency-config>
</div>
