<div class="row">
    <div class="col-xs-3">
        Add Dependency (Optional)
    </div>
    <div class="col-xs-5">
        <select class="w-select form-control"
            ng-model="ctrl.selectedDependencyType">
            <option ng-repeat="name in ctrl.formInputList track by $index"
                value="{{name}}"
                ng-if="ctrl.checkValidDependency(name)">{{name}}</option>
        </select>
    </div>
    <div class="col-xs-3">
        <input class="btn btn-primary"
            type="button"
            value="Add"
            ng-click="ctrl.addDependency()"
            style="width:auto;">
    </div>
</div>
<div class="row margin padding panel panel-default"
    ng-repeat="(dependencyIndex, dependency) in ctrl.field.dependencies"
    ng-init="ctrl.field.dependencies = (ctrl.field.dependencies === undefined) ? [] : ctrl.field.dependencies"
    style="margin-top:10px"
    style="background: #F8F8F8">
    <div class="col-xs-12">
        <div class="col-xs-12 col-sm-10 col-md-8"
            style="margin-bottom:10px">
            <!-- When <b>{{dependency.watch}}</b> equals -->
            <label>Dependency name:</label>
            <input ng-model="dependency.watch"
                class="form-control"
                type="text"
                style="width:50%;float:right;">
        </div>
        <div class="col-xs-12 col-sm-10 col-md-8"
            style="margin-bottom:10px">
            <label>Dependency value:</label>
            <input ng-model="ctrl[dependency.watch]"
                class="form-control"
                type="text"
                style="width:50%;float:right;">
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6 col-md-3"
                style="margin-bottom:10px">
                <input class="btn btn-primary"
                    type="button"
                    value="Add Value"
                    ng-click="ctrl.addValue(dependency, ctrl[dependency.watch])"
                    style="width:auto;">
            </div>
            <div class="col-xs-6 col-md-3"
                style="margin-bottom:10px">
                <input class="btn btn-danger"
                    type="button"
                    value="Remove Dependency"
                    ng-click="ctrl.removeDependency(dependencyIndex)"
                    style="width:auto;">
            </div>
        </div>
        <div class="col-xs-12 panel panel-default margin padding"
            ng-repeat="(watchValue, actions) in dependency.actionList"
            style="background: #EEE">
            <div class="col-xs-6 col-md-4 col-lg-3"
                style="margin-bottom:10px">
                Dependency Value :
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3"
                style="margin-bottom:10px">
                <b>{{watchValue}}</b>
            </div>
            <div class="col-xs-12 col-md-7 col-lg-5"
                style="padding-right:0;margin-bottom:10px">
                <div class="col-xs-6"
                    style="padding:0">
                    <input class="btn btn-primary"
                        type="button"
                        value="Add Action"
                        ng-click="ctrl.addAction(dependency.actionList[watchValue])"
                        style="width:auto;float:right;">
                </div>
                <div class="col-xs-6"
                    style="padding: 0">
                    <input class="btn btn-danger"
                        type="button"
                        value="Remove Value"
                        ng-click="ctrl.removeValue(dependency, watchValue)"
                        style="width:auto;float:right;">
                </div>
            </div>
            <div class="col-xs-12 padding margin"
                ng-repeat="(actionIndex, action) in actions">
                <div class="col-xs-6">
                    <label class="col-xs-12">Action Type : </label>
                    <select class="w-select col-xs-12 form-control"
                        ng-model="action.actionType"
                        ng-options="a for a in ctrl.dependencyTypes">
                        <!--                  <option ng-if="ctrl.isSupported('disable')" value="disable">Disable</option>
                        <option ng-if="ctrl.isSupported('visible')" value="visible">Visible</option>
                        <option ng-if="ctrl.isSupported('update')" value="update">Update</option> -->
                    </select>
                    <div class="col-xs-6">
                        <input class="btn btn-danger"
                            type="button"
                            value="Remove Action"
                            ng-click="ctrl.removeAction(actions, actionIndex)"
                            style="width:auto;float:left;">
                    </div>
                </div>
                <div ng-if="action.actionType !== 'update'"
                    class="col-xs-6">
                    <label class="col-xs-12">Action Value : </label>
                    <select class="w-select col-xs-12 form-control"
                        ng-model="action.value"
                        ng-options="o.value as o.label for o in [{ label: 'Yes', value: true }, { label: 'No', value: false }]">
                    </select>
                </div>
                <div ng-if="action.actionType === 'update'"
                    class="col-xs-6">
                    <label class="col-xs-12">Action Value : </label>
                    <input ng-model="action.value"
                        class="form-control"
                        type="text"
                        style="width:100%">
                </div>
            </div>
        </div>
    </div>
</div>
