<div class="panel-body">
    <div ng-include="'templates/input/commonInputConfig.html'"></div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Url</label>
        </div>
        <div class="col-xs-6" 
            ng-init="ctrl.field.url = (ctrl.field.url === undefined) ? '' : ctrl.field.url">
            <input ng-model="ctrl.field.url"
                class="form-control"
                type="text"
                style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Default Label</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.defaultLabel = (ctrl.field.defaultLabel === undefined) ? 'Please Select' : ctrl.field.defaultLabel">
            <input ng-model="ctrl.field.defaultLabel"
                class="form-control"
                type="text"
                style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Type</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.ddlType = (ctrl.field.ddlType === undefined) ? 'static' : ctrl.field.ddlType">
            <input ng-model="ctrl.field.ddlType"
                type="radio"
                value="static"> Static &nbsp;&nbsp;&nbsp;&nbsp;
            <input ng-model="ctrl.field.ddlType"
                type="radio"
                value="dynamic"> Dynamic
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Sort By Default</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.ignoreSort = (ctrl.field.ignoreSort === undefined) ? 'false' : ctrl.field.ignoreSort">
            <input ng-model="ctrl.field.ignoreSort"
                type="radio"
                value="true"> Yes &nbsp;&nbsp;&nbsp;&nbsp;
            <input ng-model="ctrl.field.ignoreSort"
                type="radio"
                value="false"> No
        </div>
    </div>
    <div ng-if="ctrl.field.ddlType === 'static'">
        <hr class="row">
        <div class="row">
            <div class="col-xs-3">
                Add Options :
            </div>
            <div class="col-xs-3">
                <input class="btn btn-primary"
                    type="button"
                    value="Add"
                    ng-click="ctrl.addOptions()"
                    style="width:auto;">
            </div>
        </div>
        <div class="row margin"
            ng-repeat="item in ctrl.field.ddlItems"
            ng-init="ctrl.field.ddlItems = (ctrl.field.ddlItems === undefined) ? [] : ctrl.field.ddlItems"
            style="margin-top:10px">
            <div class="col-xs-12 panel panel default padding"
                style="background:#F8F8F8;">
                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <button class="btn btn-danger"
                            ng-click="ctrl.removeOptions($index)">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        <label>Option {{$index + 1}}</label>
                    </div>
                    <div class="col-xs-2">
                        <label>Option Label</label>
                    </div>
                    <div class="col-xs-6">
                        <input ng-model="item.label"
                            class="form-control"
                            type="text"
                            style="width:100%">
                    </div>
                </div>
                <div class="col-xs-12"
                    style="margin-top:5px">
                    <div class="col-xs-offset-3 col-xs-2">
                        <label>Option Value</label>
                    </div>
                    <div class="col-xs-6">
                        <input ng-model="item.value"
                            class="form-control"
                            type="text"
                            style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="row">
    <validation-config field="ctrl.field"></validation-config>
    <hr class="row">
    <dependency-config field="ctrl.field"
        form-input-list="ctrl.formInputList"></dependency-config>
</div>
