<div class="panel-body">
    <div ng-include="'templates/input/commonInputConfig.html'"></div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Does it requires authentication?</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.authentication = (ctrl.field.authentication === undefined) ? true : ctrl.field.authentication">
            <input ng-model="ctrl.field.authentication"
                type="radio"
                ng-value="true"> Yes &nbsp;&nbsp;&nbsp;&nbsp;
            <input ng-model="ctrl.field.authentication"
                type="radio"
                ng-value="false"> No
        </div>
    </div>
    <div ng-if="ctrl.field.authentication">
        <div class="row padding">
            <div class="col-xs-3">
                <label>Key Name</label>
            </div>
            <div class="col-xs-6"
                ng-init="ctrl.field.keyName = (ctrl.field.keyName === undefined) ? 'authtoken' : ctrl.field.keyName">
                <input ng-model="ctrl.field.keyName"
                    class="form-control"
                    type="text"
                    style="width:100%">
            </div>
        </div>
        <div class="row padding">
            <div class="col-xs-3">
                <label>Request Header Name</label>
            </div>
            <div class="col-xs-6"
                ng-init="ctrl.field.requestHeaderName = (ctrl.field.requestHeaderName === undefined) ? 'X-Auth-Token' : ctrl.field.requestHeaderName">
                <input ng-model="ctrl.field.requestHeaderName"
                    class="form-control"
                    type="text"
                    style="width:100%">
            </div>
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Upload Button Class</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.buttonClass = (ctrl.field.buttonClass === undefined) ? 'button fileupload__button--grey' : ctrl.field.buttonClass">
            <input ng-model="ctrl.field.buttonClass"
                class="form-control"
                type="text"
                style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Maximum Number of Upload File(s)</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.maxNumFile = (ctrl.field.maxNumFile === undefined) ? '1' : ctrl.field.maxNumFile">
            <input ng-model="ctrl.field.maxNumFile"
                class="form-control"
                type="text"
                style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Host Url</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.hostUrl = (ctrl.field.hostUrl === undefined) ? '' : ctrl.field.hostUrl">
            <input ng-model="ctrl.field.hostUrl"
                class="form-control"
                type="text"
                style="width:100%">
        </div>
    </div>
        <div class="row padding">
        <div class="col-xs-3">
            <label>Module Code</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.moduleCode = (ctrl.field.moduleCode === undefined) ? '' : ctrl.field.moduleCode">
            <input ng-model="ctrl.field.moduleCode"
                class="form-control"
                type="text"
                style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Generate UUID</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.uuid = (ctrl.field.uuid === undefined) ? false : ctrl.field.uuid">
            <input ng-model="ctrl.field.uuid"
                type="radio"
                ng-value="true"> Yes &nbsp;&nbsp;&nbsp;&nbsp;
            <input ng-model="ctrl.field.uuid"
                type="radio"
                ng-value="false"> No
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Maximum Allowed File Size</label>
        </div>
        <div class="col-xs-1">
            <label>Size (in Bytes)</label>
        </div>
        <div class="col-xs-5">
            <input ng-model="ctrl.field.allowedSize.value"
                class="form-control"
                type="text"
                style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-1 col-xs-offset-3">
            <label>Message</label>
        </div>
        <div class="col-xs-5">
            <input ng-model="ctrl.field.allowedSize.message"
                class="form-control"
                type="text"
                style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Allowed File Type</label>
        </div>
        <div class="col-xs-1">
            <label>File Type</label>
        </div>
        <div class="col-xs-5">
            <div>
                <input type="checkbox"
                    name="{{ctrl.field.name}}_PDF"
                    ng-model="ctrl[ctrl.field.name+'PDF']"
                    ng-change="ctrl.toggleAllowedFileType('PDF')"> PDF
            </div>
            <div>
                <input type="checkbox"
                    name="{{ctrl.field.name}}_PNG"
                    ng-model="ctrl[ctrl.field.name+'PNG']"
                    ng-change="ctrl.toggleAllowedFileType('PNG')"> PNG
            </div>
            <div>
                <input type="checkbox"
                    name="{{ctrl.field.name}}_JPG"
                    ng-model="ctrl[ctrl.field.name+'JPG']"
                    ng-change="ctrl.toggleAllowedFileType('JPG')"> JPEG/JPG
            </div>
            <div>
                <input type="checkbox"
                    name="{{ctrl.field.name}}_BMP"
                    ng-model="ctrl[ctrl.field.name+'BMP']"
                    ng-change="ctrl.toggleAllowedFileType('BMP')"> BMP
            </div>
            <div>
                <input type="checkbox"
                    name="{{ctrl.field.name}}_GIF"
                    ng-model="ctrl[ctrl.field.name+'GIF']"
                    ng-change="ctrl.toggleAllowedFileType('GIF')"> GIF
            </div>
            <div>
                <input type="checkbox"
                    name="{{ctrl.field.name}}_DOC"
                    ng-model="ctrl[ctrl.field.name+'DOC']"
                    ng-change="ctrl.toggleAllowedFileType('DOC')"> DOC/DOCX
            </div>
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-1 col-xs-offset-3">
            <label>Message</label>
        </div>
        <div class="col-xs-5">
            <input ng-model="ctrl.field.allowedType.message"
                class="form-control"
                type="text"
                style="width:100%">
        </div>
    </div>
    <hr class="row">
    <validation-config field="ctrl.field"></validation-config>
    <hr class="row">
    <dependency-config field="ctrl.field"
        form-input-list="ctrl.formInputList"></dependency-config>
</div>
