<div class="panel-body">
    <div ng-include="'templates/input/commonInputConfig.html'"></div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Action Type</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.actionType = (ctrl.field.actionType === undefined) ? '' : ctrl.field.actionType">
            <select class="w-select form-control"
                ng-model="ctrl.field.actionType">
                <option value="button">Button</option>
                <option value="link">Link</option>
            </select>
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            Add Actions :
        </div>
        <div class="col-xs-3">
            <input class="btn btn-primary"
                type="button"
                value="Add"
                ng-click="ctrl.addAction()"
                style="width:auto;">
        </div>
    </div>
    <div class="row margin"
        ng-repeat="action in ctrl.field.actionItems"
        ng-init="ctrl.field.actionItems = (ctrl.field.actionItems === undefined) ? [] : ctrl.field.actionItems"
        style="margin-top:10px">
        <div class="col-xs-12 panel panel default padding"
            style="background:#F8F8F8;">
            <div class="col-xs-12">
                <div class="col-xs-3">
                    <button class="btn btn-danger"
                        ng-click="ctrl.removeAction($index)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    <label>Action {{$index + 1}}</label>
                </div>
                <div class="col-xs-2">
                    <label>Action Label (Optional)</label>
                </div>
                <div class="col-xs-6">
                    <input ng-model="action.label"
                        class="form-control"
                        type="text"
                        style="width:100%">
                </div>
            </div>
            <div class="col-xs-12"
                style="margin-top:5px">
                <div class="col-xs-offset-3 col-xs-2">
                    <label>Action Name</label>
                </div>
                <div class="col-xs-6">
                    <input ng-model="action.name"
                        class="form-control"
                        type="text"
                        style="width:100%">
                </div>
            </div>
            <div class="col-xs-12"
                style="margin-top:5px">
                <div class="col-xs-offset-3 col-xs-2">
                    <label>Action API Url (Optional)</label>
                </div>
                <div class="col-xs-6">
                    <input ng-model="action.apiUrl"
                        class="form-control"
                        type="text"
                        style="width:100%">
                </div>
            </div>
            <div class="col-xs-12"
                style="margin-top:5px">
                <div class="col-xs-offset-3 col-xs-2">
                    <label>Action Class (Optional)</label>
                </div>
                <div class="col-xs-6"
                    ng-init="action.class = (action.class === undefined) ? 'btn btn-primary' : action.class ">
                    <input ng-model="action.class"
                        class="form-control"
                        type="text"
                        style="width:100%">
                </div>
            </div>
        </div>
    </div>
    <hr class="row">
    <validation-config field="ctrl.field"></validation-config>
    <hr class="row">
    <dependency-config field="ctrl.field"
        form-input-list="ctrl.formInputList"></dependency-config>
</div>
