<div class="panel-body">
    <div class="row padding">
        <div class="col-xs-3">
            <label>Label (Optional)</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.label.name = (ctrl.field.label.name === undefined) ? '' : ctrl.field.label.name">
            <input ng-model="ctrl.field.label.name" class="form-control" type="text" style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>CSS Class (Optional)</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.class = (ctrl.field.class === undefined) ? '' : ctrl.field.class">
            <input ng-model="ctrl.field.class" class="form-control" type="text" style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>CSS Style (Optional)</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.style = (ctrl.field.style === undefined) ? '' : ctrl.field.style">
            <textarea style="" rows="1" ng-model="ctrl.field.style" class="form-control" style="width:100%"></textarea>
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Template Url</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.templateUrl = (ctrl.field.templateUrl === undefined) ? '' : ctrl.field.templateUrl">
            <input ng-model="ctrl.field.templateUrl" class="form-control" type="text" style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Modal Dialog Title</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.title = (ctrl.field.title === undefined) ? '' : ctrl.field.title">
            <input ng-model="ctrl.field.title" class="form-control" type="text" style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Enable Print</label>
        </div>
        <div class="col-xs-6" 
            ng-init="ctrl.field.printInModal = (ctrl.field.printInModal === undefined) ? true : ctrl.field.printInModal">
            <input ng-model="ctrl.field.printInModal" type="radio" ng-value="true"> Yes &nbsp;&nbsp;&nbsp;&nbsp;
            <input ng-model="ctrl.field.printInModal" type="radio" ng-value="false"> No
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Show by default</label>
        </div>
        <div class="col-xs-6" 
            ng-init="ctrl.field.defaultVisible = (ctrl.field.defaultVisible === undefined) ? true : ctrl.field.defaultVisible">
            <input ng-model="ctrl.field.defaultVisible" type="radio" ng-value="true"> Yes &nbsp;&nbsp;&nbsp;&nbsp;
            <input ng-model="ctrl.field.defaultVisible" type="radio" ng-value="false"> No
        </div>
    </div>
    <hr class="row">
    <validation-config field="ctrl.field"></validation-config>
    <hr class="row">
    <dependency-config field="ctrl.field" form-input-list="ctrl.formInputList"></dependency-config>
</div>
