<div class="panel-body">
    <div class="row padding">
        <div class="col-xs-3">
            <label>Text Content</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.textContent = (ctrl.field.textContent === undefined) ? '' : ctrl.field.textContent">
            <input ng-model="ctrl.field.textContent"
                class="form-control"
                type="text"
                style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>CSS Class (Optional)</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.class = (ctrl.field.class === undefined) ? '' : ctrl.field.class">
            <input ng-model="ctrl.field.class"
                class="form-control"
                type="text"
                style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Field Label Style (Optional)</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.labelStyle = (ctrl.field.labelStyle === undefined) ? '' : ctrl.field.labelStyle">
            <textarea style=""
                rows="1"
                ng-model="ctrl.field.labelStyle"
                class="form-control"
                style="width:100%"></textarea>
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Field Label Class (Optional)</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.labelCssClass = (ctrl.field.labelCssClass === undefined) ? 'col-xs-12' : ctrl.field.labelCssClass">
            <input ng-model="ctrl.field.labelCssClass"
                class="form-control"
                type="text"
                style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Show by default</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.defaultVisible = (ctrl.field.defaultVisible === undefined) ? true : ctrl.field.defaultVisible">
            <input ng-model="ctrl.field.defaultVisible"
                type="radio"
                ng-value="true"> Yes &nbsp;&nbsp;&nbsp;&nbsp;
            <input ng-model="ctrl.field.defaultVisible"
                type="radio"
                ng-value="false"> No
        </div>
    </div>
    <hr class="row">
    <dependency-config field="ctrl.field"
        form-input-list="ctrl.formInputList"
        dependency-types="ctrl.dependencyTypes"></dependency-config>
</div>
