<div class="panel-body">
    <div class="row padding">
        <div class="col-xs-3">
            <label>Template Url</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.templateUrl = (ctrl.field.templateUrl === undefined) ? '' : ctrl.field.templateUrl">
            <input ng-model="ctrl.field.templateUrl" class="form-control" type="text" style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Show by default</label>
        </div>
        <div class="col-xs-6" 
            ng-init="ctrl.field.defaultVisible = (ctrl.field.defaultVisible === undefined) ? true : ctrl.field.defaultVisible">
            <input ng-model="ctrl.field.defaultVisible" type="radio" ng-value="true"> Yes &nbsp;&nbsp;&nbsp;&nbsp;
            <input ng-model="ctrl.field.defaultVisible" type="radio" ng-value="false"> No
        </div>
    </div>
    <hr class="row">
    <dependency-config field="ctrl.field" form-input-list="ctrl.formInputList" dependency-types="ctrl.dependencyTypes"></dependency-config>
</div>