<div class="panel-body">
    <div ng-include="'templates/input/commonInputConfig.html'"></div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Alignment</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.alignment = (ctrl.field.alignment === undefined) ? 'inline' : ctrl.field.alignment">
            <input ng-model="ctrl.field.alignment"
                type="radio"
                value="stack"> Stack &nbsp;&nbsp;&nbsp;&nbsp;
            <input ng-model="ctrl.field.alignment"
                type="radio"
                value="inline"> Inline
        </div>
    </div>
    <hr class="row">
    <div class="row">
        <div class="col-xs-3">
            Add Options :
        </div>
        <div class="col-xs-3">
            <input class="btn btn-primary"
                type="button"
                value="Add"
                ng-click="ctrl.addOptions()"
                style="width:auto;">
        </div>
    </div>
    <div class="row margin"
        ng-repeat="item in ctrl.field.items"
        ng-init="ctrl.field.items = (ctrl.field.items === undefined) ? [] : ctrl.field.items"
        style="margin-top:10px">
        <div class="col-xs-12 panel panel default padding"
            style="background:#F8F8F8;">
            <div class="col-xs-12">
                <div class="col-xs-3">
                    <button class="btn btn-danger"
                        ng-click="ctrl.removeOptions($index)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    <label>Option {{$index + 1}}</label>
                </div>
                <div class="col-xs-2">
                    <label>Option Label</label>
                </div>
                <div class="col-xs-6">
                    <input ng-model="item.label"
                        class="form-control"
                        type="text"
                        style="width:100%">
                </div>
            </div>
            <div class="col-xs-12"
                style="margin-top:5px">
                <div class="col-xs-offset-3 col-xs-2">
                    <label>Option Value</label>
                </div>
                <div class="col-xs-6">
                    <input ng-model="item.value"
                        class="form-control"
                        type="text"
                        style="width:100%">
                </div>
            </div>
        </div>
    </div>
    <hr class="row">
    <validation-config field="ctrl.field"></validation-config>
    <hr class="row">
    <dependency-config field="ctrl.field"
        form-input-list="ctrl.formInputList"></dependency-config>
</div>
