<div class="panel-body">
    <div ng-include="'templates/input/commonInputConfig.html'"></div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Mask Input</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.maskInput = (ctrl.field.maskInput === undefined) ? false : ctrl.field.maskInput">
            <input ng-model="ctrl.field.maskInput"
                type="radio"
                ng-value="true"> Yes &nbsp;&nbsp;&nbsp;&nbsp;
            <input ng-model="ctrl.field.maskInput"
                type="radio"
                ng-value="false"> No
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-3">
            <label>Input Type</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.field.inputFormat.type = (ctrl.field.inputFormat.type === undefined) ? '' : ctrl.field.inputFormat.type">
            <select class="form-control"
                ng-model="ctrl.field.inputFormat.type"
                ng-change="ctrl.field.inputFormat.attributes = {}">
                <option value="">Default</option>
                <option value="currency">Currency</option>
            </select>
        </div>
    </div>
    <currency-format-config ng-if="ctrl.field.inputFormat.type === 'currency'"
        ng-init="ctrl.field.inputFormat.attributes = (ctrl.field.inputFormat.attributes === undefined) ? {} : ctrl.field.inputFormat.attributes"
        field="ctrl.field"></currency-format-config>
    <hr class="row">
    <validation-config field="ctrl.field"></validation-config>
    <hr class="row">
    <dependency-config field="ctrl.field"
        form-input-list="ctrl.formInputList"></dependency-config>
</div>
