<div class="row">
    <div class="col-xs-3">
        Add Validator (Optional)
    </div>
    <div class="col-xs-5">
        <select class="w-select form-control"
            ng-model="ctrl.selectedValidatorType">
            <option value="isRequired"
                ng-if="!ctrl.field.validators.isRequired">Is Required</option>
            <option value="minLength"
                ng-if="!ctrl.field.validators.minLength">Min Length</option>
            <option value="maxLength"
                ng-if="!ctrl.field.validators.maxLength">Max Length</option>
            <option value="pattern">Regular Expression Pattern</option>
            <option value="blockSameFileName"
                ng-if="!ctrl.field.validators.blockSameFileName">Block Same File Name</option>
        </select>
    </div>
    <div class="col-xs-3">
        <input class="btn btn-primary"
            type="button"
            value="Add"
            ng-click="ctrl.addValidator()"
            style="width:auto;">
    </div>
</div>
<div class="row margin"
    ng-repeat="(validator, detail) in ctrl.field.validators"
    ng-init="ctrl.field.validators = (ctrl.field.validators === undefined) ? [] : ctrl.field.validators">
    <div ng-if="validator !== 'patterns'"
        class="col-xs-12 panel panel default padding"
        style="background:#F8F8F8;">
        <div class="col-xs-12"
            style="padding:3px 0">
            <div class="col-xs-3">
                Validator Type
            </div>
            <div class="col-xs-6">
                {{validator}}
            </div>
            <div class="col-xs-3">
                <input class="btn btn-danger"
                    type="button"
                    value="Remove"
                    ng-click="ctrl.removeValidator(validator)"
                    style="width:auto;float:right;">
            </div>
        </div>
        <div class="col-xs-12"
            style="padding:3px 0"
            ng-repeat="(key, value) in detail">
            <div class="col-xs-3">
                {{key}} :
            </div>
            <div class="col-xs-6">
                <input ng-model="ctrl.field.validators[validator][key]"
                    class="form-control"
                    type="text"
                    style="width:100%">
            </div>
        </div>
    </div>
    <div ng-if="validator === 'patterns'"
        ng-repeat="patternValidator in detail">
        <div class="col-xs-12 panel panel default padding"
            style="background:#F8F8F8;">
            <div class="col-xs-12"
                style="padding:3px 0">
                <div class="col-xs-3">
                    Validator Type
                </div>
                <div class="col-xs-6">
                    Regular Expression Pattern
                </div>
                <div class="col-xs-3">
                    <input class="btn btn-danger"
                        type="button"
                        value="Remove"
                        ng-click="ctrl.removePatternValidator(patternValidator.id)"
                        style="width:auto;float:right;">
                </div>
            </div>
            <div ng-if="key !== 'id'"
                class="col-xs-12"
                style="padding:3px 0"
                ng-repeat="(key, value) in patternValidator">
                <div class="col-xs-3">
                    {{key}} :
                </div>
                <div class="col-xs-6">
                    <input ng-model="patternValidator[key]"
                        class="form-control"
                        type="text"
                        style="width:100%">
                </div>
            </div>
        </div>
    </div>
</div>
