<div class="container">
    <div>
        <ol class="list-unstyled breadcrumb">
            <li><a href="">Home</a></li>
            <li><a href="">Level 2</a></li>
            <li><a href="">Level 3</a></li>
            <li>Current Page</li>
        </ol>
    </div>
    <div class="visible-desktop">
        <div plain-view
            template-url="'data/contentManaged/cm_SCRN0000_header.html'">
        </div>
    </div>
    <div acknowledgement-view
        display-title="'Record has been successfully updated.'"
        content-details="ctrl.passContentDetails"
        is-visible="true"
        is-success-view="true">
    </div>
    <div acknowledgement-view
        display-title="'There is a problem with your submission.'"
        content-details="ctrl.failedContentDetails"
        is-visible="true"
        is-success-view="false">
    </div>
    <div class="page_header">
        <h1>Header Transaction</h1>
    </div>
    <div class="page__body">
        <div class="page-section">
            <div class="sub-section">
                <div plain-view
                    template-url="'data/contentManaged/cm_SCRN0000_instr01.html'">
                </div>
            </div>
            <div class="page-section__header__title">Section Transaction Entry</div>
            <br/>

            <div class="sub-section">
                <div class="sub-section__header__title">Without Component</div>
                <div class="entry_search_wrapper">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div>
                                <label class="field-title">
                                    Field 1
                                </label>
                            </div>
                            <div>
                                <input type="text"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div>
                                <label class="field-title">
                                    Field 2
                                </label>
                            </div>
                            <div>
                                <input type="text"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <input type="button"
                            value="Search"
                            class="button button--red-thin search-button-margin" />
                    </div>
                </div>
            </div>
            <div class="sub-section">
                <div class="sub-section__header__title">With Component</div>
                <div class="entry_search_wrapper">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 dropdown-wrapper zero-component-padding">
                            <div drop-down-list
                                label="ctrl.config.policy.label"
                                form-name="'serviceRequestForm'"
                                form-section-mode="'edit'"
                                form-manager="ctrl.config.policy.formManager"
                                field-name="'policy'"
                                field-id="'policyId'"
                                default-label="'Select Policy No'"
                                ddl-type="'static'"
                                ddl-items="ctrl.config.policy.ddlItems"
                                validators="ctrl.config.policy.validators"></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 dropdown-wrapper zero-component-padding">
                            <div drop-down-list
                                label="ctrl.config.requestType.label"
                                form-name="'serviceRequestForm'"
                                form-section-mode="'edit'"
                                form-manager="ctrl.config.requestType.formManager"
                                field-name="'requestType'"
                                field-id="'requestTypeId'"
                                default-label="'Select Policy Request'"
                                ddl-type="'static'"
                                ddl-items="ctrl.config.requestType.ddlItems"
                                validators="ctrl.config.requestType.validators"></div>
                        </div>
                    </div>
                    <div class="row">
                        <input type="button"
                            value="Search"
                            class="button button--red-thin search-button-margin" />
                    </div>
                </div>
            </div>
        </div>

        <div class="divider-padding">
            <hr class="section__divider" />
        </div>

        <div class="page-section">
            <div class="page-section__header__title">Detail Section</div>
            <div class="sub-section row">
                <div class="sub-section__header__title sub-section__header__title__margin">Without Component</div>
                <div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div>
                            <label class="field-title">Testing Label 1
                            </label>
                        </div>
                        <div class="field-value">
                            Testing Field 1
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div>
                            <label class="field-title">Testing Label 2
                            </label>
                        </div>
                        <div class="field-value">
                            Testing Field 2
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div>
                            <label class="field-title">Testing Label 1
                            </label>
                        </div>
                        <div class="field-value">
                            Testing Field 1
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div>
                            <label class="field-title">Testing Label 2
                            </label>
                        </div>
                        <div class="field-value">
                            Testing Field 2
                        </div>
                    </div>
                </div>

                <div>
                    <div class="col-xs-12 col-sm-6 component-padding input-wrapper">
                        <div single-line-text
                            label="ctrl.config.testing3.label"
                            place-holder=""
                            column-css-class="ctrl.config.testing3.columnCssClass"
                            input-css-class="ctrl.config.testing3.inputCssClass"
                            label-css-class="ctrl.config.testing3.labelCssClass"
                            form-name="ctrl.config.testing3.name"
                            form-section-mode="ctrl.config.testing3.mode"
                            form-manager="ctrl.config.testing3.formManager"
                            validators=""
                            field-name="'testing3'"
                            field-id="'testing3'"
                            field-style="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 component-padding input-wrapper">
                        <div single-line-text
                            label="ctrl.config.testing4.label"
                            place-holder=""
                            column-css-class="ctrl.config.testing4.columnCssClass"
                            input-css-class="ctrl.config.testing4.inputCssClass"
                            label-css-class="ctrl.config.testing4.labelCssClass"
                            form-name="ctrl.config.testing4.name"
                            form-section-mode="ctrl.config.testing4.mode"
                            form-manager="ctrl.config.testing4.formManager"
                            validators=""
                            field-name="'testing4'"
                            field-id="'testing4'"
                            field-style="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="divider-padding">
            <hr class="section__divider" />
        </div>

        <div class="page-section">
            <div class="page-section__header__title">Data Entry Section</div>
            <div class="sub-section row">
                <div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div>
                            <label class="field-title">Field 1 (Without Component)
                            </label>
                        </div>
                        <div>
                            <input type="text"
                                class="form-control" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div>
                            <label class="field-title">Field 2 (Without Component)
                            </label>
                        </div>
                        <div>
                            <input type="text"
                                class="form-control" />
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div>
                            <label class="field-title">Field 1
                            </label>
                        </div>
                        <div>
                            <input type="text"
                                class="form-control" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div>
                            <label class="field-title">Field 2
                            </label>
                        </div>
                        <div>
                            <input type="text"
                                class="form-control" />
                        </div>
                    </div>
                </div>

                <div>
                    <div class="col-xs-12 col-sm-6 component-padding input-wrapper">
                        <div single-line-text
                            label="ctrl.config.testing.label"
                            place-holder=""
                            column-css-class="ctrl.config.testing.columnCssClass"
                            input-css-class="ctrl.config.testing.inputCssClass"
                            label-css-class="ctrl.config.testing.labelCssClass"
                            form-name="ctrl.config.testing.name"
                            form-section-mode="ctrl.config.testing.mode"
                            form-manager="ctrl.config.testing.formManager"
                            validators=""
                            field-name="'testing'"
                            field-id="'testing'"
                            field-style="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 component-padding input-wrapper">
                        <div single-line-text
                            label="ctrl.config.testing2.label"
                            place-holder=""
                            column-css-class="ctrl.config.testing2.columnCssClass"
                            input-css-class="ctrl.config.testing2.inputCssClass"
                            label-css-class="ctrl.config.testing2.labelCssClass"
                            form-name="ctrl.config.testing2.name"
                            form-section-mode="ctrl.config.testing2.mode"
                            form-manager="ctrl.config.testing2.formManager"
                            validators=""
                            field-name="'testing2'"
                            field-id="'testing2'"
                            field-style="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 component-padding input-wrapper">
                    <div date-picker
                        column-css-class="ctrl.config.testing5.cssClass"
                        label="ctrl.config.testing5.label"
                        input-css-class="ctrl.config.testing5.inputCssClass"
                        label-css-class="ctrl.config.testing5.labelCssClass"
                        input-style="ctrl.config.testing5.inputStyle"
                        label-style="ctrl.config.testing5.labelStyle"
                        form-name="ctrl.formName"
                        form-section-mode="ctrl.config.testing5.formSectionMode"
                        form-manager="ctrl.config.testing5.formManager"
                        validators="ctrl.config.testing5.validators"
                        field-name="ctrl.config.testing5.name"
                        field-id="ctrl.config.testing5.id"
                        field-class="ctrl.config.testing5.class"
                        field-style="ctrl.config.testing5.style"
                        min="ctrl.config.testing5.min"
                        max="ctrl.config.testing5.max"
                        format="ctrl.config.testing5.format"></div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-6 vertical-padding input-wrapper">
                    <div class="">
                        <label class="field-title">Personal Contact Mobile</label>
                    </div>
                    <div drop-down-list
                        label="ctrl.config.areaCode.label"
                        column-css-class="ctrl.config.areaCode.columnCssClass"
                        input-css-class="ctrl.config.areaCode.inputCssClass"
                        label-css-class="ctrl.config.areaCode.labelCssClass"
                        form-name="'areaCodeForm'"
                        form-section-mode="ctrl.config.areaCode.mode"
                        form-manager="ctrl.config.areaCode.formManager"
                        field-name="'mobileAreaCode'"
                        field-id="'mobileAreaCodeId'"
                        default-label="'areacode'"
                        ddl-type="ctrl.config.areaCode.ddlType"
                        ddl-items="ctrl.config.areaCode.ddlItems">
                    </div>
                    <div single-line-text
                        label="ctrl.config.number.label"
                        column-css-class="ctrl.config.number.columnCssClass"
                        input-css-class="ctrl.config.number.inputCssClass"
                        label-css-class="ctrl.config.number.labelCssClass"
                        form-name="'numberForm'"
                        form-section-mode="ctrl.config.number.mode"
                        form-manager="ctrl.config.number.formManager"
                        field-name="'mobileNumber'"
                        field-id="'mobileNumber'"
                        field-style="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider-padding clearfix">
        <hr class="section__divider" />
    </div>
    <!-- Collapsible Table UI Template-->
    <div class="page__body">
        <div class="page-section">
            <div class="page-section__header">
                <div class="page-section__header__title">{{::ctrl.policyTableTitle.health}}</div>
            </div>
            <div class="page-section__body">
                <div class="row accordion-section__row">
                    <accordion>
                        <accordion-group is-open="status.open">
                            <accordion-heading>
                                <button class="glyphicon accordion-section__button"
                                    ng-class="{'glyphicon-menu-up': status.open, 'glyphicon-menu-down': !status.open}"></button>
                            </accordion-heading>
                            <table class="footable"
                                id="table_id">
                                <thead>
                                    <th data-sort-initial="true">{{ctrl.policyTableHeader.planName}}
                                        <br/>{{ctrl.policyTableHeader.policyNo}}
                                    </th>
                                    <th>{{ctrl.policyTableHeader.premium}}
                                        <br/> {{ctrl.policyTableHeader.frequency}}
                                    </th>
                                    <th data-hide="phone">
                                        {{ctrl.policyTableHeader.paymentMethod}}
                                        <br/>{{ctrl.policyTableHeader.policyStatus}}
                                    </th>
                                    <th data-hide="phone">{{ctrl.policyTableHeader.sumAssured}}
                                        <br/> {{ctrl.policyTableHeader.surrenderValue}}</th>
                                    <th data-hide="phone">{{ctrl.policyTableHeader.lifeAssured}}
                                        <br/>{{ctrl.policyTableHeader.policyStartDate}}</th>
                                    <th data-hide="phone">{{ctrl.policyTableHeader.coverageEndDate}}
                                        <br/>{{ctrl.policyTableHeader.nectPremiumDueDate}}</th>
                                    <th data-hide="phone">{{ctrl.policyTableHeader.nominationExists}}
                                        <br/> {{ctrl.policyTableHeader.nominateEffectiveDate}}</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ctrl.policyTable">
                                        <td>{{::item.planName}}
                                            <br/> {{::item.policyNo}}</td>
                                        <td>{{::item.premium}}
                                            <br/> {{::item.frequency}}</td>
                                        <td>{{::item.paymentMethod}}
                                            <br/> {{::item.policyStatus}}</td>
                                        <td> {{::item.sumAssured}}
                                            <br/> {{::item.surrenderValue}} </td>
                                        <td> {{::item.lifeAssured}}
                                            <br/> {{::item.startDate}} </td>
                                        <td>{{::item.endDate}}
                                            <br/> {{::item.nextPremiumDueDate}}</td>
                                        <td> {{::item.nomination}}
                                            <br/> {{::item.nextEffectiveDate}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Collapsible Table UI Template -->

    <div class="divider-padding clearfix">
        <hr class="section__divider" />
    </div>
    <div class="page_header">
        <h1>New Service Request (Section structure)</h1>
    </div>
    <div class="page-section">
        <div class="page-section__header">
            <div class="page-section__header__title">1400055 - Smart Life Advantage</div>
        </div>
        <div class="page-section__sub-header">
            <div class="page-section__sub-header__title">Current Fund Detail</div>
        </div>

        <div class="divider-padding"></div>
        <div class="sub-section ">
            <div class="sub-section__header">
                <div class="sub-section__header__title">Protection Account</div>
            </div>
            <div class="sub-section__sub-header">
                <div class="sub-section__sub-header__title">Funds to be switched out from:</div>
            </div>
            <div class="table-pagination-wrapper">
                <div class="table-pagination">
                    <div class="table-pagination__nav-block table-pagination__nav-block--back">
                        <span class="hidden-xs">Back</span>
                    </div>
                    <div class="table-pagination__nav-block table-pagination__nav-block--page">
                        <input type="text"
                            ng-model="ctrl.pageNumber"
                            input-format="ctrl.pageNumberFormat">
                        <span>of 20</span>
                    </div>
                    <div class="table-pagination__nav-block table-pagination__nav-block--next">
                        <span class="hidden-xs">Next</span>
                    </div>
                </div>
            </div>
            <table class="footable"
                id="table_id"
                ng-init="ctrl.initTable('table_id')">
                <thead>
                    <th data-sort-initial="true">Name</th>
                    <th>Date</th>
                    <th data-hide="phone">Amount</th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ctrl.testingList">
                        <td>{{item.name}}</td>
                        <td class="text-align-right">{{item.date}}</td>
                        <td class="text-align-right">{{item.amount}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="sub-section__sub-header">
                <div class="sub-section__sub-header__title">Funds to be switched out from:</div>
            </div>

            <table class="footable"
                id="table_id"
                ng-init="ctrl.initTable('table_id')">
                <thead>
                    <th data-sort-initial="true">Name</th>
                    <th>Date</th>
                    <th data-hide="phone">Amount</th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ctrl.testingList">
                        <td>{{item.name}}</td>
                        <td class="text-align-right">{{item.date}}</td>
                        <td class="text-align-right">{{item.amount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <input type="button"
                class="secondary-button secondary-button--red-thin"
                value="Add Fund">
        </div>
        <div class="divider-padding"></div>
        <div class="sub-section ">
            <div class="sub-section__header">
                <div class="sub-section__header__title">Accumulation Account</div>
            </div>
            <div class="sub-section__sub-header">
                <div class="sub-section__sub-header__title">Funds to be switched out from:</div>
            </div>
            <table class="footable"
                id="table_id"
                ng-init="ctrl.initTable('table_id')">
                <thead>
                    <th data-sort-initial="true">Name</th>
                    <th>Date</th>
                    <th data-hide="phone">Amount</th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ctrl.testingList">
                        <td>{{item.name}}</td>
                        <td class="text-align-right">{{item.date}}</td>
                        <td class="text-align-right">{{item.amount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="sub-section__sub-header">
            <div class="sub-section__sub-header__title">Funds to be switched out from:</div>
        </div>
        <div>
            <input type="button"
                class="secondary-button secondary-button--red-thin"
                value="Add Fund">
        </div>

    </div>
    <br>
    <div class="page-section">
        <div>
            <div class="">
                <div class="right-wrapper">
                    <input type="button"
                        value="Submit"
                        class="button button--red-thin right-button" />
                </div>
                <div class="right-wrapper">
                    <input type="button"
                        value="Save As Draft"
                        class="button button--light-grey right-button" />
                </div>
                <div class="right-wrapper">
                    <input type="button"
                        value="No action"
                        class="button button--light-grey right-button" />
                </div>
            </div>
            <div class="left-wrapper">
                <input type="button"
                    value="Back"
                    class="button button--light-grey left-button" />
            </div>
        </div>
    </div>
    <div class="divider-padding clearfix">
        <hr class="section__divider" />
    </div>
    <div class="page-section">
        <div class="page-section__header__title">Calendar</div>
        <div class="sub-section row">
            <div class="col-xs-12 col-sm-6 vertical-padding">
                <div date-picker
                    column-css-class="ctrl.config.testing5.cssClass"
                    label="ctrl.config.testing5.label"
                    input-css-class="ctrl.config.testing5.inputCssClass"
                    label-css-class="ctrl.config.testing5.labelCssClass"
                    input-style="ctrl.config.testing5.inputStyle"
                    label-style="ctrl.config.testing5.labelStyle"
                    form-name="ctrl.formName"
                    form-section-mode="ctrl.config.testing5.formSectionMode"
                    form-manager="ctrl.config.testing5.formManager"
                    validators="ctrl.config.testing5.validators"
                    field-name="ctrl.config.testing5.name"
                    field-id="ctrl.config.testing5.id"
                    field-class="ctrl.config.testing5.class"
                    field-style="ctrl.config.testing5.style"
                    min="ctrl.config.testing5.min"
                    max="ctrl.config.testing5.max"
                    format="ctrl.config.testing5.format"></div>
            </div>
        </div>
    </div>
</div>
<layout ng-if="ctrl.initialized"
    actions="ctrl.actions"
    state-data="ctrl.layoutStateData"
    layout-data="ctrl.layoutData"
    additional-info="ctrl.additionalInfo">
</layout>
