<!-- <style>
</style>
 -->
<div class="container">
    <div class="page_header">
        <h1><u>Design Templates</u></h1>
    </div>

    <br>
    <div class="page__body">
        <div class="page-section">
            <div class="page-section__header__title status__section-title"
                style="">Claim Status Overview</div>
            <div class="row status__section-bottom-border">
                <div>
                    <!-- Claim Status button -->
                    <div class="col-xs-12 col-md-12 col-lg-3 status__main-button-container">
                        <button class="status__main-action-button">Make a claim</button>
                    </div>

                    <div class="col-xs-12 col-md-12 col-lg-9">
                        <div class="col-xs-3 nopadding status__bubble-field"
                            ng-repeat="icons in ctrl.iconActive"
                            ng-click="ctrl.iconClickEvent($index)">
                            <div class="col-xs-12 nopadding">
                                <div class="">
                                    <div class="status__bubble">
                                        <div class="status__bubble"
                                            ng-style="ctrl.setBubbleIconStyle($index)">
                                            <span class="status__bubble-count">{{icons.count}}</span>
                                        </div>
                                        <span class="status__bubble-name">{{icons.text}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding status__active-field">
                                <div class="status__active-field status__active-bubble"
                                    ng-if="icons.state"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="page__body">
        <div class="page-section">
            <div class="">
                <h1>Header 1</h1></div>
            <div class="row"></div>
            <div class="sub-section">
                <div class="sub-section__header__title"></div>
            </div>
            <div class="sub-section">
                <div class="sub-section__header__title"></div>
            </div>

            <div class="sub-section status_content__detail-section-top-border"
                style="">
                <div class="status_content"
                    ng-repeat="items in ctrl.testArray">
                    <div class="row">
                        <div class="col-xs-12 col-md-9 col-lg-9 status_content__detail"
                            ng-bind-html="items.text">

                        </div>
                        <div class="col-xs-12 col-md-3 col-lg-3">
                            <div class="col-xs-12">
                                <button class="status_action__button status_action__button-red"
                                    ng-click="ctrl.action1()">Action 1</button>
                            </div>
                            <div class="col-xs-12 ">
                                <button class="status_action__button status_action__button-black"
                                    ng-click="ctrl.action2()">Action 2</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <button class="status_action__button status_action__button-loadmore"
                    ng-click="ctrl.loadMore()">Load More</button>
            </div>
        </div>
    </div>

    <div class="divider-padding clearfix">
        <hr class="section__divider" />
    </div>

</div>
