<div class="modal-wrapper lang-modal">
    <div class="modal-header-custom lang-modal__header">
        <span class="modal-close-button"
            aria-hidden="true"
            ng-click="ctrl.close()">X</span>
        <span class="modal-title">Select your country and language</span>
    </div>
</div>
<div class="modal-body-custom lang-model__body">
    <div class="lightbox_wrapper">
        <div class="row">
            <div ng-repeat="c in ctrl.countries"
                class="col-xs-6 col-md-4 lang-block">
                <img ng-src="{{::c.iconUrl}}"
                    class="lang-block__icon"> <span class="lang-block__country-label"> {{::c.country}}</span>
                <ul class="lang-block__item-list">
                    <li ng-repeat="lang in c.languages">
                        <a class="lang-block__item-link"
                            ng-click="ctrl.selectLang(lang, c.iconUrl)">{{::lang.label}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
