<div menu
    class="high-z-index"
    menu-source="ctrl.menuSource">
</div>

<div id="uipContent"
    style="position: relative; z-index: 97;">
    <div class="cm_pagetitle_wrapper"
        style="position: relative;">

        <!-- content managed -->
        <!-- <div class="cm_pagetitle_bg">
            <object type="text/html"
                ng-attr-data="{{ctrl.contentPath}}"
                style="width:100%; margin:0;"></object>
        </div> -->
        <!-- to be revisit: current approach prevents event to occur in embedded object-->
        <!-- <div style="position: absolute; width: 100%; height: 100%; top:0; left: 0;"></div> -->
        <!-- content managed end-->
    </div>
    <div ui-view></div>
    <div class="container"
        ng-if="ctrl.showBackToTop">
        <div class="back-to-top-button--desktop"
            ng-click="ctrl.backToTop()"
            ng-class="{'not-visible': ctrl.backToTopFixed}">
            <span class="back-to-top-button__text">Back to top</span>
            <span><img src="images/icon_backTop.png"></span>
        </div>
        <div class="back-to-top-button--mobile"
            ng-click="ctrl.backToTop()"
            ng-if="ctrl.backToTopFixed">
            <span class="back-to-top-button__text">Back to top</span>
            <span><img src="images/icon_backTop.png"></span>
        </div>
    </div>
    <!-- this white space to ensure a default white above of footer section -->
    <div ng-if="ctrl.showBackToTop"
        style="height: 40px;">
    </div>
    <div id="menu-overlay"
        class="menu-overlay"></div>
    <!-- note: must add dl-menu id and dl-menuwrapper class to uip-menu-mobile directive -->
    <!-- note: avoid remove mobile IE9 side menu -->
    <!--[if gte IE 9]><!-->
    <div uip-menu-mobile
        id="dl-menu"
        class="dl-menuwrapper"
        menu-source="ctrl.menuSource"></div>
    <!--<![endif]-->
</div>
