<div class="uip-menu__subnav"
    data-collapse="medium"
    data-animation="over-right"
    data-duration="400"
    data-contain="1"
    data-doc-height="1"
    data-easing2="ease-out"
    data-easing="ease-in">
    <div class="container bar-container no-padding no-margin"
        style="max-width: 100% !important;">
        <div class="uip-menu__nav-button hamburger">
            <div><i class="fa fa-bars"></i></div>
        </div>
        <div class="uip-menu__red-man-wrapper visible-mobile">
            <div class="uip-menu__nav-button red-man-menu">
                <img src="images/icon_login_red.png">
            </div>
            <div class="red-man-sub-menu">
                <div class="red-man-sub-menu__panel"
                    ng-if="ctrl.isValid1FA()">
                    <div class="red-man-sub-menu__panel__title">
                        UIP
                    </div>
                    <div class="red-man-sub-menu__panel__link"
                        ng-if="ctrl.hasAuthToken()"
                        ng-click="ctrl.changePassword()">
                        Change Password
                    </div>
                    <div class="red-man-sub-menu__panel__link"
                        ng-click="ctrl.logoutSession()">
                        Logout
                    </div>
                </div>
                <div class="red-man-sub-menu__panel">
                    <div class="red-man-sub-menu__panel__title">
                        For Customers
                    </div>
                    <div class="red-man-sub-menu__panel__link">
                        e-Connect
                    </div>
                    <div class="red-man-sub-menu__panel__link">
                        Live Great
                    </div>
                </div>
                <div class="red-man-sub-menu__panel red-man-sub-menu__panel--last">
                    <div class="red-man-sub-menu__panel__title">
                        For Life Planning Advisors
                    </div>
                    <div class="red-man-sub-menu__panel__link">
                        e-Partner
                    </div>
                </div>
            </div>
        </div>
        <div uip-menu
            menu-source="ctrl.menuSource"></div>
        <a class="uip-menu__logo-container"
            href="#/dashboard">
            <div class="uip-menu__logo">Logo</div>
        </a>

    </div>
</div>
