<div id="footer_wrapper">
	<div id="footer_wrap">
		<!--<div class="footer_cont left">
			<p>Neo Fast Life is life insurance company Dai-ichi Life Group.</p>
		</div>-->
		
		<div class="footer_cont right">
				<ul class="footer_nav" nfl-menu></ul>
		</div>
	</div>
	<!--<div id="footer_copyright">
		Copyright (c) The Neo First Life Insurance Company, Limited. All Rights Reserved.
	</div>-->
	
</div>