<!--<div  id="header_wrapper">
	<div id="header_wrap">
	<div id="logo_cont">
	<a class="site_logo" href="#/Main">NFL Life Insurance</a>
	</div>
	<div id="top_login_cont">
	<span class="login_footnote">Already a member?</span>
	<div class="cta_btn transparent_btn top_login_btn right">Login</div>
	</div>
	</div>
</div>-->

<nav id="header_wrapper" class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
				
				<button type="button" class="navbar-toggle menu_toggle_button pull-left" ng-init="navCollapsed = true" ng-click="show_menu=true;navCollapsed = !navCollapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div id="header_wrap">
					<div id="logo_cont">
							<img ng-click="ctrl.goToHome()" class="site_logo use_cursor_pointer" src="images/logo_nfL_button.png"/>
					</div>
					<div id="top_login_cont">
						<span class="login_footnote">Already a member?</span>
						<div class="cta_btn transparent_btn top_login_btn right">Login</div>
					</div>
					<div id="top_login_icon">
						<i class="link_icon glyphicon glyphicon-user "></i>
					</div>
				</div>
	</div>
    
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div  class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
		<ul class="show_menu nav navbar-nav" nfl-menu></ul>
	</div><!-- /.navbar-collapse -->
</nav>
