<div class="modal-wrapper"
    style="height:100%;">
    <div class="modal-header-custom">
        <div>
            <span class="modal-close-button"
                aria-hidden="true"
                ng-click="ctrl.close()">X</span>
            <h3 class="modal-title">{{ ctrl.modalTitle | translate }}</h3>
        </div>
    </div>
    <div id="pdfFrame"
        style="height: calc(100% - 60px)">
        <div style="margin-top:20px;padding:10px">
            <p>It appears that the PDF viewer is not supported in this device\'s web browser.</p>
            <p>
                <button class="btn btn-default"
                    ng-click="ctrl.redirect()">Click here to download the PDF</button>
            </p>
        </div>
    </div>
</div>'
