<div class="container">
    <div class="page_header">
        <h1 class="h1">{{ ctrl.header | translate }}</h3>
        <h4 class="h4">{{ ctrl.message }}</h3>
    </div>
    <div class="page__body">
        <div class="left-wrapper">
            <input class="button button--red-thin left-button"
                value="{{ 'cfo.button.backToLogin' | translate }}"
                ng-click="ctrl.goToLogin()">
        </div>
    </div>
</div>
