<div class="needhelpwidget parbase needhelpwidgetwith4buttons">
    <div class="footerTop">
        <div class="mWrapper">
            <div class="footerContent oHide">
                <div class="footerColMobileLeft fLeft oHide">
                    <div class="footerCol footerCol1 fLeft">
                        <div class="innerWrap">
                            <div class="padTop">{{ 'cfo.label.needHelp' | translate }}</div>
                        </div>
                    </div>
                    <div class="footerCol footerCol2 fLeft">
                        <div class="innerWrap oHide">
                            <div class="footerCol2Left fLeft">
                                <div class="footerCol2Wrap oHide"> <img class="callImg fLeft"
                                        src="images/footer_phone.png">
                                    <div class="rel callText">
                                        <div class="small">{{ 'cfo.label.footerForProductEnquiries' | translate }}</div>
                                        <div>+65 6248 2211</div>
                                        <div class="small"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="footerCol2Right fLeft">
                                <div class="footerCol2Wrap">
                                    <div class="small">{{ 'cfo.label.footerForCustomerService' | translate }}</div>
                                    <div>1800 248 2888</div>
                                    <div class="small"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footerCol footerCol3 fLeft">
                    <div class="innerWrap oHide buttons4">
                        <div class="buttonCol buttonColSm fLeft"
                            onclick="location.href='mailto:wecare-my@greateasternlife.com'">
                            <div class="blackButton button"> <span><span class="ver">{{ 'cfo.label.emailUs' | translate }}</span></span>
                            </div>
                        </div>
                        <a href="/my/en/personal-insurance/get-help/contact-us.html"
                            id="nw4bbtn2"></a>
                        <div class="buttonCol buttonColSm fLeft">
                            <div class="blackButton button"
                                onclick="ChangeLocationURL('nw4bbtn2');"> <span><span class="ver">{{ 'cfo.label.visitUs' | translate }}</span></span>
                            </div>
                        </div>
                        <a href="/my/en/personal-insurance/get-help/claims.html"
                            id="nw4bbtn3"></a>
                        <div class="buttonCol fLeft">
                            <div class="redButton button"
                                onclick="ChangeLocationURL('nw4bbtn3');"> <span><span class="ver">{{ 'cfo.label.makeAClaim' | translate }}</span></span>
                            </div>
                        </div>
                        <a href="/my/en/personal-insurance/get-help/find-a-life-planning-advisor.html"
                            id="nw4bbtn4"></a>
                        <div class="buttonCol last fLeft">
                            <div class="redButton button"
                                onclick="ChangeLocationURL('nw4bbtn4');"> <span><span class="ver">{{ 'cfo.label.findPlanningAdvisor' | translate }}</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footerMiddle">
    <div class="mWrapper">
        <div class="footerContent oHide">
            <!-- developer note: rmb to add class="first" for the first and class="last" for the last element -->
            <div class="footerCol first fLeft">
                <div class="LandingPageTemplate(2A) page">
                    <div class="listTitle">{{ 'cfo.label.personalInsurance' | translate }}</div>
                    <ul>
                        <li><a href="/my/en/personal-insurance/understand-insurance.html">{{ 'cfo.label.understandInsurance' | translate }}</a></li>
                        <li><a href="/my/en/personal-insurance/find-the-right-plan.html">{{ 'cfo.label.findRightPlan' | translate }}</a></li>
                        <li><a href="/my/en/personal-insurance/live-great.html">{{ 'cfo.label.liveGreat' | translate }}</a></li>
                        <li><a href="/my/en/personal-insurance/get-help.html">{{ 'cfo.label.getHelp' | translate }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="footerCol fLeft">
                <div class="footerlinksec2 footerlink">
                    <div class="listTitle">{{ 'cfo.label.corporateSolutions' | translate }}</div>
                    <ul>
                        <li><a href="/my/en/corporate-solutions/general-insurance.html">{{ 'cfo.label.generalInsurance' | translate }}</a></li>
                        <li><a href="/my/en/corporate-solutions/group-insurance.html">{{ 'cfo.label.groupInsurance' | translate }}</a></li>
                        <li><a href="/my/en/corporate-solutions/corporate-wellness-programme.html">{{ 'cfo.label.corporateWellnessProgramme' | translate }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="footerCol fLeft">
                <div class="footerlinksec3 footerlink">
                    <div class="listTitle">{{ 'cfo.label.careers' | translate }}</div>
                    <ul>
                        <li><a href="/my/en/careers/employee.html">{{ 'cfo.label.employee' | translate }}</a></li>
                        <li><a href="/my/en/careers/life-planning-advisor.html">{{ 'cfo.label.lifePlanningAdvisor' | translate }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="footerCol last fLeft">
                <div class="footerlink footerlinksec4">
                    <div class="listTitle">{{ 'cfo.label.aboutUs' | translate }}</div>
                    <ul>
                        <li><a href="/my/en/about-us/company-profile.html">{{ 'cfo.label.companyProfile' | translate }}</a></li>
                        <li><a href="/my/en/about-us/media-centre.html">{{ 'cfo.label.mediaCentre' | translate }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-12 clearfix"><img class="footer-section__logo float-left"
                    src="images/logo.gif"
                    alt="54cf174a8466607d037b7f98_logo.png">
            </div>
            <div class="col-md-6 col-xs-12 clearfix">
                <ul class="list-unstyled footer-section__copyright-section">
                    <li class="clearfix">
                        <ul class="list-unstyled clearfix terms-condition">
                            <li class="clearfix footer-section__listfoot">
                                <div class="tnc">{{ 'cfo.label.termsAndConditions' | translate }}</div>
                            </li>
                            <li class="clearfix footer-section__list">
                                <div class="footer-section__listfoot last">{{ 'cfo.label.privacyAndSecurityPolicies' | translate }}</div>
                            </li>
                        </ul>
                        <div class="footer-section__copyright-txt">{{ 'cfo.label.footerCopyright' | translate }}</div>
                        <ul class="list-unstyled clearfix">
                            <li class="clearfix footer-section__listfoot">
                                <div>{{ 'cfo.label.greatEasternHoldingsLtd' | translate }}</div>
                            </li>
                            <li class="clearfix footer-section__listfoot">
                                <div>{{ 'cfo.label.greatEasternLifeAssuranceCoLtd' | translate }}</div>
                            </li>
                            <li class="clearfix footer-section__listfoot last">
                                <div>{{ 'cfo.label.overseasAssuranceCorpLtd' | translate }}</div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-xs-12">
                <ul class="list-unstyled clearfix footer-section__icon-list">
                    <li><img src="images/icon_instagram_off.png"
                            alt="54cf3a9523a1aa6d4eea8c9c_icon_instagram_off.png">
                    </li>
                    <li><img src="images/icon_linkedin_off.png"
                            alt="54cf3a8c7966547e03279dc2_icon_linkedin_off.png">
                    </li>
                    <li><img src="images/icon_pinterest_off.png"
                            alt="54cf3a808466607d037b8093_icon_pinterest_off.png">
                    </li>
                    <li><img src="images/icon_youtube_off.png"
                            alt="54cf3a717354ae6e4eedd505_icon_youtube_off.png">
                    </li>
                    <li><img src="images/icon_gplus_off.png"
                            alt="54cf3a637966547e03279dbe_icon_gplus_off.png">
                    </li>
                    <li><img src="images/icon_twitter_off.png"
                            alt="54cf3a417354ae6e4eedd504_icon_twitter_off.png">
                    </li>
                    <li><img src="images/icon_fb_off_lg.png"
                            width="35"
                            alt="54cf3a1a7354ae6e4eedd503_icon_fb_off_lg.png">
                    </li>
                </ul>
                <div class="footer-section__newsletter__container">
                    <div><a href="#">{{ 'cfo.label.getLiveGreat' | translate }} <span class="footer-section__newsletter">{{ 'cfo.label.updates' | translate }}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
