<div class="uip-header">
    <div class="uip-header__container">
        <div class="hidden-xs hidden-sm float-left">
            <div class="uip-header__item uip-header__item-left">
                <a ng-click="ctrl.goToHome()">
                    <img class="float-left"
                        src="images/icon_home.png"
                        alt="54cf257b7966547e03279c8e_icon_home.png">
                </a>
            </div>
            <div class="uip-header__item uip-header__item-left">
                {{ 'cfo.label.personalInsurance' | translate }}
            </div>
            <div class="uip-header__item uip-header__item-left">
                {{ 'cfo.label.corporateInsurance' | translate }}
            </div>
            <div class="uip-header__item uip-header__item-left">
                {{ 'cfo.label.careers' | translate }}
            </div>
            <div class="uip-header__item uip-header__item-left">
                {{ 'cfo.label.aboutUs' | translate }}
            </div>
        </div>
        <div class="float-right">
            <div class="uip-header__item uip-header__item-right visible-desktop"
                style="padding: 0; cursor: default;">
                <div class="red-man-wrapper"
                    ng-click="ctrl.toggleRedMan($event)">
                    <div class="red-man-menu">
                        <img class="loginimg"
                            src="images/icon_login.png"
                            alt="54cf23277354ae6e4eedd40a_icon_login.png">
                        <span ng-show="!ctrl.isValid1FA()">{{ 'cfo.menu.loginMenu' | translate }}</span>
                        <span ng-show="ctrl.isValid1FA()">{{ 'cfo.menu.menu' | translate }}</span>
                    </div>
                    <div class="red-man-sub-menu">
                        <div class="red-man-sub-menu__panel"
                            ng-if="ctrl.isValid1FA()">
                            <div class="red-man-sub-menu__panel__title">
                                UIP
                            </div>
                            <div class="red-man-sub-menu__panel__link"
                                ng-if="ctrl.hasAuthToken()"
                                ng-click="ctrl.changePassword()">
                                Change Password
                            </div>
                            <div class="red-man-sub-menu__panel__link"
                                ng-click="ctrl.logout()">
                                Logout
                            </div>
                        </div>
                        <div class="red-man-sub-menu__panel">

                            <div class="red-man-sub-menu__panel__title">
                                For Customers
                            </div>
                            <div class="red-man-sub-menu__panel__link">
                                e-Connect
                            </div>
                            <div class="red-man-sub-menu__panel__link">
                                Live Great
                            </div>
                        </div>
                        <div class="red-man-sub-menu__panel red-man-sub-menu__panel--last">
                            <div class="red-man-sub-menu__panel__title">
                                For Life Planning Advisors
                            </div>
                            <div class="red-man-sub-menu__panel__link">
                                e-Partner
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uip-header__item uip-header__item-right uip-header__item-last"
                ng-click="ctrl.showLanguageSelector()">
                <img class="uip-header__language"
                    src="{{ctrl.countryFlagIconUrl}}"
                    alt="54cf206d7354ae6e4eedd3f4_icon_sg.png">
                <span>{{ctrl.selectedLang}}</span>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
