<div class="menu-bar menu-desktop"
    ng-if="ctrl.showUipMenu">
    <div ng-repeat="level1 in ctrl.menus track by $index"
        class="float-left display-flex">
        <div class="menu-block">
            <div class="main-menu">
                <table>
                    <tr>
                        <td>
                            {{level1.rkey |translate}}
                        </td>
                        <td>
                            <div class="menu-arrow"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="sub-menu standard-menu hide"
                ng-if="level1.submenu[0]">
                <div class="sub-menu-column"
                    ng-class="{'dotted-left-border': $index > 0}">
                    <ul>
                        <li class="level-2"
                            ng-repeat="level2 in level1.submenu track by $index">
                            <a ng-click="ctrl.goToPath(level2.link, level2.scrn_cd)">{{level2.rkey | translate}}</a>
                            <ul ng-if="level2.submenu">
                                <li class="level-3"
                                    ng-repeat="level3 in level2.submenu track by $index">
                                    <a ng-click="ctrl.goToPath(level3.link, level3.scrn_cd)">{{level3.rkey | translate}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- notification template for coming development use -->
        <!-- <div class="menu-block"
            ng-if="$index === ctrl.menus.length -1">
            <div class="main-menu">
                <table>
                    <tr>
                        <td>
                            <div class="notification-icon-wrapper">
                                <span class="glyphicon glyphicon-bell notification-icon"></span>
                                <div class="notification-badge"
                                    ng-if="level1.submenu[0]">{{level1.submenu.length}}</div>
                            </div>
                        </td>
                        <td>
                            <div class="display-inline-block">
                                {{level1.rkey |translate}}
                            </div>
                        </td>
                        <td>
                            <div class="menu-arrow"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="sub-menu notification-menu hide"
                ng-if="level1.submenu[0]">
                <div class="notification-item"
                    ng-repeat="item in level1.submenu | limitTo : ctrl.notificationShow track by $index">
                    <div>
                        <div class="item-title">{{item.title}}</div>
                        <div class="item-date">{{item.date}}</div>
                    </div>
                    <div class="item-message">{{item.message}}</div>
                    <div class="text-align-right">
                        <div class="item-action">
                            <span class="item-action--view">{{item.action}}</span>
                        </div>
                    </div>
                </div>
                <div ng-if="level1.submenu.length > ctrl.notificationShow"
                    class="text-align-right"
                    ng-click="ctrl.toggleNotification($event, level1.submenu.length)">
                    <div class="read-more">&gt;&gt; Read More</div>
                </div>
                <div ng-if="ctrl.notificationShow > ctrl.notificationLimit"
                    class="text-align-right"
                    ng-click="ctrl.toggleNotification($event, ctrl.notificationLimit)">
                    <div class="read-more">&lt;&lt; Show Less</div>
                </div>
            </div>
        </div> -->
        <div class="divider"></div>
    </div>
</div>
