<div style="height:45px; width:1px;">
</div>
<ul class="dl-menu dl-menuopen">
    <li class="level-one"
        ng-if="ctrl.showUipMenu"
        ng-repeat="level1 in ctrl.menus">
        <a ng-click="ctrl.goToPath(level1.link)">{{ level1.rkey | translate}}</a>
        <!-- level 0 mobile notification template for coming development use -->
        <!-- <a ng-click="ctrl.goToPath(level1.link)"
            ng-if="$index === ctrl.menus.length -1">
            <span class="notification-icon">
                <span class="glyphicon glyphicon-bell"></span>
            <span class="notification-badge">{{level1.submenu.length}}</span>
            </span>{{ level1.rkey | translate}}</a> -->
        <ul class="dl-submenu"
            ng-if="level1.submenu">
            <li class="level-one">
                <a>{{ level1.rkey | translate}}</a>
            </li>
            <li class="level-two"
                ng-repeat="level2 in level1.submenu">
                <a ng-if="level2.submenu">{{level2.rkey | translate}}</a>
                <a ng-if="!level2.submenu"
                    ng-click="ctrl.goToPath(level2.link, level2.scrn_cd)">{{level2.rkey | translate}}</a>
                <ul class="dl-submenu"
                    ng-if="level2.submenu">
                    <li class="level-one">
                        <a>{{ level1.rkey | translate}}</a>
                    </li>
                    <li class="level-two">
                        <a ng-click="ctrl.goToPath(level2.link, level2.scrn_cd)">{{level2.rkey | translate}}</a>
                    </li>
                    <li class="level-three"
                        ng-repeat="level3 in level2.submenu">
                        <a ng-click="ctrl.goToPath(level3.link, level3.scrn_cd)">{{level3.rkey | translate}}</a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- notification template for coming development use -->
        <!-- <ul class="dl-submenu"
            ng-if="level1.submenu && $index === ctrl.menus.length -1">
            <li class="level-one">
                <a>
                    <span class="notification-icon">
                    <span class="glyphicon glyphicon-bell"></span>
                    <span class="notification-badge">{{level1.submenu.length}}</span>
                    </span>{{ level1.rkey | translate}}</a>
            </li>
            <li>
                <ul class="notification-wrapper">
                    <li class="level-two"
                        ng-repeat="level2 in level1.submenu | limitTo : ctrl.notificationShow">
                        <a ng-click="">{{level2.title | translate}} 
                            <span class="float-right">
                                <span class="notification-action notification-action--view">{{level2.action | translate}}</span>
                            </span>
                        </a>
                    </li>
                    <li class="level-two"
                        ng-if="level1.submenu.length > ctrl.notificationShow">
                        <a ng-click="ctrl.readMore($event, level1.submenu.length)"
                            class="read-more">&gt;&gt; Read More</a>
                    </li>
                </ul>
            </li>
        </ul> -->
    </li>
</ul>
