<script type="text/ng-template"
    id="layout.html">
    <div ng-if="ctrl.loaded"
        class="container">
        <div ng-if="ctrl.layout.title"
            style="margin-top:15px"
            class="page_header">
            <h1>{{ctrl.layout.title | translate}}</h1>
        </div>
        <div ng-if="ctrl.layout.components"
            data-ng-repeat="component in ctrl.layout.components">
            <div dynamic-form
                ng-if="component.type === 'dynamicForm'"
                data-form-layout="component"
                form-data="ctrl.stateData"
                actions="ctrl.actions"
                form-manager="ctrl.formManager"
                form-model="ctrl.formModel"
                form-data-source="ctrl.additionalInfo['form_data_source']"
                form-mode="ctrl.additionalInfo['form_mode']">
            </div>
            <br/>
            <br/>
            <div table-listing
                ng-if="component.type === 'tableListing'"
                data-table-layout="component"
                actions="ctrl.actions" selected-value="ctrl.selectedValue" select-on-row-fn="ctrl.selectOnRowFn(link)" selected-object="ctrl.selectedObject">
            </div>
        </div>
    </div>
</script>
