<div class="container">
    <div class="page_header">
        <!-- <label>{{::ctrl.model.message}}</label> -->
        <h1>{{'cfo.header.loggedOut' | translate}}.</h1>
    </div>
    <div class="page__body">
        <div class="page-section">
            <div class="sub-section__sub-header">
                <label class="sub-section__sub-header__title red-font">{{'cfo.label.loginDuration' | translate}}:
                    <span ng-if="ctrl.model.hours!=='00'">{{::ctrl.model.hours}} {{'cfo.label.hours' | translate}}</span>
                    <span>{{::ctrl.model.minutes}} {{'cfo.label.mins' | translate}}</span>
                    <span>{{::ctrl.model.seconds}} {{'cfo.label.secs' | translate}}</span>
                </label>
            </div>
        </div>

        <div class="page-section">
            <div class="row">
                <div class="col-md-2">
                    <label class="field-title">{{'cfo.label.login' | translate}}</label>
                </div>
                <div class="col-md-4">
                    <label class="field-value">{{::ctrl.model.login | date:'dd MMM yyyy hh:mm a'}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="field-title">{{'cfo.label.logout' | translate}}</label>
                </div>
                <div class="col-md-4">
                    <label class="field-value">{{::ctrl.model.logout | date:'dd MMM yyyy hh:mm a'}}</label>
                </div>
            </div>
        </div>

        <div class="divider-padding"></div>

        <div class="page-section"
            ng-if="ctrl.model.sumActivity">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-section__header__title">
                        <h1>{{'cfo.header.transPerformed' | translate}}</h1></div>
                </div>
            </div>
            <div class="vertical-padding summary-section">
                <table class="footable_sum_activity table"
                    data-page-size="20">
                    <thead>
                        <tr>
                            <th data-sort-initial="true"
                                valign="top"
                                data-sort-ignore="true">
                                {{'cfo.header.transDescription' | translate}}
                            </th>
                            <th data-sort-ignore="true">
                                {{'cfo.header.policyNoHdr' | translate}}
                            </th>
                            <th data-hide="phone"
                                data-sort-ignore="true">
                                {{'cfo.header.transTime' | translate}}
                            </th>
                            <th data-hide="phone"
                                data-sort-ignore="true">
                                {{'cfo.header.transRefNo' | translate}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="sumActivity in ::ctrl.model.sumActivity">
                            <td>{{sumActivity.trxn_dscp}}</td>
                            <td>{{sumActivity.policy_num}}</td>
                            <td>{{sumActivity.trxn_dt | date:'dd MMM yyyy hh:mm a'}}</td>
                            <td>{{sumActivity.trxn_ref}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="left-wrapper">
            <input class="button button--red-thin left-button"
                value="{{ 'cfo.button.backToLogin' | translate }}"
                ng-click="ctrl.goToLogin()">
        </div>
    </div>
</div>
