<div class="container">
    <div class="page_header">
        <h1>404 Page Not Found</h1>
    </div>
    <div class="entry_search_wrapper">
        <p>Oh no! I think we lost you. Try going back to the previous page.</p>
        <ul>
            <li><a onclick="window.location.href = '/'">Back to Home</a>
        </ul>
    </div>
</div>
