<script type="text/ng-template"
    id="collapsePanel.html">
    <div class="col-xs-12">
        <div style="margin-top:30px;">
            <div class="panel panel-default">
                <div class="panel-heading"
                    role="tab">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" 
                       data-target="#collapse_{{ctrl.collapsePanelLayout.name}}" 
                       aria-expanded="true" 
                       aria-controls="{{ctrl.collapsePanelLayout.name}}">
                      {{ ctrl.collapsePanelLayout.label }}
                    </a>
                </h4>
                </div>
                <div id="collapse_{{ctrl.collapsePanelLayout.name}}"
                    class="panel-collapse collapse in"
                    role="tabpanel">
                    <div class="panel-body">
                        <div class="row"
                            data-ng-repeat="row in ctrl.collapsePanelLayout.rows">
                            <div data-ng-repeat="column in row.columns">
                                <div collapse-column
                                    form-section-mode="ctrl.formSectionMode"
                                    form-name="ctrl.formName"
                                    column-layout="column"
                                    columns-count="row.columns.length"
                                    form-manager="ctrl.formManager"
                                    form-actions="ctrl.formActions"
                                    form-model="ctrl.formModel">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
