<script type="text/ng-template"
    id="dynamicForm.html">
    <div acknowledgement-view
        display-title="ctrl.formErrors.title"
        content-details="ctrl.formErrors.errors"
        is-success-view="ctrl.formErrors.isSuccessAck"
        is-visible="ctrl.formErrors.isVisibleAck">
    </div>
    <form name="{{ctrl.formLayout.name}}">
        <div form-section
            ng-if="ctrl.hasInitialized"
            section="section"
            form-mode="ctrl.formLayout.mode"
            form-name="ctrl.formLayout.name"
            form-model="ctrl.formModel"
            form-dependencies="section.dependencies"
            form-actions="ctrl.formLayout.actions"
            section-default-visible="section.defaultVisible"
            data-ng-repeat="section in ctrl.formLayout.sections"
            show-divider="$index < ctrl.formLayout.sections.length - 1"
            form-manager="ctrl.formManager">
        </div>
        <!-- <div form-footer
            form-manager="ctrl.formManager"
            form-mode="ctrl.formLayout.mode"
            footer-layout="ctrl.formLayout.footer"
            form-actions="ctrl.formLayout.actions"
            form-errors="ctrl.formErrors"
            form-model="ctrl.formModel"
            ng-if="ctrl.formLayout.actions">
        </div> -->
    </form>
</script>
