<script type="text/ng-template"
    id="formColumn.html">
    <div table-listing
        form-manager="ctrl.formManager"
        ng-if="ctrl.columnLayout.type === 'tableListing'"
        data-table-layout="ctrl.columnLayout">
    </div>
    <div modal-dialog-link
        column-css-class="ctrl.columnCssClass"
        label="ctrl.columnLayout.label"
        icon="ctrl.columnLayout.icon"
        style="ctrl.columnLayout.style"
        class="ctrl.columnLayout.cssClass"
        template-url="ctrl.columnLayout.templateUrl"
        title="ctrl.columnLayout.title"
        print-in-modal="ctrl.columnLayout.printInModal"
        ng-if="ctrl.columnLayout.type === 'modalDialogLink'">
    </div>
    <div plain-view
        column-css-class="ctrl.cssClass"
        template-url="ctrl.columnLayout.templateUrl"
        form-manager="ctrl.formManager"
        field-style="ctrl.columnLayout.style"
        field-dependencies="ctrl.columnLayout.dependencies"
        field-default-visible="ctrl.columnLayout.defaultVisible"
        row-group-index="ctrl.rowGroupIndex"
        ng-if="ctrl.columnLayout.type === 'plainView'">
    </div>
    <div plain-text
        column-css-class="ctrl.cssClass"
        label-css-class="ctrl.columnLayout.labelCssClass"
        label-style="ctrl.columnLayout.labelStyle"
        text-content="ctrl.columnLayout.textContent"
        form-manager="ctrl.formManager"
        field-style="ctrl.columnLayout.style"
        field-dependencies="ctrl.columnLayout.dependencies"
        field-default-visible="ctrl.columnLayout.defaultVisible"
        row-group-index="ctrl.rowGroupIndex"
        ng-if="ctrl.columnLayout.type === 'plainText'">
    </div>
    <div plain-html
        template="ctrl.columnLayout.template"
        ng-if="ctrl.columnLayout.type === 'plainHtml'">
    </div>
    <div single-line-text
        column-css-class="ctrl.cssClass"
        label="ctrl.columnLayout.label"
        place-holder="ctrl.columnLayout.placeHolder"
        input-css-class="ctrl.columnLayout.inputCssClass"
        label-css-class="ctrl.columnLayout.labelCssClass"
        input-style="ctrl.columnLayout.inputStyle"
        label-style="ctrl.columnLayout.labelStyle"
        field-input-format="ctrl.columnLayout.inputFormat"
        form-name="ctrl.formName"
        form-section-mode="ctrl.formSectionMode"
        form-manager="ctrl.formManager"
        validators="ctrl.columnLayout.validators"
        field-name="ctrl.columnLayout.name"
        field-id="ctrl.columnLayout.id"
        field-class="ctrl.columnLayout.cssClass"
        field-style="ctrl.columnLayout.style"
        field-dependencies="ctrl.columnLayout.dependencies"
        field-default-value="ctrl.columnLayout.defaultValue"
        field-default-disable="ctrl.columnLayout.defaultDisable"
        field-default-visible="ctrl.columnLayout.defaultVisible"
        mask-input="ctrl.columnLayout.maskInput"
        ng-if="ctrl.columnLayout.type === 'singleLineText'">
    </div>
    <div date-picker
        column-css-class="ctrl.cssClass"
        label="ctrl.columnLayout.label"
        input-css-class="ctrl.columnLayout.inputCssClass"
        label-css-class="ctrl.columnLayout.labelCssClass"
        input-style="ctrl.columnLayout.inputStyle"
        label-style="ctrl.columnLayout.labelStyle"
        form-name="ctrl.formName"
        form-section-mode="ctrl.formSectionMode"
        form-manager="ctrl.formManager"
        validators="ctrl.columnLayout.validators"
        field-name="ctrl.columnLayout.name"
        field-id="ctrl.columnLayout.id"
        field-class="ctrl.columnLayout.fieldCssClass"
        field-style="ctrl.columnLayout.style"
        min="ctrl.columnLayout.min"
        max="ctrl.columnLayout.max"
        min-dependency="ctrl.columnLayout.minDependency"
        max-dependency="ctrl.columnLayout.maxDependency"
        format="ctrl.columnLayout.format"
        field-dependencies="ctrl.columnLayout.dependencies"
        field-default-value="ctrl.columnLayout.defaultValue"
        field-default-disable="ctrl.columnLayout.defaultDisable"
        field-default-visible="ctrl.columnLayout.defaultVisible"
        ng-if="ctrl.columnLayout.type === 'datePicker'">
    </div>
    <div drop-down-list
        column-css-class="ctrl.cssClass"
        label="ctrl.columnLayout.label"
        input-css-class="ctrl.columnLayout.inputCssClass"
        label-css-class="ctrl.columnLayout.labelCssClass"
        input-style="ctrl.columnLayout.inputStyle"
        label-style="ctrl.columnLayout.labelStyle"
        form-name="ctrl.formName"
        form-section-mode="ctrl.formSectionMode"
        form-manager="ctrl.formManager"
        validators="ctrl.columnLayout.validators"
        field-name="ctrl.columnLayout.name"
        field-id="ctrl.columnLayout.id"
        field-class="ctrl.columnLayout.fieldCssClass"
        field-style="ctrl.columnLayout.style"
        default-label="ctrl.columnLayout.defaultLabel"
        url="ctrl.columnLayout.url"
        ddl-type="ctrl.columnLayout.ddlType"
        ignore-sort="ctrl.columnLayout.ignoreSort"
        ddl-items="ctrl.columnLayout.ddlItems"
        field-dependencies="ctrl.columnLayout.dependencies"
        field-default-value="ctrl.columnLayout.defaultValue"
        field-default-disable="ctrl.columnLayout.defaultDisable"
        field-default-visible="ctrl.columnLayout.defaultVisible"
        ng-if="ctrl.columnLayout.type === 'dropDownList'">
    </div>
    <div radio-group
        column-css-class="ctrl.cssClass"
        label="ctrl.columnLayout.label"
        input-css-class="ctrl.columnLayout.inputCssClass"
        label-css-class="ctrl.columnLayout.labelCssClass"
        input-style="ctrl.columnLayout.inputStyle"
        label-style="ctrl.columnLayout.labelStyle"
        form-model="ctrl.formModel"
        form-name="ctrl.formName"
        form-section-mode="ctrl.formSectionMode"
        form-manager="ctrl.formManager"
        validators="ctrl.columnLayout.validators"
        field-name="ctrl.columnLayout.name"
        field-id="ctrl.columnLayout.id"
        model-name="ctrl.modelName"
        field-class="ctrl.columnLayout.fieldCssClass"
        field-style="ctrl.columnLayout.style"
        field-items="ctrl.columnLayout.items"
        field-alignment="ctrl.columnLayout.alignment"
        field-dependencies="ctrl.columnLayout.dependencies"
        field-default-value="ctrl.columnLayout.defaultValue"
        field-default-disable="ctrl.columnLayout.defaultDisable"
        field-default-visible="ctrl.columnLayout.defaultVisible"
        ng-if="ctrl.columnLayout.type === 'radioGroup'">
    </div>
    <div checkbox
        column-css-class="ctrl.cssClass"
        label="ctrl.columnLayout.label"
        input-css-class="ctrl.columnLayout.inputCssClass"
        label-css-class="ctrl.columnLayout.labelCssClass"
        input-style="ctrl.columnLayout.inputStyle"
        label-style="ctrl.columnLayout.labelStyle"
        form-name="ctrl.formName"
        form-section-mode="ctrl.formSectionMode"
        form-manager="ctrl.formManager"
        validators="ctrl.columnLayout.validators"
        field-name="ctrl.columnLayout.name"
        field-id="ctrl.columnLayout.id"
        model-name="ctrl.modelName"
        single-or-multi-value="ctrl.columnLayout.singleOrMultiValue"
        field-class="ctrl.columnLayout.fieldCssClass"
        field-style="ctrl.columnLayout.style"
        field-items="ctrl.columnLayout.items"
        field-alignment="ctrl.columnLayout.alignment"
        field-dependencies="ctrl.columnLayout.dependencies"
        field-default-value="ctrl.columnLayout.defaultValue"
        field-default-disable="ctrl.columnLayout.defaultDisable"
        field-default-visible="ctrl.columnLayout.defaultVisible"
        ng-if="ctrl.columnLayout.type === 'checkbox'">
    </div>
    <div multi-line-text
        column-css-class="ctrl.cssClass"
        label="ctrl.columnLayout.label"
        input-css-class="ctrl.columnLayout.inputCssClass"
        label-css-class="ctrl.columnLayout.labelCssClass"
        input-style="ctrl.columnLayout.inputStyle"
        label-style="ctrl.columnLayout.labelStyle"
        form-name="ctrl.formName"
        form-section-mode="ctrl.formSectionMode"
        form-manager="ctrl.formManager"
        validators="ctrl.columnLayout.validators"
        field-dependencies="ctrl.columnLayout.dependencies"
        field-default-value="ctrl.columnLayout.defaultValue"
        field-default-disable="ctrl.columnLayout.defaultDisable"
        field-default-visible="ctrl.columnLayout.defaultVisible"
        field-rows="ctrl.columnLayout.displayRows"
        field-name="ctrl.columnLayout.name"
        field-id="ctrl.columnLayout.id"
        field-class="ctrl.columnLayout.fieldCssClass"
        field-style="ctrl.columnLayout.style"
        ng-if="ctrl.columnLayout.type === 'multiLineText'">
    </div>
    <div file-upload
        column-css-class="ctrl.cssClass"
        label="ctrl.columnLayout.label"
        input-css-class="ctrl.inputCssClass"
        label-css-class="ctrl.labelCssClass"
        form-model="ctrl.formModel"
        form-name="ctrl.formName"
        form-section-mode="ctrl.formSectionMode"
        form-manager="ctrl.formManager"
        form-section-name='ctrl.formSectionName'
        validators="ctrl.columnLayout.validators"
        field-max-num-file="ctrl.columnLayout.maxNumFile"
        field-host-url="ctrl.columnLayout.hostUrl"
        field-module-code="ctrl.columnLayout.moduleCode"
        field-uuid="ctrl.columnLayout.uuid"
        field-authentication="ctrl.columnLayout.authentication"
        field-key-name="ctrl.columnLayout.keyName"
        field-request-header-name="ctrl.columnLayout.requestHeaderName"
        field-dependencies="ctrl.columnLayout.dependencies"
        field-default-disable="ctrl.columnLayout.defaultDisable"
        field-default-visible="ctrl.columnLayout.defaultVisible"
        allowed-size="ctrl.columnLayout.allowedSize"
        allowed-type="ctrl.columnLayout.allowedType"
        field-name="ctrl.columnLayout.name"
        field-id="ctrl.columnLayout.id"
        model-name="ctrl.modelName"
        field-class="ctrl.columnLayout.fieldCssClass"
        field-style="ctrl.columnLayout.style"
        field-button-css-class="ctrl.columnLayout.buttonClass"
        ng-if="ctrl.columnLayout.type === 'fileUpload'">
    </div>
    <div auto-complete-input
        column-css-class="ctrl.cssClass"
        label="ctrl.columnLayout.label"
        place-holder="ctrl.columnLayout.placeHolder"
        input-css-class="ctrl.inputCssClass"
        label-css-class="ctrl.labelCssClass"
        form-name="ctrl.formName"
        form-section-mode="ctrl.formSectionMode"
        form-manager="ctrl.formManager"
        validators="ctrl.columnLayout.validators"
        field-name="ctrl.columnLayout.name"
        field-id="ctrl.columnLayout.id"
        field-class="ctrl.columnLayout.fieldCssClass"
        field-style="ctrl.columnLayout.style"
        url="ctrl.columnLayout.url"
        strict-mode="ctrl.columnLayout.strictMode"
        list-type="ctrl.columnLayout.listType"
        list-items="ctrl.columnLayout.listItems"
        field-min-char="ctrl.columnLayout.minChar"
        field-list-number="ctrl.columnLayout.listNumber"
        field-dependencies="ctrl.columnLayout.dependencies"
        field-default-disable="ctrl.columnLayout.defaultDisable"
        field-default-visible="ctrl.columnLayout.defaultVisible"
        ng-if="ctrl.columnLayout.type === 'autoCompleteInput'">
    </div>
    <div form-action
        column-css-class="ctrl.cssClass"
        label="ctrl.columnLayout.label"
        input-css-class="ctrl.columnLayout.inputCssClass"
        label-css-class="ctrl.columnLayout.labelCssClass"
        input-style="ctrl.columnLayout.inputStyle"
        label-style="ctrl.columnLayout.labelStyle"
        form-name="ctrl.formName"
        form-section-mode="ctrl.formSectionMode"
        form-manager="ctrl.formManager"
        validators="ctrl.columnLayout.validators"
        field-dependencies="ctrl.columnLayout.dependencies"
        field-default-value="ctrl.columnLayout.defaultValue"
        field-default-disable="ctrl.columnLayout.defaultDisable"
        field-default-visible="ctrl.columnLayout.defaultVisible"
        action-items="ctrl.columnLayout.actionItems"
        form-actions="ctrl.formActions"
        field-action-type="ctrl.columnLayout.actionType"
        section="ctrl.section"
        row-group-index="ctrl.rowGroupIndex"
        row-group-count="ctrl.rowGroupCount"
        ng-if="ctrl.columnLayout.type === 'formAction'">
    </div>
    <div button-group
        column-css-class="ctrl.cssClass"
        label="ctrl.columnLayout.label"
        input-css-class="ctrl.columnLayout.inputCssClass"
        label-css-class="ctrl.columnLayout.labelCssClass"
        input-style="ctrl.columnLayout.inputStyle"
        label-style="ctrl.columnLayout.labelStyle"
        form-model="ctrl.formModel"
        form-name="ctrl.formName"
        form-section-mode="ctrl.formSectionMode"
        form-manager="ctrl.formManager"
        validators="ctrl.columnLayout.validators"
        field-name="ctrl.columnLayout.name"
        field-id="ctrl.columnLayout.id"
        model-name="ctrl.modelName"
        field-class="ctrl.columnLayout.fieldCssClass"
        field-style="ctrl.columnLayout.style"
        field-items="ctrl.columnLayout.items"
        field-button-size="ctrl.columnLayout.buttonSize"
        field-dependencies="ctrl.columnLayout.dependencies"
        field-default-value="ctrl.columnLayout.defaultValue"
        field-default-disable="ctrl.columnLayout.defaultDisable"
        field-default-visible="ctrl.columnLayout.defaultVisible"
        ng-if="ctrl.columnLayout.type === 'buttonGroup'">
    </div>
</script>
