<script type="text/ng-template"
    id="formFooter.html">
    <div class="row"
        ng-if="ctrl.formActions">
        <div class="col-xs-12">
            <!-- <button class="w-button uip-btn red" ng-click="ctrl.goBack()">Back</button> -->
            <!-- <button class="w-button uip-btn grey" ng-click="ctrl.resetForm()">Reset</button> -->

            <div style="float:right;"
                class="btn-group"
                ng-if="ctrl.formActions.length > 1">
                <button style="border-radius:4px"
                    type="button"
                    class="btn btn-primary dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">Action <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li data-ng-repeat="formAction in ctrl.formActions"><a ng-click="ctrl.triggerAction(formAction)"> III{{ formAction.resourceKey | translate }}</a></li>
                </ul>
            </div>
            <div ng-if="ctrl.formActions.length === 1"
                style="float:right;">
                <button class="btn btn-primary"
                    ng-click="ctrl.triggerAction(ctrl.formActions[0])">LLL{{ ctrl.formActions[0].resourceKey | translate }}
                </button>
            </div>
        </div>
    </div>
</script>
