<script type="text/ng-template"
    id="formSection.html">
    <div ng-style="ctrl.section.styleObj"
        ng-if="ctrl.visible">
        <div ng-style="ctrl.section.panelStyleObj">
            <div ng-if="ctrl.section.header && ctrl.section.header.name"
                class="panel-heading"
                role="tab"
                ng-style="ctrl.section.header.styleObj">
                <h4 class="panel-title">
                      <a ng-if="ctrl.section.collapsible"
                         data-toggle="collapse" 
                         data-target="#collapse_{{ctrl.section.name}}" 
                         aria-expanded="true" 
                         aria-controls="{{ctrl.section.name}}">
                        <div class="page-section__header__title">{{ ctrl.section.header.name | translate }}</div>
                        <span style="clear:both"></span>
                      </a>
                      <div ng-if="!ctrl.section.collapsible" class="page-section__header__title">{{ ctrl.section.header.name | translate }}</div>
                  </h4>
            </div>
            <div id="collapse_{{ctrl.section.name}}"
                ng-style="ctrl.section.body.styleObj"
                class="panel-collapse collapse in"
                role="tabpanel">
                <div class="panel-body"
                    ng-style="ctrl.section.body.panelStyleObj">
                    <div ng-class="row"
                        data-ng-repeat="(rowGroupIndex, rowGroup) in ctrl.section.body.rowGroups track by $index">
                        <hr ng-if="rowGroupIndex > 0">
                        <div class="row"
                            data-ng-repeat="row in rowGroup.rows">
                            <div class="component-padding {{ row.cssClass ? row.cssClass: 'col-xs-12' }}"
                                ng-init="constructRowStyle(row)"
                                ng-style="row.styleObj">
                                <div data-ng-repeat="column in row.columns">
                                    <div form-column
                                        form-section-mode="ctrl.formSectionMode"
                                        section="ctrl.section"
                                        row-group-index="rowGroupIndex"
                                        row-group-count="ctrl.section.body.rowGroups.length"
                                        form-name="ctrl.formName"
                                        column-layout="column"
                                        columns-count="row.columns.length"
                                        form-manager="ctrl.formManager"
                                        form-actions="ctrl.formActions"
                                        ng-if="column.type !== 'collapsePanel'">
                                    </div>
                                    <div collapse-panel
                                        css-class="row.cssClass"
                                        form-name="ctrl.formName"
                                        form-section-mode="ctrl.formSectionMode"
                                        form-manager="ctrl.formManager"
                                        form-actions="ctrl.formActions"
                                        collapse-panel-layout="column"
                                        ng-if="column.type === 'collapsePanel'">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr ng-if="ctrl.showDivider && ctrl.visible"
        class="section__divider" />
</script>
