<div>
    <img src="images/payment_gateway.png" width="700">
    <div style="position: relative; top:-40px; text-align:right; padding-right: 10px ;">
        <button class="btn greybtn btn-default" ng-click="cancel()">Cancel</button> &nbsp;
        <button class="btn greybtn btn-right btn-default" ng-click="continue()">OK</button>&nbsp;
    </div>
</div>
