<div class="w-container">
    <div class="page_header">
        <h4 ng-show="CKAStatus === false">{{ 'SERV_REQ_INIT_CKA_FAILED_MSG' | translate}}</h4>
        <h3 class="h1">{{'SERV_REQ_NEW_REQ' | translate}}</h3>
    </div>
    <div class="entry_search_wrapper">
        <div class="w-form">
            <div class="w-row entry_rows">
                <div class="w-col w-col-6">
                    <select class="w-select" id="policy" name="policy" data-name="policy" ng-model='selectedPolicy' ng-options="p as p.number + ' - ' + p.name for p in model.policies" 
                    ng-change="changePolicy()" ng-disabled="policyListLoaded !== true">
                        <option value="">{{ 'SERV_REQ_POLICY_NO' | translate }}</option>
                    </select>
                </div>
                <div class="w-col w-col-5">
                    <select class="w-select" id="policy" name="policy" data-name="policy" ng-model='selectedPolicyRequest' ng-options="r as r.name for r in model.policyRequests" ng-change="changePolicyRequest()" ng-disabled="policyRequestListLoaded !== true">
                        <option value="">{{ 'SERV_REQ_POLICY_REQ' | translate }}</option>
                    </select>
                </div>
                <div class="w-col w-col-1 w-clearfix">
                    <img class="red_btn img_btn" src="images/magnifying-glass-white.svg" width="35" height="35" alt="54e15f2298a59a2e55a45fa9_magnifying-glass-white.svg" ng-click="search()">
                </div>
            </div>
        </div>
    </div>
    <div id="servreq_details" ng-show="showServiceReqDetails">
        <div class="poldetails_wrapper">
            <div class="poldetails_header">
                <h4 class="h4 poldetails_h4_left">{{ 'SERV_REQ_CURRENT_FUND_DETAILS' | translate }}</h4>
                <div class="poldetails_accno">
                    <h4>{{ selectedPolicy.name }} ({{selectedPolicy.number}})</h4>
                </div>
            </div>
            <div class="poldetails_table">
                <div class="visible-xs">
                    <span style="padding:0 10px 0 5px;">{{'SERV_REQ_SORT_BY' | translate}}</span>
                    <br />
                    <select name="fundSort" ng-model="sortState.fund.sort.sortBy" ng-change="sortTable('fund', sortState.fund.sort.sortBy, false)">
                        <option value="name">{{'SERV_REQ_FUND_INVESTED' | translate}}</option>
                        <option value="inv_pct">{{'SERV_REQ_INVESTMENT_PERCENTAGE' | translate}}</option>
                        <option value="tot_unit">{{'SERV_REQ_UNIT_BALANCE' | translate}}</option>
                        <option value="cur_unit_prc">{{'SERV_REQ_BID_PRICE' | translate}}</option>
                        <option value="mkt_val">{{'SERV_REQ_UNIT_VALUE' | translate}}</option>
                        <option value="unrealised_pl">{{'SERV_REQ_PROFIT_LOSS' | translate}}</option>
                        <option value="value_as_at_dt">{{'SERV_REQ_UNIT_VALUE_AT' | translate}}</option>
                    </select>
                    <select name="fundOrder" ng-model="sortState.fund.sort.orderBy" ng-change="sortTable('fund', sortState.fund.sort.sortBy, sortState.fund.sort.orderBy)">
                        <option value="false">{{'SERV_REQ_ASC' | translate}}</option>
                        <option value="true">{{'SERV_REQ_DESC' | translate}}</option>
                    </select>
                </div>
                <div class="tablesaw-container">
                    <table class="tablesaw tablesaw-stack" data-tablesaw-mode="stack" table-header-switch>
                        <thead>
                            <tr>
                                <th scope="col" data-tablesaw-priority="persist">
                                    <a href="" ng-click="reverse=!reverse;sortTable('fund', 'name', reverse);">{{'SERV_REQ_FUND_INVESTED' | translate}}</a>
                                </th>
                                <th scope="col" data-tablesaw-priority="1">
                                    <a href="" ng-click="reverse=!reverse;sortTable('fund', 'inv_pct', reverse);">{{'SERV_REQ_INVESTMENT_PERCENTAGE' | translate}}</a>
                                </th>
                                <th scope="col" data-tablesaw-priority="2">
                                    <a href="" ng-click="reverse=!reverse;sortTable('fund', 'tot_unit', reverse);">{{'SERV_REQ_UNIT_BALANCE' | translate}}</a>
                                </th>
                                <th scope="col" data-tablesaw-priority="3">
                                    <a href="" ng-click="reverse=!reverse;sortTable('fund', 'cur_unit_prc', reverse);">{{'SERV_REQ_BID_PRICE' | translate}}</a>
                                </th>
                                <th scope="col" data-tablesaw-priority="4">
                                    <a href="" ng-click="reverse=!reverse;sortTable('fund', 'mkt_val', reverse);">{{'SERV_REQ_UNIT_VALUE' | translate}}</a>
                                </th>
                                <th scope="col" data-tablesaw-priority="5">
                                    <a href="" ng-click="reverse=!reverse;sortTable('fund', 'unrealised_pl', reverse);">{{'SERV_REQ_PROFIT_LOSS' | translate}}</a>
                                </th>
                                <th scope="col" data-tablesaw-priority="6">
                                    <a href="" ng-click="reverse=!reverse;sortTable('fund', 'value_as_at_dt', reverse);">{{'SERV_REQ_UNIT_VALUE_AT' | translate}}</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="f in sortState.fund.data">
                                <td>{{f.name}}</td>
                                <td class="number">{{f.inv_pct}}</td>
                                <td class="number">{{f.tot_unit | currency :''}}</td>
                                <td class="number">{{f.cur_unit_prc| currency :''}}</td>
                                <td class="number">{{f.mkt_val | currency :''}}</td>
                                <td class="number">{{f.unrealised_pl | currency :''}}</td>
                                <td class="number">{{f.value_as_at_dt | date:'dd MMM yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="reqactions_wrapper">

            <div class="w-form">
                <div class="w-radio reqactions_radiobtn" ng-show="CKAStatus">
                    <input class="w-radio-input" ng-model="servRequestAction" type="radio" name="servRequestAction" value="Topup">&nbsp;&nbsp;
                    <label class="w-form-label" ng-click="selectServiceRequestAction('Topup')">{{ 'SERV_REQ_PERFORM_PREMIUM_TOPUP' | translate }}</label>
                </div>
                <div id="servreq_topup" ng-if="servRequestAction == 'Topup'">
                    <form name="topupForm">
                        <div class="reqactions_actoptions req_topup">
                            <div class="w-row">
                                <div class="w-col w-col-3">
                                    <label>{{ 'SERV_REQ_TOPUP_AMOUNT' | translate }} (SGD)</label>

                                </div>
                                <div class="w-col w-col-9">
                                    <input ng-model="formData.topupAmount" class="w-input" type="text" name="amount">
                                </div>
                            </div>
                            <div class="w-radio reqactions_radiobtn_sub">
                                <input class="w-radio-input" type="radio" name="paymentType" value="CREDIT_CARD" ng-model="formData.paymentType">&nbsp;&nbsp;
                                <label class="w-form-label" ng-click="selectPaymentType('CREDIT_CARD')">{{ 'SERV_REQ_MASTER_OR_VISA' | translate }}</label>
                            </div>

                            <div class="w-radio reqactions_radiobtn_sub">
                                <input ng-model="formData.paymentType" class="w-radio-input" type="radio" name="paymentType" value="ONLINE_TRANSFER">&nbsp;&nbsp;
                                <label class="w-form-label" ng-click="selectPaymentType('ONLINE_TRANSFER')">{{ 'SERV_REQ_ONLINE_BANK_TRANSFER' | translate }}</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="w-radio reqactions_radiobtn" ng-show="CKAStatus">
                    <input class="w-radio-input" type="radio" name="servRequestAction" value="SeekAdvice" ng-model="servRequestAction">&nbsp;&nbsp;
                    <label class="w-form-label" ng-click="selectServiceRequestAction('SeekAdvice')">{{ 'SERV_REQ_SEEK_ADVISE_FROM_AGENT' | translate }}</label>
                </div>
                <div id="servreq_seekadvice" ng-if="servRequestAction == 'SeekAdvice' || !CKAStatus">
                    <form name="sendMsgToAgentForm">
                        <div class="reqactions_actoptions req_advice">
                            <div class="w-row">
                                <span>{{ 'SERV_REQ_SEEK_ADVISE_FROM' | translate }} <b>{{ plannerNameObject.name }}</b></span>
                                <br/>
                                <br/>
                                <textarea name="msgToAgent" ng-model="formData.msgToAgent" class="form-control" rows="3" placeholder="{{ 'SERV_REQ_MSG_TO_AGENT' | translate }}"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="w-clearfix entry_btns_wrapper">
                    <input class="w-button red_btn" type="button" value="{{ 'SERV_REQ_BTN_PROCEED' | translate }}" ng-click="proceed()">
                    <input class="w-button grey_btn" type="button" value="{{ 'SERV_REQ_BTN_CANCEL' | translate }}"  ng-click="$root.goTo('main.servicerequest')">
                </div>

            </div>
        </div>
    </div>
</div>
