<div class="modal-wrapper">
    <div class="modal-header-custom">
        <div>
            <span class="modal-close-button"
                aria-hidden="true"
                ng-click="cancel()">X</span>
            <h3 class="modal-title">{{ 'SERV_REQ_MSG_OTP' | translate }}</h3>
        </div>
    </div>
    <div class="modal-body-custom">
        <div class="w-row">
            <div class="w-col w-col-4"><img class="w-hidden-small w-hidden-tiny otp_phoneimg"
                    src="images/otp_iphone.png"
                    alt="54ed37396d51184d56a787c3_otp_iphone.png">
            </div>
            <div class="w-col w-col-8">
                <div class="w-form">
                    <form id="OTPForm"
                        name="OTPForm">
                        <label for="field">{{'SERV_REQ_MSG_OTP'|translate}}</label>
                        <input class="w-input otp_passwordtxt"
                            id="field"
                            type="text"
                            name="field"
                            ng-model="model.otp"
                            is-required
                            is-required-error-msg="{{'DASHBOARD_VALIDATE_MANDATORY' | translate}}"><a class="otp_resend"
                            href="">{{'SERV_REQ_MSG_RESEND'|translate}}</a>
                        <div class="otp_resendmsg"><em>{{'SERV_REQ_MSG_RESEND_MSG'|translate}} <strong xmlns="http://www.w3.org/1999/xhtml">{{'SERV_REQ_MSG_RESEND'|translate}}</strong></em>
                        </div>
                        <div class="check-element animate-show"
                            ng-show="invalidOTP">
                            {{'SERV_REQ_MSG_INVALID_OTP'|translate}}
                        </div>
                        <div class="w-clearfix otp_btns_wrapper">
                            <input class="modal-primary-button"
                                type="button"
                                value="{{ 'SERV_REQ_BTN_SUBMIT' | translate }}"
                                ng-click="submitOTP()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
