<div class="w-container">
    <div class="page_header">
        <h3 class="h1">{{'SERV_REQ_NEW_REQ' | translate}}</h3>
    </div>
    <div style="margin-top:50px;margin-left:20px;margin-right:20px">
        <p translate="{{ msg | translate:servReq}}"></p>
        <table class="tablesaw tablesaw-stack" data-tablesaw-mode="stack" ng-show="serviceRequestAction == 'Topup' && serviceAvailable" >
            <thead>
                <tr>
                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">{{'SERV_REQ_POLICY_NO' | translate}}</th>
                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">{{'TOP_UP_PREMIUM' | translate}}</th>
                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">{{'STATUS' | translate}}</th>
                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">{{'REF_NO' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{model.policyNo}}</td>
                    <td class="number">{{model.topUp | currency:''}}</td>
                    <td>{{model.status}}</td>
                    <td>{{model.referenceNo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-top:50px">
        <h4>{{'SERV_REQ_NEXT_STEP' | translate}}</h4>
        <a ng-click="$root.goTo('main.servicerequest')">{{'SERV_REQ_MAKE_ANOTHER_REQUEST' | translate}}</a>
        <br />
    </div>
</div>
