<script type="text/ng-template"
    id="buttonGroup.html">
    <div class="{{ctrl.columnCssClass}}"
        style="padding:10px 0px;"
        ng-style="ctrl.fieldStyleObj"
        ng-class="{'has-error': ctrl.isValid !== true}">
        <div class="field-title {{ctrl.labelCssClass}}">
            <label ng-style="ctrl.labelStyleObj"
                for="{{ctrl.fieldName}}">{{ctrl.label.name | translate}}
                <span ng-if="ctrl.formSectionMode === 'edit' && ctrl.validators && ctrl.validators.isRequired && !ctrl.disability()"
                    style="color:red;">*</span>
            </label>
            <span label-tooltip
                ng-if="ctrl.formSectionMode === 'edit' && ctrl.label.tooltip"
                tooltip-config="ctrl.label"
                field-name="ctrl.fieldName">
            </span>
        </div>
        <div class="{{ctrl.inputCssClass}}"
            ng-style="ctrl.inputStyleObj">
            <div ng-if="ctrl.formSectionMode === 'view'"
                class="field-value"> {{ ctrl.formManager.getValue(ctrl.fieldName + '_label') ? ctrl.formManager.getValue(ctrl.fieldName + '_label') : '-' | translate}}</div>
            <div class="button-group-wrapper"
                ng-class="{'button-group-big':ctrl.fieldButtonSize === 'big',
                'button-group-small':ctrl.fieldButtonSize === 'small'}"
                ng-if="ctrl.formSectionMode !== 'view'"
                id="{{ctrl.fieldName}}">
                <div class="button-group-tab"
                    ng-class="{'button-group-big-left': $index === 0 && ctrl.fieldButtonSize === 'big', 
                    'button-group-big-right':$index === ctrl.fieldItems.length-1 && ctrl.fieldButtonSize === 'big',
                    'button-group-small-left': $index === 0 && ctrl.fieldButtonSize === 'small',
                    'button-group-small-right':$index === ctrl.fieldItems.length-1 && ctrl.fieldButtonSize === 'small',
                    'active': ctrl.formManager.getValue(ctrl.fieldName) === item.value,
                    'button-group--disabled': ctrl.disability()}"
                    ng-style="{'width': 100/ctrl.fieldItems.length+'%'}"
                    data-ng-repeat="item in ctrl.fieldItems"
                    ng-click="ctrl.onChange(item)">
                    <div class="oHide">
                        <div ng-if="item.inactiveImagePath"
                            class="dIBVerMiddle">
                            <div class="verMiddle">
                                <div class="button-group-icon"
                                    ng-style="ctrl.formManager.getValue(ctrl.fieldName) === item.value ? 
                                    { 'background': 'url(' + item.activeImagePath + ') no-repeat'} : 
                                    { 'background': 'url(' + item.inactiveImagePath + ') no-repeat'}"></div>
                            </div>
                        </div>
                        <div class="dIBVerMiddle">
                            <div class="verMiddle">{{item.label | translate}}</div>
                        </div>
                        <div class="dIBVerMiddle">
                            <!-- for tooltip icon, pending icon image form designer -->
                            <span label-tooltip
                                ng-if="ctrl.formSectionMode === 'edit' && item.tooltip.tooltip && ctrl.formManager.getValue(ctrl.fieldName) === item.value"
                                tooltip-config="item.tooltip"
                                field-name="ctrl.fieldName + '_' + item.value"
                                icon="'ui-components/images/ico-help.gif'"
                                ng-click="ctrl.selectTooltip($event)">
                            </span>
                            <span label-tooltip
                                ng-if="ctrl.formSectionMode === 'edit' && item.tooltip.tooltip && ctrl.formManager.getValue(ctrl.fieldName) !== item.value"
                                tooltip-config="item.tooltip"
                                field-name="ctrl.fieldName + '_' + item.value"
                                icon="'ui-components/images/ico-help.gif'"
                                ng-click="ctrl.selectTooltip($event)">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="!ctrl.isValid"
                class="component-input--has-error">{{ctrl.errorMessage | translate}}</div>
        </div>
    </div>
</script>
