<script type="text/ng-template"
    id="checkbox.html">
    <div class="{{ctrl.columnCssClass}}"
        style="padding:10px 0px"
        ng-style="ctrl.fieldStyleObj"
        ng-class="{'has-error': ctrl.isValid !== true}">
        <div class="field-title {{ctrl.labelCssClass}}">
            <label ng-style="ctrl.labelStyleObj"
                for="{{ctrl.fieldName}}">{{ctrl.label.name | translate}}
                <span ng-if="ctrl.formSectionMode === 'edit' && ctrl.validators && ctrl.validators.isRequired && !ctrl.disability()"
                    style="color:red;">*</span>
            </label>
            <span label-tooltip
                ng-if="ctrl.formSectionMode === 'edit' && ctrl.label.tooltip"
                tooltip-config="ctrl.label"
                field-name="ctrl.fieldName">
            </span>
        </div>
        <div class="{{ctrl.inputCssClass}}"
            ng-style="ctrl.inputStyleObj">
            <div ng-if="ctrl.formSectionMode === 'view'"
                class="field-value"><span data-ng-repeat="choice in ctrl.formManager.getValue(ctrl.fieldName)">{{choice | translate}}</span></div>
            <div ng-if="ctrl.formSectionMode !== 'view'"
                id="{{ctrl.fieldName}}">
                <div style="{{ctrl.checkboxStyle}}"
                   data-ng-repeat="item in ctrl.fieldItems">
                    <input class="{{ctrl.cssClass}}"
                        type="checkbox"
                        id="{{item.value}}"
                        name="{{item.value}}"
                        value="{{item.value}}"
                        ng-disabled="ctrl.disability()"
                        ng-change="ctrl.check(item.value)"
                        ng-model="item.checked" />
                    <label>{{item.label | translate}}</label>
                </div>
                <div ng-if="!ctrl.isValid"
                    class="component-input--has-error"
                    style="padding-left: 10px;">{{ctrl.errorMessage | translate}}</div>
            </div>
        </div>
    </div>
</script>
