<script type="text/ng-template"
    id="datePicker.html">
    <div class="{{ctrl.columnCssClass}}"
        style="padding:10px 0px;"
        ng-style="ctrl.fieldStyleObj"
        ng-class="{'has-error': ctrl.isValid !== true}">
        <div class="field-title {{ctrl.labelCssClass}}">
            <label ng-style="ctrl.labelStyleObj"
                for="{{ctrl.fieldName}}">{{ctrl.label.name | translate}} <span ng-if="ctrl.formSectionMode === 'edit' && ctrl.validators && ctrl.validators.isRequired && !ctrl.disability()"
                    style="color:red;">*</span>
            </label>
            <span label-tooltip
                ng-if="ctrl.formSectionMode === 'edit' && ctrl.label.tooltip"
                tooltip-config="ctrl.label"
                field-name="ctrl.fieldName">
            </span>
        </div>
        <div class="{{ctrl.inputCssClass}}"
            ng-style="ctrl.inputStyleObj">
            <div ng-if="ctrl.formSectionMode === 'view'"
                class="field-value">{{ ctrl.formManager.getValue(ctrl.fieldName) ? (ctrl.formManager.getValue(ctrl.fieldName) | date:ctrl.format) : '-' }}</div>
            <div ng-if="ctrl.formSectionMode !== 'view'">
                <input ng-model="ctrl.value"
                    class="{{'datePicker-icon ' + ctrl.cssClass}}"
                    id="{{ctrl.fieldName}}"
                    name="{{ctrl.fieldName}}"
                    type="text"
                    style=""
                    ng-model-options="{getterSetter: true}"
                    ng-disabled="ctrl.disability()"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-trigger="manual"
                    data-original-title="{{ctrl.errorMessage|translate}}">
                <div ng-if="!ctrl.isValid"
                    class="component-input--has-error">{{ctrl.errorMessage | translate}}</div>
            </div>
        </div>
    </div>
</script>
