<script type="text/ng-template"
    id="dropDownList.html">
    <div ng-if="ctrl.isVisible">
        <div class="component-container {{ctrl.columnCssClass}}"
            ng-style="ctrl.fieldStyleObj"
            ng-class="{'component-container--has-error': ctrl.isValid !== true}">
            <div class="component-label field-title {{ctrl.labelCssClass}}"
                ng-if="ctrl.label.name">
                <label for="{{ctrl.fieldName}}"
                    ng-style="ctrl.labelStyleObj">{{ctrl.label.name | translate}}
                    <span ng-if="ctrl.formSectionMode === 'edit' && ctrl.validators && ctrl.validators.isRequired && !ctrl.isDisabled"
                        style="color:red;">*</span>
                </label>
                <span label-tooltip
                    ng-if="ctrl.formSectionMode === 'edit' && ctrl.label.tooltip"
                    tooltip-config="ctrl.label"
                    field-name="ctrl.fieldName">
                </span>
            </div>
            <div ng-if="ctrl.formSectionMode === 'view'"
                class="field-value"> {{ ctrl.formManager.getValue(ctrl.fieldName + '_label') ? ctrl.formManager.getValue(ctrl.fieldName + '_label') : '-' | translate }}</div>
            <div ng-if="ctrl.formSectionMode === 'edit'"
                class="no-padding {{ctrl.inputCssClass}}">
                <div class="component-input col-xs-12 drop-down-list {{ctrl.cssClass}}"
                    ng-style="ctrl.inputStyleObj"
                    id="{{ctrl.fieldName}}"
                    name="{{ctrl.fieldName}}"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-trigger="manual"
                    data-original-title="{{ctrl.errorMessage | translate}}"
                    ng-click="ctrl.toggle()"
                    ng-class="{'drop-down-list--disabled': ctrl.isDisabled || !ctrl.ddlLoaded}">
                    <span class="drop-down-list__selected-item">{{ ctrl.formManager.getValue(ctrl.fieldName + '_label') ? ctrl.formManager.getValue(ctrl.fieldName + '_label') : ctrl.defaultItem | translate }}</span>
                    <span class="drop-down-list__arrow"></span>
                    <ul class="drop-down-list__items"
                        ng-show="ctrl.isOpen">
                        <li class="drop-down-list__item"
                            ng-click="ctrl.setSelectedValue('')"
                            ng-class="{'drop-down-list__item--selected': !ctrl.selectedValue}">
                            {{ctrl.defaultItem | translate}}
                        </li>
                        <li class="drop-down-list__item"
                            data-ng-repeat="item in ctrl.items"
                            ng-click="ctrl.setSelectedValue(item.value)"
                            ng-class="{'drop-down-list__item--selected': ctrl.selectedValue === item.value}">
                            {{item.label | translate}}
                        </li>
                    </ul>
                </div>
                <div ng-if="!ctrl.isValid"
                    class="component-input--has-error">{{ctrl.errorMessage | translate}}</div>
            </div>
        </div>
    </div>
</script>
