<script type="text/ng-template"
    id="fileUpload.html">
    <div ng-if="ctrl.visibility()">
        <div class="{{ctrl.columnCssClass}}"
            style="padding:10px 0px;"
            ng-style="ctrl.fieldStyleObj"
            ng-class="{'has-error': ctrl.isValid !== true}">
            <div class="field-title {{ctrl.labelCssClass}}"
                ng-if="ctrl.formSectionMode !== 'view'">
                <label ng-style="ctrl.labelStyleObj"
                    for="{{ctrl.fieldName}}">{{ctrl.label.name | translate}} <span ng-if="ctrl.validators && ctrl.validators.isRequired"
                        style="color:red;">*</span>
                </label>
                <span label-tooltip
                    ng-if="ctrl.formSectionMode === 'edit' && ctrl.label.tooltip"
                    tooltip-config="ctrl.label"
                    field-name="ctrl.fieldName">
                </span>
            </div>
            <div class="{{ctrl.inputCssClass}}"
                ng-if="ctrl.formSectionMode === 'view'">
                <table role="presentation"
                    class="col-xs-12">
                    <tr data-ng-repeat="file in ::ctrl.attachedFile">
                        <td class="attached-filename">{{file.file_name}}</td>
                    </tr>
                </table>
            </div>
            <div class="{{ctrl.inputCssClass}}"
                ng-style="ctrl.inputStyleObj"
                ng-if="ctrl.formSectionMode !== 'view'"
                id="{{ctrl.fieldName}}">
                <div class="col-xs-12">
                    <iframe name="iFrame"
                        style="display:none"></iframe>
                    <div id="fileupload"
                        class="row">
                        <div class="attachment-table col-xs-12 col-md-8"
                            ng-if="ctrl.formSectionMode !== 'view'">
                            <table id="attachment"
                                role="presentation"
                                class="col-xs-12">
                                <tbody ng-if="ctrl.newUploadedFile.length + ctrl.attachedFile.length=== 0">
                                    <tr>
                                        <td colspan="3"
                                            class="attachment-table__empty">No documents attached</td>
                                    </tr>
                                </tbody>
                                <tbody class="files">
                                    <tr data-ng-repeat="file in ctrl.attachedFile">
                                        <td class="attached-filename">
                                            <p>{{file.file_name}}</p>
                                        </td>
                                        <td></td>
                                        <td class="align-right">
                                            <button class="secondary-button secondary-button--white-thin margin-bottom5 preFile"
                                                ng-if="ctrl.checkFileType(file.file_name)"
                                                ng-click="ctrl.getUploadedFile(file.file_download_link, file.file_name)">
                                                <i class="attachment-action--view"></i>
                                                <span>View</span>
                                            </button>
                                            <button class="secondary-button secondary-button--white-thin margin-bottom5"
                                                ng-if="ctrl.formSectionMode !== 'view'"
                                                ng-click="ctrl.deleteUploaded($index, file.file_delete_link)">
                                                <i class="glyphicon glyphicon-trash"></i>
                                                <span>Delete</span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="component-input--has-error">{{ctrl.errorMessage}}</div>
                        </div>

                        <div class="fileupload-buttonbar col-xs-12 col-md-offset-1 col-md-3 button-padding"
                            ng-if="ctrl.formSectionMode !== 'view'">
                            <div class="col-xs-12 button-padding">
                                <div ng-show="ctrl.newUploadedFile.length + ctrl.attachedFile.length < ctrl.fieldMaxNumFile">
                                    <div class="col-xs-12 col-sm-12 {{ctrl.fieldButtonCssClass}} fileinput-button">
                                        <i class="glyphicon glyphicon-paperclip file-upload-glyphicon-padding"></i>
                                        <span>Attach Documents</span>
                                        <input type="file"
                                            name="files"
                                            id="myFile">
                                    </div>
                                    <div class="file-upload__restriction-message">
                                        <div>Maximal File Size: {{ctrl.allowedSize.value/1000000}} MB</div>
                                        <div>Allowed File Type:
                                            <div style="display: inline"
                                               data-ng-repeat="type in ctrl.allowedType.fileExt">
                                                {{type}}
                                                <span ng-if="$index!==ctrl.allowedType.fileExt.length-1">,</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit"
                                    class="{{ctrl.fieldButtonCssClass}} hidden-field-size start"
                                    id="uploadAll"
                                    disabled="disabled">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Upload All</span>
                                </button>
                                <span class="fileupload-process"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
