<script type="text/ng-template"
    id="fileDelete.html">
    <div class="modal-wrapper">
        <div class="modal-header-custom">
            <div>
                <span class="modal-close-button"
                    aria-hidden="true"
                    ng-click="ctrl.cancel()">X</span>
            </div>
        </div>
        <div class="modal-body-custom">
            <div class="lightbox_wrapper">
                <div class="w-row entry_rows">
                    <div class="w-col w-col-12">
                        <label>Please click "Confirm" to proceed with the deletion of the file.</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer-custom">
            <button class="btn btn-danger"
                type="button"
                id="confirm"
                value="Confirm"
                ng-click="ctrl.confirm()"
                style="float:right;">
                <span>Confirm</span>
            </button>
            <button class="btn"
                type="button"
                id="back"
                value="Back"
                ng-click="ctrl.back()"
                style="float:right; margin-right: 10px">
                <span>Back</span>
            </button>
        </div>
    </div>
</script>
