<script type="text/ng-template"
    id="formAction.html">
    <div class="{{ctrl.columnCssClass}}"
        style="padding:10px 0px;"
        ng-style="ctrl.fieldStyleObj"
        ng-class="{'has-error': ctrl.isValid !== true}">
        <div class="field-title {{ctrl.labelCssClass}}"
            ng-if="ctrl.label.name">
            <span ng-if="ctrl.formSectionMode === 'edit' && ctrl.label.tooltip"
                class="label-tooltip"
                data-toggle="tooltip"
                data-placement="top"
                title=""
                data-trigger="click hover"
                data-original-title="{{ctrl.label.tooltip | translate}}"><img src="ui-components/images/ico-help.gif"></span>
            <label ng-style="ctrl.labelStyleObj"
                for="{{ctrl.fieldName}}">{{ctrl.label.name | translate}}<span ng-if="ctrl.validators && ctrl.validators.isRequired"
                    style="color:red;">*</span>
            </label>
        </div>
        <div class="{{ctrl.inputCssClass}}"
            ng-style="ctrl.inputStyleObj">
            <!-- <div ng-if="ctrl.formSectionMode === 'view'"
                class="field-value">{{ ctrl.formManager.getValue(ctrl.fieldName) ? ctrl.formManager.getValue(ctrl.fieldName) : '-' }}</div> -->
            <div ng-if="ctrl.formSectionMode !== 'view'">
                <div ng-if="ctrl.fieldActionType === 'button'">
                    <div class="btn-group"
                        ng-if="ctrl.actionItems.length > 1">
                        <button style="border-radius:4px"
                            type="button"
                            class="{{'dropdown-toggle' + ctrl.actionItems[0].class}}"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li data-ng-repeat="action in ctrl.actionItems"><a ng-click="ctrl.triggerAction(action)">{{ action.label | translate }}</a></li>
                        </ul>
                    </div>
                    <div ng-if="ctrl.actionItems.length === 1">
                        <button ng-if="ctrl.showAction(ctrl.actionItems[0])"
                            class="{{ctrl.actionItems[0].class}}"
                            ng-click="ctrl.triggerAction(ctrl.actionItems[0])">{{ ctrl.actionItems[0].label | translate }}
                        </button>
                    </div>
                </div>
                <div ng-if="ctrl.fieldActionType === 'link'">
                    <div ng-if="ctrl.actionItems.length > 1">
                        <a style="cursor:hand; cursor:pointer"
                            class="dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"><u>Action </u><span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li data-ng-repeat="action in ctrl.actionItems"><a ng-click="ctrl.triggerAction(action)">{{ action.label | translate }}</a></li>
                        </ul>
                    </div>
                    <div ng-if="ctrl.actionItems.length === 1">
                        <a style="cursor:hand; cursor:pointer"
                            ng-click="ctrl.triggerAction(ctrl.actionItems[0])">
                            <u>{{ ctrl.actionItems[0].label | translate }}</u>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
