<script type="text/ng-template"
    id="labelTooltip.html">
    <span class="label-tooltip {{ctrl.fieldName}}"
        tabindex="0"
        role="button"
        data-toggle="tooltip"
        data-placement="{{ctrl.tooltipConfig.tooltipPlacement}}"
        data-html="true"
        data-trigger="click"
        data-original-title="{{ctrl.tooltipConfig.tooltip | translate}}">
    <img src="{{ctrl.icon}}">
</span>
</script>
