<script type="text/ng-template"
    id="multiLineText.html">
    <div ng-if="ctrl.visibility()"
        class="{{ctrl.columnCssClass}}"
        style="padding:10px 0px"
        ng-style="ctrl.fieldStyleObj"
        ng-class="{'has-error': ctrl.isValid !== true}">
        <div class="field-title {{ctrl.labelCssClass}}">
            <label ng-style="ctrl.labelStyleObj"
                for="{{ctrl.fieldName}}">{{ctrl.label.name | translate}} <span ng-if="ctrl.formSectionMode === 'edit' && ctrl.validators && ctrl.validators.isRequired && !ctrl.disability()"
                    style="color:red;">*</span>
            </label>
            <span label-tooltip
                ng-if="ctrl.formSectionMode === 'edit' && ctrl.label.tooltip"
                tooltip-config="ctrl.label"
                field-name="ctrl.fieldName">
            </span>
        </div>
        <div class="{{ctrl.inputCssClass}}"
            ng-style="ctrl.inputStyleObj">
            <div ng-if="ctrl.formSectionMode === 'view'"
                class="field-value"
                ng-bind-html="ctrl.formManager.getValue(ctrl.fieldName) ? ctrl.formManager.getValue(ctrl.fieldName) : '-' | translate">
            </div>
            <div ng-if="ctrl.formSectionMode !== 'view' && !ctrl.hide">
                <textarea style=""
                    rows="{{ctrl.fieldRows}}"
                    id="{{ctrl.fieldName}}"
                    name="{{ctrl.fieldName}}"
                    ng-model="ctrl.value"
                    class="vertical-resizing {{ctrl.cssClass}}"
                    ng-model-options="{getterSetter: true}"
                    ng-disabled="ctrl.disability()"
                    maxlength="{{ctrl.maxCharLength}}"></textarea>
                <div ng-if="!ctrl.isValid"
                    class="component-input--has-error">{{ctrl.errorMessage | translate}}</div>
                <div id="{{ctrl.fieldName}}_remaining"
                    style="font:10pt arial;color:#989898;text-align:right;padding:2px 10px;">
                    <span>{{ctrl.remainingCharLength}}</span> / {{ctrl.maxCharLength}}
                </div>
            </div>
        </div>
    </div>
</script>
