<script type="text/ng-template"
    id="radioGroup.html">
    <div class="{{ctrl.columnCssClass}}"
        style="padding:10px 0px;"
        ng-style="ctrl.fieldStyleObj"
        ng-class="{'has-error': ctrl.isValid !== true}">
        <div class="field-title {{ctrl.labelCssClass}}">
            <label ng-style="ctrl.labelStyleObj"
                for="{{ctrl.fieldName}}">{{ctrl.label.name | translate}}
                <span ng-if="ctrl.formSectionMode === 'edit' && ctrl.validators && ctrl.validators.isRequired && !ctrl.disability()"
                    style="color:red;">*</span>
            </label>
            <span label-tooltip
                ng-if="ctrl.formSectionMode === 'edit' && ctrl.label.tooltip"
                tooltip-config="ctrl.label"
                field-name="ctrl.fieldName">
            </span>
        </div>
        <div class="{{ctrl.inputCssClass}}"
            ng-style="ctrl.inputStyleObj">
            <div ng-if="ctrl.formSectionMode === 'view'"
                class="field-value"> {{ ctrl.formManager.getValue(ctrl.fieldName + '_label') ? ctrl.formManager.getValue(ctrl.fieldName + '_label') : '-' | translate}}</div>
            <div ng-if="ctrl.formSectionMode !== 'view'"
                id="{{ctrl.fieldName}}">
                <div ng-style="ctrl.radioStyleObj"
                   data-ng-repeat="item in ctrl.fieldItems">
                    <input class="{{ctrl.cssClass}}"
                        type="radio"
                        name="{{ctrl.fieldName}}"
                        ng-model="ctrl.value"
                        ng-model-options="{getterSetter: true}"
                        value="{{item.value}}"
                        ng-disabled="ctrl.disability()"
                        ng-change="ctrl.onChange(item.label)" />
                    <label>{{item.label | translate}}</label>
                </div>
                <div ng-if="!ctrl.isValid"
                    class="component-input--has-error"
                    style="padding-left: 10px;">{{ctrl.errorMessage | translate}}</div>
            </div>
        </div>
    </div>
</script>
