<script type="text/ng-template"
    id="singleLineText.html">
    <div ng-if="ctrl.visibility()">
        <div class="{{ctrl.columnCssClass}}"
            style="padding:10px 0px;"
            ng-style="ctrl.fieldStyleObj"
            ng-class="{'has-error': ctrl.isValid !== true}">
            <div class="field-title {{ctrl.labelCssClass}}"
                ng-if="ctrl.label.name">
                <label for="{{ctrl.fieldName}}"
                    ng-style="ctrl.labelStyleObj">{{ctrl.label.name | translate}}
                    <span ng-if="ctrl.formSectionMode === 'edit' && ctrl.validators && ctrl.validators.isRequired && !ctrl.disability()"
                        style="color:red;">*</span>
                </label>
                <span label-tooltip
                    ng-if="ctrl.formSectionMode === 'edit' && ctrl.label.tooltip"
                    tooltip-config="ctrl.label"
                    field-name="ctrl.fieldName">
                </span>
            </div>
            <div class="{{ctrl.inputCssClass}}"
                ng-style="ctrl.inputStyleObj">
                <div ng-if="ctrl.formSectionMode === 'view'"
                    class="field-value">{{ ctrl.formManager.getValue(ctrl.fieldName) ? ctrl.formManager.getValue(ctrl.fieldName) : '-' | translate}}</div>
                <div ng-if="ctrl.formSectionMode !== 'view'">
                    <input type="{{ctrl.inputType}}"
                        style="width:100%;"
                        id="{{ctrl.fieldName}}"
                        name="{{ctrl.fieldName}}"
                        ng-model="ctrl.value"
                        class="{{ctrl.cssClass}}"
                        ng-model-options="{getterSetter: true}"
                        ng-disabled="ctrl.disability()"
                        ng-change="ctrl.onChange()"
                        data-toggle="tooltip"
                        data-placement="top"
                        title=""
                        maxlength="{{ctrl.maxCharLength}}"
                        data-trigger="manual"
                        data-original-title="{{ctrl.errorMessage | translate}}"
                        placeholder="{{ctrl.placeHolder | translate}}"
                        input-format="ctrl.fieldInputFormat">
                    <div ng-if="!ctrl.isValid"
                        class="component-input--has-error">{{ctrl.errorMessage | translate}}</div>
                </div>
            </div>
        </div>
    </div>
</script>
