.has-error .form-control {
    border-color: #ed1c24!important;
}

.component-container--has-error .component-label,
.component-container--has-error .component-input {
    border-color: #ed1c24;
}

.component-label {
    padding: 0;
}

.component-container {
    padding: 10px 15px;
}

.component-input {
    padding: 0;
    border-radius: 4px;
    border: 1px solid #cccccc;
}

.component-input--has-error {
    color: #ed1c24;
    font-style: italic;
}

.drop-down-list {
    background-color: #fff;
    cursor: pointer;
    display: block;
    height: 40px;
    min-height: 40px;
    padding: 9px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    vertical-align: middle;
    /* KIV */
    /*width: 100%;*/
}

.drop-down-list--disabled {
    background-color: #eee !important;
    cursor: not-allowed;
}

.drop-down-list__items {
    list-style: none;
    position: absolute;
    left: 0;
    top: 100%;
    max-width: 1000%;
    min-width: 100%;
    z-index: 2000;
    display: block;
    padding: 0;
    max-height: 280px;
    overflow-y: auto;
}

.drop-down-list__item {
    background-color: #ccc;
    padding: 10px 10px;
    font-weight: bold;
    min-height: 40px;
}

.drop-down-list__item:hover {
    text-decoration: underline;
    color: white;
}

.drop-down-list__item--selected {
    background-color: #aaa;
}

.drop-down-list__selected-item {
    overflow: hidden;
    max-width: 90%;
    display: block;
    white-space: nowrap;
}

.drop-down-list__arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 4px 0 4px;
    border-color: #000000 transparent transparent transparent;
    float: right;
    position: absolute;
    right: 10px;
    top: 45%;
}

.ddl-loading {
    position: absolute;
    text-align: center;
    top: 20%;
}

@media (min-width: 40em) {
    .picker__holder {
        width: 180%;
    }
}

.picker__nav--next:hover,
.picker__nav--prev:hover {
    background: none;
}

.picker__select--month,
.picker__select--year {
    height: inherit;
    min-width: 125px;
}

@media (max-width: 495px) {
    .picker__select--month,
    .picker__select--year {
        height: inherit;
        margin: auto;
        display: block;
        min-width: 125px;
    }
}

.has-error .input-group-btn button {
    border-color: #ed1c24;
}

.underline {
    text-decoration: underline;
}

.vertical-resizing {
    resize: vertical;
}


/* impact policy detail accordian */


/*.panel-title a {
    display: block;
    cursor: pointer;
}

.panel-title a.collapsed span {
    background-position: 0 -110px;
}

.panel-title a span {
    background: url(../images/collapse.png) 0 -15px no-repeat;
    height: 11px;
    width: 20px;
    position: relative;
    bottom: 0;
    float: right;
    background-position: 0 -15px;
}*/

.control-label {
    color: #666;
}

.field-title {
    font-size: 14px;
    color: #4d4d4d;
}

.field-value {
    font-size: 17px;
    color: #736F6E;
}


/* input label tooltip */

.label-tooltip {
    margin-left: 5px;
}


/* input label tooltip */


/* validation error tooltip */

input + .tooltip .tooltip-inner,
.form-control + .tooltip .tooltip-inner,
.component-input + .tooltip .tooltip-inner {
    /* do not remove !important */
    background-color: #a94442!important;
}

input + .tooltip .tooltip-arrow,
.form-control + .tooltip .tooltip-arrow,
.component-input + .tooltip .tooltip-arrow {
    /* do not remove !important */
    border-top-color: #a94442!important;
}


/* validation error tooltip */


/*overwrite bootstrap css start ---------------------------*/


/*@media (min-width: 768px) {
    .container {
        width: 728px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 940px;
    }
}

@media (min-width: 1200) {
    .container {
        width: 940px;
    }
}*/

.form-control {
    height: 40px;
}

.pagination {
    margin: 20px 0;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    border-radius: 4px;
    *zoom: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
    display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
    background-color: #f5f5f5;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
    color: #999999;
    cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
    color: #999999;
    cursor: default;
    background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
    border-left-width: 1px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination-centered {
    text-align: center;
}


/*align footable detail value to left hand side*/

.footable-row-detail-value {
    display: table-cell;
    text-align: left;
}


/*overwrite bootstrap css end ------------------------------*/


/* ==========================================================================
   acknowledgement view ui 
   ========================================================================== */

.ack-view {
    border-radius: 4px;
    padding: 20px 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ack-view--fail {
    width: 100%;
    border: 2px solid #ed1c24;
    border-radius: 6px;
    color: #ed1c24;
}

.ack-view table,
th,
td {
    border: 0px;
}

.ack-view .ack-view__icon {
    padding: 20px;
    font-size: 50px;
}

.ack-view__title {
    line-height: 35px;
    font-size: 23px;
    padding-left: 20px;
}

.ack-view__content {
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
}


/*acknowledgement view ui end --|*/


/*overwrite bootstrap datepicker css start ---------------------------*/

.btn-default {
    padding: 9px;
}

.form-control-date {
    background-color: #fff !important;
}

.form-control-date[disabled] {
    background-color: #eee !important;
}

.picker__holder {
    max-width: 360px;
}

.picker__select--month,
.picker__select--year {
    min-width: 115px;
}

.datePicker-icon {
    background: #FFFFFF url(../images/input_field_calendar-icon.png) right center no-repeat;
    padding-right: 35px;
}


/*overwrite bootstrap datepicker css end ------------------------------*/


/* ==========================================================================
   table listing
   ========================================================================== */

.table-listing-no-record tr td {
    text-align: center;
}

.table-listing-no-record tr td span:before {
    content: "" !important;
}


/* ==========================================================================
   fileupload
   ========================================================================== */

.fileupload__button--grey {
    background-color: #4d4d4d;
    color: white;
    height: 40px;
    padding: 6px 12px;
}

.fileupload__button {
    padding-top: 8px;
}

.attached-filename {
    max-width: 230px;
    padding: 5px 5px 0 5px;
}

.attachment-table {
    border: 1px solid #d0d0d0;
    margin-bottom: 15px;
    max-width: 100%;
    padding: 0;
    min-height: 122px;
}

.attachment-table__empty {
    width: 200px;
    margin: 0 auto;
    background: url(../images/no_attachment_icon.png) top center no-repeat;
    text-align: center;
    padding: 75px 0 0 0;
    font-size: 14px;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

#attachment tr {
    height: 40px;
}

.margin-bottom5 {
    margin-bottom: 5px;
}

.margin-right4 {
    margin-right: 4px;
}

.hidden-field-size {
    height: 1px;
    width: 1px;
    visibility: hidden;
}

.file-upload__restriction-message {
    color: #848482;
    font-size: small;
    padding-top: 45px;
}

.file-upload-glyphicon-padding {
    padding-top: 3px;
}

#fileupload button:focus {
    outline: none;
}

#attachment tr:nth-child(even) {
    background-color: #dfdfdf;
}

@media (min-width: 992px) {
    .button-padding {
        padding-left: 15px;
        padding-right: 0;
    }
}

@media (max-width: 991px) {
    .button-padding {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .files .name {
        width: 100%;
        word-wrap: break-word;
    }
}

.attachment-action--view {
    background: url(../images/notification_view_icon.png) left center no-repeat;
    padding-left: 32px;
}


/* ==========================================================================
   Content Managed
   ========================================================================== */

.content-managed-container {
    padding: 0 15px;
}


/* ==========================================================================
   Button Group
   ========================================================================== */

.button-group--disabled {
    cursor: not-allowed !important;
}

.button-group-big {
    height: 71px;
    line-height: 71px;
}

.button-group-small {
    height: 31px;
    line-height: 31px;
}

.button-group-wrapper {
    width: 100%;
    box-sizing: border-box;
}

.button-group-wrapper .button-group-tab {
    float: left;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #4d4d4d;
    cursor: pointer;
    -webkit-box-shadow: 0 3px 0 #e1e1e1;
    -moz-box-shadow: 0 3px 0 #e1e1e1;
    box-shadow: 0 3px 0 #e1e1e1;
    border: 1px solid #e6e6e6;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(bottom, #f5f5f5 0%, #f1f1f1 100%);
    background-image: -o-linear-gradient(bottom, #f5f5f5 0%, #f1f1f1 100%);
    background-image: -webkit-linear-gradient(bottom, #f5f5f5 0%, #f1f1f1 100%);
    background-image: linear-gradient(bottom, #f5f5f5 0%, #f1f1f1 100%);
    background-image: -ms-linear-gradient(top, #F5F5F5 0%, #F1F1F1 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F5F5F5), color-stop(1, #F1F1F1));
}

.button-group-wrapper .button-group-tab.active {
    float: left;
    color: #f5f5f5;
    -webkit-box-shadow: 0 3px 0 #e91c23, #b01a1f -4px 4px 8px inset;
    -moz-box-shadow: 0 3px 0 #e91c23, #b01a1f -4px 4px 8px inset;
    box-shadow: 0 3px 0 #e91c23, #b01a1f -4px 4px 8px inset;
    border: 1px solid #e91c23;
    background-color: #e01b22;
    background-image: -moz-linear-gradient(bottom, #e91c23 0%, #d61920 100%);
    background-image: -o-linear-gradient(bottom, #e91c23 0%, #d61920 100%);
    background-image: -webkit-linear-gradient(bottom, #e91c23 0%, #d61920 100%);
    background-image: linear-gradient(bottom, #e91c23 0%, #d61920 100%);
    background-image: -ms-linear-gradient(top, #e91c23 0%, #d61920 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e91c23), color-stop(1, #d61920));
}

.button-group-tab.button-group-big-left {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.button-group-tab.button-group-big-right {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.button-group-tab.button-group-small-left {
    -webkit-border-radius: 13px 0 0 13px;
    -moz-border-radius: 13px 0 0 13px;
    border-radius: 13px 0 0 13px;
}

.button-group-tab.button-group-small-right {
    -webkit-border-radius: 0 13px 13px 0;
    -moz-border-radius: 0 13px 13px 0;
    border-radius: 0 13px 13px 0;
}

.oHide {
    overflow: hidden;
}

.dIBVerMiddle {
    display: inline-block;
    vertical-align: middle;
}

.verMiddle {
    vertical-align: middle;
    display: inline-block;
}

.button-group-icon {
    width: 20px;
    height: 43px;
}


/* ==========================================================================
   CSS for Direct Channel
   ========================================================================== */

.lightBlue {
    background-color: #E0F6FF;
}

.lightBlue-date {
    background-color: #E0F6FF !important;
}

@media (min-width: 768px) {
    .field-size__large {
        font-size: 25px;
        height: 52px;
        padding: 6px 12px;
    }
    .field-size__large__ddl {
        font-size: 25px;
        height: 52px;
        padding: 6px 12px;
    }
}

@media (max-width: 767px) {
    .field-size__large {
        font-size: 190%;
        height: 52px;
        padding: 0 12px;
    }
    .field-size__large__ddl {
        font-size: 190%;
        height: 52px;
        padding: 5px 12px;
    }
}

@media (max-width: 348px) {
    .view-policy-button {
        height: 100%;
        min-width: 130px!important;
    }
}
