<div class="container">
    <div class="page_header">
        <h3 class="h1">{{"report.message.reportGeneration" | translate}}</h3>
    </div>
    <div class="entry_search_wrapper">
        <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form">
                <div class="w-row entry_rows">
                    <div class="w-col w-col-4">
                        <label for="report_type">{{"report.message.reportType" | translate}}</label>
                        <select class="w-select" id="report_type" name="report_type" data-name="report_type" ng-model="model.reportType" ng-options="rt.param_key as rt.param_value for rt in model.reportTypeOptions" ng-change="changeReportType()" ng-disabled="reportTypeListLoaded !== true">
                            <option value="">{{"REPORT_PLEASE_SELECT" | translate}}</option>
                        </select>
                    </div>
                    <div class="w-col w-col-4">
                        <label for="transaction">{{"common.rpt.trnTyp" | translate}}</label>
                        <select class="w-select" id="transaction" name="transaction" data-name="transaction" ng-model="model.transactionType" ng-options="tt.param_key as tt.param_value for tt in model.transactionTypeOptions" ng-change="changeTransactionType()" ng-disabled="transactionTypeListLoaded !== true">
                            <option value="">{{"REPORT_PLEASE_SELECT" | translate}}</option>
                        </select>
                    </div>
                    <div class="w-col w-col-4">
                        <label for="report">{{"common.rpt.titleReportName" | translate}}</label>
                        <select class="w-select" id="report" name="report" data-name="report" ng-model="model.reportName" ng-options="rn.param_key as rn.param_value for rn in model.reportNameOptions" ng-change="searchCriteria()" ng-disabled="reportNameListLoaded !== true">
                            <option value="">{{"REPORT_PLEASE_SELECT" | translate}}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="criteriaChecking" ng-if="model.showCriteria">
        <form name="searchCriteriaForm">
            <search-criteria></search-criteria>
        </form>
    </div>
</div>
</div>
