<div class="modal-header">
    <div>
        <span class="glyphicon glyphicon-remove" style="text-align:center;font-size:20px;float:right;margin-top:6px" aria-hidden="true" ng-click="dismiss()"> </span>
        <h3 class="modal-title">Report Generated</h3>
    </div>
</div>
<div class="modal-footer">
    <div class="w-clearfix entry_btns_wrapper">
        <a class="w-button red_btn" ng-click="viewReport()" style="width:45%;text-align:center;">
            <i class="fa fa-file-text"></i>
            <span>View</span>
        </a>
        <a class="w-button grey_btn" href="{{reportLink}}" style="width:45%;text-align:center;" download ng-click="dismiss()">
            <i class="fa fa-download"></i>
            <span>Download</span>
        </a>
    </div>
</div>
