<div class="container">
    <div class="page__body">
        <div class="page-section">
            <div class="page-section__header">
                <div class="page-section__header__title">
                    <h1>{{'cfo.header.acknowledgement' | translate}}</h1></div>
            </div>
            <div acknowledgement-view
                display-title="ctrl.acknowledgement.title"
                content-details="ctrl.acknowledgement.details"
                is-success-view="ctrl.acknowledgement.isSuccessAck"
                is-visible="ctrl.acknowledgement.isVisibleAck">
            </div>
        </div>
    </div>
    <div class="page__footer">
        <button class="button button--red-thick float-right"
            ng-click="ctrl.backButton()">{{'cfo.button.ok' | translate}}</button>
    </div>
</div>
