<div class="container">
    <div class="page_header">
        <h1>{{'cfo.header.myProfileHdr'|translate}}</h1>
    </div>
    <div class="page__body">
        <div class="page-section">
            <div class="page-section__header">
                <div class="page-section__header__title">{{'cfo.header.personalDetails'|translate}}</div>
            </div>
            <div class="page-section__body">
                <div class="row detail-section__row">
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div class="col-xs-12">
                            <div>
                                <label class="field-title">{{'cfo.label.personalName'|translate}}
                                </label>
                            </div>
                            <div class="field-value">
                                {{::ctrl.model.data.name}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div class="col-xs-12">
                            <div>
                                <label class="field-title">{{'cfo.label.dateOfBirth'|translate}}
                                </label>
                            </div>
                            <div class="field-value">
                                {{::ctrl.model.data.dob | date:'dd MMM yyyy'}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div class="col-xs-12">
                            <div>
                                <label class="field-title">{{'cfo.label.identityDocNumber'|translate}}
                                </label>
                            </div>
                            <div class="field-value">
                                {{::ctrl.model.data.identity_doc_num}}
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div class="col-xs-12">
                            <div>
                                <label class="field-title">{{'cfo.label.personalMartialStatus'|translate}}
                                </label>
                            </div>
                            <div class="field-value">
                                {{::ctrl.model.data.marital_status}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <hr class="section__divider" />
        <div class="page-section">
            <div class="page-section__header">
                <div class="page-section__header__title">{{'cfo.header.personalCkaHdr'|translate}}</div>
            </div>
            <div class="page-section__body">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div class="col-xs-12">
                            <div>
                                <label class="field-title">{{'cfo.label.personalCkaStatus'|translate}}
                                </label>
                            </div>
                            <div class="field-value">
                                {{::ctrl.cka.status | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div class="col-xs-12">
                            <div>
                                <label class="field-title">{{'cfo.label.personalCkaDateSubmitted'|translate}}
                                </label>
                            </div>
                            <div class="field-value">
                                {{::ctrl.cka.submit_dt}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div class="col-xs-12">
                            <div>
                                <label class="field-title">{{'cfo.label.personalCkaExpiryDate'|translate}}
                                </label>
                            </div>
                            <div class="field-value">
                                {{::ctrl.cka.expiry_dt}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="section__divider" />
        <div class="page-section">
            <div class="page-section__header">
                <div class="page-section__header__title">{{'cfo.header.contactDetails'|translate}}</div>
            </div>
            <div class="page-section__body">
                <div class="row detail-section__row">
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div class="col-xs-12">
                            <div>
                                <label class="field-title">{{'cfo.label.personalContactMobile1'|translate}}
                                </label>
                            </div>
                            <div class="field-value">
                                {{::ctrl.mobileNum}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row detail-section__row">
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div class="col-xs-12">
                            <div>
                                <label class="field-title">{{'cfo.label.personalContactHouse'|translate}}
                                </label>
                            </div>
                            <div class="field-value">
                                {{::ctrl.houseNum}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row detail-section__row">
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div class="col-xs-12">
                            <div>
                                <label class="field-title">{{'cfo.label.personalContactOffice'|translate}}
                                </label>
                            </div>
                            <div class="field-value">
                                {{::ctrl.officeNum}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row detail-section__row">
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div class="col-xs-12">
                            <div>
                                <label class="field-title">{{'cfo.label.personalContactEmail'|translate}}
                                </label>
                            </div>
                            <div class="field-value">
                                {{::ctrl.model.data.email}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="section__divider"
            ng-if="ctrl.hasPolicyAddress" />
        <div class="page-section"
            ng-if="ctrl.hasPolicyAddress">
            <div class="page-section__header">
                <div class="page-section__header__title">{{'cfo.header.addressHdr'|translate}}</div>
            </div>
            <div class="page-section__body">
                <div class="detail-section__row">
                    <div>
                        <table class="footable"
                            data-page-size="20">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.policyNoHdr'|translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.planNameHdr'|translate}}
                                    </th>
                                    <th data-hide="phone"
                                        data-sort-ignore="true">
                                        {{'cfo.header.addressHdr'|translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ctrl.model.data.policy_addr">
                                    <td>{{::item.number}}</td>
                                    <td>{{::item.name}}</td>
                                    <td ng-if="ctrl.isOverSea(item) === false">{{::ctrl.displayAddress}}</td>
                                    <td ng-if="ctrl.isOverSea(item) === true">{{::ctrl.displayAddress}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <hr class="section__divider" />
        <div class="page-section">
            <div class="page-section__header">
                <div class="page-section__header__title">{{'cfo.header.dependentDetails'|translate}}</div>
            </div>
            <div class="page-section__body">
                <div class="detail-section__row">
                    <table class="footable">
                        <thead>
                            <tr>
                                <th data-sort-ignore="true">
                                    {{'cfo.header.personNameHdr'|translate}}
                                </th>
                                <th data-sort-ignore="true">
                                    {{'cfo.header.personRelationshipHdr'|translate}}
                                </th>
                                <th data-hide="phone"
                                    data-sort-ignore="true">
                                    {{'cfo.header.identityDocNumberHdr'|translate}}
                                </th>
                                <th data-hide="phone"
                                    data-sort-ignore="true">
                                    {{'cfo.header.dateOfBirthHdr'|translate}}
                                </th>
                                <th data-hide="phone"
                                    data-sort-ignore="true">
                                    {{'cfo.header.genderHdr'|translate}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in ctrl.model.data.dependent">
                                <td>{{::x.name}}</td>
                                <td>{{::x.relationship}}</td>
                                <td>{{::x.identity_doc_num}}</td>
                                <td>{{::x.dob | date:'dd MMM yyyy'}}</td>
                                <td>{{::x.gender}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="page__footer">
            <button class="button button--red-thin float-right"
                ng-click="ctrl.update()">{{'cfo.button.update'|translate}}</button>
        </div>
    </div>
</div>
