<div class="container">
    <div class="page_header">
        <h1>Profile Confirmation</h1>
    </div>
    <div class="page__body">
        <div class="page-section">
            <div class="page-section__header__title">Detail Section</div>
            <div class="sub-section row"
                ng-if="ctrl.mobileChanges === false">
                <div class="sub-section__header__title sub-section__header__title__margin">Mobile Contact</div>
                <div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div>
                            <label class="field-title">Previous Mobile number
                            </label>
                        </div>
                        <div class="field-value"
                            ng-if="ctrl.model.mobile">
                            {{ctrl.model.mobile.country_cd}}-{{ctrl.model.mobile.number}}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div>
                            <label class="field-title">New Mobile number
                            </label>
                        </div>
                        <div class="field-value">
                            {{ctrl.newMobile.country_cd}}-{{ctrl.newMobile.number}}
                        </div>
                    </div>
                </div>
            </div>
            <hr class="section__divider"
                ng-if="ctrl.houseChanges === false" />
            <div class="sub-section row"
                ng-if="ctrl.houseChanges === false">
                <div class="sub-section__header__title sub-section__header__title__margin">House Contact</div>
                <div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div>
                            <label class="field-title">Previous House number
                            </label>
                        </div>
                        <div class="field-value"
                            ng-if="ctrl.model.house">
                            {{ctrl.model.house.country_cd}}-{{ctrl.model.house.number}}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div>
                            <label class="field-title">New House number
                            </label>
                        </div>
                        <div class="field-value">
                            {{ctrl.newHouse.country_cd}}-{{ctrl.newHouse.number}}
                        </div>
                    </div>
                </div>
            </div>

            <hr class="section__divider"
                ng-if="ctrl.officeChanges === false" />
            <div class="sub-section row"
                ng-if="ctrl.officeChanges === false">
                <div class="sub-section__header__title sub-section__header__title__margin">Office Contact</div>
                <div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div>
                            <label class="field-title">Previous Office number
                            </label>
                        </div>
                        <div class="field-value"
                            ng-if="ctrl.model.office">
                            {{ctrl.model.office.country_cd}}-{{ctrl.model.office.number}}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div>
                            <label class="field-title">New Office number
                            </label>
                        </div>
                        <div class="field-value">
                            {{ctrl.newOffice.country_cd}}-{{ctrl.newOffice.number}}
                        </div>
                    </div>
                </div>
            </div>
            <hr class="section__divider"
                ng-if="ctrl.emailChanges === false" />
            <div class="sub-section row"
                ng-if="ctrl.emailChanges === false">
                <div class="sub-section__header__title sub-section__header__title__margin">Email Address</div>
                <div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div>
                            <label class="field-title">Previous Email address
                            </label>
                        </div>
                        <div class="field-value">
                            {{ctrl.model.data.email}}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div>
                            <label class="field-title">New Email address
                            </label>
                        </div>
                        <div class="field-value">
                            {{ctrl.newEmail}}
                        </div>
                    </div>
                </div>
            </div>
            <hr class="section__divider"
                ng-if="ctrl.newPolicyAddress" />
            <div class="sub-section row"
                ng-if="ctrl.newPolicyAddress">
                <div class="sub-section__header__title sub-section__header__title__margin">Policy Address</div>
                <div>
                    <div class="col-xs-12 col-sm-6 component-padding input-wrapper">
                        <div>
                            <label class="field-title personal-details__input">New Policy address
                            </label>
                        </div>
                        <div ng-if="ctrl.newPolicyAddress.is_overseas === 'N'">

                            <div>
                                <label class="field-title">Postal Code:
                                </label>
                                <div class="field-value display-inline-block">
                                    {{ctrl.newPolicyAddress.postal_cd}}
                                </div>
                            </div>

                            <div>
                                <label class="field-title">Block:
                                </label>

                                <div class="field-value display-inline-block">
                                    {{ctrl.newPolicyAddress.block}}
                                </div>
                            </div>
                            <div>
                                <label class="field-title">Street Name:
                                </label>

                                <div class="field-value display-inline-block">
                                    {{ctrl.newPolicyAddress.street}}
                                </div>
                            </div>
                            <div>
                                <label class="field-title">Storey/Unit No:
                                </label>

                                <div class="field-value display-inline-block">
                                    {{ctrl.newPolicyAddress.storey_and_unit_num}}
                                </div>
                            </div>
                            <div>
                                <label class="field-title">Building name:
                                </label>

                                <div class="field-value display-inline-block">
                                    {{ctrl.newPolicyAddress.postal_cd}}
                                </div>
                            </div>
                        </div>
                        <!-- <div class="field-value">

                        </div> -->
                        <div ng-if="ctrl.newPolicyAddress.is_overseas === 'Y'">
                            <div>
                                <label class="field-title">Address 1
                                </label>

                                <div class="field-value display-inline-block">
                                    {{ctrl.newPolicyAddress.addr_1}}
                                </div>
                            </div>
                            <div>
                                <label class="field-title">Address 2
                                </label>

                                <div class="field-value display-inline-block">
                                    {{ctrl.newPolicyAddress.addr_2}}
                                </div>
                            </div>
                            <div>
                                <label class="field-title">Address 3
                                </label>

                                <div class="field-value display-inline-block">
                                    {{ctrl.newPolicyAddress.addr_3}}
                                </div>
                            </div>
                            <div>
                                <label class="field-title">Address 4
                                </label>

                                <div class="field-value display-inline-block">
                                    {{ctrl.newPolicyAddress.addr_4}}
                                </div>
                            </div>
                            <div>
                                <label class="field-title">Address 5
                                </label>

                                <div class="field-value display-inline-block">
                                    {{ctrl.newPolicyAddress.addr_5}}
                                </div>
                            </div>
                            <div>
                                <label class="field-title">Address 6
                                </label>

                                <div class="field-value display-inline-block">
                                    {{ctrl.newPolicyAddress.addr_6}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="sub-section row"
                ng-if="ctrl.newPolicyAddress">
                <div>
                    <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                        <div>
                            <label class="field-title">Previous Policy address
                            </label>
                        </div>
                        <div class="field-value">

                        </div>
                    </div>
                    <div class="col-xs-12 component-padding input-wrapper">
                        <div>
                            <table class="footable table"
                                data-page-size="20">
                                <thead>
                                    <tr>
                                        <th class="tableupdate"
                                            data-sort-ignore="true">
                                            {{'cfo.header.policyNoHdr'|translate}}
                                        </th>
                                        <th class="tableupdate"
                                            data-hide="phone"
                                            data-sort-ignore="true">
                                            {{'cfo.header.planNameHdr'|translate}}
                                        </th>
                                        <th class="tableupdate"
                                            data-hide="phone"
                                            data-sort-ignore="true">
                                            {{'cfo.header.addressHdr'|translate}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ctrl.model.data.policy_addr">
                                        <td>{{item.number}}</td>
                                        <td>{{item.name}}</td>
                                        <td ng-if="ctrl.isOverSea(item) === false">{{::ctrl.displayAddress}}</td>
                                        <td ng-if="ctrl.isOverSea(item) === true">{{::ctrl.displayAddress}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="section__divider" />
    <div class="page__footer">
        <div>
            <div class>
                <div class="right-wrapper">
                    <button class="button button--red-thin"
                        ng-click="ctrl.confirm()">
                        {{'cfo.button.submit'|translate}}
                    </button>
                </div>
            </div>
            <div class="left-wrapper">
                <button class="button button--light-grey"
                    ng-click="ctrl.back()">
                    {{ 'cfo.button.back'|translate}}
                </button>
            </div>

        </div>
    </div>

</div>
</div>
