<style>
</style>
<div class="container">
    <div class="page__header">
        <h1>{{'cfo.label.profileUpdate'|translate}}</h1>
    </div>
    <div class="page__body"
        ng-if="ctrl.dataLoaded">
        <div class="page-section">
            <div class="page-section__header">
                <div class="page-section__header__title">{{'cfo.header.personalDetails'|translate}}</div>
            </div>
            <div class="page-section__body">
                <form id="profileform"
                    name="profileform">
                    <div class="row detail-section__row">
                        <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">

                            <div class="col-xs-12">
                                <div class="detail-section__row__label">{{'cfo.label.personalContactMobile1'|translate}} </div>
                            </div>
                            <div class="col-xs-12">
                                <div drop-down-list label="ctrl.config.personalDetails.mobile.areaCode.label"
                                    column-css-class="ctrl.config.personalDetails.mobile.areaCode.columnCssClass"
                                    input-css-class="ctrl.config.personalDetails.mobile.areaCode.inputCssClass"
                                    label-css-class="ctrl.config.personalDetails.mobile.areaCode.labelCssClass"
                                    form-name="ctrl.config.personalDetailsForm.name"
                                    form-section-mode="ctrl.config.personalDetailsForm.mode"
                                    form-manager="ctrl.config.personalDetailsForm.formManager"
                                    validators="ctrl.config.personalDetails.mobile.areaCode.validators"
                                    field-name="'mobileAreaCode'"
                                    field-id="'mobileAreaCode'"
                                    field-style=""
                                    field-default-value="ctrl.config.personalDetails.mobile.areaCode.defaultValue"
                                    default-label="ctrl.config.personalDetails.mobile.areaCode.defaultLabel"
                                    url=""
                                    ddl-type="ctrl.config.personalDetails.mobile.areaCode.ddlType"
                                    ddl-items="ctrl.model.areaCodeOptions"
                                    ng-if="ctrl.model.areaCodeOptions[0]"></div>
                                <div single-line-text label="ctrl.config.personalDetails.mobile.number.label"
                                    column-css-class="ctrl.config.personalDetails.mobile.number.columnCssClass"
                                    input-css-class="ctrl.config.personalDetails.mobile.number.inputCssClass"
                                    label-css-class="ctrl.config.personalDetails.mobile.number.labelCssClass"
                                    form-name="ctrl.config.personalDetailsForm.name"
                                    form-section-mode="ctrl.config.personalDetailsForm.mode"
                                    form-manager="ctrl.config.personalDetailsForm.formManager"
                                    validators="ctrl.config.personalDetails.mobile.number.validators"
                                    field-name="'mobileNumber'"
                                    field-id="'mobileNumber'"
                                    field-default-value="'65'"
                                    field-input-format="ctrl.config.personalDetails.mobile.number.inputFormat"
                                    field-style=""></div>
                            </div>
                        </div>
                    </div>

                    <div class="row detail-section__row">
                        <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                            <div class="col-xs-12">
                                <div class="detail-section__row__label">{{'cfo.label.personalContactHouse'|translate}} </div>
                            </div>
                            <div class="col-xs-12">
                                <div drop-down-list label="ctrl.config.personalDetails.house.areaCode.label"
                                    column-css-class="ctrl.config.personalDetails.house.areaCode.columnCssClass"
                                    input-css-class="ctrl.config.personalDetails.house.areaCode.inputCssClass"
                                    label-css-class="ctrl.config.personalDetails.house.areaCode.labelCssClass"
                                    form-name="ctrl.config.personalDetailsForm.name"
                                    form-section-mode="ctrl.config.personalDetailsForm.mode"
                                    form-manager="ctrl.config.personalDetailsForm.formManager"
                                    validators="ctrl.config.personalDetails.house.areaCode.validators"
                                    field-name="'houseAreaCode'"
                                    field-id="'houseAreaCode'"
                                    field-style=""
                                    field-default-value="ctrl.config.personalDetails.house.areaCode.defaultValue"
                                    default-label="ctrl.config.personalDetails.house.areaCode.defaultLabel"
                                    url=""
                                    ddl-type="ctrl.config.personalDetails.house.areaCode.ddlType"
                                    ddl-items="ctrl.model.areaCodeOptions"
                                    ng-if="ctrl.model.areaCodeOptions[0]"></div>
                                <div single-line-text label="ctrl.config.personalDetails.house.number.label"
                                    column-css-class="ctrl.config.personalDetails.house.number.columnCssClass"
                                    input-css-class="ctrl.config.personalDetails.house.number.inputCssClass"
                                    label-css-class="ctrl.config.personalDetails.house.number.labelCssClass"
                                    form-name="ctrl.config.personalDetailsForm.name"
                                    form-section-mode="ctrl.config.personalDetailsForm.mode"
                                    form-manager="ctrl.config.personalDetailsForm.formManager"
                                    validators="ctrl.config.personalDetails.house.number.validators"
                                    field-name="'houseNumber'"
                                    field-id="'houseNumber'"
                                    field-input-format="ctrl.config.personalDetails.house.number.inputFormat"
                                    field-style=""></div>
                            </div>

                        </div>
                    </div>

                    <div class="row detail-section__row">
                        <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                            <div class="col-xs-12 ">
                                <div class="detail-section__row__label">{{'cfo.label.personalContactOffice'|translate}} </div>
                            </div>
                            <div class="col-xs-12">
                                <div drop-down-list label="ctrl.config.personalDetails.office.areaCode.label"
                                    column-css-class="ctrl.config.personalDetails.office.areaCode.columnCssClass"
                                    input-css-class="ctrl.config.personalDetails.office.areaCode.inputCssClass"
                                    label-css-class="ctrl.config.personalDetails.office.areaCode.labelCssClass"
                                    form-name="ctrl.config.personalDetailsForm.name"
                                    form-section-mode="ctrl.config.personalDetailsForm.mode"
                                    form-manager="ctrl.config.personalDetailsForm.formManager"
                                    validators="ctrl.config.personalDetails.office.areaCode.validators"
                                    field-name="'officeAreaCode'"
                                    field-id="'officeAreaCode'"
                                    field-style=""
                                    field-default-value="ctrl.config.personalDetails.office.areaCode.defaultValue"
                                    default-label="ctrl.config.personalDetails.office.areaCode.defaultLabel"
                                    url=""
                                    ddl-type="ctrl.config.personalDetails.office.areaCode.ddlType"
                                    ddl-items="ctrl.model.areaCodeOptions"
                                    ng-if="ctrl.model.areaCodeOptions[0]"></div>
                                <div single-line-text label="ctrl.config.personalDetails.office.number.label"
                                    column-css-class="ctrl.config.personalDetails.office.number.columnCssClass"
                                    input-css-class="ctrl.config.personalDetails.office.number.inputCssClass"
                                    label-css-class="ctrl.config.personalDetails.office.number.labelCssClass"
                                    form-name="ctrl.config.personalDetailsForm.name"
                                    form-section-mode="ctrl.config.personalDetailsForm.mode"
                                    form-manager="ctrl.config.personalDetailsForm.formManager"
                                    validators="ctrl.config.personalDetails.office.number.validators"
                                    field-name="'officeNumber'"
                                    field-id="'officeNmber'"
                                    field-input-format="ctrl.config.personalDetails.office.number.inputFormat"
                                    field-style=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="row detail-section__row">
                        <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                            <div class="col-xs-12">
                                <div class="detail-section__row__label">{{'cfo.label.personalContactEmail'|translate}} </div>
                            </div>
                            <div class="col-xs-12">
                                <div single-line-text label="ctrl.config.personalDetails.email.label"
                                    column-css-class="ctrl.config.personalDetails.email.columnCssClass"
                                    input-css-class="ctrl.config.personalDetails.email.inputCssClass"
                                    label-css-class="ctrl.config.personalDetails.email.labelCssClass"
                                    form-name="ctrl.config.personalDetailsForm.name"
                                    form-section-mode="ctrl.config.personalDetailsForm.mode"
                                    form-manager="ctrl.config.personalDetailsForm.formManager"
                                    validators="ctrl.config.personalDetails.email.validators"
                                    field-name="'email'"
                                    field-id="'email'"
                                    field-style=""></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <hr class="section__divider"
        ng-if="ctrl.hasPolicyAddress" />
    <div class="page-section"
        ng-if="ctrl.hasPolicyAddress">
        <div class="page-section__header">
            <div class="page-section__header__title">{{'cfo.header.personalPolicyAddress'|translate}}</div>
        </div>
        <div class="page-section__body">
            <div class="row detail-section__row">
                <div class="col-xs-12">
                    <div class="btn-group">
                        <label class="btn"
                            btn-radio="'Singapore'"
                            ng-model="ctrl.model.country.name"
                            ng-value="ctrl.model.localCountry"
                            ng-change="ctrl.changeAddressType(ctrl.model.country.name)"
                            name="localCountry">{{'cfo.label.personalAddressSingapore'|translate}}</label>
                        <label class="btn "
                            btn-radio="'Overseas'"
                            ng-model="ctrl.model.country.name"
                            value="Overseas"
                            ng-change="ctrl.changeAddressType(ctrl.model.country.name, 'Y')"
                            name="Overseas">{{'cfo.label.personalAddressOverseas'|translate}}</label>
                    </div>
                </div>
            </div>

            <div class="sub-section">

                <div ng-if="ctrl.model.country.name !== 'Overseas'">
                    <div class="sub-section__header">
                        <div class="sub-section__header__title">{{'cfo.header.personalNewSingaporeAddress'|translate}}</div>
                    </div>
                    <div class="">
                        <form id="singaporeform"
                            name="singaporeform">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                                    <div class="col-xs-8 nopadding">
                                        <div single-line-text label="ctrl.config.localAddress.postalCode.label"
                                            input-css-class="ctrl.config.localAddress.postalCode.inputCssClass"
                                            label-css-class="ctrl.config.localAddress.postalCode.labelCssClass"
                                            form-name="ctrl.config.localAddressForm.name"
                                            form-section-mode="ctrl.config.localAddressForm.mode"
                                            form-manager="ctrl.config.localAddressForm.formManager"
                                            validators="ctrl.config.localAddress.postalCode.validators"
                                            field-name="'postalCode'"
                                            field-id="'postalCode'"
                                            field-style=""
                                            input-style=""
                                            field-input-format="ctrl.config.localAddress.postalCode.inputFormat"></div>
                                    </div>

                                    <div class="col-xs-4 right-wrapper padding-right"
                                        style="">
                                        <button class="form-btn float-right"
                                            ng-click="ctrl.getAddress()">{{'cfo.button.getAddress'|translate}} </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                                    <div single-line-text label="ctrl.config.localAddress.block.label"
                                        input-css-class="ctrl.config.localAddress.block.inputCssClass"
                                        label-css-class="ctrl.config.localAddress.block.labelCssClass"
                                        form-name="ctrl.config.localAddressForm.name"
                                        form-section-mode="ctrl.config.localAddressForm.mode"
                                        form-manager="ctrl.config.localAddressForm.formManager"
                                        validators="ctrl.config.localAddress.block.validators"
                                        field-name="'block'"
                                        field-id="'block'"
                                        field-style=""
                                        field-input-format="ctrl.config.localAddress.block.inputFormat"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="streetName"
                                    class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                                    <div single-line-text label="ctrl.config.localAddress.street.label"
                                        input-css-class="ctrl.config.localAddress.street.inputCssClass"
                                        label-css-class="ctrl.config.localAddress.street.labelCssClass"
                                        form-name="ctrl.config.localAddressForm.name"
                                        form-section-mode="ctrl.config.localAddressForm.mode"
                                        form-manager="ctrl.config.localAddressForm.formManager"
                                        validators="ctrl.config.localAddress.street.validators"
                                        field-name="'street'"
                                        field-id="'street'"
                                        field-style=""></div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                                    <div single-line-text label="ctrl.config.localAddress.storeyAndUnitNum.label"
                                        input-css-class="ctrl.config.localAddress.storeyAndUnitNum.inputCssClass"
                                        label-css-class="ctrl.config.localAddress.storeyAndUnitNum.labelCssClass"
                                        form-name="ctrl.config.localAddressForm.name"
                                        form-section-mode="ctrl.config.localAddressForm.mode"
                                        form-manager="ctrl.config.localAddressForm.formManager"
                                        validators="ctrl.config.localAddress.storeyAndUnitNum.validators"
                                        field-name="'storeyAndUnitNum'"
                                        field-id="'storeyAndUnitNum'"
                                        field-style=""></div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                                    <div single-line-text label="ctrl.config.localAddress.building.label"
                                        input-css-class="ctrl.config.localAddress.building.inputCssClass"
                                        label-css-class="ctrl.config.localAddress.building.labelCssClass"
                                        form-name="ctrl.config.localAddressForm.name"
                                        form-section-mode="ctrl.config.localAddressForm.mode"
                                        form-manager="ctrl.config.localAddressForm.formManager"
                                        validators="ctrl.config.localAddress.building.validators"
                                        field-name="'building'"
                                        field-id="'building'"
                                        field-style=""></div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                                    <button class="secondary-button secondary-button--grey-thin float-right margin-right"
                                        ng-click="ctrl.clear()">{{'cfo.button.clear'|translate}}</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div ng-if="ctrl.model.country.name === 'Overseas'">
                <div class="sub-section__header">
                    <div class="sub-section__header__title"> {{'cfo.header.personalNewOverseasAddress'|translate}}
                    </div>
                </div>
                <div class="">
                    <form id="overseaform"
                        name="overseaform">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                                <div single-line-text label="ctrl.config.overseasAddress.addr1.label"
                                    input-css-class="ctrl.config.overseasAddress.addr1.inputCssClass"
                                    label-css-class="ctrl.config.overseasAddress.addr1.labelCssClass"
                                    form-name="ctrl.config.overseasAddressForm.name"
                                    form-section-mode="ctrl.config.overseasAddressForm.mode"
                                    form-manager="ctrl.config.overseasAddressForm.formManager"
                                    validators="ctrl.config.overseasAddress.addr1.validators"
                                    field-name="'addr1'"
                                    field-id="'addr1'"
                                    field-style=""></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                                <div single-line-text label="ctrl.config.overseasAddress.addr2.label"
                                    input-css-class="ctrl.config.overseasAddress.addr2.inputCssClass"
                                    label-css-class="ctrl.config.overseasAddress.addr2.labelCssClass"
                                    form-name="ctrl.config.overseasAddressForm.name"
                                    form-section-mode="ctrl.config.overseasAddressForm.mode"
                                    form-manager="ctrl.config.overseasAddressForm.formManager"
                                    validators="ctrl.config.overseasAddress.addr2.validators"
                                    field-name="'addr2'"
                                    field-id="'addr2'"
                                    field-style=""></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                                <div single-line-text label="ctrl.config.overseasAddress.addr3.label"
                                    input-css-class="ctrl.config.overseasAddress.addr3.inputCssClass"
                                    label-css-class="ctrl.config.overseasAddress.addr3.labelCssClass"
                                    form-name="ctrl.config.overseasAddressForm.name"
                                    form-section-mode="ctrl.config.overseasAddressForm.mode"
                                    form-manager="ctrl.config.overseasAddressForm.formManager"
                                    validators="ctrl.config.overseasAddress.addr3.validators"
                                    field-name="'addr3'"
                                    field-id="'addr3'"
                                    field-style=""></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                                <div single-line-text label="ctrl.config.overseasAddress.addr4.label"
                                    input-css-class="ctrl.config.overseasAddress.addr4.inputCssClass"
                                    label-css-class="ctrl.config.overseasAddress.addr4.labelCssClass"
                                    form-name="ctrl.config.overseasAddressForm.name"
                                    form-section-mode="ctrl.config.overseasAddressForm.mode"
                                    form-manager="ctrl.config.overseasAddressForm.formManager"
                                    validators="ctrl.config.overseasAddress.addr4.validators"
                                    field-name="'addr4'"
                                    field-id="'addr4'"
                                    field-style=""></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                                <div single-line-text label="ctrl.config.overseasAddress.addr5.label"
                                    input-css-class="ctrl.config.overseasAddress.addr5.inputCssClass"
                                    label-css-class="ctrl.config.overseasAddress.addr5.labelCssClass"
                                    form-name="ctrl.config.overseasAddressForm.name"
                                    form-section-mode="ctrl.config.overseasAddressForm.mode"
                                    form-manager="ctrl.config.overseasAddressForm.formManager"
                                    validators="ctrl.config.overseasAddress.addr5.validators"
                                    field-name="'addr5'"
                                    field-id="'addr5'"
                                    field-style=""></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                                <div single-line-text label="ctrl.config.overseasAddress.addr6.label"
                                    input-css-class="ctrl.config.overseasAddress.addr6.inputCssClass"
                                    label-css-class="ctrl.config.overseasAddress.addr6.labelCssClass"
                                    form-name="ctrl.config.overseasAddressForm.name"
                                    form-section-mode="ctrl.config.overseasAddressForm.mode"
                                    form-manager="ctrl.config.overseasAddressForm.formManager"
                                    validators="ctrl.config.overseasAddress.addr6.validators"
                                    field-name="'addr6'"
                                    field-id="'addr6'"
                                    field-style=""></div>
                            </div>
                        </div>
                        <div class="row"
                            ng-if="ctrl.model.otherCountryOptions[0]">
                            <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                                <div drop-down-list label="ctrl.config.overseasAddress.countryName.label"
                                    column-css-class="ctrl.config.overseasAddress.countryName.columnCssClass"
                                    input-css-class="ctrl.config.overseasAddress.countryName.inputCssClass"
                                    label-css-class="ctrl.config.overseasAddress.countryName.labelCssClass"
                                    form-name="ctrl.config.overseasAddressForm.name"
                                    form-section-mode="ctrl.config.overseasAddressForm.mode"
                                    form-manager="ctrl.config.overseasAddressForm.formManager"
                                    validators="ctrl.config.overseasAddress.countryName.validators"
                                    field-name="'countryName'"
                                    field-id="'countryName'"
                                    field-style=""
                                    default-label="ctrl.config.overseasAddress.countryName.defaultLabel"
                                    url=""
                                    ddl-type="ctrl.config.overseasAddress.countryName.ddlType"
                                    ddl-items="ctrl.model.otherCountryOptions"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 vertical-padding input-wrapper">
                                <button class="secondary-button secondary-button--grey-thin float-right margin-right"
                                    ng-click="ctrl.clear()">{{'cfo.button.clear'|translate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="sub-section"
            ng-if="ctrl.hasPolicyAddress">
            <div class="sub-section__header">
                <div class="sub-section__header__title">{{'cfo.header.personalPolicyUpdate'|translate}}</div>
            </div>
            <div class="sub-section__body">
                <form name="policyform">
                    <div class="row detail-section__row">
                        <div>
                            <table class="footable table"
                                data-page-size="20">
                                <thead>
                                    <tr>
                                        <th class="tableupdate"
                                            data-sort-ignore="true">
                                            <input type="checkbox"
                                                name="selectAllPolicies"
                                                ng-model="ctrl.model.selectedPolicies"
                                                ng-change="ctrl.selectAllPolicy()" /> {{'cfo.header.updateHdr'|translate}}
                                        </th>
                                        <th class="tableupdate"
                                            data-sort-ignore="true">
                                            {{'cfo.header.policyNoHdr'|translate}}
                                        </th>
                                        <th class="tableupdate"
                                            data-hide="phone"
                                            data-sort-ignore="true">
                                            {{'cfo.header.planNameHdr'|translate}}
                                        </th>
                                        <th class="tableupdate"
                                            data-hide="phone"
                                            data-sort-ignore="true">
                                            {{'cfo.header.addressHdr'|translate}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ctrl.model.data.policy_addr">
                                        <td>
                                            <input type="checkbox"
                                                name="policies"
                                                ng-model="item.selected"
                                                ng-change="ctrl.changeSelected(item.seq_num, item.number)" />
                                        </td>
                                        <td>{{item.number}}</td>
                                        <td>{{item.name}}</td>
                                        <td ng-if="ctrl.isOverSea(item) === false">{{::ctrl.displayAddress}}</td>
                                        <td ng-if="ctrl.isOverSea(item) === true">{{::ctrl.displayAddress}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="error-message"
                                ng-if="!ctrl.policyAddressTable.isValid">{{ctrl.policyAddressTable.message | translate}}</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div>
            <div class>
                <div class="right-wrapper">
                    <button class="button button--red-thin right-button"
                        ng-click="ctrl.submit()">
                        {{'cfo.button.submit'|translate}}
                    </button>
                </div>
            </div>
            <div class="left-wrapper">
                <button class="button button--light-grey left-button"
                    ng-click="ctrl.back()">
                    {{ 'cfo.button.back'|translate}}
                </button>
            </div>

        </div>
    </div>
</div>
