<script type="text/ng-template"
    id="acknowledgementView.html">
    <div class="ack-view"
        ng-class="{'ack-view--success': ctrl.isSuccessView, 'ack-view--fail': !ctrl.isSuccessView}"
        ng-show="ctrl.isVisible">
        <div class="ack-view__title">{{ctrl.displayTitle | translate}}</div>
        <div class="ack-view__content">
            <div class="padding-left-20"
                ng-if="ctrl.contentDetails.length === 1"
                ng-bind-html="ctrl.contentDetails[0].message | translate"></div>
            <ul ng-if="ctrl.contentDetails.length > 1">
                <li data-ng-repeat="obj in ctrl.contentDetails"
                    ng-bind-html="obj.message | translate"></li>
            </ul>
        </div>
    </div>
</script>
