<script type="text/ng-template"
    id="filePreviewModal.html">
    <div class="modal-header">
        <button type="button"
            class="close"
            ng-click="ctrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"
            id="myModalLabel">File preview</h4>
    </div>
    <div class="modal-body"
        style="text-align:center; height:90%;width:100%">
        <div pdf-preview
            show-modal-footer="ctrl.showModalFooter"
            show-modal-footer-at-scroll-end="ctrl.showModalFooterAtScrollEnd"
            ng-if="ctrl.ext === 'PDF'">
        </div>
        <div image-preview
            ng-if="ctrl.ext !== 'PDF'">
        </div>
    </div>
    <div class="modal-footer"
        ng-if="ctrl.showModalFooter">
        <button type="button"
            class="btn btn-default"
            ng-click="ctrl.close()">Close</button>
    </div>
</script>
