<script type="text/ng-template"
    id="imagePreview.html">
    <div style="overflow-x:auto">
        <a class="magnifier-thumb-wrapper demo">
            <img id="thumb-inside"
                src=""
                data-mode="inside">
        </a>
    </div>
</script>
