<script type="text/ng-template"
    id="modalDialogLink.html">
    <div class="{{ctrl.columnCssClass}}"
        style="margin-bottom:10px">
        <div ng-style="ctrl.styleObj"
            class="{{ctrl.cssClass}}">
            <div style="display:table;">
                <span ng-if="ctrl.icon && ctrl.icon.type === 'font'"
                    style="color:{{ctrl.icon.color}}"><i class="{{ ctrl.icon.value }}"></i></span>
                <img ng-if="ctrl.icon && ctrl.icon.type === 'image'"
                    src="{{ctrl.icon.value}}"> &nbsp;&nbsp;
                <a ng-click="ctrl.openModal()"
                    style="display:table-cell;vertical-align:middle;"> {{ctrl.label.name}} </a>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template"
    id="modalTemplate.html">
    <style>
    @media screen {
        #printSection {
            display: none;
        }
    }
    
    @media print {
        body * {
            visibility: hidden;
        }
        #printSection,
        #printSection * {
            visibility: visible;
        }
        #printSection {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    </style>
    <div class="modal-wrapper">
        <div class="modal-print">
            <div class="modal-header-custom">
                <div>
                    <span class="glyphicon glyphicon-remove modal-close-button"
                        aria-hidden="true"
                        ng-click="ctrl.close()"> </span>
                    <h3 class="modal-title">{{ctrl.title}}</h3>
                </div>
            </div>
            <div class="modal-body-custom">
                <div plain-view
                    template-url="ctrl.templateUrl">
                </div>
            </div>
        </div>
        <div class="modal-footer-custom">
            <input class="modal-secondary-button"
                type="button"
                value="Close"
                ng-click="ctrl.close()">
            <input ng-if="ctrl.printInModal === 'true'"
                class="modal-primary-button"
                type="button"
                value="Print"
                ng-click="ctrl.print()">
        </div>
    </div>
</script>
