<script type="text/ng-template"
    id="pdfPreview.html">
    <div>
        <div style="margin-bottom:5px;">
            <span style="padding:0 30px 0 10px">Page: {{ctrl.currentPage}} / {{ctrl.totalPages}}</span>
            <button id="zoomIn">
                <i class="glyphicon glyphicon-zoom-in"></i>
            </button>
            <button id="zoomOut">
                <i class="glyphicon glyphicon-zoom-out"></i>
            </button>
        </div>
        <div id="canvasWrapper"
            style="overflow:auto">
        </div>
    </div>
</script>
