<script type="text/ng-template"
    id="plainView.html">
    <div ng-if="ctrl.isVisible"
        ng-style="ctrl.fieldStyleObj">
        <div ng-include="ctrl.templateUrl"
            class="{{ctrl.columnCssClass}}"></div>
    </div>
</script>
