<script type="text/ng-template"
    id="plainText.html">
    <div ng-if="ctrl.isVisible"
        ng-style="ctrl.fieldStyleObj">
        <div class="{{ctrl.columnCssClass}}">
            <div class="{{ctrl.labelCssClass}}"
                ng-style="ctrl.labelStyleObj">{{ctrl.displayContent | translate}}</div>
        </div>
    </div>
</script>
