<style type="text/css">
.margin {
    margin: 15px 0;
}
</style>
<div class="panel panel-default margin">
    <div class="panel-heading"
        role="tab"
        id="filterheader_{{ctrl.tableName}}">
        <h4 class="panel-title">
            <a data-toggle="collapse" 
                data-target="#filterBody_{{ctrl.tableName}}" 
                aria-expanded="true" 
                aria-controls="filterBody_{{ctrl.tableName}}">
                Table Filters
            </a>
        </h4>
    </div>
    <div id="filterBody_{{ctrl.tableName}}"
        class="panel-collapse collapse"
        role="tabpanel"
        aria-labelledby="filterHeader_{{ctrl.tableName}}">
        <div class="panel-body">
            <div class="col-xs-12">
                <div class="col-xs-3">
                    <label>Filter Source</label>
                </div>
                <div class="col-xs-5">
                    <input ng-model="ctrl.tableFilters.filterSource"
                        class="form-control"
                        type="text"
                        style="width:100%">
                </div>
            </div>
            <div class="col-xs-12">
                <hr/>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <h3 style="margin-top:0;margin-bottom: 20px">Filters Section</h3>
                </div>
                <div class="col-xs-2">
                    <label>Section Name</label>
                </div>
                <div class="col-xs-3">
                    <input ng-model="ctrl.sectionName"
                        class="form-control"
                        type="text"
                        style="width:100%">
                </div>
                <div class="col-xs-3">
                    <label>Display mode</label>
                </div>
                <div class="col-xs-2">
                    <select class="w-select form-control"
                        ng-model="ctrl.sectionMode">
                        <option value="edit">edit</option>
                        <option value="preview">preview</option>
                        <option value="view">view</option>
                    </select>
                </div>
                <div class="col-xs-12"
                    style="margin-bottom:20px">
                    <input class="btn btn-primary"
                        type="button"
                        value="Add Section"
                        ng-click="ctrl.addFilterSection()"
                        style="width:auto;">
                </div>
            </div>
            <div class="col-xs-12"
                ng-repeat="section in ctrl.tableFilters.sections">
                <div class="panel-group"
                    id="accordion_{{section.id}}"
                    role="tablist"
                    aria-multiselectable="true">
                    <div class="panel panel-default">
                        <button type="button"
                            class="btn btn-danger"
                            style="float:right;"
                            ng-click="ctrl.removeFilterSection(section.id)">Remove Section</button>
                        <div class="panel-heading"
                            role="tab"
                            id="filterSection_{{section.id}}">
                            <h3 class="panel-title">
                            <a data-toggle="collapse" 
                               data-target="#section_{{section.id}}" 
                               aria-expanded="true" 
                               aria-controls="section_{{section.id}}">
                              <span>Form Section: <b>{{section.name}}</b></span>
                              <span style="padding-left:20px;">Mode: <b>{{section.mode}}</b></span>
                            </a>
                        </h3>
                        </div>
                        <div id="section_{{section.id}}"
                            class="panel-collapse collapse in"
                            role="tabpanel"
                            aria-labelledby="filterSection_{{section.id}}"
                            aria-expanded="true">
                            <form-section-panel section="section"
                                form-input-list="ctrl.inputList"></form-section-panel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
