<style type="text/css">
.padding {
    padding: 10px 0;
}
</style>
<form>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-12 padding">
                <div class="col-xs-3">
                    Render on Page Load
                </div>
                <div class="col-xs-5">
                    <input ng-model="ctrl.componentModel.retrieveOnLoad"
                        type="radio"
                        ng-value="true"> Yes &nbsp;&nbsp;&nbsp;&nbsp;
                    <input ng-model="ctrl.componentModel.retrieveOnLoad"
                        type="radio"
                        ng-value="false"> No
                </div>
            </div>
            <div class="col-xs-12 padding">
                <div class="col-xs-3">
                    Data Source
                </div>
                <div class="col-xs-5">
                    <input ng-model="ctrl.componentModel.dataSource"
                        type="text"
                        class="form-control"
                        style="width:100%">
                </div>
            </div>
            <div class="col-xs-12 padding">
                <div class="col-xs-3">
                    Records Per Page
                </div>
                <div class="col-xs-5">
                    <input ng-model="ctrl.componentModel.pageSize"
                        type="text"
                        class="form-control"
                        style="width:100%">
                </div>
            </div>
            <div class="col-xs-12 panel-group"
                id="accordion"
                role="tablist"
                aria-multiselectable="true">
                <table-fields-panel table-fields="ctrl.componentModel.fields"
                    table-name="ctrl.componentModel.name"></table-fields-panel>
                <table-filters-panel table-filters="ctrl.componentModel.filters"
                    table-name="ctrl.componentModel.name"
                    input-list="ctrl.inputList"></table-filters-panel>
            </div>
        </div>
    </div>
</form>
