<style type="text/css">
.padding {
    padding: 5px 0;
}

.margin {
    margin: 15px 0;
}
</style>
<div class="panel panel-default margin">
    <div class="panel-heading"
        role="tab"
        id="fieldsHeader_{{ctrl.tableName}}">
        <h4 class="panel-title">
                            <a data-toggle="collapse" 
                               data-target="#fieldsBody_{{ctrl.tableName}}" 
                               aria-expanded="true" 
                               aria-controls="fieldsBody_{{ctrl.tableName}}">
                              Table Fields
                            </a>
                        </h4>
    </div>
    <div id="fieldsBody_{{ctrl.tableName}}"
        class="panel-collapse collapse"
        role="tabpanel"
        aria-labelledby="fieldsHeader_{{ctrl.tableName}}">
        <div class="panel-body">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <div class="col-xs-2">
                        <label>Field Name</label>
                    </div>
                    <div class="col-xs-3">
                        <input ng-model="ctrl.fieldName"
                            class="form-control"
                            type="text"
                            style="width:100%">
                    </div>
                    <div class="col-xs-2">
                        <label>Field Type</label>
                    </div>
                    <div class="col-xs-3">
                        <select class="w-select form-control"
                            ng-model="ctrl.fieldType">
                            <option value="text">Text</option>
                            <option value="currency">Currency</option>
                            <option value="date">Date</option>
                            <option value="pageLink">Page Link</option>
                        </select>
                    </div>
                    <div class="col-xs-12"
                        style="margin-bottom:10px">
                        <input class="btn btn-primary"
                            type="button"
                            value="Add Field"
                            ng-click="ctrl.addField()"
                            style="width:auto;">
                    </div>
                </div>
            </div>
            <div class="col-xs-12"
                ng-repeat="field in ctrl.tableFields">
                <div class="panel panel-default">
                    <button type="button"
                        class="btn btn-danger"
                        style="float:right;"
                        ng-click="ctrl.removeField(field.name)">Remove Field</button>
                    <div class="panel-heading"
                        role="tab"
                        id="fieldHeader_{{field.name}}">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" 
                               data-target="#fieldBody_{{field.name}}" 
                               aria-expanded="true" 
                               aria-controls="fieldBody_{{field.name}}">
                              <span>Field Name: <b>{{field.name}}</b></span>
                              <span style="padding-left: 10px;">Type: {{field.type}}</span>
                            </a>
                        </h4>
                    </div>
                    <div id="fieldBody_{{field.name}}"
                        class="panel-collapse collapse"
                        role="tabpanel"
                        aria-labelledby="fieldHeader_{{field.name}}">
                        <div class="panel-body">
                            <div class="col-xs-12 padding">
                                <div class="col-xs-3">
                                    Field Name:
                                </div>
                                <div class="col-xs-5">
                                    <input ng-model="field.name"
                                        class="form-control"
                                        type="text"
                                        style="width:100%">
                                </div>
                            </div>
                            <div class="col-xs-12 padding">
                                <div class="col-xs-3">
                                    Field Label
                                </div>
                                <div class="col-xs-5">
                                    <input ng-model="field.label"
                                        class="form-control"
                                        type="text"
                                        style="width:100%">
                                </div>
                            </div>
                            <div class="col-xs-12 padding">
                                <div class="col-xs-3">
                                    Hide Field in Devices
                                </div>
                                <div class="col-xs-5">
                                    <input type="checkbox"
                                        name="phone_{{field.name}}"
                                        ng-model="ctrl[field.name+'_phone']"
                                        ng-change="ctrl.toggleFieldDisplay(field, 'phone')"> Phone &nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="checkbox"
                                        name="tablet_{{field.name}}"
                                        ng-model="ctrl[field.name+'_tablet']"
                                        ng-change="ctrl.toggleFieldDisplay(field, 'tablet')"> Tablet &nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="checkbox"
                                        name="tablet_{{field.name}}"
                                        ng-model="ctrl[field.name+'_all']"
                                        ng-change="ctrl.toggleFieldDisplay(field, 'all')"> All
                                </div>
                            </div>
                            <div class="col-xs-12 padding">
                                <div class="col-xs-3">
                                    Disable Field Sort
                                </div>
                                <div class="col-xs-5">
                                    <input ng-model="field.ignore"
                                        name="ignore_{{field.name}}"
                                        type="radio"
                                        ng-value="true"> Yes &nbsp;&nbsp;&nbsp;&nbsp;
                                    <input ng-model="field.ignore"
                                        name="ignore_{{field.name}}"
                                        type="radio"
                                        ng-value="false"> No
                                </div>
                            </div>
                            <div class="col-xs-12 padding"
                                ng-if="field.type==='date'">
                                <div class="col-xs-3">
                                    Format
                                </div>
                                <div class="col-xs-5">
                                    <input ng-model="field.format"
                                        class="form-control"
                                        type="text"
                                        style="width:100%">
                                </div>
                            </div>
                            <div class="col-xs-12 padding">
                                <div class="col-xs-3">
                                    Default Sort
                                </div>
                                <div class="col-xs-5">
                                    <input ng-model="field.default"
                                        name="default_{{field.name}}"
                                        type="checkbox"
                                        ng-change="ctrl.setDefaultField(field)"> Sort current field by default
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
