<select ng-model="ctrl.progressInfo.appDetailsStep">
    <option value="2">personalParticulars</option>
    <option value="3">occupationalInformation</option>
</select>
<div app-personal-particulars-page
    progress-info="ctrl.progressInfo"
    ng-if="ctrl.progressInfo.appDetailsStep === '2'">
</div>
<div app-occupational-information-page
    progress-info="ctrl.progressInfo"
    ng-if="ctrl.progressInfo.appDetailsStep === '3'"></div>
