<div class="container">
    <div class="page_header">
        <h1>{{'cfo.header.particularsHeader' | translate}}</h1>
    </div>
    <div class="page-section">
        <div class="page-section__header__title">
            <span>{{'cfo.label.applicationDetails' | translate}} : </span>
            <span>{{'cfo.label.stepOf' | translate}}</span>
        </div>
        <div step-indicator
            total-steps="ctrl.progressInfo.totalSteps"
            current-step="ctrl.progressInfo.currentStep"
            class="hidden-xs"></div>
    </div>
</div>
<div class="grey-container">
    <div class="direct-channel__plan-details-container">
        <div class="row no-margin">
            <div class="col-xs-12 col-sm-6 no-padding">
                <h1 class="no-margin no-padding">{{'cfo.header.occupationalInformation' | translate}}</h1>
            </div>
            <div class="col-xs-12 col-sm-6 app-ref-num">
                {{'cfo.label.appRefNum' | translate}}:
                <span style="color:#ed1c24;">SGDC13768216412742808</span>
            </div>
        </div>
        <div class="page-body">
            <div class="page-section">
                <div class="row">
                    <div drop-down-list
                        label="ctrl.config.occupation.label"
                        column-css-class="ctrl.config.occupation.columnCssClass"
                        input-css-class="ctrl.config.occupation.inputCssClass"
                        label-css-class="ctrl.config.occupation.labelCssClass"
                        form-name="ctrl.config.occupationalInformationForm.name"
                        form-section-mode="ctrl.config.occupationalInformationForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.occupation.validators"
                        field-name="'occupation'"
                        field-id="'occupation'"
                        field-style="ctrl.config.occupation.fieldStyle"
                        url="ctrl.config.occupation.url"
                        ddl-type="ctrl.config.occupation.ddlType"
                        ddl-items="ctrl.config.occupation.ddlItems"
                        ng-if="ctrl.compileElement">
                    </div>
                </div>
                <div class="row"
                    ng-if="ctrl.showCompanyName()">
                    <div single-line-text
                        label="ctrl.config.companyName.label"
                        column-css-class="ctrl.config.companyName.columnCssClass"
                        input-css-class="ctrl.config.companyName.inputCssClass"
                        label-css-class="ctrl.config.companyName.labelCssClass"
                        form-name="ctrl.config.occupationalInformationForm.companyName"
                        form-section-mode="ctrl.config.occupationalInformationForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.companyName.validators"
                        field-name="'companyName'"
                        field-id="'companyName'"
                        field-style="ctrl.config.companyName.fieldStyle"
                        ng-if="ctrl.compileElement">
                    </div>
                </div>
                <div class="row"
                    ng-if="ctrl.showSchoolName()">
                    <div single-line-text
                        label="ctrl.config.schoolName.label"
                        column-css-class="ctrl.config.schoolName.columnCssClass"
                        input-css-class="ctrl.config.schoolName.inputCssClass"
                        label-css-class="ctrl.config.schoolName.labelCssClass"
                        form-name="ctrl.config.occupationalInformationForm.schoolName"
                        form-section-mode="ctrl.config.occupationalInformationForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.schoolName.validators"
                        field-name="'schoolName'"
                        field-id="'schoolName'"
                        field-style="ctrl.config.schoolName.fieldStyle"
                        ng-if="ctrl.compileElement">
                    </div>
                </div>
                <div class="row"
                    ng-if="ctrl.showBusinessNature()">
                    <div drop-down-list
                        label="ctrl.config.businessNature.label"
                        column-css-class="ctrl.config.businessNature.columnCssClass"
                        input-css-class="ctrl.config.businessNature.inputCssClass"
                        label-css-class="ctrl.config.businessNature.labelCssClass"
                        form-name="ctrl.config.occupationalInformationForm.businessNature"
                        form-section-mode="ctrl.config.occupationalInformationForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.businessNature.validators"
                        field-name="'businessNature'"
                        field-id="'businessNature'"
                        field-style="ctrl.config.businessNature.fieldStyle"
                        url="ctrl.config.businessNature.url"
                        ddl-type="ctrl.config.businessNature.ddlType"
                        ddl-items="ctrl.config.businessNature.ddlItems"
                        ng-if="ctrl.compileElement">
                    </div>
                </div>
                <div class="row"
                    ng-if="ctrl.showOthers()">
                    <div single-line-text
                        label="ctrl.config.others.label"
                        column-css-class="ctrl.config.others.columnCssClass"
                        input-css-class="ctrl.config.others.inputCssClass"
                        label-css-class="ctrl.config.others.labelCssClass"
                        form-name="ctrl.config.occupationalInformationForm.others"
                        form-section-mode="ctrl.config.occupationalInformationForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.others.validators"
                        field-name="'others'"
                        field-id="'others'"
                        field-style="ctrl.config.others.fieldStyle"
                        ng-if="ctrl.compileElement">
                    </div>
                </div>
                <div class="row"
                    ng-if="ctrl.showDutiesInvolved()">
                    <div single-line-text
                        label="ctrl.config.dutiesInvolved.label"
                        column-css-class="ctrl.config.dutiesInvolved.columnCssClass"
                        dutiesInvolved
                        input-css-class="ctrl.config.dutiesInvolved.inputCssClass"
                        label-css-class="ctrl.config.dutiesInvolved.labelCssClass"
                        form-name="ctrl.config.occupationalInformationForm.dutiesInvolved"
                        form-section-mode="ctrl.config.occupationalInformationForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.dutiesInvolved.validators"
                        field-name="'dutiesInvolved'"
                        field-id="'dutiesInvolved'"
                        field-style="ctrl.config.dutiesInvolved.fieldStyle"
                        ng-if="ctrl.compileElement">
                    </div>
                </div>
                <div class="row"
                    ng-if="ctrl.showAnnualIncome()">
                    <div single-line-text
                        label="ctrl.config.annualIncome.label"
                        column-css-class="ctrl.config.annualIncome.columnCssClass"
                        input-css-class="ctrl.config.annualIncome.inputCssClass"
                        label-css-class="ctrl.config.annualIncome.labelCssClass"
                        form-name="ctrl.config.occupationalInformationForm.annualIncome"
                        form-section-mode="ctrl.config.occupationalInformationForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.annualIncome.validators"
                        field-name="'annualIncome'"
                        field-id="'annualIncome'"
                        field-style="ctrl.config.annualIncome.fieldStyle"
                        ng-if="ctrl.compileElement">
                    </div>
                </div>
                <div class="row"
                    ng-if="ctrl.showSourceOfWealth()">
                    <div drop-down-list
                        label="ctrl.config.sourceOfWealth.label"
                        column-css-class="ctrl.config.sourceOfWealth.columnCssClass"
                        input-css-class="ctrl.config.sourceOfWealth.inputCssClass"
                        label-css-class="ctrl.config.sourceOfWealth.labelCssClass"
                        form-name="ctrl.config.occupationalInformationForm.name"
                        form-section-mode="ctrl.config.occupationalInformationForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.sourceOfWealth.validators"
                        field-name="'sourceOfWealth'"
                        field-id="'sourceOfWealth'"
                        field-style="ctrl.config.sourceOfWealth.fieldStyle"
                        url="ctrl.config.sourceOfWealth.url"
                        ddl-type="ctrl.config.sourceOfWealth.ddlType"
                        ddl-items="ctrl.config.sourceOfWealth.ddlItems"
                        ng-if="ctrl.compileElement">
                    </div>
                </div>
                <div class="row"
                    ng-if="ctrl.showSourceOfWealthDetails()">
                    <div multi-line-text
                        label="ctrl.config.sourceOfWealthDetails.label"
                        column-css-class="ctrl.config.sourceOfWealthDetails.columnCssClass"
                        input-css-class="ctrl.config.sourceOfWealthDetails.inputCssClass"
                        label-css-class="ctrl.config.sourceOfWealthDetails.labelCssClass"
                        form-name="ctrl.config.personalParticularsForm.name"
                        form-section-mode="ctrl.config.personalParticularsForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.sourceOfWealthDetails.validators"
                        field-name="'sourceOfWealthDetails'"
                        field-id="'sourceOfWealthDetails'"
                        field-style="ctrl.config.sourceOfWealthDetails.fieldStyle"
                        field-rows="ctrl.config.sourceOfWealthDetails.displayRows"
                        ng-if="ctrl.compileElement">
                    </div>
                </div>
                <div class="row"
                    ng-if="ctrl.showTaxResidency()">
                    <div button-group
                        label="ctrl.config.taxResidency.label"
                        column-css-class="ctrl.config.taxResidency.columnCssClass"
                        input-css-class="ctrl.config.taxResidency.inputCssClass"
                        label-css-class="ctrl.config.taxResidency.labelCssClass"
                        form-name="ctrl.config.occupationalInformationForm.name"
                        form-section-mode="ctrl.config.occupationalInformationForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.taxResidency.validators"
                        field-name="'taxResidency'"
                        field-id="'taxResidency'"
                        field-style="ctrl.config.taxResidency.fieldStyle"
                        field-items="ctrl.config.taxResidency.items"
                        field-alignment="ctrl.config.taxResidency.alignment"
                        ng-if="ctrl.compileElement">
                    </div>
                </div>

                <!-- product selected -->
                <div class="row padding-10 app-details-product-container">
                    <div class="col-xs-12 no-padding padding-bottom-10">
                        <div class="col-xs-12 padding-10 app-details-product-container__header">
                            {{'cfo.label.productSelected' | translate}}</div>
                        <div class="col-xs-12 col-sm-4 padding-10">1. product 1</div>
                        <div class="col-xs-12 col-sm-4 padding-10">2. product 2</div>
                    </div>
                    <div class="col-xs-12 no-padding">
                        <div class="col-xs-12 col-sm-4 no-padding">
                            <div class="col-xs-12 padding-10 app-details-product-container__header">
                                {{'cfo.label.coverage' | translate}}
                            </div>
                            <div class="col-xs-12 padding-10 font-size-30">{{'300000' | currency:'':2}}</div>
                        </div>
                        <div class="col-xs-12 col-sm-4 no-padding">
                            <div class="col-xs-12 padding-10 app-details-product-container__header">
                                {{'cfo.label.totalPremium' | translate}}
                            </div>
                            <div class="col-xs-12 padding-10 font-size-30">{{'1100' | currency:'':2}}</div>
                        </div>
                        <div class="col-xs-12 col-sm-4 no-padding">
                            <div class="col-xs-12 padding-10 app-details-product-container__header">
                                {{'cfo.label.policyIllustration' | translate}}
                            </div>
                            <div class="col-xs-12 padding-10">
                                View Policy Illustration
                            </div>
                        </div>
                    </div>
                </div>

                <!-- form action button -->
                <div class="hidden-xs">
                    <div class="row app-details-button-wrapper">
                        <div class="col-xs-12 col-sm-4 app-details-button-left">
                            <input type="button"
                                value="{{'cfo.button.back' | translate}}"
                                class="button button--light-grey right-button"
                                ng-click="ctrl.back()" />
                        </div>
                        <div class="col-xs-12 col-sm-4 text-align-center">
                            <input type="button"
                                value="{{'cfo.button.exit' | translate}}"
                                class="button button--dark-grey right-button"
                                ng-click="ctrl.exit()" />
                        </div>
                        <div class="col-xs-12 col-sm-4 app-details-button-right">
                            <input type="button"
                                value="{{'cfo.button.saveAndContinue' | translate}}"
                                class="button button--red-thin right-button"
                                ng-click="ctrl.saveAndContinue()" />
                        </div>
                    </div>
                    <div class="col-xs-12 text-align-right app-details-next-step">
                        {{'cfo.label.nextStep' | translate}}: {{'cfo.label.particularsOfPolicy' | translate}}
                    </div>
                </div>
                <div class="row app-details-button-wrapper visible-xs">
                    <div class="col-xs-12 app-details-button-padding">
                        <input type="button"
                            value="{{'cfo.button.saveAndContinue' | translate}}"
                            class="button button--red-thin col-xs-12"
                            ng-click="ctrl.saveAndContinue()" />
                    </div>
                    <div class="col-xs-12 text-align-center app-details-next-step">
                        {{'cfo.label.nextStep' | translate}}: {{'cfo.label.particularsOfPolicy' | translate}}
                    </div>
                    <div class="col-xs-12 app-details-button-padding">
                        <input type="button"
                            value="{{'cfo.button.back' | translate}}"
                            class="button button--light-grey col-xs-12"
                            ng-click="ctrl.back()" />
                    </div>
                    <div class="col-xs-12 app-details-button-padding">
                        <input type="button"
                            value="{{'cfo.button.exit' | translate}}"
                            class="button button--dark-grey col-xs-12"
                            ng-click="ctrl.exit()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
