<div class="container">
    <div class="page_header">
        <h1>{{'cfo.header.particularsHeader' | translate}}</h1>
    </div>
    <div class="page-section">
        <div class="page-section__header__title">
            <span>{{'cfo.label.applicationDetails' | translate}} : </span>
            <span>{{'cfo.label.stepOf' | translate}}</span>
        </div>
        <div step-indicator
            total-steps="ctrl.progressInfo.totalSteps"
            current-step="ctrl.progressInfo.currentStep"
            class="hidden-xs"></div>
    </div>
</div>
<div class="grey-container">
    <div class="direct-channel__plan-details-container">
        <div class="row no-margin">
            <div class="col-xs-12 col-sm-6 no-padding">
                <h1 class="no-margin no-padding">{{'cfo.header.personalParticulars' | translate}}</h1>
            </div>
            <div class="col-xs-12 col-sm-6 app-ref-num">
                {{'cfo.label.appRefNum' | translate}}:
                <span style="color:#ed1c24;">SGDC13768216412742808</span>
            </div>
        </div>
        <div class="page-body">
            <div class="page-section">
                <div class="row">
                    <div drop-down-list
                        label="ctrl.config.title.label"
                        column-css-class="ctrl.config.title.columnCssClass"
                        input-css-class="ctrl.config.title.inputCssClass"
                        label-css-class="ctrl.config.title.labelCssClass"
                        form-name="ctrl.config.personalParticularsForm.name"
                        form-section-mode="ctrl.config.personalParticularsForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.title.validators"
                        field-name="'title'"
                        field-id="'title'"
                        field-style="ctrl.config.title.fieldStyle"
                        url="ctrl.config.title.url"
                        ddl-type="ctrl.config.title.ddlType"
                        ddl-items="ctrl.config.title.ddlItems"
                        ng-if="ctrl.compileElement">
                    </div>
                </div>
                <div class="row">
                    <div single-line-text
                        label="ctrl.config.name.label"
                        column-css-class="ctrl.config.name.columnCssClass"
                        input-css-class="ctrl.config.name.inputCssClass"
                        label-css-class="ctrl.config.name.labelCssClass"
                        form-name="ctrl.config.personalParticularsForm.name"
                        form-section-mode="ctrl.config.personalParticularsForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.name.validators"
                        field-name="'name'"
                        field-id="'name'"
                        field-style="ctrl.config.name.fieldStyle"
                        field-default-disable="ctrl.config.name.defaultDisable"
                        ng-if="ctrl.compileElement">
                    </div>
                </div>
                <div class="row">
                    <div date-picker
                        column-css-class="ctrl.config.dob.columnCssClass"
                        label="ctrl.config.dob.label"
                        column-css-class="ctrl.config.dob.columnCssClass"
                        input-css-class="ctrl.config.dob.inputCssClass"
                        label-css-class="ctrl.config.dob.labelCssClass"
                        form-name="ctrl.config.personalParticularsForm.name"
                        form-section-mode="ctrl.config.personalParticularsForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.dob.validators"
                        field-name="'dob'"
                        field-id="'dob'"
                        field-style="ctrl.config.dob.fieldStyle"
                        min="ctrl.config.dob.min"
                        max="ctrl.config.dob.max"
                        min-dependency="ctrl.config.dob.minDependency"
                        max-dependency="ctrl.config.dob.maxDependency"
                        format="ctrl.config.dob.format"
                        field-default-disable="ctrl.config.dob.defaultDisable"
                        ng-if="ctrl.compileElement">
                    </div>
                    <div single-line-text
                        label="ctrl.config.age.label"
                        column-css-class="ctrl.config.age.columnCssClass"
                        input-css-class="ctrl.config.age.inputCssClass"
                        label-css-class="ctrl.config.age.labelCssClass"
                        form-name="ctrl.config.personalParticularsForm.age"
                        form-section-mode="ctrl.config.personalParticularsForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.age.validators"
                        field-name="'age'"
                        field-id="'age'"
                        field-style="ctrl.config.age.fieldStyle"
                        field-input-format="ctrl.config.age.inputFormat"
                        field-default-disable="ctrl.config.age.defaultDisable"
                        ng-if="ctrl.compileElement">
                    </div>
                    <div single-line-text
                        label="ctrl.config.idNumber.label"
                        column-css-class="ctrl.config.idNumber.columnCssClass"
                        input-css-class="ctrl.config.idNumber.inputCssClass"
                        label-css-class="ctrl.config.idNumber.labelCssClass"
                        form-name="ctrl.config.personalParticularsForm.idNumber"
                        form-section-mode="ctrl.config.personalParticularsForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.idNumber.validators"
                        field-name="'idNumber'"
                        field-id="'idNumber'"
                        field-style="ctrl.config.idNumber.fieldStyle"
                        field-default-disable="ctrl.config.idNumber.defaultDisable"
                        ng-if="ctrl.compileElement">
                    </div>
                    <div drop-down-list
                        label="ctrl.config.idType.label"
                        column-css-class="ctrl.config.idType.columnCssClass"
                        input-css-class="ctrl.config.idType.inputCssClass"
                        label-css-class="ctrl.config.idType.labelCssClass"
                        form-name="ctrl.config.personalParticularsForm.name"
                        form-section-mode="ctrl.config.personalParticularsForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.idType.validators"
                        field-name="'idType'"
                        field-id="'idType'"
                        field-style="ctrl.config.idType.fieldStyle"
                        url="ctrl.config.idType.url"
                        ddl-type="ctrl.config.idType.ddlType"
                        ddl-items="ctrl.config.idType.ddlItems"
                        field-default-disable="ctrl.config.idType.defaultDisable"
                        ng-if="ctrl.compileElement">
                    </div>
                    <div drop-down-list
                        label="ctrl.config.nationality.label"
                        column-css-class="ctrl.config.nationality.columnCssClass"
                        input-css-class="ctrl.config.nationality.inputCssClass"
                        label-css-class="ctrl.config.nationality.labelCssClass"
                        form-name="ctrl.config.personalParticularsForm.name"
                        form-section-mode="ctrl.config.personalParticularsForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.nationality.validators"
                        field-name="'nationality'"
                        field-id="'nationality'"
                        field-style="ctrl.config.nationality.fieldStyle"
                        url="ctrl.config.nationality.url"
                        ddl-type="ctrl.config.nationality.ddlType"
                        ddl-items="ctrl.config.nationality.ddlItems"
                        ng-if="ctrl.compileElement && ctrl.showNationality()">
                    </div>
                    <div drop-down-list
                        label="ctrl.config.countryOfBirth.label"
                        column-css-class="ctrl.config.countryOfBirth.columnCssClass"
                        input-css-class="ctrl.config.countryOfBirth.inputCssClass"
                        label-css-class="ctrl.config.countryOfBirth.labelCssClass"
                        form-name="ctrl.config.personalParticularsForm.name"
                        form-section-mode="ctrl.config.personalParticularsForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.countryOfBirth.validators"
                        field-name="'countryOfBirth'"
                        field-id="'countryOfBirth'"
                        field-style="ctrl.config.countryOfBirth.fieldStyle"
                        url="ctrl.config.countryOfBirth.url"
                        ddl-type="ctrl.config.countryOfBirth.ddlType"
                        ddl-items="ctrl.config.countryOfBirth.ddlItems"
                        field-default-disable="ctrl.config.countryOfBirth.defaultDisable"
                        ng-if="ctrl.compileElement">
                    </div>
                    <div button-group
                        label="ctrl.config.singaporePr.label"
                        column-css-class="ctrl.config.singaporePr.columnCssClass"
                        input-css-class="ctrl.config.singaporePr.inputCssClass"
                        label-css-class="ctrl.config.singaporePr.labelCssClass"
                        input-style="ctrl.config.singaporePr.inputStyle"
                        form-name="ctrl.config.personalParticularsForm.name"
                        form-section-mode="ctrl.config.personalParticularsForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.singaporePr.validators"
                        field-name="'singaporePr'"
                        field-id="'singaporePr'"
                        field-style="ctrl.config.singaporePr.fieldStyle"
                        field-items="ctrl.config.singaporePr.items"
                        field-alignment="ctrl.config.singaporePr.alignment"
                        ng-if="ctrl.compileElement && ctrl.showSingaporePr()">
                    </div>
                    <div button-group
                        label="ctrl.config.validPass.label"
                        column-css-class="ctrl.config.validPass.columnCssClass"
                        input-css-class="ctrl.config.validPass.inputCssClass"
                        label-css-class="ctrl.config.validPass.labelCssClass"
                        input-style="ctrl.config.validPass.inputStyle"
                        form-name="ctrl.config.personalParticularsForm.name"
                        form-section-mode="ctrl.config.personalParticularsForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.validPass.validators"
                        field-name="'validPass'"
                        field-id="'validPass'"
                        field-style="ctrl.config.validPass.fieldStyle"
                        field-items="ctrl.config.validPass.items"
                        field-alignment="ctrl.config.validPass.alignment"
                        ng-if="ctrl.compileElement && ctrl.showValidPass()">
                    </div>
                    <div button-group
                        label="ctrl.config.gender.label"
                        column-css-class="ctrl.config.gender.columnCssClass"
                        input-css-class="ctrl.config.gender.inputCssClass"
                        label-css-class="ctrl.config.gender.labelCssClass"
                        input-style="ctrl.config.gender.inputStyle"
                        form-name="ctrl.config.personalParticularsForm.name"
                        form-section-mode="ctrl.config.personalParticularsForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.gender.validators"
                        field-name="'gender'"
                        field-id="'gender'"
                        field-style="ctrl.config.gender.fieldStyle"
                        field-items="ctrl.config.gender.items"
                        field-alignment="ctrl.config.gender.alignment"
                        field-default-disable="ctrl.config.gender.defaultDisable"
                        field-default-value="ctrl.config.gender.defaultValue"
                        ng-if="ctrl.compileElement">
                    </div>
                    <div single-line-text
                        label="ctrl.config.height.label"
                        column-css-class="ctrl.config.height.columnCssClass"
                        input-css-class="ctrl.config.height.inputCssClass"
                        label-css-class="ctrl.config.height.labelCssClass"
                        form-name="ctrl.config.personalParticularsForm.height"
                        form-section-mode="ctrl.config.personalParticularsForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.height.validators"
                        field-name="'height'"
                        field-id="'height'"
                        field-style="ctrl.config.height.fieldStyle"
                        field-input-format="ctrl.config.weight.inputFormat"
                        ng-if="ctrl.compileElement">
                    </div>
                    <div single-line-text
                        label="ctrl.config.weight.label"
                        column-css-class="ctrl.config.weight.columnCssClass"
                        input-css-class="ctrl.config.weight.inputCssClass"
                        label-css-class="ctrl.config.weight.labelCssClass"
                        form-name="ctrl.config.personalParticularsForm.weight"
                        form-section-mode="ctrl.config.personalParticularsForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.weight.validators"
                        field-name="'weight'"
                        field-id="'weight'"
                        field-style="ctrl.config.weight.fieldStyle"
                        field-input-format="ctrl.config.weight.inputFormat"
                        ng-if="ctrl.compileElement">
                    </div>
                    <div drop-down-list
                        label="ctrl.config.race.label"
                        column-css-class="ctrl.config.race.columnCssClass"
                        input-css-class="ctrl.config.race.inputCssClass"
                        label-css-class="ctrl.config.race.labelCssClass"
                        form-name="ctrl.config.personalParticularsForm.name"
                        form-section-mode="ctrl.config.personalParticularsForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.race.validators"
                        field-name="'race'"
                        field-id="'race'"
                        field-style="ctrl.config.race.fieldStyle"
                        url="ctrl.config.race.url"
                        ddl-type="ctrl.config.race.ddlType"
                        ddl-items="ctrl.config.race.ddlItems"
                        field-default-disable="ctrl.config.race.defaultDisable"
                        ng-if="ctrl.compileElement">
                    </div>
                    <div drop-down-list
                        label="ctrl.config.maritalStatus.label"
                        column-css-class="ctrl.config.maritalStatus.columnCssClass"
                        input-css-class="ctrl.config.maritalStatus.inputCssClass"
                        label-css-class="ctrl.config.maritalStatus.labelCssClass"
                        form-name="ctrl.config.personalParticularsForm.name"
                        form-section-mode="ctrl.config.personalParticularsForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.maritalStatus.validators"
                        field-name="'maritalStatus'"
                        field-id="'maritalStatus'"
                        field-style="ctrl.config.maritalStatus.fieldStyle"
                        url="ctrl.config.maritalStatus.url"
                        ddl-type="ctrl.config.maritalStatus.ddlType"
                        ddl-items="ctrl.config.maritalStatus.ddlItems"
                        ng-if="ctrl.compileElement">
                    </div>

                    <div single-line-text
                        label="ctrl.config.email1.label"
                        column-css-class="ctrl.config.email1.columnCssClass"
                        input-css-class="ctrl.config.email1.inputCssClass"
                        label-css-class="ctrl.config.email1.labelCssClass"
                        form-name="ctrl.config.personalParticularsForm.email1"
                        form-section-mode="ctrl.config.personalParticularsForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.email1.validators"
                        field-name="'email1'"
                        field-id="'email1'"
                        field-style="ctrl.config.email1.fieldStyle"
                        ng-if="ctrl.compileElement">
                    </div>
                    <div single-line-text
                        label="ctrl.config.email2.label"
                        column-css-class="ctrl.config.email2.columnCssClass"
                        input-css-class="ctrl.config.email2.inputCssClass"
                        label-css-class="ctrl.config.email2.labelCssClass"
                        form-name="ctrl.config.personalParticularsForm.email2"
                        form-section-mode="ctrl.config.personalParticularsForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.email2.validators"
                        field-name="'email2'"
                        field-id="'email2'"
                        field-style="ctrl.config.email2.fieldStyle"
                        ng-if="ctrl.compileElement">
                    </div>

                </div>

                <hr class="row" />

                <!-- residential address section -->
                <div data-toggle="collapse"
                    data-target="#residentialAddressPanel"
                    id="residentialAddressPanelControl"
                    class="visible-xs button-collapse"
                    ng-class="{'button-collapse--expand' : ctrl.collapsePanel.residentialAddressPanel || ctrl.isDesktop,
                    'button-collapse--collapse' : !ctrl.collapsePanel.residentialAddressPanel}">{{'cfo.label.residentialAddress' | translate}}
                    <span class="button-collapse-icon"></span>
                </div>
                <div id="residentialAddressPanel"
                    ng-init="ctrl.initCollapse('residentialAddressPanel')"
                    class="collapse in">
                    <div class="row">
                        <div button-group
                            label="ctrl.config.residentialAddress.label"
                            column-css-class="ctrl.config.residentialAddress.columnCssClass"
                            input-css-class="ctrl.config.residentialAddress.inputCssClass"
                            label-css-class="ctrl.config.residentialAddress.labelCssClass"
                            form-name="ctrl.config.personalParticularsForm.name"
                            form-section-mode="ctrl.config.personalParticularsForm.mode"
                            form-manager="ctrl.formManager"
                            validators="ctrl.config.residentialAddress.validators"
                            field-name="'residentialAddress'"
                            field-id="'residentialAddress'"
                            field-style="ctrl.config.residentialAddress.fieldStyle"
                            field-items="ctrl.config.residentialAddress.items"
                            field-alignment="ctrl.config.residentialAddress.alignment"
                            field-default-value="ctrl.config.residentialAddress.defaultValue"
                            ng-if="ctrl.compileElement">
                        </div>
                    </div>
                    <!-- residential local -->
                    <div ng-if="ctrl.formManager.getValue('residentialAddress') === 'local'">
                        <div class="row">
                            <div single-line-text
                                label="ctrl.config.residentialPostalCode.label"
                                column-css-class="ctrl.config.residentialPostalCode.columnCssClass"
                                input-css-class="ctrl.config.residentialPostalCode.inputCssClass"
                                label-css-class="ctrl.config.residentialPostalCode.labelCssClass"
                                form-name="ctrl.config.personalParticularsForm.residentialPostalCode"
                                form-section-mode="ctrl.config.personalParticularsForm.mode"
                                form-manager="ctrl.formManager"
                                validators="ctrl.config.residentialPostalCode.validators"
                                field-name="'residentialPostalCode'"
                                field-id="'residentialPostalCode'"
                                field-style="ctrl.config.residentialPostalCode.fieldStyle"
                                ng-if="ctrl.compileElement">
                            </div>
                        </div>
                        <div class="row">
                            <div single-line-text
                                label="ctrl.config.residentialBlock.label"
                                column-css-class="ctrl.config.residentialBlock.columnCssClass"
                                input-css-class="ctrl.config.residentialBlock.inputCssClass"
                                label-css-class="ctrl.config.residentialBlock.labelCssClass"
                                form-name="ctrl.config.personalParticularsForm.residentialBlock"
                                form-section-mode="ctrl.config.personalParticularsForm.mode"
                                form-manager="ctrl.formManager"
                                validators="ctrl.config.residentialBlock.validators"
                                field-name="'residentialBlock'"
                                field-id="'residentialBlock'"
                                field-style="ctrl.config.residentialBlock.fieldStyle"
                                ng-if="ctrl.compileElement">
                            </div>
                        </div>
                        <div class="row">
                            <div single-line-text
                                label="ctrl.config.residentialStreetName.label"
                                column-css-class="ctrl.config.residentialStreetName.columnCssClass"
                                input-css-class="ctrl.config.residentialStreetName.inputCssClass"
                                label-css-class="ctrl.config.residentialStreetName.labelCssClass"
                                form-name="ctrl.config.personalParticularsForm.residentialStreetName"
                                form-section-mode="ctrl.config.personalParticularsForm.mode"
                                form-manager="ctrl.formManager"
                                validators="ctrl.config.residentialStreetName.validators"
                                field-name="'residentialStreetName'"
                                field-id="'residentialStreetName'"
                                field-style="ctrl.config.residentialStreetName.fieldStyle"
                                ng-if="ctrl.compileElement">
                            </div>
                        </div>
                        <div class="row">
                            <div single-line-text
                                label="ctrl.config.residentialUnitNo.label"
                                column-css-class="ctrl.config.residentialUnitNo.columnCssClass"
                                input-css-class="ctrl.config.residentialUnitNo.inputCssClass"
                                label-css-class="ctrl.config.residentialUnitNo.labelCssClass"
                                form-name="ctrl.config.personalParticularsForm.residentialUnitNo"
                                form-section-mode="ctrl.config.personalParticularsForm.mode"
                                form-manager="ctrl.formManager"
                                validators="ctrl.config.residentialUnitNo.validators"
                                field-name="'residentialUnitNo'"
                                field-id="'residentialUnitNo'"
                                field-style="ctrl.config.residentialUnitNo.fieldStyle"
                                ng-if="ctrl.compileElement">
                            </div>
                        </div>
                        <div class="row">
                            <div single-line-text
                                label="ctrl.config.residentialBuildingName.label"
                                column-css-class="ctrl.config.residentialBuildingName.columnCssClass"
                                input-css-class="ctrl.config.residentialBuildingName.inputCssClass"
                                label-css-class="ctrl.config.residentialBuildingName.labelCssClass"
                                form-name="ctrl.config.personalParticularsForm.residentialBuildingName"
                                form-section-mode="ctrl.config.personalParticularsForm.mode"
                                form-manager="ctrl.formManager"
                                validators="ctrl.config.residentialBuildingName.validators"
                                field-name="'residentialBuildingName'"
                                field-id="'residentialBuildingName'"
                                field-style="ctrl.config.residentialBuildingName.fieldStyle"
                                ng-if="ctrl.compileElement">
                            </div>
                        </div>
                    </div>
                    <!-- residential foreign -->
                    <div ng-if="ctrl.formManager.getValue('residentialAddress') === 'foreign'">
                        <div class="row">
                            <div single-line-text
                                label="ctrl.config.residentialAddress1.label"
                                column-css-class="ctrl.config.residentialAddress1.columnCssClass"
                                input-css-class="ctrl.config.residentialAddress1.inputCssClass"
                                label-css-class="ctrl.config.residentialAddress1.labelCssClass"
                                form-name="ctrl.config.personalParticularsForm.residentialAddress1"
                                form-section-mode="ctrl.config.personalParticularsForm.mode"
                                form-manager="ctrl.formManager"
                                validators="ctrl.config.residentialAddress1.validators"
                                field-name="'residentialAddress1'"
                                field-id="'residentialAddress1'"
                                field-style="ctrl.config.residentialAddress1.fieldStyle"
                                ng-if="ctrl.compileElement">
                            </div>
                        </div>
                        <div class="row">
                            <div single-line-text
                                label="ctrl.config.residentialAddress2.label"
                                column-css-class="ctrl.config.residentialAddress2.columnCssClass"
                                input-css-class="ctrl.config.residentialAddress2.inputCssClass"
                                label-css-class="ctrl.config.residentialAddress2.labelCssClass"
                                form-name="ctrl.config.personalParticularsForm.residentialAddress2"
                                form-section-mode="ctrl.config.personalParticularsForm.mode"
                                form-manager="ctrl.formManager"
                                validators="ctrl.config.residentialAddress2.validators"
                                field-name="'residentialAddress2'"
                                field-id="'residentialAddress2'"
                                field-style="ctrl.config.residentialAddress2.fieldStyle"
                                ng-if="ctrl.compileElement">
                            </div>
                        </div>
                        <div class="row">
                            <div single-line-text
                                label="ctrl.config.residentialAddress3.label"
                                column-css-class="ctrl.config.residentialAddress3.columnCssClass"
                                input-css-class="ctrl.config.residentialAddress3.inputCssClass"
                                label-css-class="ctrl.config.residentialAddress3.labelCssClass"
                                form-name="ctrl.config.personalParticularsForm.residentialAddress3"
                                form-section-mode="ctrl.config.personalParticularsForm.mode"
                                form-manager="ctrl.formManager"
                                validators="ctrl.config.residentialAddress3.validators"
                                field-name="'residentialAddress3'"
                                field-id="'residentialAddress3'"
                                field-style="ctrl.config.residentialAddress3.fieldStyle"
                                ng-if="ctrl.compileElement">
                            </div>
                        </div>
                        <div class="row">
                            <div single-line-text
                                label="ctrl.config.residentialAddress4.label"
                                column-css-class="ctrl.config.residentialAddress4.columnCssClass"
                                input-css-class="ctrl.config.residentialAddress4.inputCssClass"
                                label-css-class="ctrl.config.residentialAddress4.labelCssClass"
                                form-name="ctrl.config.personalParticularsForm.residentialAddress4"
                                form-section-mode="ctrl.config.personalParticularsForm.mode"
                                form-manager="ctrl.formManager"
                                validators="ctrl.config.residentialAddress4.validators"
                                field-name="'residentialAddress4'"
                                field-id="'residentialAddress4'"
                                field-style="ctrl.config.residentialAddress4.fieldStyle"
                                ng-if="ctrl.compileElement">
                            </div>
                        </div>
                        <div class="row">
                            <div drop-down-list
                                label="ctrl.config.residentialCountry.label"
                                column-css-class="ctrl.config.residentialCountry.columnCssClass"
                                input-css-class="ctrl.config.residentialCountry.inputCssClass"
                                label-css-class="ctrl.config.residentialCountry.labelCssClass"
                                form-name="ctrl.config.personalParticularsForm.name"
                                form-section-mode="ctrl.config.personalParticularsForm.mode"
                                form-manager="ctrl.formManager"
                                validators="ctrl.config.residentialCountry.validators"
                                field-name="'residentialCountry'"
                                field-id="'residentialCountry'"
                                field-style="ctrl.config.residentialCountry.fieldStyle"
                                url="ctrl.config.residentialCountry.url"
                                ddl-type="ctrl.config.residentialCountry.ddlType"
                                ddl-items="ctrl.config.residentialCountry.ddlItems"
                                ng-if="ctrl.compileElement">
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="row" />

                <!-- mailing address section -->
                <div class="row">
                    <div checkbox
                        label="ctrl.config.differentMailingAddress.label"
                        column-css-class="ctrl.config.differentMailingAddress.columnCssClass"
                        input-css-class="ctrl.config.differentMailingAddress.inputCssClass"
                        label-css-class="ctrl.config.differentMailingAddress.labelCssClass"
                        input-style="ctrl.config.differentMailingAddress.inputStyle"
                        label-style="ctrl.config.differentMailingAddress.labelStyle"
                        form-name="ctrl.config.personalParticularsForm.name"
                        form-section-mode="ctrl.config.personalParticularsForm.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.differentMailingAddress.validators"
                        field-name="'differentMailingAddress'"
                        field-id="'differentMailingAddress'"
                        field-style="ctrl.config.differentMailingAddress.fieldStyle"
                        field-items="ctrl.config.differentMailingAddress.items"
                        field-alignment="ctrl.config.differentMailingAddress.alignment"
                        field-default-value="ctrl.config.differentMailingAddress.defaultValue"
                        single-or-multi-value="ctrl.config.differentMailingAddress.singleOrMultiValue"
                        ng-if="ctrl.compileElement">
                    </div>
                </div>
                <div ng-if="ctrl.formManager.getValue('differentMailingAddress') === 'Y'">
                    <div data-toggle="collapse"
                        data-target="#mailingAddressPanel"
                        id="mailingAddressPanelControl"
                        class="visible-xs button-collapse"
                        ng-class="{'button-collapse--expand' : ctrl.collapsePanel.mailingAddressPanel || ctrl.isDesktop,
                        'button-collapse--collapse' : !ctrl.collapsePanel.mailingAddressPanel}">{{'cfo.label.mailingAddress' | translate}}
                        <span class="button-collapse-icon"></span>
                    </div>
                    <div id="mailingAddressPanel"
                        ng-init="ctrl.initCollapse('mailingAddressPanel')"
                        class="collapse in">
                        <div class="row">
                            <div button-group
                                label="ctrl.config.mailingAddress.label"
                                column-css-class="ctrl.config.mailingAddress.columnCssClass"
                                input-css-class="ctrl.config.mailingAddress.inputCssClass"
                                label-css-class="ctrl.config.mailingAddress.labelCssClass"
                                form-name="ctrl.config.personalParticularsForm.name"
                                form-section-mode="ctrl.config.personalParticularsForm.mode"
                                form-manager="ctrl.formManager"
                                validators="ctrl.config.mailingAddress.validators"
                                field-name="'mailingAddress'"
                                field-id="'mailingAddress'"
                                field-style="ctrl.config.mailingAddress.fieldStyle"
                                field-items="ctrl.config.mailingAddress.items"
                                field-alignment="ctrl.config.mailingAddress.alignment"
                                field-default-value="ctrl.config.mailingAddress.defaultValue"
                                ng-if="ctrl.compileElement">
                            </div>
                        </div>
                        <!-- mailing local -->
                        <div ng-if="ctrl.formManager.getValue('mailingAddress') === 'local'">
                            <div class="row">
                                <div single-line-text
                                    label="ctrl.config.mailingPostalCode.label"
                                    column-css-class="ctrl.config.mailingPostalCode.columnCssClass"
                                    input-css-class="ctrl.config.mailingPostalCode.inputCssClass"
                                    label-css-class="ctrl.config.mailingPostalCode.labelCssClass"
                                    form-name="ctrl.config.personalParticularsForm.mailingPostalCode"
                                    form-section-mode="ctrl.config.personalParticularsForm.mode"
                                    form-manager="ctrl.formManager"
                                    validators="ctrl.config.mailingPostalCode.validators"
                                    field-name="'mailingPostalCode'"
                                    field-id="'mailingPostalCode'"
                                    field-style="ctrl.config.mailingPostalCode.fieldStyle"
                                    ng-if="ctrl.compileElement">
                                </div>
                            </div>
                            <div class="row">
                                <div single-line-text
                                    label="ctrl.config.mailingBlock.label"
                                    column-css-class="ctrl.config.mailingBlock.columnCssClass"
                                    input-css-class="ctrl.config.mailingBlock.inputCssClass"
                                    label-css-class="ctrl.config.mailingBlock.labelCssClass"
                                    form-name="ctrl.config.personalParticularsForm.mailingBlock"
                                    form-section-mode="ctrl.config.personalParticularsForm.mode"
                                    form-manager="ctrl.formManager"
                                    validators="ctrl.config.mailingBlock.validators"
                                    field-name="'mailingBlock'"
                                    field-id="'mailingBlock'"
                                    field-style="ctrl.config.mailingBlock.fieldStyle"
                                    ng-if="ctrl.compileElement">
                                </div>
                            </div>
                            <div class="row">
                                <div single-line-text
                                    label="ctrl.config.mailingStreetName.label"
                                    column-css-class="ctrl.config.mailingStreetName.columnCssClass"
                                    input-css-class="ctrl.config.mailingStreetName.inputCssClass"
                                    label-css-class="ctrl.config.mailingStreetName.labelCssClass"
                                    form-name="ctrl.config.personalParticularsForm.mailingStreetName"
                                    form-section-mode="ctrl.config.personalParticularsForm.mode"
                                    form-manager="ctrl.formManager"
                                    validators="ctrl.config.mailingStreetName.validators"
                                    field-name="'mailingStreetName'"
                                    field-id="'mailingStreetName'"
                                    field-style="ctrl.config.mailingStreetName.fieldStyle"
                                    ng-if="ctrl.compileElement">
                                </div>
                            </div>
                            <div class="row">
                                <div single-line-text
                                    label="ctrl.config.mailingUnitNo.label"
                                    column-css-class="ctrl.config.mailingUnitNo.columnCssClass"
                                    input-css-class="ctrl.config.mailingUnitNo.inputCssClass"
                                    label-css-class="ctrl.config.mailingUnitNo.labelCssClass"
                                    form-name="ctrl.config.personalParticularsForm.mailingUnitNo"
                                    form-section-mode="ctrl.config.personalParticularsForm.mode"
                                    form-manager="ctrl.formManager"
                                    validators="ctrl.config.mailingUnitNo.validators"
                                    field-name="'mailingUnitNo'"
                                    field-id="'mailingUnitNo'"
                                    field-style="ctrl.config.mailingUnitNo.fieldStyle"
                                    ng-if="ctrl.compileElement">
                                </div>
                            </div>
                            <div class="row">
                                <div single-line-text
                                    label="ctrl.config.mailingBuildingName.label"
                                    column-css-class="ctrl.config.mailingBuildingName.columnCssClass"
                                    input-css-class="ctrl.config.mailingBuildingName.inputCssClass"
                                    label-css-class="ctrl.config.mailingBuildingName.labelCssClass"
                                    form-name="ctrl.config.personalParticularsForm.mailingBuildingName"
                                    form-section-mode="ctrl.config.personalParticularsForm.mode"
                                    form-manager="ctrl.formManager"
                                    validators="ctrl.config.mailingBuildingName.validators"
                                    field-name="'mailingBuildingName'"
                                    field-id="'mailingBuildingName'"
                                    field-style="ctrl.config.mailingBuildingName.fieldStyle"
                                    ng-if="ctrl.compileElement">
                                </div>
                            </div>
                        </div>
                        <!-- mailing foreign -->
                        <div ng-if="ctrl.formManager.getValue('mailingAddress') === 'foreign'">
                            <div class="row">
                                <div single-line-text
                                    label="ctrl.config.mailingAddress1.label"
                                    column-css-class="ctrl.config.mailingAddress1.columnCssClass"
                                    input-css-class="ctrl.config.mailingAddress1.inputCssClass"
                                    label-css-class="ctrl.config.mailingAddress1.labelCssClass"
                                    form-name="ctrl.config.personalParticularsForm.mailingAddress1"
                                    form-section-mode="ctrl.config.personalParticularsForm.mode"
                                    form-manager="ctrl.formManager"
                                    validators="ctrl.config.mailingAddress1.validators"
                                    field-name="'mailingAddress1'"
                                    field-id="'mailingAddress1'"
                                    field-style="ctrl.config.mailingAddress1.fieldStyle"
                                    ng-if="ctrl.compileElement">
                                </div>
                            </div>
                            <div class="row">
                                <div single-line-text
                                    label="ctrl.config.mailingAddress2.label"
                                    column-css-class="ctrl.config.mailingAddress2.columnCssClass"
                                    input-css-class="ctrl.config.mailingAddress2.inputCssClass"
                                    label-css-class="ctrl.config.mailingAddress2.labelCssClass"
                                    form-name="ctrl.config.personalParticularsForm.mailingAddress2"
                                    form-section-mode="ctrl.config.personalParticularsForm.mode"
                                    form-manager="ctrl.formManager"
                                    validators="ctrl.config.mailingAddress2.validators"
                                    field-name="'mailingAddress2'"
                                    field-id="'mailingAddress2'"
                                    field-style="ctrl.config.mailingAddress2.fieldStyle"
                                    ng-if="ctrl.compileElement">
                                </div>
                            </div>
                            <div class="row">
                                <div single-line-text
                                    label="ctrl.config.mailingAddress3.label"
                                    column-css-class="ctrl.config.mailingAddress3.columnCssClass"
                                    input-css-class="ctrl.config.mailingAddress3.inputCssClass"
                                    label-css-class="ctrl.config.mailingAddress3.labelCssClass"
                                    form-name="ctrl.config.personalParticularsForm.mailingAddress3"
                                    form-section-mode="ctrl.config.personalParticularsForm.mode"
                                    form-manager="ctrl.formManager"
                                    validators="ctrl.config.mailingAddress3.validators"
                                    field-name="'mailingAddress3'"
                                    field-id="'mailingAddress3'"
                                    field-style="ctrl.config.mailingAddress3.fieldStyle"
                                    ng-if="ctrl.compileElement">
                                </div>
                            </div>
                            <div class="row">
                                <div single-line-text
                                    label="ctrl.config.mailingAddress4.label"
                                    column-css-class="ctrl.config.mailingAddress4.columnCssClass"
                                    input-css-class="ctrl.config.mailingAddress4.inputCssClass"
                                    label-css-class="ctrl.config.mailingAddress4.labelCssClass"
                                    form-name="ctrl.config.personalParticularsForm.mailingAddress4"
                                    form-section-mode="ctrl.config.personalParticularsForm.mode"
                                    form-manager="ctrl.formManager"
                                    validators="ctrl.config.mailingAddress4.validators"
                                    field-name="'mailingAddress4'"
                                    field-id="'mailingAddress4'"
                                    field-style="ctrl.config.mailingAddress4.fieldStyle"
                                    ng-if="ctrl.compileElement">
                                </div>
                            </div>
                            <div class="row">
                                <div drop-down-list
                                    label="ctrl.config.mailingCountry.label"
                                    column-css-class="ctrl.config.mailingCountry.columnCssClass"
                                    input-css-class="ctrl.config.mailingCountry.inputCssClass"
                                    label-css-class="ctrl.config.mailingCountry.labelCssClass"
                                    form-name="ctrl.config.personalParticularsForm.name"
                                    form-section-mode="ctrl.config.personalParticularsForm.mode"
                                    form-manager="ctrl.formManager"
                                    validators="ctrl.config.mailingCountry.validators"
                                    field-name="'mailingCountry'"
                                    field-id="'mailingCountry'"
                                    field-style="ctrl.config.mailingCountry.fieldStyle"
                                    url="ctrl.config.mailingCountry.url"
                                    ddl-type="ctrl.config.mailingCountry.ddlType"
                                    ddl-items="ctrl.config.mailingCountry.ddlItems"
                                    ng-if="ctrl.compileElement">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div multi-line-text
                                label="ctrl.config.reasonDifferentMailing.label"
                                column-css-class="ctrl.config.reasonDifferentMailing.columnCssClass"
                                input-css-class="ctrl.config.reasonDifferentMailing.inputCssClass"
                                label-css-class="ctrl.config.reasonDifferentMailing.labelCssClass"
                                form-name="ctrl.config.personalParticularsForm.name"
                                form-section-mode="ctrl.config.personalParticularsForm.mode"
                                form-manager="ctrl.formManager"
                                validators="ctrl.config.reasonDifferentMailing.validators"
                                field-name="'reasonDifferentMailing'"
                                field-id="'reasonDifferentMailing'"
                                field-style="ctrl.config.reasonDifferentMailing.fieldStyle"
                                field-rows="ctrl.config.reasonDifferentMailing.displayRows"
                                ng-if="ctrl.compileElement">
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="row" />

                <!-- contact section -->
                <div data-toggle="collapse"
                    data-target="#contactPanel"
                    id="contactPanelControl"
                    class="visible-xs button-collapse"
                    ng-class="{'button-collapse--expand' : ctrl.collapsePanel.contactPanel || ctrl.isDesktop,
                        'button-collapse--collapse' : !ctrl.collapsePanel.contactPanel}">{{'cfo.label.contactNumber' | translate}}
                    <span class="button-collapse-icon"></span>
                </div>
                <div id="contactPanel"
                    ng-init="ctrl.initCollapse('contactPanel')"
                    class="collapse in">
                    <div class="sub-section__header__title"
                        style="margin-bottom: 15px; margin-top: 10px;">
                        {{'cfo.header.contactNumber' | translate}}
                    </div>
                    <div class="row contact-wrapper">
                        <div class="col-xs-12 col-sm-8 no-padding">
                            <label class="col-xs-12 col-sm-3 field-title"
                                style="padding-top:5px;">
                                {{'cfo.label.homeNumber' | translate}}
                            </label>
                            <div class="col-xs-12 col-sm-9 no-padding"
                                style="padding:0 15px;">
                                <div drop-down-list
                                    label="ctrl.config.homeCountryCode.label"
                                    column-css-class="ctrl.config.homeCountryCode.columnCssClass"
                                    input-css-class="ctrl.config.homeCountryCode.inputCssClass"
                                    label-css-class="ctrl.config.homeCountryCode.labelCssClass"
                                    form-name="ctrl.config.personalParticularsForm.name"
                                    form-section-mode="ctrl.config.personalParticularsForm.mode"
                                    form-manager="ctrl.formManager"
                                    validators="ctrl.config.homeCountryCode.validators"
                                    field-name="'homeCountryCode'"
                                    field-id="'homeCountryCode'"
                                    field-style="ctrl.config.homeCountryCode.columnStyle"
                                    url="ctrl.config.homeCountryCode.url"
                                    ddl-type="ctrl.config.homeCountryCode.ddlType"
                                    ddl-items="ctrl.config.homeCountryCode.ddlItems"
                                    field-default-value="ctrl.config.homeCountryCode.defaultValue"
                                    ng-if="ctrl.compileElement">
                                </div>
                                <div single-line-text
                                    label="ctrl.config.homeNumber.label"
                                    column-css-class="ctrl.config.homeNumber.columnCssClass"
                                    input-css-class="ctrl.config.homeNumber.inputCssClass"
                                    label-css-class="ctrl.config.homeNumber.labelCssClass"
                                    form-name="ctrl.config.personalParticularsForm.homeNumber"
                                    form-section-mode="ctrl.config.personalParticularsForm.mode"
                                    form-manager="ctrl.formManager"
                                    validators="ctrl.config.homeNumber.validators"
                                    field-name="'homeNumber'"
                                    field-id="'homeNumber'"
                                    field-style="ctrl.config.homeNumber.columnStyle"
                                    ng-if="ctrl.compileElement">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row contact-wrapper">
                        <div class="col-xs-12 col-sm-8 no-padding">
                            <label class="col-xs-12 col-sm-3 field-title"
                                style="padding-top:5px;">
                                {{'cfo.label.officeNumber' | translate}}
                            </label>
                            <div class="col-xs-12 col-sm-9 no-padding"
                                style="padding:0 15px;">
                                <div drop-down-list
                                    label="ctrl.config.officeCountryCode.label"
                                    column-css-class="ctrl.config.officeCountryCode.columnCssClass"
                                    input-css-class="ctrl.config.officeCountryCode.inputCssClass"
                                    label-css-class="ctrl.config.officeCountryCode.labelCssClass"
                                    form-name="ctrl.config.personalParticularsForm.name"
                                    form-section-mode="ctrl.config.personalParticularsForm.mode"
                                    form-manager="ctrl.formManager"
                                    validators="ctrl.config.officeCountryCode.validators"
                                    field-name="'officeCountryCode'"
                                    field-id="'officeCountryCode'"
                                    field-style="ctrl.config.officeCountryCode.columnStyle"
                                    url="ctrl.config.officeCountryCode.url"
                                    ddl-type="ctrl.config.officeCountryCode.ddlType"
                                    ddl-items="ctrl.config.officeCountryCode.ddlItems"
                                    field-default-value="ctrl.config.officeCountryCode.defaultValue"
                                    ng-if="ctrl.compileElement">
                                </div>
                                <div single-line-text
                                    label="ctrl.config.officeNumber.label"
                                    column-css-class="ctrl.config.officeNumber.columnCssClass"
                                    input-css-class="ctrl.config.officeNumber.inputCssClass"
                                    label-css-class="ctrl.config.officeNumber.labelCssClass"
                                    form-name="ctrl.config.personalParticularsForm.officeNumber"
                                    form-section-mode="ctrl.config.personalParticularsForm.mode"
                                    form-manager="ctrl.formManager"
                                    validators="ctrl.config.officeNumber.validators"
                                    field-name="'officeNumber'"
                                    field-id="'officeNumber'"
                                    field-style="ctrl.config.officeNumber.columnStyle"
                                    ng-if="ctrl.compileElement">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 no-padding">
                            <div single-line-text
                                label="ctrl.config.officeExt.label"
                                column-css-class="ctrl.config.officeExt.columnCssClass"
                                input-css-class="ctrl.config.officeExt.inputCssClass"
                                label-css-class="ctrl.config.officeExt.labelCssClass"
                                form-name="ctrl.config.personalParticularsForm.officeExt"
                                form-section-mode="ctrl.config.personalParticularsForm.mode"
                                form-manager="ctrl.formManager"
                                validators="ctrl.config.officeExt.validators"
                                place-holder="ctrl.config.officeExt.placeHolder"
                                field-name="'officeExt'"
                                field-id="'officeExt'"
                                field-style="ctrl.config.officeExt.columnStyle"
                                ng-if="ctrl.compileElement">
                            </div>
                        </div>
                    </div>
                    <div class="row contact-wrapper">
                        <div class="col-xs-12 col-sm-8 no-padding">
                            <label class="col-xs-12 col-sm-3 field-title"
                                style="padding-top:5px;">
                                {{'cfo.label.mobileNumber' | translate}}
                            </label>
                            <div class="col-xs-12 col-sm-9 no-padding"
                                style="padding:0 15px;">
                                <div drop-down-list
                                    label="ctrl.config.mobileCountryCode.label"
                                    column-css-class="ctrl.config.mobileCountryCode.columnCssClass"
                                    input-css-class="ctrl.config.mobileCountryCode.inputCssClass"
                                    label-css-class="ctrl.config.mobileCountryCode.labelCssClass"
                                    form-name="ctrl.config.personalParticularsForm.name"
                                    form-section-mode="ctrl.config.personalParticularsForm.mode"
                                    form-manager="ctrl.formManager"
                                    validators="ctrl.config.mobileCountryCode.validators"
                                    field-name="'mobileCountryCode'"
                                    field-id="'mobileCountryCode'"
                                    field-style="ctrl.config.mobileCountryCode.columnStyle"
                                    url="ctrl.config.mobileCountryCode.url"
                                    ddl-type="ctrl.config.mobileCountryCode.ddlType"
                                    ddl-items="ctrl.config.mobileCountryCode.ddlItems"
                                    field-default-value="ctrl.config.mobileCountryCode.defaultValue"
                                    ng-if="ctrl.compileElement">
                                </div>
                                <div single-line-text
                                    label="ctrl.config.mobileNumber.label"
                                    column-css-class="ctrl.config.mobileNumber.columnCssClass"
                                    input-css-class="ctrl.config.mobileNumber.inputCssClass"
                                    label-css-class="ctrl.config.mobileNumber.labelCssClass"
                                    form-name="ctrl.config.personalParticularsForm.mobileNumber"
                                    form-section-mode="ctrl.config.personalParticularsForm.mode"
                                    form-manager="ctrl.formManager"
                                    validators="ctrl.config.mobileNumber.validators"
                                    field-name="'mobileNumber'"
                                    field-id="'mobileNumber'"
                                    field-style="ctrl.config.mobileNumber.columnStyle"
                                    ng-if="ctrl.compileElement">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row contact-wrapper">
                        <div class="col-xs-12 col-sm-8 no-padding">
                            <label class="col-xs-12 col-sm-3 field-title"
                                style="padding-top:5px;">
                                {{'cfo.label.faxNumber' | translate}}
                            </label>
                            <div class="col-xs-12 col-sm-9 no-padding"
                                style="padding:0 15px;">
                                <div drop-down-list
                                    label="ctrl.config.faxCountryCode.label"
                                    column-css-class="ctrl.config.faxCountryCode.columnCssClass"
                                    input-css-class="ctrl.config.faxCountryCode.inputCssClass"
                                    label-css-class="ctrl.config.faxCountryCode.labelCssClass"
                                    form-name="ctrl.config.personalParticularsForm.name"
                                    form-section-mode="ctrl.config.personalParticularsForm.mode"
                                    form-manager="ctrl.formManager"
                                    validators="ctrl.config.faxCountryCode.validators"
                                    field-name="'faxCountryCode'"
                                    field-id="'faxCountryCode'"
                                    field-style="ctrl.config.faxCountryCode.columnStyle"
                                    url="ctrl.config.faxCountryCode.url"
                                    ddl-type="ctrl.config.faxCountryCode.ddlType"
                                    ddl-items="ctrl.config.faxCountryCode.ddlItems"
                                    field-default-value="ctrl.config.faxCountryCode.defaultValue"
                                    ng-if="ctrl.compileElement">
                                </div>
                                <div single-line-text
                                    label="ctrl.config.faxNumber.label"
                                    column-css-class="ctrl.config.faxNumber.columnCssClass"
                                    input-css-class="ctrl.config.faxNumber.inputCssClass"
                                    label-css-class="ctrl.config.faxNumber.labelCssClass"
                                    form-name="ctrl.config.personalParticularsForm.faxNumber"
                                    form-section-mode="ctrl.config.personalParticularsForm.mode"
                                    form-manager="ctrl.formManager"
                                    validators="ctrl.config.faxNumber.validators"
                                    field-name="'faxNumber'"
                                    field-id="'faxNumber'"
                                    field-style="ctrl.config.faxNumber.columnStyle"
                                    ng-if="ctrl.compileElement">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- selected product details -->
                <div class="row padding-10 app-details-product-container">
                    <div class="col-xs-12 no-padding padding-bottom-10">
                        <div class="col-xs-12 padding-10 app-details-product-container__header">
                            {{'cfo.label.productSelected' | translate}}</div>
                        <div class="col-xs-12 col-sm-4 padding-10">1. product 1</div>
                        <div class="col-xs-12 col-sm-4 padding-10">2. product 2</div>
                    </div>
                    <div class="col-xs-12 no-padding">
                        <div class="col-xs-12 col-sm-4 no-padding">
                            <div class="col-xs-12 padding-10 app-details-product-container__header">
                                {{'cfo.label.coverage' | translate}}
                            </div>
                            <div class="col-xs-12 padding-10 font-size-30">{{'300000' | currency:'':2}}</div>
                        </div>
                        <div class="col-xs-12 col-sm-4 no-padding">
                            <div class="col-xs-12 padding-10 app-details-product-container__header">
                                {{'cfo.label.totalPremium' | translate}}
                            </div>
                            <div class="col-xs-12 padding-10 font-size-30">{{'1100' | currency:'':2}}</div>
                        </div>
                        <div class="col-xs-12 col-sm-4 no-padding">
                            <div class="col-xs-12 padding-10 app-details-product-container__header">
                                {{'cfo.label.policyIllustration' | translate}}
                            </div>
                            <div class="col-xs-12 padding-10">
                                View Policy Illustration
                            </div>
                        </div>
                    </div>
                </div>

                <!-- form action button -->
                <div class="hidden-xs">
                    <div class="row app-details-button-wrapper">
                        <div class="col-xs-12 col-sm-4 app-details-button-left">
                            <input type="button"
                                value="{{'cfo.button.back' | translate}}"
                                class="button button--light-grey right-button"
                                ng-click="ctrl.back()" />
                        </div>
                        <div class="col-xs-12 col-sm-4 text-align-center">
                            <input type="button"
                                value="{{'cfo.button.exit' | translate}}"
                                class="button button--dark-grey right-button"
                                ng-click="ctrl.exit()" />
                        </div>
                        <div class="col-xs-12 col-sm-4 app-details-button-right">
                            <input type="button"
                                value="{{'cfo.button.saveAndContinue' | translate}}"
                                class="button button--red-thin right-button"
                                ng-click="ctrl.saveAndContinue()" />
                        </div>
                    </div>
                    <div class="col-xs-12 text-align-right app-details-next-step">
                        {{'cfo.label.nextStep' | translate}}: {{'cfo.label.occupationInfo' | translate}}
                    </div>
                </div>
                <div class="row app-details-button-wrapper visible-xs">
                    <div class="col-xs-12 app-details-button-padding">
                        <input type="button"
                            value="{{'cfo.button.saveAndContinue' | translate}}"
                            class="button button--red-thin col-xs-12"
                            ng-click="ctrl.saveAndContinue()" />
                    </div>
                    <div class="col-xs-12 text-align-center app-details-next-step">
                        {{'cfo.label.nextStep' | translate}}: {{'cfo.label.occupationInfo' | translate}}
                    </div>
                    <div class="col-xs-12 app-details-button-padding">
                        <input type="button"
                            value="{{'cfo.button.back' | translate}}"
                            class="button button--light-grey col-xs-12"
                            ng-click="ctrl.back()" />
                    </div>
                    <div class="col-xs-12 app-details-button-padding">
                        <input type="button"
                            value="{{'cfo.button.exit' | translate}}"
                            class="button button--dark-grey col-xs-12"
                            ng-click="ctrl.exit()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
