<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-sm-3 page__navigation-header"
                ng-class="{'col-xs-6 page__navigation-header__selected' : ctrl.progressInfo.state==='QUOTATION', 'col-xs-2 no-padding-header':ctrl.progressInfo.state!=='QUOTATION'}
                ">
                <table class="page__navigation-header__table-height">
                    <tr>
                        <td class="page__navigation-number__vertical">
                            <span class="page__navigation-number"
                                ng-class="{'page__navigation-number__selected' : ctrl.progressInfo.state==='QUOTATION'}">1</span></td>
                        <td class="page__navigation-name__vertical">
                            <span ng-class="{'hidden-xs' : ctrl.progressInfo.state!=='QUOTATION'}">{{'ctrl.label.quotation' | translate}}<span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-3 page__navigation-header"
                ng-class="{'col-xs-6 page__navigation-header__selected' : ctrl.progressInfo.state==='APP_DETAILS', 'col-xs-2 no-padding-header':ctrl.progressInfo.state!=='APP_DETAILS'}">
                <table class="page__navigation-header__table-height">
                    <tr>
                        <td class="page__navigation-number__vertical">
                            <span class="page__navigation-number" 
                                ng-class="{'page__navigation-number__selected' : ctrl.progressInfo.state==='APP_DETAILS'}">2</span></td>
                        <td class="page__navigation-name__vertical">
                            <span ng-class="{'hidden-xs' : ctrl.progressInfo.state!=='APP_DETAILS'}">{{'ctrl.label.applicationDetails' | translate}}</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-3 page__navigation-header"
                ng-class="{'col-xs-6 page__navigation-header__selected' : ctrl.progressInfo.state==='FACT_SHEET', 'col-xs-2 no-padding-header':ctrl.progressInfo.state!=='FACT_SHEET'}">
                <table class="page__navigation-header__table-height">
                    <tr>
                        <td class="page__navigation-number__vertical">
                            <span class="page__navigation-number"
                                ng-class="{'page__navigation-number__selected' : ctrl.progressInfo.state==='FACT_SHEET'}">3</span></td>
                        <td class="page__navigation-name__vertical">
                            <span ng-class="{'hidden-xs' : ctrl.progressInfo.state!=='FACT_SHEET'}">{{'ctrl.label.factSheet' | translate}}</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-3 page__navigation-header"
                ng-class="{'col-xs-6 page__navigation-header__selected' : ctrl.progressInfo.state==='PAYMENT', 'col-xs-2 no-padding-header':ctrl.progressInfo.state!=='PAYMENT'}">
                <table class="page__navigation-header__table-height">
                    <tr>
                        <td class="page__navigation-number__vertical">
                            <span class="page__navigation-number"
                                ng-class="{'page__navigation-number__selected' : ctrl.progressInfo.state==='PAYMENT'}">4</span></td>
                        <td class="page__navigation-name__vertical">
                            <span ng-class="{'hidden-xs' : ctrl.progressInfo.state!=='PAYMENT'}">{{'ctrl.label.payment' | translate}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div quotation-page
    ng-if="ctrl.progressInfo.state === 'QUOTATION'"
    progress-info="ctrl.progressInfo"></div>

<div application-details-page
    ng-if="ctrl.progressInfo.state === 'APP_DETAILS'"
    progress-info="ctrl.progressInfo"></div>
