<div class="container">
    <div class="page-section row">
        <div class="left-wrapper">
            <input type="button"
                value="0739"
                class="button button--red-thin left-button"
                ng-click="ctrl.getQuotation('0739')" />
        </div>
        <div class="left-wrapper">
            <input type="button"
                value="0740"
                class="button button--red-thin left-button"
                ng-click="ctrl.getQuotation('0740')" />
        </div>
        <div class="left-wrapper">
            <input type="button"
                value="0738"
                class="button button--red-thin left-button"
                ng-click="ctrl.getQuotation('0738')" />
        </div>
        <div class="left-wrapper">
            <input type="button"
                value="0751"
                class="button button--red-thin left-button"
                ng-click="ctrl.getQuotation('0751')" />
        </div>
    </div>
    <div class="page-section row">
        <div class="left-wrapper">
            <input type="button"
                value="App Details"
                class="button button--red-thin left-button"
                ng-click="ctrl.gotoAppDetails()" />
        </div>
    </div>
</div>
