<div class="container">
    <div class="page_header">
        <h1>{{ctrl.progressInfo.quotation.base_plan_name}}</h1>
    </div>
    <div class="page-section"
        ng-include="'data/contentManaged/benefitsAtAGlance_instr01.html'">
    </div>
</div>
<div class="grey-container">
    <div class="direct-channel__plan-details-container">
        <div id="errorMessage">
            <div acknowledgement-view
                display-title="ctrl.acknowledgement.title"
                content-details="ctrl.acknowledgement.details"
                is-success-view="ctrl.acknowledgement.isSuccessAck"
                is-visible="ctrl.acknowledgement.isVisibleAck">
            </div>
        </div>
        <div class="row">
            <div button-group
                column-css-class="ctrl.config.gender.columnCssClass"
                label-css-class="ctrl.config.gender.labelCssClass"
                input-css-class="ctrl.config.gender.inputCssClass"
                input-style="ctrl.config.gender.inputStyle"
                label="ctrl.config.gender.label"
                form-name="'quotationForm'"
                form-section-mode="ctrl.config.gender.mode"
                form-manager="ctrl.formManager"
                validators="ctrl.config.gender.validators"
                field-name="ctrl.config.gender.name"
                field-style="ctrl.config.gender.fieldStyle"
                field-id="ctrl.config.gender.id"
                field-items="ctrl.config.gender.items"
                field-button-size="ctrl.config.gender.buttonSize"
                field-default-value="ctrl.config.gender.defaultValue"></div>
            <div button-group
                column-css-class="ctrl.config.smokerStatus.columnCssClass"
                label-css-class="ctrl.config.smokerStatus.labelCssClass"
                input-css-class="ctrl.config.smokerStatus.inputCssClass"
                input-style="ctrl.config.smokerStatus.inputStyle"
                label="ctrl.config.smokerStatus.label"
                form-name="'quotationForm'"
                form-section-mode="ctrl.config.smokerStatus.mode"
                form-manager="ctrl.formManager"
                validators="ctrl.config.smokerStatus.validators"
                field-name="ctrl.config.smokerStatus.name"
                field-style="ctrl.config.smokerStatus.fieldStyle"
                field-id="ctrl.config.smokerStatus.id"
                field-items="ctrl.config.smokerStatus.items"
                field-button-size="ctrl.config.smokerStatus.buttonSize"
                field-default-value="ctrl.config.smokerStatus.defaultValue"></div>
        </div>
        <div class="direct-channel__hr-padding">
            <div class="direct-channel__hr"></div>
        </div>
        <div class="row">
            <div date-picker
                column-css-class="ctrl.config.dateOfBirth.columnCssClass"
                label-css-class="ctrl.config.dateOfBirth.labelCssClass"
                input-css-class="ctrl.config.dateOfBirth.inputCssClass"
                label="ctrl.config.dateOfBirth.label"
                form-name="'quotationForm'"
                form-section-mode="ctrl.config.dateOfBirth.mode"
                form-manager="ctrl.formManager"
                validators="ctrl.config.dateOfBirth.validators"
                field-name="ctrl.config.dateOfBirth.name"
                field-id="ctrl.config.dateOfBirth.name"
                field-style="ctrl.config.dateOfBirth.fieldStyle"
                field-class="ctrl.config.dateOfBirth.fieldClass"
                min="ctrl.config.dateOfBirth.min"
                max="ctrl.config.dateOfBirth.max"
                min-dependency="ctrl.config.dateOfBirth.minDependency"
                max-dependency="ctrl.config.dateOfBirth.maxDependency"
                format="ctrl.config.dateOfBirth.format"></div>
            <div drop-down-list
                label="ctrl.config.residenceCountry.label"
                form-name="'quotationForm'"
                form-section-mode="ctrl.config.residenceCountry.mode"
                form-manager="ctrl.formManager"
                column-css-class="ctrl.config.residenceCountry.columnCssClass"
                label-css-class="ctrl.config.residenceCountry.labelCssClass"
                input-css-class="ctrl.config.residenceCountry.inputCssClass"
                input-style="ctrl.config.residenceCountry.inputStyle"
                field-name="ctrl.config.residenceCountry.name"
                field-id="ctrl.config.residenceCountry.name"
                field-class="ctrl.config.residenceCountry.fieldClass"
                default-label="ctrl.config.residenceCountry.defaultLabel"
                ignore-sort="ctrl.config.residenceCountry.ignoreSort"
                field-default-value="ctrl.config.residenceCountry.defaultValue"
                ddl-type="ctrl.config.residenceCountry.ddlType"
                ddl-items="ctrl.config.residenceCountry.ddlItems"
                url="ctrl.config.residenceCountry.url"
                validators="ctrl.config.residenceCountry.validators"></div>
        </div>
        <div class="row">
            <div button-group
                column-css-class="ctrl.config.isForeigner.columnCssClass"
                label-css-class="ctrl.config.isForeigner.labelCssClass"
                input-css-class="ctrl.config.isForeigner.inputCssClass"
                input-style="ctrl.config.isForeigner.inputStyle"
                label="ctrl.config.isForeigner.label"
                form-name="'quotationForm'"
                form-section-mode="ctrl.config.isForeigner.mode"
                form-manager="ctrl.formManager"
                validators="ctrl.config.isForeigner.validators"
                field-name="ctrl.config.isForeigner.name"
                field-style="ctrl.config.isForeigner.fieldStyle"
                field-id="ctrl.config.isForeigner.id"
                field-items="ctrl.config.isForeigner.items"
                field-button-size="ctrl.config.isForeigner.buttonSize"
                field-default-value="ctrl.config.isForeigner.defaultValue"></div>

            <div class="col-xs-12 col-sm-6 font__color-red padding-top-5__note"
                ng-if="ctrl.formManager.getValue('is_foreigner')==='N'">
                {{'cfo.label.additionalCharges' | translate}}
            </div>
        </div>
        <div class="direct-channel__hr-padding">
            <div class="direct-channel__hr"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 no-padding">
                <div drop-down-list
                    label="ctrl.config.coverageTerm.label"
                    form-name="'quotationForm'"
                    form-section-mode="ctrl.config.coverageTerm.mode"
                    form-manager="ctrl.formManager"
                    column-css-class="ctrl.config.coverageTerm.columnCssClass"
                    label-css-class="ctrl.config.coverageTerm.labelCssClass"
                    input-css-class="ctrl.config.coverageTerm.inputCssClass"
                    input-style="ctrl.config.coverageTerm.inputStyle"
                    field-name="ctrl.config.coverageTerm.name"
                    field-id="ctrl.config.coverageTerm.id"
                    field-class="ctrl.config.coverageTerm.fieldClass"
                    default-label="ctrl.config.coverageTerm.defaultLabel"
                    ignore-sort="ctrl.config.coverageTerm.ignoreSort"
                    field-default-value="ctrl.config.coverageTerm.defaultValue"
                    ddl-type="ctrl.config.coverageTerm.ddlType"
                    ddl-items="ctrl.config.coverageTerm.ddlItems"
                    url="ctrl.config.coverageTerm.url"
                    validators="ctrl.config.coverageTerm.validators"></div>
                <div class="col-xs-12 component-input--has-error">{{ctrl.coverageTermErrorMessage | translate : ctrl.ageLimit}}</div>
            </div>
        </div>
        <div class="direct-channel__hr-padding">
            <div class="direct-channel__hr"></div>
        </div>
        <div class="row">
            <div class="component-container">
                <div class="font-size-20 font__bold">
                    {{'cfo.label.howMuchDoYou' | translate}}
                </div>
                <div class="padding-top-15 padding-bottom-5">
                    {{'cfo.label.pleaseSelectOne' | translate}}
                </div>
                <button class="col-xs-12 col-sm-5 coverage-option__tab"
                    name="COVERED"
                    ng-class="{'coverage-option__tab__selected' : ctrl.formManager.getValue('coverage_option')==='COVERED'}"
                    ng-click="ctrl.selectCoverageOption('COVERED')">{{'cfo.label.beCovered' | translate}}
                    <!-- TODO: Change tooltip icon -->
                    <span label-tooltip
                        tooltip-config="ctrl.config.coveredTooltip"
                        field-name="'coveredTooltip'"
                        icon="'ui-components/images/ico-help.gif'"
                        ng-click="ctrl.selectTooltip($event)"
                        ng-if="ctrl.formManager.getValue('coverage_option')!=='COVERED'">
                    </span>
                    <span label-tooltip
                        tooltip-config="ctrl.config.coveredTooltip"
                        field-name="'coveredTooltip'"
                        icon="'ui-components/images/ico-help.gif'"
                        ng-click="ctrl.selectTooltip($event)"
                        ng-if="ctrl.formManager.getValue('coverage_option')==='COVERED'">
                    </span>
                    <span class="float-right font__bold"
                        ng-if="ctrl.formManager.getValue('coverage_option')!=='COVERED'">
                        +
                    </span>
                    <span class="float-right font__bold"
                        ng-if="ctrl.formManager.getValue('coverage_option')==='COVERED'">
                        -
                    </span>
                </button>
                <button class="col-xs-12 col-sm-offset-1 col-sm-5 coverage-option__tab hidden-xs"
                    name="budget"
                    ng-class="{'coverage-option__tab__selected' : ctrl.formManager.getValue('coverage_option')==='BUDGET'}"
                    ng-click="ctrl.selectCoverageOption('BUDGET')">{{'cfo.label.setAsideForPremiums' | translate}}
                    <!-- TODO: Change tooltip icon -->
                    <span label-tooltip
                        tooltip-config="ctrl.config.budgetTooltip"
                        field-name="'budgetTooltip'"
                        icon="'ui-components/images/ico-help.gif'"
                        ng-click="ctrl.selectTooltip($event)"
                        ng-if="ctrl.formManager.getValue('coverage_option')!=='BUDGET'">
                    </span>
                    <span label-tooltip
                        tooltip-config="ctrl.config.budgetTooltip"
                        field-name="'budgetTooltip'"
                        icon="'ui-components/images/ico-help.gif'"
                        ng-click="ctrl.selectTooltip($event)"
                        ng-if="ctrl.formManager.getValue('coverage_option')==='BUDGET'">
                    </span>
                    <span class="float-right font__bold"
                        ng-if="ctrl.formManager.getValue('coverage_option')!=='BUDGET'">
                        +
                    </span>
                    <span class="float-right font__bold"
                        ng-if="ctrl.formManager.getValue('coverage_option')==='BUDGET'">
                        -
                    </span>
                </button>
            </div>
        </div>
        <div ng-if="ctrl.formManager.getValue('coverage_option') === 'COVERED'"
            ng-class="{'not-visible' : !ctrl.showCoverage}">
            <div class="row padding-top-20">
                <div class="col-xs-12 component-padding bottom-padding field-padding">
                    <div single-line-text
                        label="ctrl.config.coveredSumAssured.label"
                        place-holder=""
                        column-css-class="ctrl.config.coveredSumAssured.columnCssClass"
                        label-css-class="ctrl.config.coveredSumAssured.labelCssClass"
                        input-css-class="ctrl.config.coveredSumAssured.inputCssClass"
                        form-name="'quotationForm'"
                        form-section-mode="ctrl.config.coveredSumAssured.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.coveredSumAssured.validators"
                        field-input-format="ctrl.config.coveredSumAssured.inputFormat"
                        field-name="ctrl.config.coveredSumAssured.name"
                        field-id="ctrl.config.coveredSumAssured.name"
                        field-class="ctrl.config.coveredSumAssured.fieldClass"
                        field-style="ctrl.config.coveredSumAssured.fieldStyle"
                        field-dependencies="ctrl.config.coveredSumAssured.dependencies"
                        field-default-disable="ctrl.config.coveredSumAssured.defaultDisable"></div>
                    <div class="col-xs-12 col-sm-offset-5 error-msg__zero-padding component-input--has-error">{{ctrl.coveredSumAssuredErrorMessage | translate : ctrl.sumAssuredRange}}</div>
                </div>
            </div>
            <div class="row">
                <div single-line-text
                    label="ctrl.config.coveredPremiumAmount.label"
                    place-holder=""
                    column-css-class="ctrl.config.coveredPremiumAmount.columnCssClass"
                    label-css-class="ctrl.config.coveredPremiumAmount.labelCssClass"
                    input-css-class="ctrl.config.coveredPremiumAmount.inputCssClass"
                    form-name="'quotationForm'"
                    form-section-mode="ctrl.config.coveredPremiumAmount.mode"
                    form-manager="ctrl.formManager"
                    validators="ctrl.config.coveredPremiumAmount.validators"
                    field-input-format="ctrl.config.coveredPremiumAmount.inputFormat"
                    field-name="ctrl.config.coveredPremiumAmount.name"
                    field-id="ctrl.config.coveredPremiumAmount.name"
                    field-class="ctrl.config.coveredPremiumAmount.fieldClass"
                    field-style="ctrl.config.coveredPremiumAmount.fieldStyle"
                    field-dependencies="ctrl.config.coveredPremiumAmount.dependencies"
                    field-default-disable="ctrl.config.coveredPremiumAmount.defaultDisable"></div>
            </div>
            <div class="row">
                <div drop-down-list
                    label="ctrl.config.coveredPaymentFrequency.label"
                    form-name="'quotationForm'"
                    form-section-mode="ctrl.config.coveredPaymentFrequency.mode"
                    form-manager="ctrl.formManager"
                    column-css-class="ctrl.config.coveredPaymentFrequency.columnCssClass"
                    label-css-class="ctrl.config.coveredPaymentFrequency.labelCssClass"
                    input-css-class="ctrl.config.coveredPaymentFrequency.inputCssClass"
                    field-name="ctrl.config.coveredPaymentFrequency.name"
                    field-id="ctrl.config.coveredPaymentFrequency.name"
                    field-class="ctrl.config.coveredPaymentFrequency.fieldClass"
                    field-style="ctrl.config.coveredPaymentFrequency.fieldStyle"
                    default-label="ctrl.config.coveredPaymentFrequency.defaultLabel"
                    ignore-sort="ctrl.config.coveredPaymentFrequency.ignoreSort"
                    field-default-value="ctrl.config.coveredPaymentFrequency.defaultValue"
                    field-dependencies="ctrl.config.coveredPaymentFrequency.dependencies"
                    ddl-type="ctrl.config.coveredPaymentFrequency.ddlType"
                    ddl-items="ctrl.config.coveredPaymentFrequency.ddlItems"
                    url="ctrl.config.coveredPaymentFrequency.url"
                    validators="ctrl.config.coveredPaymentFrequency.validators"
                    field-default-disable="ctrl.config.coveredPaymentFrequency.defaultDisable"></div>
            </div>
        </div>

        <div class="visible-xs direct-channel__hr"></div>

        <button class="col-xs-12 col-sm-offset-1 col-sm-5 coverage-option__tab visible-xs"
            name="budget"
            ng-class="{'coverage-option__tab__selected' : ctrl.formManager.getValue('coverage_option')==='BUDGET'}"
            ng-click="ctrl.selectCoverageOption('BUDGET')">{{'cfo.label.setAsideForPremiums' | translate}}
            <!-- TODO: Change tooltip icon -->
            <span label-tooltip
                tooltip-config="ctrl.config.budgetTooltip"
                field-name="'budgetTooltip'"
                icon="'ui-components/images/ico-help.gif'"
                ng-click="ctrl.selectTooltip($event)"
                ng-if="ctrl.formManager.getValue('coverage_option')!=='BUDGET'">
            </span>
            <span label-tooltip
                tooltip-config="ctrl.config.budgetTooltip"
                field-name="'budgetTooltip'"
                icon="'ui-components/images/ico-help.gif'"
                ng-click="ctrl.selectTooltip($event)"
                ng-if="ctrl.formManager.getValue('coverage_option')==='BUDGET'">
            </span>
            <span class="float-right font__bold"
                ng-if="ctrl.formManager.getValue('coverage_option')!=='BUDGET'">
                +
            </span>
            <span class="float-right font__bold"
                ng-if="ctrl.formManager.getValue('coverage_option')==='BUDGET'">
                -
            </span>
        </button>

        <div id="coverageOptionValidation"
            ng-if="ctrl.coverageOptionNotValid"
            class="component-input--has-error">{{'cfo.label.fieldIsRequired' | translate}}
        </div>

        <div ng-if="ctrl.formManager.getValue('coverage_option') === 'BUDGET'"
            ng-class="{'not-visible' : !ctrl.showCoverage}">
            <div class="row padding-top-20">
                <div class="col-xs-12 component-padding bottom-padding field-padding">
                    <div single-line-text
                        label="ctrl.config.budgetSumAssured.label"
                        place-holder=""
                        column-css-class="ctrl.config.budgetSumAssured.columnCssClass"
                        label-css-class="ctrl.config.budgetSumAssured.labelCssClass"
                        input-css-class="ctrl.config.budgetSumAssured.inputCssClass"
                        form-name="'quotationForm'"
                        form-section-mode="ctrl.config.budgetSumAssured.mode"
                        form-manager="ctrl.formManager"
                        validators="ctrl.config.budgetSumAssured.validators"
                        field-input-format="ctrl.config.budgetSumAssured.inputFormat"
                        field-name="ctrl.config.budgetSumAssured.name"
                        field-id="ctrl.config.budgetSumAssured.name"
                        field-class="ctrl.config.budgetSumAssured.fieldClass"
                        field-style="ctrl.config.budgetSumAssured.fieldStyle"
                        field-dependencies="ctrl.config.budgetSumAssured.dependencies"
                        field-default-disable="ctrl.config.budgetSumAssured.defaultDisable"></div>
                    <div class="col-xs-12 col-sm-offset-5 error-msg__zero-padding component-input--has-error">{{ctrl.budgetSumAssuredErrorMessage | translate : ctrl.sumAssuredRange}}</div>
                </div>
            </div>
            <div class="row">
                <div single-line-text
                    label="ctrl.config.budgetPremiumAmount.label"
                    place-holder=""
                    column-css-class="ctrl.config.budgetPremiumAmount.columnCssClass"
                    label-css-class="ctrl.config.budgetPremiumAmount.labelCssClass"
                    input-css-class="ctrl.config.budgetPremiumAmount.inputCssClass"
                    form-name="'quotationForm'"
                    form-section-mode="ctrl.config.budgetPremiumAmount.mode"
                    form-manager="ctrl.formManager"
                    validators="ctrl.config.budgetPremiumAmount.validators"
                    field-input-format="ctrl.config.budgetPremiumAmount.inputFormat"
                    field-name="ctrl.config.budgetPremiumAmount.name"
                    field-id="ctrl.config.budgetPremiumAmount.name"
                    field-class="ctrl.config.budgetPremiumAmount.fieldClass"
                    field-style="ctrl.config.budgetPremiumAmount.fieldStyle"
                    field-dependencies="ctrl.config.budgetPremiumAmount.dependencies"
                    field-default-disable="ctrl.config.budgetPremiumAmount.defaultDisable"></div>
            </div>
            <div class="row">
                <div drop-down-list
                    label="ctrl.config.budgetPaymentFrequency.label"
                    form-name="'quotationForm'"
                    form-section-mode="ctrl.config.budgetPaymentFrequency.mode"
                    form-manager="ctrl.formManager"
                    column-css-class="ctrl.config.budgetPaymentFrequency.columnCssClass"
                    label-css-class="ctrl.config.budgetPaymentFrequency.labelCssClass"
                    input-css-class="ctrl.config.budgetPaymentFrequency.inputCssClass"
                    field-name="ctrl.config.budgetPaymentFrequency.name"
                    field-id="ctrl.config.budgetPaymentFrequency.name"
                    field-class="ctrl.config.budgetPaymentFrequency.fieldClass"
                    field-style="ctrl.config.budgetPaymentFrequency.fieldStyle"
                    default-label="ctrl.config.budgetPaymentFrequency.defaultLabel"
                    ignore-sort="ctrl.config.budgetPaymentFrequency.ignoreSort"
                    field-default-value="ctrl.config.budgetPaymentFrequency.defaultValue"
                    field-dependencies="ctrl.config.budgetPaymentFrequency.dependencies"
                    ddl-type="ctrl.config.budgetPaymentFrequency.ddlType"
                    ddl-items="ctrl.config.budgetPaymentFrequency.ddlItems"
                    url="ctrl.config.budgetPaymentFrequency.url"
                    validators="ctrl.config.budgetPaymentFrequency.validators"
                    field-default-disable="ctrl.config.budgetPaymentFrequency.defaultDisable"></div>
            </div>
        </div>

        <div ng-if="ctrl.riderList">
            <div class="direct-channel__hr-padding"
                ng-class="{'padding-top-80__hr' : ctrl.formManager.getValue('coverage_option')==='COVERED'}">
                <div class="direct-channel__hr"></div>
            </div>
            <div class="row">
                <div class="col-xs-12 padding-left-15 margin-bottom-20 font-size-20 padding-top-10">
                    <label>{{'cfo.label.addingMoreCoverage' | translate}}</label>
                </div>
            </div>
            <div class="row margin-bottom-20"
                ng-repeat="rider in ctrl.riderList">
                <div class="col-xs-12 col-sm-5 padding-left-15 padding-bottom-10 font-size-28">{{rider.name}}
                    <!-- TODO: Change tooltip icon -->
                    <span label-tooltip
                        tooltip-config="{tooltip:rider.tooltip,
                    tooltipPlacement: 'top'}"
                        field-name="'riderTooltip' + rider.id"
                        icon="'ui-components/images/ico-help.gif'"
                        ng-click="ctrl.selectTooltip($event)"></span>
                </div>
                <div button-group
                    column-css-class="ctrl.config.riderSelection.columnCssClass"
                    input-css-class="ctrl.config.riderSelection.inputCssClass"
                    input-style="ctrl.config.riderSelection.inputStyle"
                    label-style="ctrl.config.riderSelection.labelStyle"
                    form-name="'quotationForm'"
                    form-section-mode="ctrl.config.riderSelection.mode"
                    form-manager="ctrl.formManager"
                    validators="ctrl.config.riderSelection.validators"
                    field-name="rider.id"
                    field-style="ctrl.config.riderSelection.fieldStyle"
                    field-id="rider.id"
                    field-items="ctrl.config.riderSelection.items"
                    field-button-size="ctrl.config.riderSelection.buttonSize"
                    field-default-value="ctrl.config.riderSelection.defaultValue">
                </div>
            </div>
        </div>
        <div class="margin-top-50">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-3 button__align-center">
                    <button class="button button--red-thin left-button"
                        ng-click="ctrl.calculateBtnClick()">{{'cfo.button.calculate' | translate}}
                    </button>
                </div>
            </div>
        </div>

        <!-- Calculate Plan Benefit Screen -->
        <div class="plan-benefit-container"
            ng-if="ctrl.showPlanBenefit">
            <div ng-include="'data/contentManaged/calculatedPlanBenefit_instr01.html'">
            </div>
            <div class="row total-premium-amount-container">
                <div class="hidden-xs">
                    <div class="col-xs-2 col-md-2 total-premium-amount__icon">
                        <div class="font-size-34">{{ctrl.responseData.premium_amount | currency :'$':0}}</div>
                        <div class="padding-top-15">{{'cfo.label.basePlan' | translate}}</div>
                    </div>
                    <div class="col-xs-1 col-md-1 total-premium-amount__icon total-premium-amount__icon__sign">
                        +
                    </div>
                    <div class="col-xs-2 col-md-2 total-premium-amount__icon">
                        <div class="font-size-34">{{ctrl.responseData.total_rider_premium_amount | currency :'$':0}}</div>
                        <div class="padding-top-15">{{'cfo.label.rider' | translate}}</div>
                    </div>
                    <div class=" col-xs-1 col-md-1 total-premium-amount__icon total-premium-amount__icon__sign">
                        =
                    </div>
                    <div class="col-xs-2 col-md-2 total-premium-amount__icon">
                        <div class="font-size-34">{{ctrl.responseData.total_premium_amount | currency :'$':0}}</div>
                        <div class="padding-top-15">{{'cfo.label.totalPremium' | translate}}</div>
                    </div>
                </div>
                <div class="visible-xs">
                    <div class="col-xs-12 total-premium-amount__icon total-premium-amount__icon__right">
                        <div class="font-size-34">{{ctrl.responseData.premium_amount | currency :'$':0}}</div>
                        <div class="padding-top-15">{{'cfo.label.basePlan' | translate}}</div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-6 total-premium-amount__icon total-premium-amount__icon__sign">
                            +
                        </div>
                        <div class="col-xs-6 total-premium-amount__icon total-premium-amount__icon__right">
                            <div class="font-size-34">{{ctrl.responseData.total_rider_premium_amount | currency :'$':0}}</div>
                            <div class="padding-top-15">{{'cfo.label.rider' | translate}}</div>
                        </div>
                    </div>
                    <div class="col-xs-12 no-padding">
                        <hr class="total-premium-amount__equal-border">
                    </div>
                    <div class="col-xs-12 total-premium-amount__icon total-premium-amount__icon__right">
                        <div class="font-size-34">{{ctrl.responseData.total_premium_amount | currency :'$':0}}</div>
                        <div class="padding-top-15">{{'cfo.label.totalPremium' | translate}}</div>
                    </div>
                    <div class="col-xs-12 no-padding">
                        <hr class="total-premium-amount__equal-border">
                    </div>
                </div>
            </div>
            <!-- Table -->
            <div class="row padding-top-30">
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-6 col-md-4"
                        name="deathBenefit"
                        data-toggle="collapse"
                        data-target="#deathBenefitDetail"
                        id="deathBenefitDetailControl"
                        ng-class="{'product__table-tab__selected' : ctrl.collapsePanel.deathBenefitDetail,
                    'product__table-tab' : !ctrl.collapsePanel.deathBenefitDetail}">{{'cfo.button.deathBenefit' | translate}}
                        <span label-tooltip
                            ng-if="!ctrl.collapsePanel.deathBenefitDetail"
                            tooltip-config="ctrl.config.deathBenefitTooltip"
                            field-name="'inactiveDeathBenefitTooltip'"
                            icon="'ui-components/images/ico-help.gif'"
                            ng-click="ctrl.selectTooltip($event)"></span>
                        <span label-tooltip
                            ng-if="ctrl.collapsePanel.deathBenefitDetail"
                            tooltip-config="ctrl.config.deathBenefitTooltip"
                            field-name="'activeDeathBenefitTooltip'"
                            icon="'ui-components/images/ico-help.gif'"
                            ng-click="ctrl.selectTooltip($event)"></span>
                        <span class="float-right"
                            ng-if="ctrl.collapsePanel.deathBenefitDetail">
                            -
                        </span>
                        <span class="float-right"
                            ng-if="!ctrl.collapsePanel.deathBenefitDetail">
                            +
                        </span>
                    </div>
                </div>
            </div>
            <div class="product__table-container collapse in"
                id="deathBenefitDetail"
                ng-init="ctrl.initCollapse('deathBenefitDetail', true)">
                <table class="hidden-xs"
                    id="death_benefit_table">
                    <thead>
                        <tr>
                            <th>{{'cfo.header.endOfPolicyHdr' | translate}}</th>
                            <th>{{'cfo.header.totalPremiumPaidHdr' | translate}}</th>
                            <th>{{'cfo.header.projectedGuaranteedHdr' | translate}}*</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ctrl.responseData.death_benefit">
                            <td>{{item.end_of_policy_year}} / {{item.end_of_insured_age}}</td>
                            <td>{{item.total_premium_paid | currency:'$':0}}</td>
                            <td>{{item.guaranteed | currency:'$':0}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row visible-xs"
                    ng-repeat="item in ctrl.responseData.death_benefit">
                    <div class="col-xs-12">
                        <div class="col-xs-6 product__table__item-header">{{'cfo.header.endOfPolicyHdr' | translate}}</div>
                        <div class="col-xs-6 product__table__item-info">{{item.end_of_policy_year}} / {{item.end_of_insured_age}}</div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-6 product__table__item-header">{{'cfo.header.totalPremiumPaidHdr' | translate}}</div>
                        <div class="col-xs-6 product__table__item-info">{{item.total_premium_paid | currency:'$':0}}</div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-6 product__table__item-header">{{'cfo.header.projectedGuaranteedHdr' | translate}}*</div>
                        <div class="col-xs-6 product__table__item-info">{{item.guaranteed | currency:'$':0}}</div>
                    </div>
                    <hr class="col-xs-12 no-padding">
                </div>
                <div class="padding-top-10">
                    * {{'cfo.label.referPolicyIllustration' | translate}}
                </div>
            </div>
            <div class="row padding-top-30">
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-6 col-md-4 product__table-tab"
                        name="surrenderValue"
                        data-toggle="collapse"
                        data-target="#surrenderValueDetail"
                        id="surrenderValueDetailControl"
                        ng-class="{'product__table-tab__selected' : ctrl.collapsePanel.surrenderValueDetail,
                    'product__table-tab' : !ctrl.collapsePanel.surrenderValueDetail}">{{'cfo.label.surrenderValue' | translate}}
                        <span label-tooltip
                            ng-if="!ctrl.collapsePanel.surrenderValueDetail"
                            tooltip-config="ctrl.config.surrenderValueTooltip"
                            field-name="'inactiveSurrenderValueTooltip'"
                            icon="'ui-components/images/ico-help.gif'"
                            ng-click="ctrl.selectTooltip($event)"></span>
                        <span label-tooltip
                            ng-if="ctrl.collapsePanel.surrenderValueDetail"
                            tooltip-config="ctrl.config.surrenderValueTooltip"
                            field-name="'activeSurrenderValueTooltip'"
                            icon="'ui-components/images/ico-help.gif'"
                            ng-click="ctrl.selectTooltip($event)"></span>
                        <span class="float-right"
                            ng-if="!ctrl.collapsePanel.surrenderValueDetail">
                            +
                        </span>
                        <span class="float-right"
                            ng-if="ctrl.collapsePanel.surrenderValueDetail">
                            -
                        </span>
                    </div>
                </div>
            </div>
            <div class="product__table-container collapse"
                id="surrenderValueDetail"
                ng-init="ctrl.initCollapse('surrenderValueDetail', false)">
                <table class="hidden-xs"
                    id="surrender_value_table">
                    <thead>
                        <tr>
                            <th>{{'cfo.header.endOfPolicyHdr' | translate}}</th>
                            <th>{{'cfo.header.totalPremiumPaidHdr' | translate}}</th>
                            <th>{{'cfo.header.projectedGuaranteedHdr' | translate}}*</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ctrl.responseData.surrender_value">
                            <td>{{item.end_of_policy_year}} / {{item.end_of_insured_age}}</td>
                            <td>{{item.total_premium_paid | currency:'$':0}}</td>
                            <td>{{item.guaranteed | currency:'$':0}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row visible-xs"
                    ng-repeat="item in ctrl.responseData.surrender_value">
                    <div class="col-xs-12">
                        <div class="col-xs-6 product__table__item-header">{{'cfo.header.endOfPolicyHdr' | translate}}</div>
                        <div class="col-xs-6 product__table__item-info">{{item.end_of_policy_year}} / {{item.end_of_insured_age}}</div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-6 product__table__item-header">{{'cfo.header.totalPremiumPaidHdr' | translate}}</div>
                        <div class="col-xs-6 product__table__item-info">{{item.total_premium_paid | currency:'$':0}}</div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-6 product__table__item-header">{{'cfo.header.projectedGuaranteedHdr' | translate}}*</div>
                        <div class="col-xs-6 product__table__item-info">{{item.guaranteed | currency:'$':0}}</div>
                    </div>
                    <hr class="col-xs-12 no-padding">
                </div>
                <div class="padding-top-10">
                    * {{'cfo.label.referPolicyIllustration' | translate}}*
                </div>
            </div>
            <div class="row padding-bottom-20 padding-top-20">
                <div class="col-xs-12">{{'cfo.label.insureNote' | translate}}</div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-3 button__align-center">
                    <button class="button button--red-thin left-button view-policy-button"
                        ng-click="ctrl.viewPolicyIllu()">{{'cfo.button.viewPolicyIllustration' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
