<div class="step-indicator-wrapper">
    <div class="step-indicator-bullet"
        ng-class="{'step-indicator-bullet--subsequent': $index > 0,
                'step-indicator-bullet--highlight': $index < ctrl.currentStep}"
        ng-repeat-start="step in ctrl.getArray(ctrl.totalSteps) track by $index"></div>
    <div class="step-indicator-line"
        ng-class="{'step-indicator-line--highlight': $index < ctrl.currentStep - 1}"
        ng-repeat-end=""
        ng-style="{'width': 'calc('+ (100/(ctrl.totalSteps - 1)) + '%)'}"
        ng-if="$index !== ctrl.totalSteps - 1">
        <div class="step-indicator-line__top"></div>
        <div class="step-indicator-line__middle"></div>
        <div class="step-indicator-line__bottom"></div>
    </div>
</div>
