<div ng-if="ctrl.initialized">
    <div layout
        actions="ctrl.actions"
        state-data="ctrl.layoutStateData"
        layout-data="ctrl.layoutData"
        form-manager="ctrl.formManager"
        form-model="ctrl.formModel"
        additional-info="ctrl.additionalInfo"></div>
    <div class="container">
        <div class="page-section">
            <div>
                <div class="">
                    <div class="right-wrapper">
                        <input type="button"
                            value="{{'cfo.button.submit' | translate}}"
                            class="button button--red-thin right-button"
                            ng-click="ctrl.goToPreview()" />
                    </div>
                    <div class="right-wrapper">
                        <input type="button"
                            value="{{ctrl.formModel.claimStatus === 'new' ? 'cfo.button.saveAsDraft' : 'cfo.button.updateDraft' | translate}}"
                            class="button button--light-grey right-button"
                            ng-click="ctrl.saveAsDraft()" />
                    </div>
                    <div class="right-wrapper"
                        ng-if="ctrl.formModel.claimStatus !== 'new'">
                        <input type="button"
                            value="{{'cfo.button.delete' | translate}}"
                            class="button button--light-grey right-button"
                            ng-click="ctrl.deleteBtnClick()" />
                    </div>
                </div>
                <div class="left-wrapper">
                    <input type="button"
                        value="{{'cfo.button.back' | translate}}"
                        class="button button--light-grey left-button"
                        ng-click="ctrl.backBtnClick()" />
                </div>
            </div>
        </div>
    </div>
</div>
