<div ng-if="ctrl.initialized">
    <div layout
        ng-if="ctrl.initialized"
        actions="ctrl.actions"
        state-data="ctrl.layoutStateData"
        layout-data="ctrl.layoutData"
        form-manager="ctrl.formManager"
        form-model="ctrl.formModel"
        additional-info="ctrl.additionalInfo"></div>
    <div class="container">
        <div class="page-section">
            <div>
                <div class="">
                    <div class="right-wrapper"
                        ng-if="ctrl.showSubmit">
                        <input type="button"
                            value="{{'cfo.button.submit' | translate}}"
                            class="button button--red-thin right-button"
                            ng-click="ctrl.submitPage()" />
                    </div>
                </div>
                <div class="left-wrapper">
                    <input type="button"
                        value="{{'cfo.button.back' | translate}}"
                        class="button button--light-grey left-button"
                        ng-click="ctrl.backToEditPage()" />
                </div>
            </div>
        </div>
    </div>
</div>
