<div ng-if="ctrl.initialized">
    <div class="container">
        <div class="page_header">
        </div>
        <div>
            <button class="button button--red-thick float-right"
                ng-click="ctrl.routeToEligible()">{{'cfo.button.submitAClaim'|translate}}</button>
        </div>
        <div class="clearfix"></div>
    </div>

    <!-- table listing layout -->
    <div layout
        actions="ctrl.actions"
        state-data="ctrl.layoutStateData"
        layout-data="ctrl.layoutData"
        additional-info="ctrl.additionalInfo"
        select-on-row-fn="ctrl.onRowClick(link)"
        selected-value="ctrl.selectedValue"
        selected-object="ctrl.selectedObject"></div>
</div>
