<div class="container">
    <div class="page_header">
        <h1>{{'cfo.header.claimDeletionHdr' | translate}}</h1>
    </div>
    <div class="page-section">
        <h4>{{'cfo.label.deleteMsg' | translate}}</h4>
    </div>
    <div class="page-section">
        <div class="right-wrapper">
            <input type="button"
                value="{{'cfo.button.yes' | translate}}"
                class="button button--red-thin right-button"
                ng-click="ctrl.yesBtnClick()" />
        </div>
        <div class="left-wrapper">
            <input type="button"
                value="{{'cfo.button.no' | translate}}"
                class="button button--light-grey right-button"
                ng-click="ctrl.noBtnClick()" />
        </div>
    </div>
</div>
