<div ng-if="ctrl.initialized">
    <div layout
        ng-if="ctrl.initialized"
        actions="ctrl.actions"
        state-data="ctrl.layoutStateData"
        layout-data="ctrl.layoutData"
        form-manager="ctrl.formManager"
        additional-info="ctrl.additionalInfo"
        select-on-row-fn="ctrl.onRowSelect(link)"
        selected-value="ctrl.selectedValue"
        selected-object="ctrl.selectedObject">
    </div>
    <div class="container">
        <div class="left-wrapper"
            ng-if="!ctrl.noDraft">
            <input type="button"
                value="{{'cfo.button.back' | translate}}"
                class="button button--light-grey left-button"
                ng-click="ctrl.backBtnClick()" />
        </div>
    </div>
</div>
