<div class="container">
    <div class="page_header">
        <div class="page-section__header__title status__section-title">
            <h1>{{'cfo.header.claimStatusOverviewHdr' | translate}}</h1></div>
    </div>

    <br>
    <div class="page__body">
        <div class="page-section">
            <div class="row status__section-bottom-border">
                <div>
                    <!-- Claim Status button -->
                    <div class="col-xs-12 col-md-12 col-lg-3 status__main-button-container">
                        <button class="status__main-action-button"
                            ng-click="ctrl.routeToEligible()">{{'cfo.button.makeAClaimBtn' | translate}}</button>
                    </div>

                    <div class="col-xs-12 col-md-12 col-lg-9">
                        <div class="col-xs-3 nopadding status__bubble-field"
                            ng-repeat="icon in ctrl.iconActive"
                            ng-click="ctrl.iconClickEvent(icon.id)">
                            <div class="col-xs-12 nopadding">
                                <div class="">
                                    <div class="status__bubble">
                                        <div class="status__bubble"
                                            ng-style="ctrl.setBubbleIconStyle($index)">
                                            <span class="status__bubble-count">{{ctrl.claimGroupCount[icon.id]}}</span>
                                        </div>
                                        <span class="status__bubble-name">{{icon.text | translate}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding status__active-field">
                                <div class="status__active-field status__active-bubble"
                                    ng-if="icon.id === ctrl.bubbleState"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page__body">
        <div class="page-section">
            <div class="">
                <h1>{{'cfo.header.claimDetails' | translate}}</h1></div>
            <div class="row"></div>
            <div class="sub-section">
                <div class="sub-section__header__title"></div>
            </div>
            <div class="sub-section">
                <div class="sub-section__header__title"></div>
            </div>
            <div class="sub-section status_content__detail-section-top-border"
                style="">
                <div class="status_content"
                    ng-repeat="item in ctrl.dataArray[ctrl.bubbleState]">
                    <div class="row">
                        <div class="col-xs-12 col-md-9 col-lg-9 status_content__detail">
                            <div class="col-xs-12 zero-component-padding">
                                <label class="col-xs-3 col-md-3 zero-component-padding">{{'cfo.label.claimRefNo' | translate}}:</label>
                                <div class="col-xs-3 col-md-5 zero-component-padding">{{item.claim_ref_num ? item.claim_ref_num: '-'}}</div>
                            </div>
                            <div class="col-xs-12 zero-component-padding">
                                <label class="col-xs-3 col-md-3 zero-component-padding">{{'cfo.label.policyNo' | translate}}:</label>
                                <div class="col-xs-5 col-md-5 zero-component-padding">{{item.policy_num ? item.policy_num: '-'}}</div>
                            </div>
                            <div class="col-xs-12 zero-component-padding"
                                ng-if="ctrl.userType!=='CA'">
                                <label class="col-xs-3 col-md-3 zero-component-padding">{{'cfo.label.companyName' | translate}}:</label>
                                <div class="col-xs-5 col-md-5 zero-component-padding">{{item.company_name ? item.company_name: '-'}}</div>
                            </div>
                            <div class="col-xs-12 zero-component-padding"
                                ng-if="ctrl.userType!=='IN'">
                                <label class="col-xs-3 col-md-3 zero-component-padding">{{'cfo.label.employeeName' | translate}}:</label>
                                <div class="col-xs-5 col-md-5 zero-component-padding">{{item.member_name ? item.member_name: '-'}}</div>
                            </div>
                            <div class="col-xs-12 zero-component-padding"
                                ng-if="ctrl.userType!=='IN'">
                                <label class="col-xs-3 col-md-3 zero-component-padding">{{'cfo.label.nric' | translate}}:</label>
                                <div class="col-xs-5 col-md-5 zero-component-padding">{{item.identity_doc_num ? item.identity_doc_num : '-'}}</div>
                            </div>
                            <div class="col-xs-12 zero-component-padding">
                                <label class="col-xs-3 col-md-3 zero-component-padding">{{'cfo.label.claimantName' | translate}}:</label>
                                <div class="col-xs-5 col-md-5 zero-component-padding">{{item.claimant_name ? item.claimant_name: '-'}}</div>
                            </div>
                            <div class="col-xs-12 zero-component-padding">
                                <label class="col-xs-3 col-md-3 zero-component-padding">{{'cfo.label.claimType' | translate}}:</label>
                                <div class="col-xs-5 col-md-5 zero-component-padding">{{item.claim_type ? item.claim_type: '-'}}</div>
                            </div>
                            <div class="col-xs-12 zero-component-padding">
                                <label class="col-xs-3 col-md-3 zero-component-padding">{{'cfo.label.dateIncurred' | translate}}:</label>
                                <div class="col-xs-5 col-md-5 zero-component-padding">{{item.incurred_dt ? item.incurred_dt: '-' | date: "dd MMM yyyy"}}</div>
                            </div>
                            <div class="col-xs-12 zero-component-padding">
                                <label class="col-xs-3 col-md-3 zero-component-padding">{{'cfo.label.dateSubmitted' | translate}}:</label>
                                <div class="col-xs-5 col-md-5 zero-component-padding">{{item.submitted_dt ? item.submitted_dt: '-' | date: "dd MMM yyyy"}}</div>
                            </div>
                            <div class="col-xs-12 zero-component-padding">
                                <label class="col-xs-3 col-md-3 zero-component-padding">{{'cfo.label.incurredAmount' | translate}}:</label>
                                <div class="col-xs-5 col-md-5 zero-component-padding">{{item.incurred_amount ? (item.incurred_amount | currency): '-'}}</div>
                            </div>
                            <div class="col-xs-12 zero-component-padding">
                                <label class="col-xs-3 col-md-3 zero-component-padding">{{'cfo.label.paidAmount' | translate}}:</label>
                                <div class="col-xs-5 col-md-5 zero-component-padding">{{item.paid_amount ? (item.paid_amount | currency): '-'}}</div>
                            </div>
                            <div class="col-xs-12 zero-component-padding">
                                <label class="col-xs-3 col-md-3 zero-component-padding">{{'cfo.label.status' | translate}}:</label>
                                <div class="col-xs-5 col-md-5 zero-component-padding">{{item.claim_status ? item.claim_status: '-'}}</div>
                            </div>
                            <div class="col-xs-12 zero-component-padding">
                                <label class="col-xs-3 col-md-3 zero-component-padding">{{'cfo.label.statusDate' | translate}}:</label>
                                <div class="col-xs-5 col-md-5 zero-component-padding">{{item.status_dt ? item.status_dt: '-' | date: "dd MMM yyyy"}}</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 col-lg-3">
                            <div class="col-xs-12">
                                <button class="status_action__button status_action__button-red"
                                    ng-click="ctrl.openStatement()">{{'cfo.button.statementBtn' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12"
                ng-if="ctrl.dataArray[ctrl.bubbleState].length < ctrl.claimGroupCount[ctrl.bubbleState]">
                <button class="status_action__button status_action__button-loadmore"
                    ng-click="ctrl.loadMore(ctrl.bubbleState)">{{'cfo.button.loadMoreBtn' | translate}}</button>
            </div>
        </div>
    </div>

    <div class="divider-padding clearfix">
        <hr class="section__divider" />
    </div>
</div>

<div layout
    ng-if="ctrl.initialized"
    actions="ctrl.actions"
    state-data="ctrl.layoutStateData"
    layout-data="ctrl.layoutData"
    additional-info="ctrl.additionalInfo"
    select-on-row-fn="ctrl.onRowClick(link)"
    selected-value="ctrl.selectedValue"
    selected-object="ctrl.selectedObject">
</div>
