<div class="container">
    <div acknowledgement-view
        display-title="ctrl.acknowledgement.title"
        content-details="ctrl.acknowledgement.details"
        is-success-view="ctrl.acknowledgement.isSuccessAck"
        is-visible="ctrl.acknowledgement.isVisibleAck">
    </div>
    <div class="page-section">
        <div class="right-wrapper">
            <input type="button"
                value="{{'cfo.button.ok' | translate}}"
                class="button button--red-thin right-button" 
                ng-click="ctrl.okBtnClick()"/>
        </div>
        <div class="right-wrapper"
            ng-if="ctrl.claimAction === 'new' && ctrl.claimStatus === 'success'">
            <input type="button"
                value="{{'cfo.button.print' | translate}}"
                class="button button--light-grey right-button" />
        </div>
    </div>

</div>
