<script type="text/ng-template"
    id="tableListing.html">
    <div ng-if="ctrl.tableLayout.filters.sections[0].body.rowGroups[0].rows[0].columns[0]"
        style="margin-bottom:20px;"
        class="entry_search_wrapper">
        <div form-section
            section="section"
            form-mode="ctrl.tableLayout.mode"
            form-name="ctrl.tableLayout.name"
            form-errors="ctrl.formErrors"
            form-model="ctrl.formModel"
            form-manager="ctrl.formManager"
            ng-repeat="section in ctrl.tableLayout.filters.sections">
        </div>
        <!-- <div class="row">
            <div class="col-xs-6 col-sm-2"
                style="float:right">
                <img class="red_btn img_btn"
                    src="ui-components/images/magnifying-glass-white.svg"
                    width="35"
                    height="35"
                    alt="54e15f2298a59a2e55a45fa9_magnifying-glass-white.svg"
                    ng-click="ctrl.filterTable()"
                    style="background:red">
            </div>
        </div> -->
        <div class="row">
            <input type="button"
                value="{{'cfo.button.search' | translate}}"
                class="button button--red-thin search-button-margin"
                ng-click="ctrl.filterTable()" />
        </div>
    </div>
    <div ng-if="ctrl[ctrl.tableLayout.name + '_show']">
        <div class="table-pagination-wrapper"
            ng-if="ctrl[ctrl.tableLayout.name + '_pageCount'] > 1">
            <div class="table-pagination">
                <div class="table-pagination__nav-block table-pagination__nav-block--back"
                    ng-click="ctrl.pageBack()">
                    <span class="hidden-xs">{{'cfo.button.back' | translate}}</span>
                </div>
                <div class="table-pagination__nav-block table-pagination__nav-block--page">
                    <input type="text"
                        ng-model="ctrl[ctrl.tableLayout.name + '_toPage']"
                        ng-keyup="ctrl.paginationKeyUp($event)"
                        input-format="ctrl.pageNumberFormat">
                    <span>of {{ctrl[ctrl.tableLayout.name + '_pageCount']}}</span>
                </div>
                <div class="table-pagination__nav-block table-pagination__nav-block--next"
                    ng-click="ctrl.pageNext()">
                    <span class="hidden-xs">{{'cfo.button.next' | translate}}</span>
                </div>
            </div>
        </div>
        <table class="{{ctrl.tableClass}}"
            data-page-size="{{ctrl[ctrl.tableLayout.name + '_pageSize'] }}">
            <thead>
                <tr>
                    <th ng-repeat="field in ctrl.tableLayout.fields"
                        data-sort-initial="{{field.default}}"
                        data-hide="{{field.hide.join()}}"
                        data-sort-ignore="{{field.ignore}}">
                        {{field.label | translate}}
                    </th>
                </tr>
            </thead>
            <tbody class="table-listing-no-record"
                ng-if="!ctrl[ctrl.tableLayout.name + '_data'][0]">
                <tr>
                    <td colspan="{{ctrl.tableLayout.fields.length}}">{{'cfo.label.noRecordFound' | translate}}</td>
                </tr>
            </tbody>
            <tbody ng-if="ctrl[ctrl.tableLayout.name + '_data'][0]">
                <tr ng-repeat="(recordIndex, record) in ctrl[ctrl.tableLayout.name + '_data']">
                    <td ng-repeat="field in record track by $index"
                        class="ctrl.fieldClass"
                        ng-if="field.visible"
                        ng-class="{'align-right': field.type === 'currency'}">
                        <span ng-if="field.type === 'text'">
                            {{field.value ? field.value:'-' | translate}}
                        </span>
                        <span class="number amount"
                            ng-if="field.type === 'currency'">
                            {{field.value ? field.value:'-' | currency:''}}
                        </span>
                        <span class="number"
                            ng-if="field.type === 'date'">
                            {{field.value ? field.value:'-' | date: field.format}}
                        </span>
                        <span ng-if="field.type === 'pageLink'">
                            <a style="display:block" ng-repeat="link in field.links track by $index" 
                               ng-click="ctrl.clicked(recordIndex, link)">
                               {{link.label ? (link.label | translate) : link.value}}
                            </a>
                            <span ng-if="!field.links[0]">
                                &nbsp;
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
            <!--  <tfoot ng-if="ctrl.tableLayout.disablePagination !== true"
                class="hide-if-no-paging">
                <tr>
                    <td colspan="{{ctrl.tableLayout.fields.length}}">
                        <div class="pagination pagination-centered "></div>
                    </td>
                </tr>
            </tfoot> -->
        </table>
    </div>
</script>
