<div style="margin-top:20px; padding-bottom:10px"><b>Important Notes:</b></div>
<ol type="a" style="padding-left: 20px;">
<li>
<p style="align:justify;">
Please fill in only the Policy's /Member's bank account as the Company will not allow crediting to any other bank account.
</p>
</li>

<li>
<p style="align:justify;">
The Company will not be held liable for any damages, costs, losses or expenses as a result of the claims proceed being credited into the bank account shown above.
</p>
</li>

<li>
<p style="align:justify;">
The Company will continue to credit all future /further claim benefits to the above Bank Account, unless otherwise notified by the Policyholder /Member.
</p>
</li>

<li>
<p style="align:justify;">
Please note the GIRO payment applies to bank accounts in Singapore only.
</p>
</li>

<li>
<p style="align:justify;">
The amount payable via GIRO is limited to S$10,000.00. Any payment amount above S$10,000.00 will be made by cheque.
</p>
</li>
</ol>
