<ol type="a" style="padding-left: 20px;">
<li>
<p style="align:justify;">
I certify that the above statements and answers are true and complete to the best of my knowledge and belief.
</p>
</li>

<li>
<p style="align:justify;">
I hereby authorize Great Eastern Life to disclose and/or to obtain from any Insurance Company any & all information with respect to this or any related claim.
</p>
</li>

<li>
<p style="align:justify;">
I hereby authorize any hospital, medical practitioner, clinic or any other person who has medically attended to or examined me or my eligible dependent to disclose to Great Eastern Life all medical records or information with respect to any illness or injury, medical history, consultations, prescription or treatment and copies of all hospital records.
</p>
</li>

<li>
<p style="align:justify;">
A Photostat copy of this authorization shall be considered as effective and valid as the original. 
</p>
</li>
</ol>

<div style="word-wrap: break-word;">
<p style="align:justify;">
By providing the information set out above, I agree and consent to Great Eastern, its related corporations (collectively, the "Companies"), as well as their respective representatives and agents ("Representatives") collecting, using, disclosing and sharing amongst themselves my personal data, and disclosing such personal data to the Companies' authorized service providers and relevant third parties for purposes reasonably required by the Companies to evaluate, admit, process and/or settle my claims. <br><br>
These purposes are set out in Great Eastern's Privacy Statement, which is accessible at <a href="http://www.greateasternlife.com/sg/en/pncpolicies.htm" target="_blank">http://www.greateasternlife.com/sg/en/pncpolicies.htm</a> and which I confirm I have read and understood.<p>
<div>
<br>
<div style="border:solid 1px">
<p style="align:justify; padding:10px">
<span><strong>Important Note:</strong></span><br><br>
Please note that, under the policy terms and condition, the policy may be void if any information provided in this claim form are made knowingly by you that it is materially false or misleading.
</p>
</div>