<div class="row padding-top-20">
    <div class="polDetails__representative-section-panel float-left">
        <div class="display-table-cell">
            <div class="display-table-cell v-align-middle">
                <div class="font-size-11">{{'cfo.label.representative' | translate}}</div>
                <div class="polDetails__representative-details__name">{{ctrl.salesforce.financial_planner_name === undefined ? '-' : ctrl.salesforce.financial_planner_name}}</div>
            </div>
            <div class="polDetails__representative-details-wrapper">
                <div class="polDetails__representative-details">
                    <img class="polDetails__icon-small inline-block"
                        src="images/rep-ic-email.png"
                        ng-click="ctrl.toggleEmail()"
                        ng-if="ctrl.showEmail">
                    <img class="polDetails__icon-small inline-block"
                        src="images/rep-ic-email-d.png"
                        ng-click="ctrl.toggleEmail()"
                        ng-if="!ctrl.showEmail">
                    <span class="polDetails__representative-details__email"
                        ng-if="ctrl.showEmail">
                    <a ng-if="ctrl.salesforce.email_address" href="{{'mailto:' + ctrl.salesforce.email_address}}">{{ctrl.salesforce.email_address}}</a>
                    <span ng-if="!ctrl.salesforce.email_address">-</span></span>
                </div>
                <div class="polDetails__representative-details">
                    <img class="polDetails__icon-small"
                        src="images/rep-ic-contact.png"
                        ng-click="ctrl.toggleContactNumber()"
                        ng-if="ctrl.showContactNumber">
                    <img class="polDetails__icon-small"
                        src="images/rep-ic-contact-d.png"
                        ng-click="ctrl.toggleContactNumber()"
                        ng-if="!ctrl.showContactNumber">
                    <span class="polDetails__representative-details__contact-no"
                        ng-if="ctrl.showContactNumber">{{ctrl.salesforce.contact_number === undefined ? '-' : ctrl.salesforce.contact_number}}</span>
                </div>
                <div class="polDetails__representative-details__info-no padding-left-5">
                    <div class="display-table-cell v-align-middle">
                        <img class="polDetails__icon-small"
                            src="images/rep-ic-info.png"
                            ng-click="ctrl.toggleInfoNumber()"
                            ng-if="ctrl.showInfoNumber">
                        <img class="polDetails__icon-small"
                            src="images/rep-ic-info-d.png"
                            ng-click="ctrl.toggleInfoNumber()"
                            ng-if="!ctrl.showInfoNumber">
                    </div>
                    <div class="polDetails__representative-details__info-no padding-left-4"
                        id="representativeInfoNo"
                        ng-if="ctrl.showInfoNumber">
                        <div class="inline-block v-align-middle">
                            <div class="font-size-11">{{'cfo.label.masNo' | translate}}</div>
                            <div class="polDetails__representative-details__mas-no">{{ctrl.salesforce.mas_issued_rep_no === undefined ? '-' : ctrl.salesforce.mas_issued_rep_no}}</div>
                        </div>
                        <span class="polDetails__divider inline-block v-align-middle"></span>
                        <div class="inline-block v-align-middle"
                            ng-init="ctrl.initRepInfoNo()">
                            <div class="font-size-11">{{'cfo.label.consultantNo' | translate}}</div>
                            <div class="polDetails__representative-details__consult-no">{{ctrl.salesforce.consultant_number === undefined ? '-' : ctrl.salesforce.consultant_number}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__action-panel text-align-right">
        <div class="inline-block">
            <div class="pointer__cursor"
                ng-if="ctrl.showExpandAll"
                ng-click="ctrl.expandAll()">
                <span>
                    <img class="padding-right-6 padding-bottom-3"
                    src="images/sign_plus.png">
                </span>
                <span class="float-right">{{'cfo.button.expandAll' | translate}}</span>
            </div>
            <div class="pointer__cursor"
                ng-if="!ctrl.showExpandAll"
                ng-click="ctrl.collapseAll()">
                <span class="">
                    <img class="padding-right-6 padding-bottom-3"
                    src="images/sign_minus.png">
                </span>
                <span class="float-right">{{'cfo.button.collapseAll' | translate}}</span>
            </div>
        </div>
        <!-- <span class="polDetails__divider"></span>
        <div class="polDetails__ddl-display-action"
            ng-click="">
            <span>{{'cfo.label.iWantToSelect' | translate}}</span>
            <img src="images/red-down-arrow.png">
        </div>
        <div class="inline-block">
            <button class="button button--grey-thin right-button polDetails__go-button polDetails__white-button"
                ng-click="">{{'cfo.button.go' | translate}}
            </button>
            <span class="polDetails__divider"></span>
            <button class="button button--red-thin right-button polDetails__pay-prem-button"
                ng-click="">{{'cfo.button.payPremium' | translate}}
            </button>
        </div> -->
    </div>
</div>

<div class="row margin-top-25"
    ng-if="ctrl.model.product_type === 'TRAVEL'">
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.coverageDetail}">
        <div class="polDetails__section-panel__header"
            name="coverageDetail"
            data-toggle="collapse"
            data-target="#coverageDetail"
            id="coverageDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.coverageDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.coverageDetail}">
            <span class="padding-left-7">{{'cfo.header.coverageDetails' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.coverageDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.coverageDetail">
            </span>
        </div>
        <div class="collapse in"
            id="coverageDetail"
            ng-init="ctrl.initCollapse('coverageDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_coverageDetail table"
                            id="coverageDetailTable"
                            ng-init="ctrl.initTable('coverageDetailTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalCoverageTravelCoverTypeHdr' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalCoverageTravelTypeHdr' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalCoverageTravelAreaHdr' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalCoverageTravelDestinationHdr' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.planNameHdr' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-if="ctrl.model.general_travel_coverage">
                                <tr>
                                    <td>
                                        {{ctrl.model.general_travel_coverage.general_travel_type ? ctrl.model.general_travel_coverage.general_travel_type : '-'}}
                                    </td>
                                    <td>
                                        {{ctrl.model.general_travel_coverage.general_travel_trip_type ? ctrl.model.general_travel_coverage.general_travel_trip_type : '-'}}
                                    </td>
                                    <td>
                                        {{ctrl.model.general_travel_coverage.general_travel_area ? ctrl.model.general_travel_coverage.general_travel_area : '-'}}
                                    </td>
                                    <td>
                                        {{ctrl.model.general_travel_coverage.general_travel_destination ? ctrl.model.general_travel_coverage.general_travel_destination : '-'}}
                                    </td>
                                    <td>
                                        {{ctrl.model.general_plan_name ? ctrl.model.general_plan_name : '-'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.general_travel_coverage">
                                <tr>
                                    <td colspan="5">{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.insuredDetail}">
        <div class="polDetails__section-panel__header"
            name="insuredDetail"
            data-toggle="collapse"
            data-target="#insuredDetail"
            id="insuredDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.insuredDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.insuredDetail}">
            <span class="padding-left-7">{{'cfo.header.insuredDetails' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.insuredDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.insuredDetail">
            </span>
        </div>
        <div class="collapse in"
            id="insuredDetail"
            ng-init="ctrl.initCollapse('insuredDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_insuredDetail table"
                            id="insuredDetailTable"
                            ng-init="ctrl.initTable('insuredDetailTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalInsuredSalutation' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.personNameHdr' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.dateOfBirthHdr' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.genderHdr' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalInsuredIDNumber' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.personRelationshipHdr' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="person in ctrl.model.general_insured_person"
                                    ng-if="ctrl.model.general_insured_person[0]">
                                    <td>
                                        {{person.general_person_salutation ? person.general_person_salutation : '-'}}
                                    </td>
                                    <td>
                                        {{person.general_person_name ? person.general_person_name : '-'}}
                                    </td>
                                    <td>
                                        {{person.general_person_birth_dt ? (person.general_person_birth_dt | date:'dd MMM yyyy') : '-'}}
                                    </td>
                                    <td>
                                        {{person.general_person_gender ? person.general_person_gender : '-'}}
                                    </td>
                                    <td>
                                        {{person.general_person_identity_num ? person.general_person_identity_num : '-'}}
                                    </td>
                                    <td>
                                        {{person.general_person_relationship ? person.general_person_relationship : '-'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.general_insured_person[0]">
                                <tr>
                                    <td colspan="6">{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row margin-top-25"
    ng-if="ctrl.model.product_type === 'HOME'">
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.coverageDetail}">
        <div class="polDetails__section-panel__header"
            name="coverageDetail"
            data-toggle="collapse"
            data-target="#coverageDetail"
            id="coverageDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.coverageDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.coverageDetail}">
            <span class="padding-left-7">{{'cfo.header.coverageDetails' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.coverageDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.coverageDetail">
            </span>
        </div>
        <div class="collapse in"
            id="coverageDetail"
            ng-init="ctrl.initCollapse('coverageDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_coverageDetail table"
                            id="coverageDetailTable"
                            ng-init="ctrl.initTable('coverageDetailTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.productNameHdr' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-if="ctrl.model.product_name">
                                <tr>
                                    <td>
                                        {{ctrl.model.product_name ? ctrl.model.product_name : '-'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.product_name">
                                <tr>
                                    <td>{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.insuredDetail}">
        <div class="polDetails__section-panel__header"
            name="insuredDetail"
            data-toggle="collapse"
            data-target="#insuredDetail"
            id="insuredDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.insuredDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.insuredDetail}">
            <span class="padding-left-7">{{'cfo.header.insuredDetails' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.insuredDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.insuredDetail">
            </span>
        </div>
        <div class="collapse in"
            id="insuredDetail"
            ng-init="ctrl.initCollapse('insuredDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_insuredDetail table"
                            id="insuredDetailTable"
                            ng-init="ctrl.initTable('insuredDetailTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalInsuredPropertyType' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalInsuredPropertyAddress' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.postalCodeHdr' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-if="ctrl.model.general_insured_asset[0]">
                                <tr ng-repeat="asset in ctrl.model.general_insured_asset">
                                    <td>
                                        {{asset.general_asset_property_type ? asset.general_asset_property_type : '-'}}
                                    </td>
                                    <td>
                                        {{asset.general_asset_address? asset.general_asset_address : '-'}}
                                    </td>
                                    <td>
                                        {{asset.general_asset_postal_code ? asset.general_asset_postal_code : '-'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.general_insured_asset[0]">
                                <tr>
                                    <td colspan="3">{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row margin-top-25"
    ng-if="ctrl.model.product_type === 'PA'">
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.coverageDetail}">
        <div class="polDetails__section-panel__header"
            name="coverageDetail"
            data-toggle="collapse"
            data-target="#coverageDetail"
            id="coverageDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.coverageDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.coverageDetail}">
            <span class="padding-left-7">{{'cfo.header.coverageDetails' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.coverageDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.coverageDetail">
            </span>
        </div>
        <div class="collapse in"
            id="coverageDetail"
            ng-init="ctrl.initCollapse('coverageDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_coverageDetail table"
                            id="coverageDetailTable"
                            ng-init="ctrl.initTable('coverageDetailTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.productNameHdr' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-if="ctrl.model.product_name">
                                <tr>
                                    <td>
                                        {{ctrl.model.product_name ? ctrl.model.product_name : '-'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.product_name">
                                <tr>
                                    <td>{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.insuredDetail}">
        <div class="polDetails__section-panel__header"
            name="insuredDetail"
            data-toggle="collapse"
            data-target="#insuredDetail"
            id="insuredDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.insuredDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.insuredDetail}">
            <span class="padding-left-7">{{'cfo.header.insuredDetails' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.insuredDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.insuredDetail">
            </span>
        </div>
        <div class="collapse in"
            id="insuredDetail"
            ng-init="ctrl.initCollapse('insuredDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_insuredDetail table"
                            id="insuredDetailTable"
                            ng-init="ctrl.initTable('insuredDetailTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalInsuredSalutation' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.personNameHdr' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.dateOfBirthHdr' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.genderHdr' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalInsuredIDNumber' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalInsuredOccupation' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.planNameHdr' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-if="ctrl.model.general_insured_person[0]">
                                <tr ng-repeat="person in ctrl.model.general_insured_person">
                                    <td>
                                        {{person.general_person_salutation ? person.general_person_salutation : '-'}}
                                    </td>
                                    <td>
                                        {{person.general_person_name? person.general_person_name : '-'}}
                                    </td>
                                    <td>
                                        {{person.general_person_birth_dt ? (person.general_person_birth_dt | date:'dd MMM yyyy') : '-'}}
                                    </td>
                                    <td>
                                        {{person.general_person_gender ? person.general_person_gender : '-'}}
                                    </td>
                                    <td>
                                        {{person.general_person_identity_num ? person.general_person_identity_num : '-'}}
                                    </td>
                                    <td>
                                        {{person.general_person_occupation ? person.general_person_occupation : '-'}}
                                    </td>
                                    <td>
                                        {{person.general_person_plan_name ? person.general_person_plan_name : '-'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.general_insured_person[0]">
                                <tr>
                                    <td colspan="7">{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row margin-top-25"
    ng-if="ctrl.model.product_type === 'MAID'">
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.coverageDetail}">
        <div class="polDetails__section-panel__header"
            name="coverageDetail"
            data-toggle="collapse"
            data-target="#coverageDetail"
            id="coverageDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.coverageDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.coverageDetail}">
            <span class="padding-left-7">{{'cfo.header.coverageDetails' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.coverageDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.coverageDetail">
            </span>
        </div>
        <div class="collapse in"
            id="coverageDetail"
            ng-init="ctrl.initCollapse('coverageDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_coverageDetail table"
                            id="coverageDetailTable"
                            ng-init="ctrl.initTable('coverageDetailTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.productNameHdr' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.planNameHdr' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-if="ctrl.model.product_name || ctrl.model.general_plan_name">
                                <tr>
                                    <td>
                                        {{ctrl.model.product_name ? ctrl.model.product_name : '-'}}
                                    </td>
                                    <td>
                                        {{ctrl.model.general_plan_name ? ctrl.model.general_plan_name : '-'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.product_name && !ctrl.model.general_plan_name">
                                <tr>
                                    <td colspan="2">{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.insuredDetail}">
        <div class="polDetails__section-panel__header"
            name="insuredDetail"
            data-toggle="collapse"
            data-target="#insuredDetail"
            id="insuredDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.insuredDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.insuredDetail}">
            <span class="padding-left-7">{{'cfo.header.insuredDetails' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.insuredDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.insuredDetail">
            </span>
        </div>
        <div class="collapse in"
            id="insuredDetail"
            ng-init="ctrl.initCollapse('insuredDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_insuredDetail table"
                            id="insuredDetailTable"
                            ng-init="ctrl.initTable('insuredDetailTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.personNameHdr' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.dateOfBirthHdr' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalInsuredNationality' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalIssuredPassportNoHdr' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalInsuredWorkPermitNumber' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-if="ctrl.model.general_insured_person[0]">
                                <tr ng-repeat="person in ctrl.model.general_insured_person">
                                    <td>
                                        {{person.general_person_name? person.general_person_name : '-'}}
                                    </td>
                                    <td>
                                        {{person.general_person_birth_dt ? (person.general_person_birth_dt | date:'dd MMM yyyy') : '-'}}
                                    </td>
                                    <td>
                                        {{person.general_person_nationality ? person.general_person_nationality : '-'}}
                                    </td>
                                    <td>
                                        {{person.general_person_passport_num ? person.general_person_passport_num : '-'}}
                                    </td>
                                    <td>
                                        {{person.general_person_work_permit_num ? person.general_person_work_permit_num : '-'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.general_insured_person[0]">
                                <tr>
                                    <td colspan="5">{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row margin-top-25"
    ng-if="ctrl.model.product_type === 'MOTOR'">
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.coverageDetail}">
        <div class="polDetails__section-panel__header"
            name="coverageDetail"
            data-toggle="collapse"
            data-target="#coverageDetail"
            id="coverageDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.coverageDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.coverageDetail}">
            <span class="padding-left-7">{{'cfo.header.coverageDetails' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.coverageDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.coverageDetail">
            </span>
        </div>
        <div class="collapse in"
            id="coverageDetail"
            ng-init="ctrl.initCollapse('coverageDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_coverageDetail table"
                            id="coverageDetailTable"
                            ng-init="ctrl.initTable('coverageDetailTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.productNameHdr' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.planNameHdr' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-if="ctrl.model.product_name || ctrl.model.general_plan_name">
                                <tr>
                                    <td>
                                        {{ctrl.model.product_name ? ctrl.model.product_name : '-'}}
                                    </td>
                                    <td>
                                        {{ctrl.model.general_plan_name ? ctrl.model.general_plan_name : '-'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.product_name && !ctrl.model.general_plan_name">
                                <tr>
                                    <td colspan="2">{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.vehicleInfoDetail}">
        <div class="polDetails__section-panel__header"
            name="vehicleInfoDetail"
            data-toggle="collapse"
            data-target="#vehicleInfoDetail"
            id="vehicleInfoDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.vehicleInfoDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.vehicleInfoDetail}">
            <span class="padding-left-7">{{'cfo.header.vechicleInformation' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.vehicleInfoDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.vehicleInfoDetail">
            </span>
        </div>
        <div class="collapse in"
            id="vehicleInfoDetail"
            ng-init="ctrl.initCollapse('vehicleInfoDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_vehicleInfoDetail table"
                            id="vehicleInfoDetailTable"
                            ng-init="ctrl.initTable('vehicleInfoDetailTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalVechicleMakeModel' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalVechicleEngineCc' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalVechicleManufactureYear' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalVehicleBodyType' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalVehicleRegistrationNo' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalVehicleEngineNo' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalVehicleChassisNo' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-if="ctrl.model.general_insured_asset[0]">
                                <tr ng-repeat="asset in ctrl.model.general_insured_asset">
                                    <td>
                                        {{asset.general_asset_vehicle ? asset.general_asset_vehicle : '-'}}
                                    </td>
                                    <td>
                                        {{asset.general_asset_engine_cc ? asset.general_asset_engine_cc : '-'}}
                                    </td>
                                    <td>
                                        {{asset.general_asset_manufacture_year ? asset.general_asset_manufacture_year : '-'}}
                                    </td>
                                    <td>
                                        {{asset.general_asset_body_type ? asset.general_asset_body_type : '-'}}
                                    </td>
                                    <td>
                                        {{asset.general_asset_registration_number ? asset.general_asset_registration_number : '-'}}
                                    </td>
                                    <td>
                                        {{asset.general_asset_engine_number ? asset.general_asset_engine_number : '-'}}
                                    </td>
                                    <td>
                                        {{asset.general_asset_chassis_number ? asset.general_asset_chassis_number : '-'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.general_insured_asset[0]">
                                <tr>
                                    <td colspan="7">{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.additionalInfoDetail}">
        <div class="polDetails__section-panel__header"
            name="additionalInfoDetail"
            data-toggle="collapse"
            data-target="#additionalInfoDetail"
            id="additionalInfoDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.additionalInfoDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.additionalInfoDetail}">
            <span class="padding-left-7">{{'cfo.header.additionalInformation' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.additionalInfoDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.additionalInfoDetail">
            </span>
        </div>
        <div class="collapse in"
            id="additionalInfoDetail"
            ng-init="ctrl.initCollapse('additionalInfoDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_additionalInfoDetail table"
                            id="additionalInfoDetailTable"
                            ng-init="ctrl.initTable('additionalInfoDetailTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalAdditionalVechicleClaimDiscount' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalAdditionalVechicleSafeDriverDiscount' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.generalAdditionalVechicleNcdProtector' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-if="ctrl.model.general_additional_info[0]">
                                <tr ng-repeat="info in ctrl.model.general_additional_info">
                                    <td>
                                        {{info.general_no_claim_discount ? info.general_no_claim_discount : '-'}}
                                    </td>
                                    <td>
                                        {{info.general_safe_driver_discount ? info.general_safe_driver_discount : '-'}}
                                    </td>
                                    <td>
                                        {{info.general_ncd_protector ? info.general_ncd_protector : '-'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.general_additional_info[0]">
                                <tr>
                                    <td colspan="3">{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
