<div class="container nopadding">

    <div class="page__body"
        ng-if="ctrl.model">

        <div class="page-section">
            <div class="page-section__header">
                <div class="page-section__header__title no-margin-bottom">
                    <h1 class="override-h1">{{'cfo.header.fundDetails' | translate}}</h1></div>
            </div>
            <div class="page-section__body">
                <div class="sub-section">
                    <div class="row">
                        <table class="footable_policy table">
                            <thead>
                                <tr style="background-color:grey;">
                                    <th>{{'cfo.header.productNameHdr' | translate}}</th>
                                    <th>{{'cfo.header.policyNumberHdr' | translate}}</th>
                                    <th data-hide="phone">{{'cfo.header.lifeClaimCaseNumber' | translate}}</th>
                                    <th data-hide="phone">{{'cfo.header.dateOfLossHdr' | translate}}</th>
                                    <th data-hide="phone">{{'cfo.header.dateOfReportHdr' | translate}}</th>
                                    <th data-hide="phone, tablet">{{'cfo.header.vehicleNumberHdr' | translate}}</th>
                                    <th data-hide="phone, tablet">{{'cfo.header.lifeClaimStatus' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="claim in ctrl.model">
                                    <td>{{::claim.product_name}}</td>
                                    <td>{{::claim.policy_num}}</td>
                                    <td>{{::claim.claim_num}}</td>
                                    <td>{{::claim.loss_dt | date:'dd MMM yyyy'}}</td>
                                    <td>{{::claim.reporting_dt | date:'dd MMM yyyy'}}</td>
                                    <td>{{::claim.vehicle_num ? claim.vehicle_num :'-'}}</td>
                                    <td>{{::claim.claim_status}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
