<div class="row padding-top-20">
    <div class="polDetails__representative-section-panel float-left">
        <div class="display-table-cell">
            <div class="display-table-cell v-align-middle">
                <div class="font-size-11">{{'cfo.label.representative' | translate}}</div>
                <div class="polDetails__representative-details__name">{{ctrl.salesforce.financial_planner_name === undefined ? '-' : ctrl.salesforce.financial_planner_name}}</div>
            </div>
            <div class="polDetails__representative-details-wrapper">
                <div class="polDetails__representative-details">
                    <img class="polDetails__icon-small inline-block"
                        src="images/rep-ic-email.png"
                        ng-click="ctrl.toggleEmail()"
                        ng-if="ctrl.showEmail">
                    <img class="polDetails__icon-small inline-block"
                        src="images/rep-ic-email-d.png"
                        ng-click="ctrl.toggleEmail()"
                        ng-if="!ctrl.showEmail">
                    <span class="polDetails__representative-details__email"
                        ng-if="ctrl.showEmail">
                    <a ng-if="ctrl.salesforce.email_address" href="{{'mailto:' + ctrl.salesforce.email_address}}">{{ctrl.salesforce.email_address}}</a>
                    <span ng-if="!ctrl.salesforce.email_address">-</span></span>
                </div>
                <div class="polDetails__representative-details">
                    <img class="polDetails__icon-small"
                        src="images/rep-ic-contact.png"
                        ng-click="ctrl.toggleContactNumber()"
                        ng-if="ctrl.showContactNumber">
                    <img class="polDetails__icon-small"
                        src="images/rep-ic-contact-d.png"
                        ng-click="ctrl.toggleContactNumber()"
                        ng-if="!ctrl.showContactNumber">
                    <span class="polDetails__representative-details__contact-no"
                        ng-if="ctrl.showContactNumber">{{ctrl.salesforce.contact_number === undefined ? '-' : ctrl.salesforce.contact_number}}</span>
                </div>
                <div class="polDetails__representative-details__info-no padding-left-5">
                    <div class="display-table-cell v-align-middle">
                        <img class="polDetails__icon-small"
                            src="images/rep-ic-info.png"
                            ng-click="ctrl.toggleInfoNumber()"
                            ng-if="ctrl.showInfoNumber">
                        <img class="polDetails__icon-small"
                            src="images/rep-ic-info-d.png"
                            ng-click="ctrl.toggleInfoNumber()"
                            ng-if="!ctrl.showInfoNumber">
                    </div>
                    <div class="polDetails__representative-details__info-no padding-left-4"
                        id="representativeInfoNo"
                        ng-if="ctrl.showInfoNumber">
                        <div class="inline-block v-align-middle">
                            <div class="font-size-11">{{'cfo.label.masNo' | translate}}</div>
                            <div class="polDetails__representative-details__mas-no">{{ctrl.salesforce.mas_issued_rep_no === undefined ? '-' : ctrl.salesforce.mas_issued_rep_no}}</div>
                        </div>
                        <span class="polDetails__divider inline-block v-align-middle"></span>
                        <div class="inline-block v-align-middle"
                            ng-init="ctrl.initRepInfoNo()">
                            <div class="font-size-11">{{'cfo.label.consultantNo' | translate}}</div>
                            <div class="polDetails__representative-details__consult-no">{{ctrl.salesforce.consultant_number === undefined ? '-' : ctrl.salesforce.consultant_number}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__action-panel text-align-right">
        <div class="inline-block">
            <div class="pointer__cursor"
                ng-if="ctrl.showExpandAll"
                ng-click="ctrl.expandAll()">
                <span>
                    <img class="padding-right-6 padding-bottom-3"
                    src="images/sign_plus.png">
                </span>
                <span class="float-right">{{'cfo.button.expandAll' | translate}}</span>
            </div>
            <div class="pointer__cursor"
                ng-if="!ctrl.showExpandAll"
                ng-click="ctrl.collapseAll()">
                <span class="">
                    <img class="padding-right-6 padding-bottom-3"
                    src="images/sign_minus.png">
                </span>
                <span class="float-right">{{'cfo.button.collapseAll' | translate}}</span>
            </div>
        </div>
        <!-- <span class="polDetails__divider"></span>
        <div class="polDetails__ddl-display-action"
            ng-click="">
            <span>{{'cfo.label.iWantToSelect' | translate}}</span>
            <img src="images/red-down-arrow.png">
        </div>
        <div class="inline-block">
            <button class="button button--grey-thin right-button polDetails__go-button polDetails__white-button"
                ng-click="">{{'cfo.button.go' | translate}}
            </button>
            <span class="polDetails__divider"></span>
            <button class="button button--red-thin right-button polDetails__pay-prem-button"
                ng-click="">{{'cfo.button.payPremium' | translate}}
            </button>
        </div> -->
    </div>
</div>

<div class="row margin-top-25">
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.policyDetail}">
        <div class="polDetails__section-panel__header"
            name="policyDetail"
            data-toggle="collapse"
            data-target="#policyDetail"
            id="policyDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.policyDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.policyDetail}">
            <span class="padding-left-7">{{'cfo.header.policyBasicDetails' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.policyDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.policyDetail">
            </span>
        </div>
        <div class="collapse in"
            id="policyDetail"
            ng-init="ctrl.initCollapse('policyDetail', true)">
            <div class="polDetails-section__body">
                <div class="row no-margin">
                    <div class="col-xs-12">
                        <div class="col-xs-12 col-sm-6 no-padding">
                            <div class="col-xs-12 detail-section__row">
                                <div class="col-xs-12 col-sm-7">
                                    <span class="detail-section__row__label">{{'cfo.label.certificateNo' | translate}}</span>
                                </div>
                                <div class="col-xs-12 col-sm-5 no-padding">
                                    <div class="detail-section__row__value">{{ctrl.model.group_certificate_number ? ctrl.model.group_certificate_number : '-'}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 detail-section__row">
                                <div class="col-xs-12 col-sm-7">
                                    <span class="detail-section__row__label">{{'cfo.label.productType' | translate}}</span>
                                </div>
                                <div class="col-xs-12 col-sm-5 no-padding">
                                    <div class="detail-section__row__value">{{ctrl.model.product_type ? ctrl.model.product_type : '-'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 margin-top-1">
                        <div class="col-xs-12 col-sm-6 no-padding">
                            <div class="col-xs-12 detail-section__row">
                                <div class="col-xs-12 col-sm-7">
                                    <span class="detail-section__row__label">{{'cfo.label.policyholderName' | translate}}</span>
                                </div>
                                <div class="col-xs-12 col-sm-5 no-padding">
                                    <div class="detail-section__row__value">
                                        {{ctrl.model.group_policy_holder ? ctrl.model.group_policy_holder : '-'}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 detail-section__row">
                                <div class="col-xs-12 col-sm-7">
                                    <span class="detail-section__row__label">{{'cfo.label.currency' | translate}}</span>
                                </div>
                                <div class="col-xs-12 col-sm-5 no-padding">
                                    <div class="detail-section__row__value">
                                        {{ctrl.model.life_financial.life_financial_currency ? ctrl.model.life_financial.life_financial_currency : '-'}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 detail-section__row">
                                <div class="col-xs-12 col-sm-7">
                                    <span class="detail-section__row__label">{{'cfo.label.modeOfPayment' | translate}}</span>
                                </div>
                                <div class="col-xs-12 col-sm-5 no-padding">
                                    <div class="detail-section__row__value">
                                        {{ctrl.model.group_payment_frequency ? ctrl.model.group_payment_frequency : '-'}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 detail-section__row">
                                <div class="col-xs-12 col-sm-7">
                                    <span class="detail-section__row__label">{{'cfo.label.paymentMethod' | translate}}</span>
                                </div>
                                <div class="col-xs-12 col-sm-5 no-padding">
                                    <div class="detail-section__row__value">
                                        {{ctrl.model.group_payment_method ? ctrl.model.group_payment_method : '-'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        cfo.label.policyCoverageEndDate cfo.label.commencementDate cfo.label.status
                        <div class="col-xs-12 col-sm-6 no-padding">
                            <div class="col-xs-12 detail-section__row">
                                <div class="col-xs-12 col-sm-7">
                                    <span class="detail-section__row__label">{{'cfo.label.status' | translate}}</span>
                                </div>
                                <div class="col-xs-12 col-sm-5 no-padding">
                                    <div class="detail-section__row__value">
                                        {{ctrl.model.status ? ctrl.model.status : '-'}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 detail-section__row">
                                <div class="col-xs-12 col-sm-7">
                                    <span class="detail-section__row__label">{{'cfo.label.commencementDate' | translate}}</span>
                                </div>
                                <div class="col-xs-12 col-sm-5 no-padding">
                                    <div class="detail-section__row__value">
                                        {{ctrl.model.start_dt ? (ctrl.model.start_dt | date:'dd MMM yyyy') : '-'}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 detail-section__row">
                                <div class="col-xs-12 col-sm-7">
                                    <span class="detail-section__row__label">{{'cfo.label.policyCoverageEndDate' | translate}}</span>
                                </div>
                                <div class="col-xs-12 col-sm-5 no-padding">
                                    <div class="detail-section__row__value">
                                        {{ctrl.model.end_dt ? (ctrl.model.end_dt | date:'dd MMM yyyy') : '-'}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 detail-section__row">
                                <div class="col-xs-12 col-sm-7">
                                    <span class="detail-section__row__label">{{'cfo.label.premiumDueDate' | translate}}</span>
                                </div>
                                <div class="col-xs-12 col-sm-5 no-padding">
                                    <div class="detail-section__row__value">
                                        {{ctrl.model.group_next_premium_due_dt ? (ctrl.model.group_next_premium_due_dt | date:'dd MMM yyyy') : '-'}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 detail-section__row">
                                <div class="col-xs-12 col-sm-7">
                                    <span class="detail-section__row__label">{{'cfo.label.nextPremiumDueAmount' | translate}}</span>
                                </div>
                                <div class="col-xs-12 col-sm-5 no-padding">
                                    <div class="detail-section__row__value">
                                        {{(ctrl.model.group_next_premium_due_amount || ctrl.model.group_next_premium_due_amount === 0) ? (ctrl.model.group_next_premium_due_amount | currency:'') : '-'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.grpRetailBenefitInfoDetail}">
        <div class="polDetails__section-panel__header"
            name="grpRetailBenefitInfo"
            data-toggle="collapse"
            data-target="#grpRetailBenefitInfoDetail"
            id="grpRetailBenefitInfoDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.grpRetailBenefitInfoDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.grpRetailBenefitInfoDetail}">
            <span class="padding-left-7">{{'cfo.header.groupRetailBenefitInformation' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.grpRetailBenefitInfoDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.grpRetailBenefitInfoDetail">
            </span>
        </div>
        <div class="collapse in"
            id="grpRetailBenefitInfoDetail"
            ng-init="ctrl.initCollapse('grpRetailBenefitInfoDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_grpRetailBenefitInfo table"
                            id="grpRetailBenefitInfoTable"
                            ng-init="ctrl.initTable('grpRetailBenefitInfoTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.benefitName' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.benefitStatus' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.premium' | translate}} ({{ctrl.model.group_currency}})
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.coverStartDate' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.coverEndDate' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-if="ctrl.model.group_benefit[0]">
                                <tr ng-repeat="benefit in ctrl.model.group_benefit">
                                    <td>
                                        {{benefit.group_benefit_name ? benefit.group_benefit_name : '-'}}
                                    </td>
                                    <td>
                                        {{benefit.group_benefit_status ? benefit.group_benefit_status : '-'}}
                                    </td>
                                    <td>
                                        {{(benefit.group_benefit_installment_premium || benefit.group_benefit_installment_premium === 0) ? benefit.group_benefit_installment_premium : '-'}} <sup ng-if="benefit.group_benefit_installment_premium || benefit.group_benefit_installment_premium === 0"
                                            class="font-size-8">{{ctrl.model.group_currency}}</sup>
                                    </td>
                                    <td>
                                        {{benefit.group_benefit_covered_start_dt ? (benefit.group_benefit_covered_start_dt | date:'dd MMM yyyy') : '-'}}
                                    </td>
                                    <td>
                                        {{benefit.group_benefit_covered_end_dt ? (benefit.group_benefit_covered_end_dt | date:'dd MMM yyyy') : '-'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.group_benefit[0]">
                                <tr>
                                    <td colspan="5">{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
