<div class="row padding-top-20">
    <div class="polDetails__representative-section-panel float-left">
        <div class="display-table-cell">
            <div class="display-table-cell v-align-middle">
                <div class="font-size-11">{{'cfo.label.representative' | translate}}</div>
                <div class="polDetails__representative-details__name">{{ctrl.salesforce.financial_planner_name === undefined ? '-' : ctrl.salesforce.financial_planner_name}}</div>
            </div>
            <div class="polDetails__representative-details-wrapper">
                <div class="polDetails__representative-details">
                    <img class="polDetails__icon-small inline-block"
                        src="images/rep-ic-email.png"
                        ng-click="ctrl.toggleEmail()"
                        ng-if="ctrl.showEmail">
                    <img class="polDetails__icon-small inline-block"
                        src="images/rep-ic-email-d.png"
                        ng-click="ctrl.toggleEmail()"
                        ng-if="!ctrl.showEmail">
                    <span class="polDetails__representative-details__email"
                        ng-if="ctrl.showEmail">
                    <a ng-if="ctrl.salesforce.email_address" href="{{'mailto:' + ctrl.salesforce.email_address}}">{{ctrl.salesforce.email_address}}</a>
                    <span ng-if="!ctrl.salesforce.email_address">-</span></span>
                </div>
                <div class="polDetails__representative-details">
                    <img class="polDetails__icon-small"
                        src="images/rep-ic-contact.png"
                        ng-click="ctrl.toggleContactNumber()"
                        ng-if="ctrl.showContactNumber">
                    <img class="polDetails__icon-small"
                        src="images/rep-ic-contact-d.png"
                        ng-click="ctrl.toggleContactNumber()"
                        ng-if="!ctrl.showContactNumber">
                    <span class="polDetails__representative-details__contact-no"
                        ng-if="ctrl.showContactNumber">{{ctrl.salesforce.contact_number === undefined ? '-' : ctrl.salesforce.contact_number}}</span>
                </div>
                <div class="polDetails__representative-details__info-no padding-left-5">
                    <div class="display-table-cell v-align-middle">
                        <img class="polDetails__icon-small"
                            src="images/rep-ic-info.png"
                            ng-click="ctrl.toggleInfoNumber()"
                            ng-if="ctrl.showInfoNumber">
                        <img class="polDetails__icon-small"
                            src="images/rep-ic-info-d.png"
                            ng-click="ctrl.toggleInfoNumber()"
                            ng-if="!ctrl.showInfoNumber">
                    </div>
                    <div class="polDetails__representative-details__info-no padding-left-4"
                        id="representativeInfoNo"
                        ng-if="ctrl.showInfoNumber">
                        <div class="inline-block v-align-middle">
                            <div class="font-size-11">{{'cfo.label.masNo' | translate}}</div>
                            <div class="polDetails__representative-details__mas-no">{{ctrl.salesforce.mas_issued_rep_no === undefined ? '-' : ctrl.salesforce.mas_issued_rep_no}}</div>
                        </div>
                        <span class="polDetails__divider inline-block v-align-middle"></span>
                        <div class="inline-block v-align-middle"
                            ng-init="ctrl.initRepInfoNo()">
                            <div class="font-size-11">{{'cfo.label.consultantNo' | translate}}</div>
                            <div class="polDetails__representative-details__consult-no">{{ctrl.salesforce.consultant_number === undefined ? '-' : ctrl.salesforce.consultant_number}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__action-panel text-align-right">
        <div class="inline-block">
            <div class="pointer__cursor"
                ng-if="ctrl.showExpandAll"
                ng-click="ctrl.expandAll()">
                <span>
                    <img class="padding-right-6 padding-bottom-3"
                    src="images/sign_plus.png">
                </span>
                <span class="float-right">{{'cfo.button.expandAll' | translate}}</span>
            </div>
            <div class="pointer__cursor"
                ng-if="!ctrl.showExpandAll"
                ng-click="ctrl.collapseAll()">
                <span class="">
                    <img class="padding-right-6 padding-bottom-3"
                    src="images/sign_minus.png">
                </span>
                <span class="float-right">{{'cfo.button.collapseAll' | translate}}</span>
            </div>
        </div>
        <!-- <span class="polDetails__divider"></span>
        <div class="polDetails__ddl-display-action"
            ng-click="">
            <span>{{'cfo.label.iWantToSelect' | translate}}</span>
            <img src="images/red-down-arrow.png">
        </div>
        <div class="inline-block">
            <button class="button button--grey-thin right-button polDetails__go-button polDetails__white-button"
                ng-click="">{{'cfo.button.go' | translate}}
            </button>
            <span class="polDetails__divider"></span>
            <button class="button button--red-thin right-button polDetails__pay-prem-button"
                ng-click="">{{'cfo.button.payPremium' | translate}}
            </button>
        </div> -->
    </div>
</div>

<div class="row margin-top-25">
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.covBenefitInfoDetail}">
        <div class="polDetails__section-panel__header"
            name="covBenefitInfo"
            data-toggle="collapse"
            data-target="#covBenefitInfoDetail"
            id="covBenefitInfoDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.covBenefitInfoDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.covBenefitInfoDetail}">
            <span class="padding-left-7">{{'cfo.header.coverageBenefitInformation' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.covBenefitInfoDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.covBenefitInfoDetail">
            </span>
        </div>
        <div class="collapse in"
            id="covBenefitInfoDetail"
            ng-init="ctrl.initCollapse('covBenefitInfoDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_covBenefitInfo table"
                            id="covBenefitInfoTable"
                            ng-init="ctrl.initTable('covBenefitInfoTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.benefitName' | translate}}
                                        <br>{{'cfo.header.coverageBenefitLifeAssured' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.benefitStatus' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.coverageBenefitSumAssured' | translate}}
                                        <br>{{'cfo.header.coverageBenefitInstallmentPremium' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.coverStartDate' | translate}}
                                        <br>{{'cfo.header.coverEndDate' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-if="ctrl.model.life_benefit[0]">
                                <tr ng-repeat="benefit in ctrl.model.life_benefit">
                                    <td>
                                        {{benefit.life_benefit_name ? benefit.life_benefit_name : '-'}}
                                        <br>{{benefit.life_benefit_life_assured ? benefit.life_benefit_life_assured : '-'}}
                                    </td>
                                    <td>
                                        {{benefit.life_benefit_status ? benefit.life_benefit_status : '-'}}
                                    </td>
                                    <td>
                                        {{(benefit.life_benefit_current_sum_assured || benefit.life_benefit_current_sum_assured === 0) ? ctrl.roundDown(benefit.life_benefit_current_sum_assured) : '-'}} <sup ng-if="benefit.life_benefit_current_sum_assured || benefit.life_benefit_current_sum_assured === 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                        <br>{{(benefit.life_benefit_installment_premium || benefit.life_benefit_installment_premium === 0) ? (benefit.life_benefit_installment_premium | currency:'') : '-'}} <sup ng-if="benefit.life_benefit_installment_premium || benefit.life_benefit_installment_premium === 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                    </td>
                                    <td>
                                        {{benefit.life_benefit_covered_start_dt ? (benefit.life_benefit_covered_start_dt | date:'dd MMM yyyy') : '-'}}
                                        <br>{{benefit.life_benefit_covered_end_dt ? (benefit.life_benefit_covered_end_dt | date:'dd MMM yyyy') : '-'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.life_benefit[0]">
                                <tr>
                                    <td colspan="4">{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.polFinancialInfoDetail}">
        <div class="polDetails__section-panel__header"
            name="polFinancialInfo"
            data-toggle="collapse"
            data-target="#polFinancialInfoDetail"
            id="polFinancialInfoDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.polFinancialInfoDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.polFinancialInfoDetail}">
            <span class="padding-left-7">{{'cfo.header.policyFinancialInformation' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.polFinancialInfoDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.polFinancialInfoDetail">
            </span>
        </div>
        <div class="collapse in"
            id="polFinancialInfoDetail"
            ng-init="ctrl.initCollapse('polFinancialInfoDetail', true)">
            <div class="polDetails-section__body">
                <div class="row no-margin">
                    <div class="col-xs-12 col-sm-6 no-padding">
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifeFinancialPaymentFrequency' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{ctrl.model.life_financial.life_financial_payment_frequency ? ctrl.model.life_financial.life_financial_payment_frequency : '-'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifeFinancialNextPremiumDueDate' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{ctrl.model.life_financial.life_financial_next_premium_due_date ? (ctrl.model.life_financial.life_financial_next_premium_due_date| date: 'dd MMM yyyy') : '-'}}</div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.nextPremiumDueAmount' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{(ctrl.model.life_financial.life_financial_next_premium_due_amount || ctrl.model.life_financial.life_financial_next_premium_due_amount === 0) ? (ctrl.model.life_financial.life_financial_next_premium_due_amount | currency:'') : '-'}} <sup ng-if="ctrl.model.life_financial.life_financial_next_premium_due_amount || ctrl.model.life_financial.life_financial_next_premium_due_amount === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifeFinancialPremiumEndDate' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{ctrl.model.life_financial.life_financial_premium_end_dt ? (ctrl.model.life_financial.life_financial_premium_end_dt| date: 'dd MMM yyyy') : '-'}}</div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifeFinancialLastPaidDate' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{ctrl.model.life_financial.life_financial_last_paid_dt ? (ctrl.model.life_financial.life_financial_last_paid_dt | date: 'dd MMM yyyy') : '-'}}</div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifeFinancialSuspenseAmt' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{(ctrl.model.life_financial.life_financial_suspense_amount || ctrl.model.life_financial.life_financial_suspense_amount === 0) ? (ctrl.model.life_financial.life_financial_suspense_amount | currency: '') : '-'}} <sup ng-if="ctrl.model.life_financial.life_financial_suspense_amount || ctrl.model.life_financial.life_financial_suspense_amount === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 no-padding">
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.currency' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">
                                    {{ctrl.model.life_financial.life_financial_currency ? ctrl.model.life_financial.life_financial_currency : '-'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifefinancialMinAmtToPreventLapse' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">
                                    {{(ctrl.model.life_financial.life_financial_prevent_lapse_min_amount || ctrl.model.life_financial.life_financial_prevent_lapse_min_amount === 0) ? (ctrl.model.life_financial.life_financial_prevent_lapse_min_amount | currency:'') : '-'}} <sup ng-if="ctrl.model.life_financial.life_financial_prevent_lapse_min_amount || ctrl.model.life_financial.life_financial_prevent_lapse_min_amount === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup></div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifefinancialMinAmtToReinstate' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">
                                    {{(ctrl.model.life_financial.life_financial_reinstate_min_amount || ctrl.model.life_financial.life_financial_reinstate_min_amount === 0) ? (ctrl.model.life_financial.life_financial_reinstate_min_amount | currency:'') : '-'}} <sup ng-if="ctrl.model.life_financial.life_financial_reinstate_min_amount || ctrl.model.life_financial.life_financial_reinstate_min_amount === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup></div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifeInvestmentWrapFee' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{ctrl.model.life_financial.life_financial_wrap_fee ? ctrl.model.life_financial.life_financial_wrap_fee : '-'}}</div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifeInvestmentWrapFeeEffectiveDate' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{ctrl.model.life_financial.life_financial_wrap_fee_effective_dt ? (ctrl.model.life_financial.life_financial_wrap_fee_effective_dt | date:'dd MMM yyyy') : '-'}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 no-padding">
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-3">
                                <span class="detail-section__row__label">{{'cfo.label.paymentMethod' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-9 padding-left-32">
                                <div class="detail-section__row__value">
                                    {{ctrl.model.life_financial.life_financial_payment_method ? ctrl.model.life_financial.life_financial_payment_method : '-'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-3">
                                <span class="detail-section__row__label">{{'cfo.label.lifeFinancialLastDeductionDate' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-9 padding-left-32">
                                <div class="detail-section__row__value">
                                    {{ctrl.model.life_financial.life_financial_last_deduction_dt ? (ctrl.model.life_financial.life_financial_last_deduction_dt | date:'dd MMM yyyy') : '-'}}</div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-3">
                                <span class="detail-section__row__label">{{'cfo.label.lifefinancialUnsuccessfulReason' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-9 padding-left-32">
                                <div class="detail-section__row__value">
                                    {{ctrl.model.life_financial.life_financial_unsuccessful_reason ? ctrl.model.life_financial.life_financial_unsuccessful_reason : '-'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.currFundHoldDetail}">
        <div class="polDetails__section-panel__header"
            name="currFundHoldDetail"
            data-toggle="collapse"
            data-target="#currFundHoldDetail"
            id="currFundHoldDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.currFundHoldDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.currFundHoldDetail}">
            <span class="padding-left-7">{{'cfo.header.fundOverviewByAssetClass' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.currFundHoldDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.currFundHoldDetail">
            </span>
        </div>

        <div class="collapse in"
            id="currFundHoldDetail"
            ng-init="ctrl.initCollapse('currFundHoldDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="row"
                        ng-if="ctrl.model.life_ilp_plan_details[0]">
                        <div ng-class="{'col-md-6' : ctrl.model.life_ilp_plan_details.length>1, 'col-md-12' : ctrl.model.life_ilp_plan_details.length===1}"
                            ng-if="ctrl.model.life_ilp_plan_details[0]">
                            <div ng-class="{'polDetails__pieChart-container-left' : ctrl.model.life_ilp_plan_details.length>1, 'polDetails__pieChart-container-center' : ctrl.model.life_ilp_plan_details.length===1}"
                                id="{{'holder_' + ctrl.model.life_ilp_plan_details[0].account_type}}">
                            </div>
                        </div>
                        <div class="col-md-6"
                            ng-if="ctrl.model.life_ilp_plan_details[1]">
                            <div class="polDetails__pieChart-container-right"
                                id="{{'holder_' + ctrl.model.life_ilp_plan_details[1].account_type}}">
                            </div>
                        </div>
                    </div>
                    <div class="row"
                        ng-if="ctrl.model.life_fund_details[0]">
                        <div class="col-md-12">
                            <div class="polDetails__pieChart-container-center"
                                id="holder_normal">
                            </div>
                        </div>
                    </div>
                    <div class="row no-margin margin-top-25"
                        ng-if="ctrl.model.life_ilp_plan_details[0] || ctrl.model.life_fund_details[0]">
                        <div class="col-xs-12 text-align-center inline-block">
                            <div class="inline-block font-size-12">{{'cfo.label.legend' | translate}}:</div>
                            <div class="inline-block">
                                <div class="polDetails__pieChart-legend polDetails__pieChart-legend-equity"></div>
                                <div class="inline-block font-size-12">{{'cfo.label.equities' | translate}}</div>
                            </div>
                            <div class="inline-block">
                                <div class="polDetails__pieChart-legend polDetails__pieChart-legend-bond"></div>
                                <div class="inline-block font-size-12">{{'cfo.label.bonds' | translate}}</div>
                            </div>
                            <div class="inline-block">
                                <div class="polDetails__pieChart-legend polDetails__pieChart-legend-asset"></div>
                                <div class="inline-block font-size-12">{{'cfo.label.mixedAssets' | translate}}</div>
                            </div>
                            <div class="inline-block">
                                <div class="polDetails__pieChart-legend polDetails__pieChart-legend-market"></div>
                                <div class="inline-block font-size-12">{{'cfo.label.moneyMarket' | translate}}</div>
                            </div>
                        </div>
                        <div class="col-xs-12 polDetails__pieChart-note text-align-center">{{'cfo.label.pieChartNote' | translate}}</div>
                    </div>

                    <div class="padding-top-20 text-align-center font-size-20"
                        ng-if="!ctrl.model.life_ilp_plan_details[0] && !ctrl.model.life_fund_details[0]">
                        <div><img src="images/empty-data.png"></div>
                        <div class="padding-top-10">{{'cfo.label.noPieChartNote' | translate}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.fundDetail}">
        <div class="polDetails__section-panel__header"
            name="fundDetail"
            data-toggle="collapse"
            data-target="#fundDetail"
            id="fundDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.fundDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.fundDetail}">
            <span class="padding-left-7">{{'cfo.header.fundDetails' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.fundDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.fundDetail">
            </span>
        </div>
        <div class="collapse in"
            id="fundDetail"
            ng-init="ctrl.initCollapse('fundDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12"
                        ng-if="ctrl.model.life_fund_details[0]">
                        <table class="footable_fundDetail table"
                            id="fundDetailTable"
                            ng-init="ctrl.initTable('fundDetailTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.fundName' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeAssetClass' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.priceEffectiveDate' | translate}}
                                        <br>{{'cfo.header.unitPrice' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeFundTotalValue' | translate}}
                                        <br>{{'cfo.header.lifeFundTotalUnits' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeFundApportionmentRate' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-init="ctrl.initTotalInvestmentRow()">
                                <tr ng-repeat="fund in ctrl.model.life_fund_details">
                                    <td>{{fund.life_fund_fund_name ? fund.life_fund_fund_name : '-'}}</td>
                                    <td>{{fund.life_fund_asset_category ? fund.life_fund_asset_category : '-'}}</td>
                                    <td>
                                        {{fund.life_fund_price_effective_dt ? (fund.life_fund_price_effective_dt | date:'dd MMM yyyy') : '-'}}
                                        <br>{{(fund.life_fund_unit_price || fund.life_fund_unit_price === 0) ? (fund.life_fund_unit_price | currency:'':3) : '-'}} <sup ng-if="fund.life_fund_unit_price || fund.life_fund_unit_price === 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                    </td>
                                    <td>
                                        {{(fund.life_fund_total_value || fund.life_fund_total_value === 0) ? (fund.life_fund_total_value | currency:'') : '-'}} <sup ng-if="fund.life_fund_total_value || fund.life_fund_total_value === 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                        <br>{{(fund.life_fund_total_units || fund.life_fund_total_units === 0) ? (fund.life_fund_total_units | currency:'') : '-'}}
                                    </td>
                                    <td>
                                        {{fund.life_fund_apportionment_rate ? (fund.life_fund_apportionment_rate) : '-'}}<span ng-if="fund.life_fund_apportionment_rate">%</span>
                                    </td>
                                </tr>
                                <tr class="polDetails__fundDetails__total-row"
                                    ng-if="ctrl.showTotalInvestmentRow">
                                    <td></td>
                                    <td colspan="2">
                                        {{'cfo.label.lifeInvestmentTotalValue' | translate}}
                                    </td>
                                    <td>{{ctrl.totalInvestmentValue | currency:''}} <sup class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12"
                        ng-if="ctrl.model.life_ilp_plan_details[0]"
                        ng-repeat="detail in ctrl.model.life_ilp_plan_details">
                        <div class="col-xs-12 polDetails__table-title"
                            ng-if="detail.account_type === 'PROTECTION'">Protection Account</div>
                        <div class="col-xs-12 polDetails__table-title"
                            ng-if="detail.account_type === 'ACCUMULATION'">Accumulation Account</div>
                        <table class="footable_fundDetail table"
                            id="{{'fundDetailTable_' + $index}}"
                            ng-init="ctrl.initTable('fundDetailTable_' + $index)">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.fundName' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeAssetClass' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.priceEffectiveDate' | translate}}
                                        <br>{{'cfo.header.unitPrice' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeFundTotalValue' | translate}}
                                        <br>{{'cfo.header.lifeFundTotalUnits' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeFundApportionmentRate' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-init="ctrl.initTotalInvestmentRow()">
                                <tr ng-repeat="fund in detail.fund">
                                    <td>{{fund.life_fund_fund_name ? fund.life_fund_fund_name : '-'}}</td>
                                    <td>{{fund.life_fund_asset_category ? fund.life_fund_asset_category : '-'}}</td>
                                    <td>
                                        {{fund.life_fund_price_effective_dt ? (fund.life_fund_price_effective_dt | date:'dd MMM yyyy') : '-'}}
                                        <br>{{(fund.life_fund_unit_price || fund.life_fund_unit_price === 0) ? (fund.life_fund_unit_price | currency:'':3) : '-'}} <sup ng-if="fund.life_fund_unit_price || fund.life_fund_unit_price === 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                    </td>
                                    <td>
                                        {{(fund.life_fund_total_value || fund.life_fund_total_value === 0) ? (fund.life_fund_total_value | currency:'') : '-'}} <sup ng-if="fund.life_fund_total_value || fund.life_fund_total_value === 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                        <br>{{(fund.life_fund_total_units || fund.life_fund_total_units === 0) ? (fund.life_fund_total_units | currency:'') : '-'}}
                                    </td>
                                    <td>
                                        {{fund.life_fund_apportionment_rate ? (fund.life_fund_apportionment_rate) : '-'}}<span ng-if="fund.life_fund_apportionment_rate">%</span>
                                    </td>
                                </tr>
                                <tr class="polDetails__fundDetails__total-row"
                                    ng-if="ctrl.showTotalInvestmentRow">
                                    <td></td>
                                    <td colspan="2">
                                        {{'cfo.label.lifeInvestmentTotalValue' | translate}}
                                    </td>
                                    <td>{{detail.total_investment_value | currency:''}} <sup class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12"
                        ng-if="!ctrl.model.life_fund_details[0] && !ctrl.model.life_ilp_plan_details[0]">
                        <table class="footable_fundDetail table"
                            id="fundDetailTable"
                            ng-init="ctrl.initTable('fundDetailTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.fundName' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeAssetClass' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.priceEffectiveDate' | translate}}
                                        <br>{{'cfo.header.unitPrice' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeFundTotalValue' | translate}}
                                        <br>{{'cfo.header.lifeFundTotalUnits' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeFundApportionmentRate' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="table-listing-no-record">
                                <tr>
                                    <td colspan="5">{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.divCouInfoDetail}">
        <div class="polDetails__section-panel__header"
            name="divCouInfo"
            data-toggle="collapse"
            data-target="#divCouInfoDetail"
            id="divCouInfoDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.divCouInfoDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.divCouInfoDetail}">
            <span class="padding-left-7">{{'cfo.header.dividendOrCouponInfo' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.divCouInfoDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.divCouInfoDetail">
            </span>
        </div>
        <div class="collapse in"
            id="divCouInfoDetail"
            ng-init="ctrl.initCollapse('divCouInfoDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_divCouInfoDetail table"
                            id="divCouInfoDetailTable"
                            ng-init="ctrl.initTable('divCouInfoDetailTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.fundName' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeDividendEffectiveDate' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeDividendFundUnits' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeDividendPaymentRate' | translate}}
                                        <br>{{'cfo.header.disbursementMethodHdr' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeDividendBidPriceOrParValue' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeDividendPaymentAmount' | translate}}
                                        <br>{{'cfo.header.lifeDividendPaymentDate' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-if="ctrl.model.life_dividend_info[0]">
                                <tr ng-repeat="info in ctrl.model.life_dividend_info">
                                    <td>
                                        {{info.life_dividend_fund_name ? info.life_dividend_fund_name : '-'}}
                                    </td>
                                    <td>
                                        {{info.life_dividend_effective_dt ? (info.life_dividend_effective_dt | date:'dd MMM yyyy') : '-'}}
                                    </td>
                                    <td>
                                        {{info.life_dividend_fund_units ? info.life_dividend_fund_units : '-'}}
                                    </td>
                                    <td>
                                        {{info.life_dividend_payment_rate ? info.life_dividend_payment_rate : '-'}}
                                        <br>{{info.life_dividend_disbursement_method ? info.life_dividend_disbursement_method : '-'}}
                                    </td>
                                    <td>
                                        {{info.life_dividend_bid_price ? info.life_dividend_bid_price : '-'}} /
                                        <br> {{(info.life_dividend_par_value || info.life_dividend_par_value === 0) ? (info.life_dividend_par_value | currency:'') : '-'}} <sup ng-if="info.life_dividend_par_value || info.life_dividend_par_value === 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                    </td>
                                    <td>
                                        {{(info.life_dividend_payment_amount || info.life_dividend_payment_amount === 0) ? (info.life_dividend_payment_amount | currency:'') : '-'}} <sup ng-if="info.life_dividend_payment_amount || info.life_dividend_payment_amount === 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                        <br>{{info.life_dividend_payment_dt ? (info.life_dividend_payment_dt | date:'dd MMM yyyy') : '-'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.life_dividend_info[0]">
                                <tr>
                                    <td colspan="6">{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.fundTransRecordDetail}">
        <div class="polDetails__section-panel__header"
            name="fundTransRecord"
            data-toggle="collapse"
            data-target="#fundTransRecordDetail"
            id="fundTransRecordDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.fundTransRecordDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.fundTransRecordDetail}">
            <span class="padding-left-7">{{'cfo.header.fundTransactionRecords' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.fundTransRecordDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.fundTransRecordDetail">
            </span>
        </div>
        <div class="collapse in"
            id="fundTransRecordDetail"
            ng-init="ctrl.initCollapse('fundTransRecordDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_fundTransRecordDetail table"
                            id="fundTransRecordDetailTable"
                            ng-init="ctrl.initTable('fundTransRecordDetailTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeTransactionType' | translate}}
                                        <br>{{'cfo.header.fundName' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.priceEffectiveDate' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.unitPrice' | translate}}
                                        <br>{{'cfo.header.lifeTransactionUnits' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeTransactionAmt' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeTransactionBalanceUnits' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-if="ctrl.model.life_fund_transaction_records[0]">
                                <tr ng-repeat="record in ctrl.model.life_fund_transaction_records">
                                    <td>
                                        {{record.life_transaction_type ? record.life_transaction_type : '-'}}
                                        <br>{{record.life_transaction_fund_name ? record.life_transaction_fund_name : '-'}}
                                    </td>
                                    <td>
                                        {{record.life_transaction_price_effective_dt ? (record.life_transaction_price_effective_dt | date:'dd MMM yyyy') : '-'}}
                                    </td>
                                    <td>
                                        {{(record.life_transaction_unit_price || record.life_transaction_unit_price === 0) ? (record.life_transaction_unit_price | currency:'':3) : '-'}} <sup ng-if="record.life_transaction_unit_price || record.life_transaction_unit_price === 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                        <br>{{record.life_transaction_units ? record.life_transaction_units : '-'}}
                                    </td>
                                    <td>
                                        {{(record.life_transaction_amount || record.life_transaction_amount === 0) ? (record.life_transaction_amount | currency:'') : '-'}} <sup ng-if="record.life_transaction_amount || record.life_transaction_amount === 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                    </td>
                                    <td>
                                        {{(record.life_transaction_balance_units || record.life_transaction_balance_units === 0) ? (record.life_transaction_balance_units | currency:'') : '-'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.life_fund_transaction_records[0]">
                                <tr>
                                    <td colspan="5">{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-align-center padding-10"
                        ng-if="ctrl.isMorePage && ctrl.model.life_fund_transaction_records[0]">
                        <div class="db-action db-action-button"
                            ng-click="ctrl.loadMore()">
                            <span>{{'cfo.button.loadMoreBtn' | translate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
