<div class="row padding-top-20">
    <div class="polDetails__representative-section-panel float-left">
        <div class="display-table-cell">
            <div class="display-table-cell v-align-middle">
                <div class="font-size-11">{{'cfo.label.representative' | translate}}</div>
                <div class="polDetails__representative-details__name">{{ctrl.salesforce.financial_planner_name === undefined ? '-' : ctrl.salesforce.financial_planner_name}}</div>
            </div>
            <div class="polDetails__representative-details-wrapper">
                <div class="polDetails__representative-details">
                    <img class="polDetails__icon-small inline-block"
                        src="images/rep-ic-email.png"
                        ng-click="ctrl.toggleEmail()"
                        ng-if="ctrl.showEmail">
                    <img class="polDetails__icon-small inline-block"
                        src="images/rep-ic-email-d.png"
                        ng-click="ctrl.toggleEmail()"
                        ng-if="!ctrl.showEmail">
                    <span class="polDetails__representative-details__email"
                        ng-if="ctrl.showEmail">
                    <a ng-if="ctrl.salesforce.email_address" href="{{'mailto:' + ctrl.salesforce.email_address}}">{{ctrl.salesforce.email_address}}</a>
                    <span ng-if="!ctrl.salesforce.email_address">-</span></span>
                </div>
                <div class="polDetails__representative-details">
                    <img class="polDetails__icon-small"
                        src="images/rep-ic-contact.png"
                        ng-click="ctrl.toggleContactNumber()"
                        ng-if="ctrl.showContactNumber">
                    <img class="polDetails__icon-small"
                        src="images/rep-ic-contact-d.png"
                        ng-click="ctrl.toggleContactNumber()"
                        ng-if="!ctrl.showContactNumber">
                    <span class="polDetails__representative-details__contact-no"
                        ng-if="ctrl.showContactNumber">{{ctrl.salesforce.contact_number === undefined ? '-' : ctrl.salesforce.contact_number}}</span>
                </div>
                <div class="polDetails__representative-details__info-no padding-left-5">
                    <div class="display-table-cell v-align-middle">
                        <img class="polDetails__icon-small"
                            src="images/rep-ic-info.png"
                            ng-click="ctrl.toggleInfoNumber()"
                            ng-if="ctrl.showInfoNumber">
                        <img class="polDetails__icon-small"
                            src="images/rep-ic-info-d.png"
                            ng-click="ctrl.toggleInfoNumber()"
                            ng-if="!ctrl.showInfoNumber">
                    </div>
                    <div class="polDetails__representative-details__info-no padding-left-4"
                        id="representativeInfoNo"
                        ng-if="ctrl.showInfoNumber">
                        <div class="inline-block v-align-middle">
                            <div class="font-size-11">{{'cfo.label.masNo' | translate}}</div>
                            <div class="polDetails__representative-details__mas-no">{{ctrl.salesforce.mas_issued_rep_no === undefined ? '-' : ctrl.salesforce.mas_issued_rep_no}}</div>
                        </div>
                        <span class="polDetails__divider inline-block v-align-middle"></span>
                        <div class="inline-block v-align-middle"
                            ng-init="ctrl.initRepInfoNo()">
                            <div class="font-size-11">{{'cfo.label.consultantNo' | translate}}</div>
                            <div class="polDetails__representative-details__consult-no">{{ctrl.salesforce.consultant_number === undefined ? '-' : ctrl.salesforce.consultant_number}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__action-panel text-align-right">
        <div class="inline-block">
            <div class="pointer__cursor"
                ng-if="ctrl.showExpandAll"
                ng-click="ctrl.expandAll()">
                <span>
                    <img class="padding-right-6 padding-bottom-3"
                    src="images/sign_plus.png">
                </span>
                <span class="float-right">{{'cfo.button.expandAll' | translate}}</span>
            </div>
            <div class="pointer__cursor"
                ng-if="!ctrl.showExpandAll"
                ng-click="ctrl.collapseAll()">
                <span class="">
                    <img class="padding-right-6 padding-bottom-3"
                    src="images/sign_minus.png">
                </span>
                <span class="float-right">{{'cfo.button.collapseAll' | translate}}</span>
            </div>
        </div>
        <!-- <span class="polDetails__divider"></span>
        <div class="polDetails__ddl-display-action"
            ng-click="">
            <span>{{'cfo.label.iWantToSelect' | translate}}</span>
            <img src="images/red-down-arrow.png">
        </div>
        <div class="inline-block">
            <button class="button button--grey-thin right-button polDetails__go-button polDetails__white-button"
                ng-click="">{{'cfo.button.go' | translate}}
            </button>
            <span class="polDetails__divider"></span>
            <button class="button button--red-thin right-button polDetails__pay-prem-button"
                ng-click="">{{'cfo.button.payPremium' | translate}}
            </button>
        </div> -->
    </div>
</div>

<div class="row margin-top-25">
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.covBenefitInfoDetail}">
        <div class="polDetails__section-panel__header"
            name="covBenefitInfo"
            data-toggle="collapse"
            data-target="#covBenefitInfoDetail"
            id="covBenefitInfoDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.covBenefitInfoDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.covBenefitInfoDetail}">
            <span class="padding-left-7">{{'cfo.header.coverageBenefitInformation' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.covBenefitInfoDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.covBenefitInfoDetail">
            </span>
        </div>
        <div class="collapse in"
            id="covBenefitInfoDetail"
            ng-init="ctrl.initCollapse('covBenefitInfoDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_covBenefitInfo table"
                            id="covBenefitInfoTable"
                            ng-init="ctrl.initTable('covBenefitInfoTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.benefitName' | translate}}
                                        <br>{{'cfo.header.coverageBenefitLifeAssured' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.benefitStatus' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.coverageBenefitSumAssured' | translate}}
                                        <br>{{'cfo.header.coverageBenefitInstallmentPremium' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.coverStartDate' | translate}}
                                        <br>{{'cfo.header.coverEndDate' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-if="ctrl.model.life_benefit[0]">
                                <tr ng-repeat="benefit in ctrl.model.life_benefit">
                                    <td>
                                        {{benefit.life_benefit_name ? benefit.life_benefit_name : '-'}}
                                        <br>{{benefit.life_benefit_life_assured ? benefit.life_benefit_life_assured : '-'}}
                                    </td>
                                    <td>
                                        {{benefit.life_benefit_status ? benefit.life_benefit_status : '-'}}
                                    </td>
                                    <td>
                                        {{(benefit.life_benefit_current_sum_assured || benefit.life_benefit_current_sum_assured === 0) ? ctrl.roundDown(benefit.life_benefit_current_sum_assured) : '-'}} <sup ng-if="benefit.life_benefit_current_sum_assured || benefit.life_benefit_current_sum_assured === 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                        <br>{{(benefit.life_benefit_installment_premium || benefit.life_benefit_installment_premium === 0) ? (benefit.life_benefit_installment_premium | currency:'') : '-'}} <sup ng-if="benefit.life_benefit_installment_premium || benefit.life_benefit_installment_premium === 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                    </td>
                                    <td>
                                        {{benefit.life_benefit_covered_start_dt ? (benefit.life_benefit_covered_start_dt | date:'dd MMM yyyy') : '-'}}
                                        <br>{{benefit.life_benefit_covered_end_dt ? (benefit.life_benefit_covered_end_dt | date:'dd MMM yyyy') : '-'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.life_benefit[0]">
                                <tr>
                                    <td colspan="4">{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.polFinancialInfoDetail}">
        <div class="polDetails__section-panel__header"
            name="polFinancialInfo"
            data-toggle="collapse"
            data-target="#polFinancialInfoDetail"
            id="polFinancialInfoDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.polFinancialInfoDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.polFinancialInfoDetail}">
            <span class="padding-left-7">{{'cfo.header.policyFinancialInformation' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.polFinancialInfoDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.polFinancialInfoDetail">
            </span>
        </div>
        <div class="collapse in"
            id="polFinancialInfoDetail"
            ng-init="ctrl.initCollapse('polFinancialInfoDetail', true)">
            <div class="polDetails-section__body">
                <div class="row no-margin">
                    <div class="col-xs-12 col-sm-6 no-padding">
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <div class="detail-section__row__label">{{'cfo.label.lifeFinancialPaymentFrequency' | translate}}</div>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{ctrl.model.life_financial.life_financial_payment_frequency ? ctrl.model.life_financial.life_financial_payment_frequency : '-'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <div class="detail-section__row__label">{{'cfo.label.lifeFinancialNextPremiumDueDate' | translate}}</div>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{ctrl.model.life_financial.life_financial_next_premium_due_date ? (ctrl.model.life_financial.life_financial_next_premium_due_date| date: 'dd MMM yyyy') : '-'}}</div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.nextPremiumDueAmount' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{(ctrl.model.life_financial.life_financial_next_premium_due_amount || ctrl.model.life_financial.life_financial_next_premium_due_amount === 0) ? (ctrl.model.life_financial.life_financial_next_premium_due_amount | currency:'') : '-'}} <sup ng-if="ctrl.model.life_financial.life_financial_next_premium_due_amount || ctrl.model.life_financial.life_financial_next_premium_due_amount === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifeFinancialPremiumEndDate' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{ctrl.model.life_financial.life_financial_premium_end_dt ? (ctrl.model.life_financial.life_financial_premium_end_dt| date: 'dd MMM yyyy') : '-'}}</div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <div class="detail-section__row__label">{{'cfo.label.lifeFinancialLastPaidDate' | translate}}</div>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{ctrl.model.life_financial.life_financial_last_paid_dt ? (ctrl.model.life_financial.life_financial_last_paid_dt | date: 'dd MMM yyyy') : '-'}}</div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <div class="detail-section__row__label">{{'cfo.label.lifeFinancialSuspenseAmt' | translate}}</div>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{(ctrl.model.life_financial.life_financial_suspense_amount || ctrl.model.life_financial.life_financial_suspense_amount === 0) ? (ctrl.model.life_financial.life_financial_suspense_amount | currency: '') : '-'}} <sup ng-if="ctrl.model.life_financial.life_financial_suspense_amount || ctrl.model.life_financial.life_financial_suspense_amount === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup></div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <div class="detail-section__row__label">{{'cfo.label.lifeFinancialAplBalance' | translate}}</div>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{(ctrl.model.life_financial.life_financial_accumulated_apl_amount || ctrl.model.life_financial.life_financial_accumulated_apl_amount === 0) ? (ctrl.model.life_financial.life_financial_accumulated_apl_amount | currency: '') : '-'}} <sup ng-if="ctrl.model.life_financial.life_financial_accumulated_apl_amount || ctrl.model.life_financial.life_financial_accumulated_apl_amount === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup></div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <div class="detail-section__row__label">{{'cfo.label.lifeFinancialAplRepaymentAmount' | translate}}</div>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{(ctrl.model.life_financial.life_financial_apl_deduction_amount || ctrl.model.life_financial.life_financial_apl_deduction_amount === 0) ? (ctrl.model.life_financial.life_financial_apl_deduction_amount | currency: '') : '-'}} <sup ng-if="ctrl.model.life_financial.life_financial_apl_deduction_amount || ctrl.model.life_financial.life_financial_apl_deduction_amount === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup></div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <div class="detail-section__row__label">{{'cfo.label.lifeFinancialAplRepaymentFrequency' | translate}}</div>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{ctrl.model.life_financial.life_financial_apl_deduction_frequency ? ctrl.model.life_financial.life_financial_apl_deduction_frequency : '-'}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 no-padding">
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <div class="detail-section__row__label">{{'cfo.label.currency' | translate}}</div>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">
                                    {{ctrl.model.life_financial.life_financial_currency ? ctrl.model.life_financial.life_financial_currency : '-'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <div class="detail-section__row__label">{{'cfo.label.lifefinancialMinAmtToPreventLapse' | translate}}</div>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">
                                    {{(ctrl.model.life_financial.life_financial_prevent_lapse_min_amount || ctrl.model.life_financial.life_financial_prevent_lapse_min_amount === 0) ? (ctrl.model.life_financial.life_financial_prevent_lapse_min_amount | currency:'') : '-'}} <sup ng-if="ctrl.model.life_financial.life_financial_prevent_lapse_min_amount || ctrl.model.life_financial.life_financial_prevent_lapse_min_amount === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup></div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <div class="detail-section__row__label">{{'cfo.label.lifefinancialMinAmtToReinstate' | translate}}</div>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">
                                    {{(ctrl.model.life_financial.life_financial_reinstate_min_amount || ctrl.model.life_financial.life_financial_reinstate_min_amount === 0) ? (ctrl.model.life_financial.life_financial_reinstate_min_amount | currency:'') : '-'}} <sup ng-if="ctrl.model.life_financial.life_financial_reinstate_min_amount || ctrl.model.life_financial.life_financial_reinstate_min_amount === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup></div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <div class="detail-section__row__label">{{'cfo.label.lifeFinancialLoanBalance' | translate}}</div>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">
                                    {{(ctrl.model.life_financial.life_financial_accumulated_loan_amount || ctrl.model.life_financial.life_financial_accumulated_loan_amount === 0) ? (ctrl.model.life_financial.life_financial_accumulated_loan_amount | currency:'') : '-'}} <sup ng-if="ctrl.model.life_financial.life_financial_accumulated_loan_amount || ctrl.model.life_financial.life_financial_accumulated_loan_amount === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup></div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <div class="detail-section__row__label">{{'cfo.label.lifeFinancialLoanRepaymentAmount' | translate}}</div>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">
                                    {{(ctrl.model.life_financial.life_financial_loan_deduction_amount || ctrl.model.life_financial.life_financial_loan_deduction_amount === 0) ? (ctrl.model.life_financial.life_financial_loan_deduction_amount | currency:'') : '-'}} <sup ng-if="ctrl.model.life_financial.life_financial_loan_deduction_amount || ctrl.model.life_financial.life_financial_loan_deduction_amount === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup></div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <div class="detail-section__row__label">{{'cfo.label.lifeFinancialLoanRepaymentFrequency' | translate}}</div>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">
                                    {{(ctrl.model.life_financial.life_financial_loan_deduction_frequency || ctrl.model.life_financial.life_financial_loan_deduction_frequency === 0) ? ctrl.model.life_financial.life_financial_loan_deduction_frequency : '-'}} <sup ng-if="ctrl.model.life_financial.life_financial_loan_deduction_frequency || ctrl.model.life_financial.life_financial_loan_deduction_frequency === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 no-padding">
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-3">
                                <span class="detail-section__row__label">{{'cfo.label.paymentMethod' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-9 padding-left-32">
                                <div class="detail-section__row__value">
                                    {{ctrl.model.life_financial.life_financial_payment_method ? ctrl.model.life_financial.life_financial_payment_method : '-'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-3">
                                <span class="detail-section__row__label">{{'cfo.label.lifeFinancialLastDeductionDate' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-9 padding-left-32">
                                <div class="detail-section__row__value">
                                    {{ctrl.model.life_financial.life_financial_last_deduction_dt ? (ctrl.model.life_financial.life_financial_last_deduction_dt | date:'dd MMM yyyy') : '-'}}</div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-3">
                                <span class="detail-section__row__label">{{'cfo.label.lifefinancialUnsuccessfulReason' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-9 padding-left-32">
                                <div class="detail-section__row__value">
                                    {{ctrl.model.life_financial.life_financial_unsuccessful_reason ? ctrl.model.life_financial.life_financial_unsuccessful_reason : '-'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.polValuesDetail}">
        <div class="polDetails__section-panel__header"
            name="polValues"
            data-toggle="collapse"
            data-target="#polValuesDetail"
            id="polValuesDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.polValuesDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.polValuesDetail}">
            <span class="padding-left-7">{{'cfo.header.policyValues' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.polValuesDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.polValuesDetail">
            </span>
        </div>
        <div class="collapse in"
            id="polValuesDetail"
            ng-init="ctrl.initCollapse('polValuesDetail', true)">
            <div class="polDetails-section__body">
                <div class="row no-margin">
                    <div class="col-xs-12 col-sm-6 no-padding">
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifeValueNetSurrenderValue' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">
                                    {{(ctrl.model.life_value.life_value_net_surrender || ctrl.model.life_value.life_value_net_surrender === 0) ? (ctrl.model.life_value.life_value_net_surrender | currency : '') : '-'}} <sup ng-if="ctrl.model.life_value.life_value_net_surrender || ctrl.model.life_value.life_value_net_surrender === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifeValueNetAvailableLoanValue' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">
                                    {{(ctrl.model.life_value.life_value_net_available_loan || ctrl.model.life_value.life_value_net_available_loan === 0) ? (ctrl.model.life_value.life_value_net_available_loan | currency : '') : '-'}} <sup ng-if="ctrl.model.life_value.life_value_net_available_loan || ctrl.model.life_value.life_value_net_available_loan === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifeValueSurvivalBenefitsBalance' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">
                                    {{(ctrl.model.life_value.life_value_accum_survival_benefits || ctrl.model.life_value.life_value_accum_survival_benefits === 0) ? (ctrl.model.life_value.life_value_accum_survival_benefits | currency : '') : '-'}} <sup ng-if="ctrl.model.life_value.life_value_accum_survival_benefits || ctrl.model.life_value.life_value_accum_survival_benefits === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifeValueSurvivalBenefitsBalanceOption' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">
                                    {{ctrl.model.life_value.life_value_survival_benefits_option_description ? ctrl.model.life_value.life_value_survival_benefits_option_description : '-'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 no-padding">
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifeValueAccumRBAsAt' | translate}} {{ctrl.model.life_value.life_value_accum_rb_as_at_dt ? (ctrl.model.life_value.life_value_accum_rb_as_at_dt | date : 'dd MMM yyyy') : '-'}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">
                                    {{(ctrl.model.life_value.life_value_accum_rb || ctrl.model.life_value.life_value_accum_rb === 0) ? (ctrl.model.life_value.life_value_accum_rb | currency : '') : '-'}} <sup ng-if="ctrl.model.life_value.life_value_accum_rb || ctrl.model.life_value.life_value_accum_rb === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifeValueCashBonusBalance' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">
                                    {{(ctrl.model.life_value.life_value_accum_cash_benefits || ctrl.model.life_value.life_value_accum_cash_benefits === 0) ? (ctrl.model.life_value.life_value_accum_cash_benefits | currency : '') : '-'}} <sup ng-if="ctrl.model.life_value.life_value_accum_cash_benefits || ctrl.model.life_value.life_value_accum_cash_benefits === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifeValueCashBonusBalanceOption' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">
                                    {{ctrl.model.life_value.life_value_cash_benefits_option ? ctrl.model.life_value.life_value_cash_benefits_option : '-'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="polDetails__note">{{'cfo.label.lifeValueNote' | translate}}</div>
            </div>
        </div>
    </div>
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.cashBenefitsDetail}">
        <div class="polDetails__section-panel__header"
            name="cashBenefits"
            data-toggle="collapse"
            data-target="#cashBenefitsDetail"
            id="cashBenefitsDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.cashBenefitsDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.cashBenefitsDetail}">
            <span class="padding-left-7">{{'cfo.header.cashBenefitRecords' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.cashBenefitsDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.cashBenefitsDetail">
            </span>
        </div>
        <div class="collapse in"
            id="cashBenefitsDetail"
            ng-init="ctrl.initCollapse('cashBenefitsDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_cashBenefitsDetail table"
                            id="cashBenefitsDetailTable"
                            ng-init="ctrl.initTable('cashBenefitsDetailTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.benefitName' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeCashBenefitsAllocationDt' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeCashBenefitsAllocationAmt' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.disbursementMethodHdr' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-if="ctrl.model.life_cash_benefit_record[0]">
                                <tr ng-repeat="info in ctrl.model.life_cash_benefit_record">
                                    <td>
                                        {{info.life_cash_benefit_name ? info.life_cash_benefit_name : '-'}}
                                    </td>
                                    <td>
                                        {{info.life_cash_benefit_allocation_dt ? (info.life_cash_benefit_allocation_dt | date:'dd MMM yyyy') : '-'}}
                                    </td>
                                    <td>
                                        {{(info.life_cash_benefit_allocation_amount || info.life_cash_benefit_allocation_amount === 0) ? (info.life_cash_benefit_allocation_amount | currency:'') : '-'}} <sup ng-if="info.life_cash_benefit_allocation_amount || info.life_cash_benefit_allocation_amount === 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                    </td>
                                    <td>
                                        {{info.life_cash_benefit_disbursement_method ? info.life_cash_benefit_disbursement_method : '-'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.life_cash_benefit_record[0]">
                                <tr>
                                    <td colspan="4">{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.depositInfoDetail}"
        ng-if="ctrl.model.life_is_universal_life === 'Y'">
        <div class="polDetails__section-panel__header"
            name="depositInfo"
            data-toggle="collapse"
            data-target="#depositInfoDetail"
            id="depositInfoDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.depositInfoDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.depositInfoDetail}">
            <span class="padding-left-7">{{'cfo.header.depositInformation' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.depositInfoDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.depositInfoDetail">
            </span>
        </div>
        <div class="collapse in"
            id="depositInfoDetail"
            ng-init="ctrl.initCollapse('depositInfoDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_depositInfo table"
                            id="depositInfoTable"
                            ng-init="ctrl.initTable('depositInfoTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeDepositType' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeDepositBalance' | translate}}
                                        <br>{{'cfo.header.lifeDepositCapitalisationBalance' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeDepositInterestBalance' | translate}}
                                        <br>{{'cfo.header.lifeDepositAccumulatedInterest' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.lifeDepositCalculatedOn' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-if="ctrl.model.life_deposit[0]">
                                <tr ng-repeat="deposit in ctrl.model.life_deposit">
                                    <td>
                                        {{deposit.life_deposit_type ? deposit.life_deposit_type : '-'}}
                                    </td>
                                    <td>
                                        {{(deposit.life_deposit_principle_balance || deposit.life_deposit_principle_balance === 0) ? (deposit.life_deposit_principle_balance | currency:'') : '-'}} <sup ng-if="deposit.life_deposit_principle_balance || deposit.life_deposit_principle_balance === 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                        <br>{{(deposit.life_deposit_capitalization_principle_balance || deposit.life_deposit_capitalization_principle_balance === 0) ? (deposit.life_deposit_capitalization_principle_balance | currency:'') : '-'}} <sup ng-if="deposit.life_deposit_capitalization_principle_balance || deposit.life_deposit_capitalization_principle_balance === 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                    </td>
                                    <td>
                                        {{(deposit.life_deposit_interest_balance || deposit.life_deposit_interest_balance=== 0) ? (deposit.life_deposit_interest_balance | currency:'') : '-'}} <sup ng-if="deposit.life_deposit_interest_balance || deposit.life_deposit_interest_balance=== 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                        <br>{{(deposit.life_deposit_accum_interest_balance || deposit.life_deposit_accum_interest_balance === 0) ? (deposit.life_deposit_accum_interest_balance | currency:'') : '-'}} <sup ng-if="deposit.life_deposit_accum_interest_balance || deposit.life_deposit_accum_interest_balance === 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                    </td>
                                    <td>
                                        {{deposit.life_deposit_latest_interest_calculation_dt ? (deposit.life_deposit_latest_interest_calculation_dt | date:'dd MMM yyyy') : '-'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.life_deposit[0]">
                                <tr>
                                    <td colspan="4">{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
