<div class="row padding-top-20">
    <div class="polDetails__representative-section-panel float-left">
        <div class="display-table-cell">
            <div class="display-table-cell v-align-middle">
                <div class="font-size-11">{{'cfo.label.representative' | translate}}</div>
                <div class="polDetails__representative-details__name">{{ctrl.salesforce.financial_planner_name === undefined ? '-' : ctrl.salesforce.financial_planner_name}}</div>
            </div>
            <div class="polDetails__representative-details-wrapper">
                <div class="polDetails__representative-details">
                    <img class="polDetails__icon-small inline-block"
                        src="images/rep-ic-email.png"
                        ng-click="ctrl.toggleEmail()"
                        ng-if="ctrl.showEmail">
                    <img class="polDetails__icon-small inline-block"
                        src="images/rep-ic-email-d.png"
                        ng-click="ctrl.toggleEmail()"
                        ng-if="!ctrl.showEmail">
                    <span class="polDetails__representative-details__email"
                        ng-if="ctrl.showEmail">
                    <a ng-if="ctrl.salesforce.email_address" href="{{'mailto:' + ctrl.salesforce.email_address}}">{{ctrl.salesforce.email_address}}</a>
                    <span ng-if="!ctrl.salesforce.email_address">-</span></span>
                </div>
                <div class="polDetails__representative-details">
                    <img class="polDetails__icon-small"
                        src="images/rep-ic-contact.png"
                        ng-click="ctrl.toggleContactNumber()"
                        ng-if="ctrl.showContactNumber">
                    <img class="polDetails__icon-small"
                        src="images/rep-ic-contact-d.png"
                        ng-click="ctrl.toggleContactNumber()"
                        ng-if="!ctrl.showContactNumber">
                    <span class="polDetails__representative-details__contact-no"
                        ng-if="ctrl.showContactNumber">{{ctrl.salesforce.contact_number === undefined ? '-' : ctrl.salesforce.contact_number}}</span>
                </div>
                <div class="polDetails__representative-details__info-no padding-left-5">
                    <div class="display-table-cell v-align-middle">
                        <img class="polDetails__icon-small"
                            src="images/rep-ic-info.png"
                            ng-click="ctrl.toggleInfoNumber()"
                            ng-if="ctrl.showInfoNumber">
                        <img class="polDetails__icon-small"
                            src="images/rep-ic-info-d.png"
                            ng-click="ctrl.toggleInfoNumber()"
                            ng-if="!ctrl.showInfoNumber">
                    </div>
                    <div class="polDetails__representative-details__info-no padding-left-4"
                        id="representativeInfoNo"
                        ng-if="ctrl.showInfoNumber">
                        <div class="inline-block v-align-middle">
                            <div class="font-size-11">{{'cfo.label.masNo' | translate}}</div>
                            <div class="polDetails__representative-details__mas-no">{{ctrl.salesforce.mas_issued_rep_no === undefined ? '-' : ctrl.salesforce.mas_issued_rep_no}}</div>
                        </div>
                        <span class="polDetails__divider inline-block v-align-middle"></span>
                        <div class="inline-block v-align-middle"
                            ng-init="ctrl.initRepInfoNo()">
                            <div class="font-size-11">{{'cfo.label.consultantNo' | translate}}</div>
                            <div class="polDetails__representative-details__consult-no">{{ctrl.salesforce.consultant_number === undefined ? '-' : ctrl.salesforce.consultant_number}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__action-panel text-align-right">
        <div class="inline-block">
            <div class="pointer__cursor"
                ng-if="ctrl.showExpandAll"
                ng-click="ctrl.expandAll()">
                <span>
                    <img class="padding-right-6 padding-bottom-3"
                    src="images/sign_plus.png">
                </span>
                <span class="float-right">{{'cfo.button.expandAll' | translate}}</span>
            </div>
            <div class="pointer__cursor"
                ng-if="!ctrl.showExpandAll"
                ng-click="ctrl.collapseAll()">
                <span class="">
                    <img class="padding-right-6 padding-bottom-3"
                    src="images/sign_minus.png">
                </span>
                <span class="float-right">{{'cfo.button.collapseAll' | translate}}</span>
            </div>
        </div>
        <!-- <span class="polDetails__divider"></span>
        <div class="polDetails__ddl-display-action"
            ng-click="">
            <span>{{'cfo.label.iWantToSelect' | translate}}</span>
            <img src="images/red-down-arrow.png">
        </div>
        <div class="inline-block">
            <button class="button button--grey-thin right-button polDetails__go-button polDetails__white-button"
                ng-click="">{{'cfo.button.go' | translate}}
            </button>
            <span class="polDetails__divider"></span>
            <button class="button button--red-thin right-button polDetails__pay-prem-button"
                ng-click="">{{'cfo.button.payPremium' | translate}}
            </button>
        </div> -->
    </div>
</div>

<div class="row margin-top-25">
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.covBenefitInfoDetail}">
        <div class="polDetails__section-panel__header"
            name="covBenefitInfo"
            data-toggle="collapse"
            data-target="#covBenefitInfoDetail"
            id="covBenefitInfoDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.covBenefitInfoDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.covBenefitInfoDetail}">
            <span class="padding-left-7">{{'cfo.header.coverageBenefitInformation' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.covBenefitInfoDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.covBenefitInfoDetail">
            </span>
        </div>
        <div class="collapse in"
            id="covBenefitInfoDetail"
            ng-init="ctrl.initCollapse('covBenefitInfoDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_covBenefitInfo table"
                            id="covBenefitInfoTable"
                            ng-init="ctrl.initTable('covBenefitInfoTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.govtCoverageBenefitAmount' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.govtCoverageBenefitFreeCoverHdr' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.govtCoverageBenefitBonusSumAssuredHdr' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.govtCoverageBenefitAdditionalBonusSumAssuredHdr' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-if="ctrl.model.life_benefit[0]">
                                <tr ng-repeat="benefit in ctrl.model.life_benefit">
                                    <td>
                                        {{(benefit.life_benefit_current_sum_assured || benefit.life_benefit_current_sum_assured === 0) ? ctrl.roundDown(benefit.life_benefit_current_sum_assured) : '-'}} <sup ng-if="benefit.life_benefit_current_sum_assured || benefit.life_benefit_current_sum_assured === 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                    </td>
                                    <td>
                                        {{benefit.life_benefit_free_cover ? benefit.life_benefit_free_cover : '-'}}
                                    </td>
                                    <td>
                                        {{(benefit.life_benefit_bonus_sum_assured || benefit.life_benefit_bonus_sum_assured === 0) ? ctrl.roundDown(benefit.life_benefit_bonus_sum_assured) : '-'}} <sup ng-if="benefit.life_benefit_bonus_sum_assured || benefit.life_benefit_bonus_sum_assured === 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                    </td>
                                    <td>
                                        {{(benefit.life_benefit_additional_bonus_sum_assured || benefit.life_benefit_additional_bonus_sum_assured === 0) ? ctrl.roundDown(benefit.life_benefit_additional_bonus_sum_assured) : '-'}} <sup ng-if="benefit.life_benefit_additional_bonus_sum_assured || benefit.life_benefit_additional_bonus_sum_assured === 0"
                                            class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.life_benefit[0]">
                                <tr>
                                    <td colspan="4">{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.polFinancialInfoDetail}">
        <div class="polDetails__section-panel__header"
            name="polFinancialInfo"
            data-toggle="collapse"
            data-target="#polFinancialInfoDetail"
            id="polFinancialInfoDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.polFinancialInfoDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.polFinancialInfoDetail}">
            <span class="padding-left-7">{{'cfo.header.policyFinancialInformation' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.polFinancialInfoDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.polFinancialInfoDetail">
            </span>
        </div>
        <div class="collapse in"
            id="polFinancialInfoDetail"
            ng-init="ctrl.initCollapse('polFinancialInfoDetail', true)">
            <div class="polDetails-section__body">
                <div class="row no-margin">
                    <div class="col-xs-12 col-sm-6 no-padding">
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifeFinancialPaymentFrequency' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{ctrl.model.life_financial.life_financial_payment_frequency ? ctrl.model.life_financial.life_financial_payment_frequency : '-'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifeFinancialNextPremiumDueDate' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{ctrl.model.life_financial.life_financial_next_premium_due_date ? (ctrl.model.life_financial.life_financial_next_premium_due_date| date: 'dd MMM yyyy') : '-'}}</div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.nextPremiumDueAmount' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{(ctrl.model.life_financial.life_financial_next_premium_due_amount || ctrl.model.life_financial.life_financial_next_premium_due_amount === 0) ? (ctrl.model.life_financial.life_financial_next_premium_due_amount | currency:'') : '-'}} <sup ng-if="ctrl.model.life_financial.life_financial_next_premium_due_amount || ctrl.model.life_financial.life_financial_next_premium_due_amount === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 no-padding">
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifeFinancialLastPaidDate' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{ctrl.model.life_financial.life_financial_last_paid_dt ? (ctrl.model.life_financial.life_financial_last_paid_dt | date: 'dd MMM yyyy') : '-'}}</div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-7">
                                <span class="detail-section__row__label">{{'cfo.label.lifeFinancialSuspenseAmt' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 no-padding">
                                <div class="detail-section__row__value">{{(ctrl.model.life_financial.life_financial_suspense_amount || ctrl.model.life_financial.life_financial_suspense_amount === 0) ? (ctrl.model.life_financial.life_financial_suspense_amount | currency: '') : '-'}} <sup ng-if="ctrl.model.life_financial.life_financial_suspense_amount || ctrl.model.life_financial.life_financial_suspense_amount === 0"
                                        class="font-size-8">{{ctrl.model.life_financial.life_financial_currency}}</sup></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 no-padding">
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-3">
                                <span class="detail-section__row__label">{{'cfo.label.paymentMethod' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-9 padding-left-32">
                                <div class="detail-section__row__value">
                                    {{ctrl.model.life_financial.life_financial_payment_method ? ctrl.model.life_financial.life_financial_payment_method : '-'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-3">
                                <span class="detail-section__row__label">{{'cfo.label.lifeFinancialLastDeductionDate' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-9 padding-left-32">
                                <div class="detail-section__row__value">
                                    {{ctrl.model.life_financial.life_financial_last_deduction_dt ? (ctrl.model.life_financial.life_financial_last_deduction_dt | date:'dd MMM yyyy') : '-'}}</div>
                            </div>
                        </div>
                        <div class="col-xs-12 detail-section__row">
                            <div class="col-xs-12 col-sm-3">
                                <span class="detail-section__row__label">{{'cfo.label.lifefinancialUnsuccessfulReason' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-9 padding-left-32">
                                <div class="detail-section__row__value">
                                    {{ctrl.model.life_financial.life_financial_unsuccessful_reason ? ctrl.model.life_financial.life_financial_unsuccessful_reason : '-'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="polDetails__section-panel"
        ng-class="{'margin-bottom-3' : ctrl.collapsePanel.paymentMethodDetail}">
        <div class="polDetails__section-panel__header"
            name="paymentMethod"
            data-toggle="collapse"
            data-target="#paymentMethodDetail"
            id="paymentMethodDetailControl"
            ng-class="{'polDetails__section-panel__header-expand' : ctrl.collapsePanel.paymentMethodDetail, 'polDetails__section-panel__header-collapse' : !ctrl.collapsePanel.paymentMethodDetail}">
            <span class="padding-left-7">{{'cfo.header.paymentMethodBreakdown' | translate}}</span>
            <span class="float-right">
                <img src="images/sign_plus.png"
                    ng-if="!ctrl.collapsePanel.paymentMethodDetail">
                <img src="images/sign_minus.png"
                    ng-if="ctrl.collapsePanel.paymentMethodDetail">
            </span>
        </div>
        <div class="collapse in"
            id="paymentMethodDetail"
            ng-init="ctrl.initCollapse('paymentMethodDetail', true)">
            <div class="polDetails-section__body">
                <div class="row polDetails__section-panel__padding">
                    <div class="col-xs-12">
                        <table class="footable_paymentMethodDetail table"
                            id="paymentMethodDetailTable"
                            ng-init="ctrl.initTable('paymentMethodDetailTable')">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.paymentMethodHdr' | translate}}
                                    </th>
                                    <th data-sort-ignore="true">
                                        {{'cfo.header.percentageAmount' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-if="ctrl.model.life_goverment_payment_method[0]">
                                <tr ng-repeat="method in ctrl.model.life_goverment_payment_method">
                                    <td>{{method.life_govt_payment_method ? method.life_govt_payment_method : '-'}}</td>
                                    <td>
                                        {{(method.life_govt_percentage_amount || method.life_govt_percentage_amount === 0) ? (method.life_govt_percentage_amount | currency:'') : '-'}}<span ng-if="method.life_govt_percentage_amount || method.life_govt_percentage_amount === 0">%</span>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="table-listing-no-record"
                                ng-if="!ctrl.model.life_goverment_payment_method[0]">
                                <tr>
                                    <td colspan="2">{{'cfo.label.noRecordFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
