<div class="container nopadding">

    <div class="page__body">
        <!-- ng-if="ctrl.model"> -->
        <div class="page-section">
            <div class="page-section__header">
                <div class="page-section__header__title no-margin-bottom">
                    <h1 class="override-h1">{{'cfo.header.fundDetails' | translate}}</h1></div>
            </div>
            <div class="page-section__body">
                <div class="row">
                    <table class="footable_policy table">
                        <thead>
                            <tr style="background-color:grey;">
                                <th>{{'cfo.header.lifeClaimCaseNumber' | translate}}</th>
                                <th>{{'cfo.header.claimTypeHdr' | translate}}</th>
                                <th data-hide="phone">{{'cfo.header.lifeClaimNotificationDate' | translate}}</th>
                                <th data-hide="phone">{{'cfo.header.lifeClaimEventDate' | translate}}</th>
                                <th data-hide="phone">{{'cfo.header.lifeClaimStatus' | translate}}</th>
                                <th data-hide="phone, tablet">{{'cfo.header.lifeClaimAmountHdr' | translate}}</th>
                                <th data-hide="phone, tablet">{{'cfo.header.lifeClaimSettlementAmount' | translate}}</th>
                                <th data-hide="phone, tablet">{{'cfo.header.lifeClaimSettlementDate' | translate}}</th>
                                <th data-hide="phone, tablet">{{'cfo.header.lifeClaimPaymentStatus' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="claim in ctrl.model">
                                <td>{{::claim.claim_num}}</td>
                                <td>{{::claim.claim_type}}</td>
                                <td>{{::claim.notification_dt | date:'dd MMM yyyy'}}</td>
                                <td>{{::claim.event_dt | date:'dd MMM yyyy'}}</td>
                                <td>{{::claim.claim_status}}</td>
                                <td>{{::claim.claim_amount|currency:''}}</td>
                                <td>{{::claim.settlement_amount|currency:''}}</td>
                                <td>{{::claim.settlement_dt | date:'dd MMM yyyy'}}</td>
                                <td>{{::claim.payment_status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
