<div class="container nopadding">
    <div class="page__body">
        <div class="page-section">
            <div class="page-section__header">
                <div class="page-section__header__title no-margin-bottom">
                    <h1 class="override-h1">{{'cfo.header.policyBasicDetails' | translate}}</h1></div>
            </div>
            <div class="page-section__body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="detail-section__row">
                            <div class="">
                                <span class="detail-section__row__label">{{'cfo.label.policyNumber' | translate}}</span>
                            </div>
                            <div class="">
                                <div class="detail-section__row__value">
                                    {{::ctrl.model.number ? ctrl.model.number : '-'}}</div>
                            </div>
                        </div>
                        <div class="detail-section__row">
                            <div class="">
                                <span class="detail-section__row__label">{{'cfo.label.planType' | translate}}</span>
                            </div>
                            <div class="">
                                <div class="detail-section__row__value">
                                    {{::ctrl.model.product_name}}</div>
                            </div>
                        </div>
                        <div class="detail-section__row">
                            <div class="">
                                <span class="detail-section__row__label">{{'cfo.label.distributionRepresentative' | translate}}</span>
                            </div>
                            <div class="">
                                <div class="detail-section__row__value"><a ng-click="ctrl.getFinancialPlannerDetail()">{{::ctrl.model.financial_planner_name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="detail-section__row">
                            <div class="">
                                <div class="detail-section__row__label">{{'cfo.header.proposalStatus' | translate}}</div>
                            </div>
                            <div class="">
                                <div class="detail-section__row__value">{{::ctrl.model.status}}</div>
                            </div>
                        </div>
                        <div class="detail-section__row">
                            <div class="">
                                <div class="detail-section__row__label">{{'cfo.label.policyProposalRegistrationDate' | translate}}</div>

                            </div>
                            <div class="">
                                <div class="detail-section__row__value">
                                    {{::ctrl.model.registration_dt | date: 'dd MMM yyyy'}}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="page-section">
            <div class="page-section__header">
                <div class="page-section__header__title"
                    style="margin-bottom:0px;">
                    <h1 class="override-h1">{{'cfo.header.underwritingInformation'|translate}}</h1></div>
            </div>
            <div class="page-section__body">
                <div class="">
                    <div class="detail-section__row">
                        <div class="">
                            <div class="detail-section__row__value">{{::ctrl.model.underwriting_info ? ctrl.model.underwriting_info : '-'}}</div>
                        </div>
                    </div>
                    <div class=" detail-section__row">
                        <div class="">
                            <div class="detail-section__row__value">{{::ctrl.model.underwriting_info ? ctrl.model.underwriting_info : '-'}}</div>
                        </div>
                    </div>
                    <div class="detail-section__row">
                        <div class="">
                            <div class="detail-section__row__value">{{::ctrl.model.underwriting_info ? ctrl.model.underwriting_info : '-'}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-section">

            <div class="page-section__header">
                <div class="page-section__header__title"
                    style="margin-bottom:0px;">
                    <h1 class="override-h1">{{'cfo.header.premiumRecords'|translate}}</h1>
                </div>
            </div>

            <div class="page-section__body">
                <div class="">
                    <!--                     <div class="detail-section__row">
                        <div class="">
                            <span class="detail-section__row__label">{{'cfo.label.premiumLastReceivedDate' | translate}}</span>
                        </div>
                        <div class="">
                            <div class="detail-section__row__value">{{::ctrl.model.premiumRecords.receivedDate ? (ctrl.model.premiumRecords.receivedDate| date:'dd MMM yyyy') : '-'}}</div>
                        </div>
                    </div> -->
                    <div class="detail-section__row">
                        <div class="">
                            <span class="detail-section__row__label">{{'cfo.label.totalInforcingPremium' | translate}}</span>
                        </div>
                        <div class="">
                            <div class="detail-section__row__value">{{::ctrl.model.premiumRecords.receivedAmount ? (ctrl.model.premiumRecords.receivedAmount | currency:'') : '-'}}</div>
                        </div>
                    </div>
                    <div class="detail-section__row">
                        <div class="">
                            <span class="detail-section__row__label">{{'cfo.label.paymentBy' | translate}}</span>
                        </div>
                        <div class="">
                            <div class="detail-section__row__value">{{::ctrl.model.premiumRecords.paymentBy ? ctrl.model.premiumRecords.paymentBy : '-'}}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
