<div class="row">
    <div class="polDetails__action-panel text-align-right">
        <div class="inline-block">
            <button class="button button--light-grey right-button polDetails__white-button"
                ng-click="ctrl.addNewNonGEPolicy()">
                <span>
                    <img class="padding-right-6"
                    src="images/ic-add.png">
                </span>{{'cfo.button.addNonGePolicy' | translate}}
            </button>
        </div>
    </div>
</div>
<div ng-if="ctrl.hasModel()">
    <div class="row"
        ng-if="ctrl.showDeletePolicySection">
        <div class="nonGEpolicydetails__delete-section-panel">
            <div>
                <div class="nonGEpolicydetails__delete-message">
                    <h4>{{'cfo.label.confirmDeleteMessage' | translate}}</h4>
                </div>
                <div class="nonGEpolicydetails__delete-button-section">
                    <div class="left-wrapper">
                        <input type="button"
                            value="{{'cfo.button.btnYes' | translate}}"
                            class="button button--light-grey right-button"
                            ng-click="ctrl.deleteNonGEPolicy(ctrl.model.id)" />
                    </div>
                    <div class="left-wrapper">
                        <input type="button"
                            value="{{'cfo.button.btnNo' | translate}}"
                            class="button button--red-thin right-button"
                            ng-click="ctrl.displayDeletePolicySection()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-25">

        <div class="polDetails__section-panel"
            ng-class="{'margin-bottom-3' : ctrl.collapsePanel.polFinancialInfoDetail}">
            <div class="polDetails__section-panel__header"
                name="polFinancialInfo"
                id="polFinancialInfoDetailControl">
                <span class="padding-left-7">{{'cfo.header.policyDetailsInformation' | translate}}</span>
            </div>
            <div id="polFinancialInfoDetail">
                <!-- ng-init="ctrl.initCollapse('polFinancialInfoDetail', false)"> -->
                <div class="polDetails-section__body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="detail-section__row">
                                <div class="col-xs-12 col-sm-7">
                                    <span class="detail-section__row__label">{{'cfo.label.planName' | translate}}</span>
                                </div>
                                <div class="col-xs-12 col-sm-5">
                                    <div class="detail-section__row__value">{{ctrl.model.product_name ? ctrl.model.product_name : '-'}}
                                    </div>
                                </div>
                            </div>
                            <div class="detail-section__row">
                                <div class="col-xs-12 col-sm-7">
                                    <span class="detail-section__row__label">{{'cfo.header.coverageBenefitSumAssured' | translate}}</span>
                                </div>
                                <div class="col-xs-12 col-sm-5">
                                    <div class="detail-section__row__value">{{(ctrl.model.sum_assured || ctrl.model.sum_assured === 0) ? ctrl.roundDown(ctrl.model.sum_assured) : '-'}} <sup ng-if="ctrl.model.sum_assured || ctrl.model.sum_assured === 0"
                                            class="font-size-8">{{ctrl.model.sum_assured_currency}}</sup>
                                    </div>
                                </div>
                            </div>
                            <div class="detail-section__row">
                                <div class="col-xs-12 col-sm-7">
                                    <span class="detail-section__row__label">{{'cfo.label.commencementDate' | translate}}</span>
                                </div>
                                <div class="col-xs-12 col-sm-5">
                                    <div class="detail-section__row__value">{{ctrl.model.commencement_dt ? (ctrl.model.commencement_dt| date: 'dd MMM yyyy') : '-'}}</div>
                                </div>
                            </div>
                            <div class="detail-section__row">
                                <div class="col-xs-12 col-sm-7">
                                    <span class="detail-section__row__label">{{'cfo.label.policyCoverageEndDate' | translate}}</span>
                                </div>
                                <div class="col-xs-12 col-sm-5">
                                    <div class="detail-section__row__value">{{ctrl.model.coverage_end_dt ? (ctrl.model.coverage_end_dt | date: 'dd MMM yyyy') : '-'}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 ">
                            <div class="detail-section__row">
                                <div class="col-xs-12 col-sm-7">
                                    <span class="detail-section__row__label">{{'cfo.label.policyType' | translate}}</span>
                                </div>
                                <div class="col-xs-12 col-sm-5">
                                    <div class="detail-section__row__value">{{ctrl.model.category_name ? ctrl.model.category_name : '-'}}</div>
                                </div>
                            </div>
                            <div class="detail-section__row">
                                <div class="col-xs-12 col-sm-7">
                                    <span class="detail-section__row__label">{{'cfo.label.lifeFinancialPremiumAmt' | translate}}</span>
                                </div>
                                <div class="col-xs-12 col-sm-5">
                                    <div class="detail-section__row__value">{{(ctrl.model.premium || ctrl.model.premium === 0) ? (ctrl.model.premium | currency: '') : '-'}} <sup ng-if="ctrl.model.premium || ctrl.model.premium === 0"
                                            class="font-size-8">{{ctrl.model.premium_currency}}</sup></div>
                                </div>
                            </div>
                            <div class="detail-section__row">
                                <div class="col-xs-12 col-sm-7">
                                    <span class="detail-section__row__label">{{'cfo.label.lifeFinancialPaymentFrequency' | translate}}</span>
                                </div>
                                <div class="col-xs-12 col-sm-5">
                                    <div class="detail-section__row__value">{{ctrl.model.payment_frequency ? ctrl.model.payment_frequency : '-'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12"
                            ng-if="!ctrl.showDeletePolicySection">
                            <div class="non-ge-policy__button-sub-section padding-left-18">
                                <div class="left-wrapper">
                                    <input type="button"
                                        value="{{'cfo.button.delete' | translate}}"
                                        class="button button--light-grey right-button"
                                        ng-click="ctrl.displayDeletePolicySection()" />
                                </div>
                                <div class="left-wrapper">
                                    <input type="button"
                                        value="{{'cfo.button.update' | translate}}"
                                        class="button button--red-thin right-button"
                                        ng-click="ctrl.updateNonGEPolicy(ctrl.model.id)" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
