<div class="container padding-right-0">
    <div class="page_header">
        <h3 class="font-size-38">{{'cfo.header.myPolicyDetails' | translate}}</h3>
    </div>
    <div class="row margin-right--37">
        <div class="col-md-4 col-xs-12 polDetails__width">
            <div class="row no-padding margin-top-15">
                <div class="col-sm-2 col-md-2 col-xs-2 top-5">
                    <!-- This section of code is commented because for now, we do not need to list out all the policies -->
                    <!-- <img ng-if="ctrl.selectedPolicyType === 'allPolicies'"
                        class="polDetails__icon"
                        src="images/ic-ap.png"> -->
                    <img ng-if="ctrl.selectedPolicyType === 'lifeProtection'"
                        class="polDetails__icon"
                        src="images/ic-lp.png">
                    <img ng-if="ctrl.selectedPolicyType === 'healthProtection'"
                        class="polDetails__icon"
                        src="images/ic-hp.png">
                    <img ng-if="ctrl.selectedPolicyType === 'personalAccident'"
                        class="polDetails__icon"
                        src="images/ic-pa.png">
                    <img ng-if="ctrl.selectedPolicyType === 'wealthAccumulation'"
                        class="polDetails__icon"
                        src="images/ic-wa.png">
                    <img ng-if="ctrl.selectedPolicyType === 'retirementPlanning'"
                        class="polDetails__icon"
                        src="images/ic-rp.png">
                    <img ng-if="ctrl.selectedPolicyType === 'lifestyleProtection'"
                        class="polDetails__icon"
                        src="images/ic-lsp.png">
                    <img ng-if="ctrl.selectedPolicyType === 'employeeBenefits'"
                        class="polDetails__icon"
                        src="images/ic-eb.png">
                    <img ng-if="ctrl.selectedPolicyType === 'nonGePolicies'"
                        class="polDetails__icon"
                        src="images/ic-nge.png">
                    <img ng-if="ctrl.selectedPolicyType === 'otherInforcePolicies'"
                        class="polDetails__icon"
                        src="images/ic-oi.png">
                    <img class="polDetails__icon margin-top-35"
                        src="images/ic-plans.png"
                        ng-if="ctrl.productList.length > 0">
                </div>
                <div class="col-sm-8 col-md-8 col-xs-9 poldetails__ddl-section">
                    <div>{{'cfo.label.policyType' | translate}}</div>
                    <div class="polDetails__ddl-wrapper polDetails__ddl-wrapper__z-index">
                        <div class="polDetails__ddl-display-item"
                            ng-click="ctrl.togglePolicyList($event)">
                            <span class="polDetails__ddl-display-item__name">{{ctrl.displayPolicyType | translate}} (<b>{{ctrl.displayPolicyTypeCount}}</b>)</span>
                            <img src="images/red-down-arrow.png">
                        </div>
                        <div class="polDetails__ddl-container-wrapper"
                            ng-show="ctrl.showPolicyTypes">
                            <div class="polDetails__ddl-container"
                                id="policyTypesDdl">
                                <div ng-repeat="item in ctrl.policyTypes"
                                    class="polDetails__ddl-item"
                                    ng-class="{'polDetails__ddl-selected-item': ctrl.selectedPolicyType === item.id, 'db-ddl-disabled-item' : !item.recordTotal}"
                                    ng-click="ctrl.selectPolicyType(item.id)">
                                    <span>{{item.header | translate}}</span>
                                    <span class="float-right">({{item.recordTotal ? item.recordTotal : '0'}})
                                </div>
                            </div>
                            <div ng-if="!ctrl.endOfDdl" class="ddl__gradient"></div>
                        </div>
                    </div>

                    <hr class="polDetails__hr-style">

                    <div ng-if="ctrl.productList.length > 0">
                        <div ng-if="ctrl.displayProduct.type !=='EXTERNAL'">{{ctrl.displayProduct.number}}</div>
                        <div class="polDetails__ddl-wrapper">
                            <div class="polDetails__ddl-display-item"
                                ng-click="ctrl.toggleProductList($event)">
                                <span class="polDetails__ddl-display-item__name">{{ctrl.displayProduct.product_name}}</span>
                                    <img src="images/red-down-arrow.png">
                                </div>
                                <div ng-if="ctrl.displayProduct.type !=='EXTERNAL'"
                                    class="polDetails__ddl-container-wrapper"
                                    ng-show="ctrl.showProductList">
                                    <div class="polDetails__ddl-container">
                                        <div ng-repeat="item in ctrl.productList"
                                            class="polDetails__ddl-item"
                                            ng-class="{'polDetails__ddl-selected-item': ctrl.selectedProduct === item.number}"
                                            ng-click="ctrl.selectProductList(item)">
                                            <span>{{item.product_name}}</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="ctrl.displayProduct.type ==='EXTERNAL'"
                                    class="polDetails__ddl-container-wrapper"
                                    ng-show="ctrl.showProductList">
                                    <div class="polDetails__ddl-container">
                                        <div ng-repeat="item in ctrl.productList"
                                            class="polDetails__ddl-item"
                                            ng-class="{'polDetails__ddl-selected-item': ctrl.selectedProduct === item.id}"
                                            ng-click="ctrl.selectProductList(item)">
                                            <span>{{item.product_name}}</span>
                                        </div>
                                    </div>
                                </div>

                                <hr class="polDetails__hr-style">
                                <div ng-if="ctrl.displayProduct.type !=='EXTERNAL'">
                                    <div class="polDetails__info-text">{{'cfo.label.policyStatus' | translate}}</div>
                                    <div class="margin-bottom-10">{{ctrl.displayProduct.status === undefined ? '-' : ctrl.displayProduct.status}}</div>

                                    <hr class="polDetails__hr-style">

                                    <div class="polDetails__info-text">{{'cfo.label.commencementDate' | translate}}</div>
                                    <div class="margin-bottom-10">{{ctrl.displayProduct.start_dt === undefined ? '-' : ctrl.displayProduct.start_dt | date:'dd MMM yyyy'}}
                                    </div>

                                    <hr class="polDetails__hr-style">

                                    <div class="polDetails__info-text">{{'cfo.label.policyCoverageEndDate' | translate}}</div>
                                    <div class="margin-bottom-10">{{ctrl.displayProduct.end_dt === undefined ? '-' : ctrl.displayProduct.end_dt | date:'dd MMM yyyy'}}
                                    </div>

                                    <hr class="polDetails__hr-style">

                                    <div class="polDetails__info-text">{{'cfo.label.policyPotentialLapseDate' | translate}}</div>
                                    <div class="margin-bottom-10">{{ctrl.displayProduct.potential_lapse_dt === undefined ? '-' : ctrl.displayProduct.potential_lapse_dt | date:'dd MMM yyyy'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-8 col-xs-12 polDetails__padding">
                <div ng-if="ctrl.userType !== 'CA'">
                    <div ng-if="ctrl.displayProduct.type === 'LIFE' && ctrl.displayProduct.product_type ==='TRADITIONAL'">
                        <life-policy-details-trad policy-details="ctrl.displayProduct"></life-policy-details-trad>
                    </div>
                    <div ng-if="ctrl.displayProduct.type ==='LIFE' && ctrl.displayProduct.product_type ==='GOVT'">
                        <life-policy-details-govt policy-details="ctrl.displayProduct"></life-policy-details-govt>
                    </div>
                    <div ng-if="ctrl.displayProduct.type === 'LIFE' && ctrl.displayProduct.product_type ==='ILP'">
                        <life-policy-details-ilp policy-details="ctrl.displayProduct"></life-policy-details-ilp>
                    </div>
                    <div ng-if="ctrl.displayProduct.type ==='LIFE' && ctrl.displayProduct.product_type ==='ANNUITY'">
                        <life-policy-detail-annuity policy-details="ctrl.displayProduct"></life-policy-detail-annuity>
                    </div>
                    <div ng-if="ctrl.displayProduct.type ==='LIFE' && ctrl.displayProduct.product_type ==='OTHERS'">
                        <life-policy-detail-others policy-details="ctrl.displayProduct"></life-policy-detail-others>
                    </div>
                    <div ng-if="ctrl.displayProduct.type === 'GROUP'">
                        <group-policy-details policy-details="ctrl.displayProduct"></group-policy-details>
                    </div>
                    <div ng-if="ctrl.displayProduct.type === 'GENERAL'">
                        <general-insurance-policy-detail policy-details="ctrl.displayProduct"></general-insurance-policy-detail>
                    </div>
                    <div ng-if="ctrl.selectedPolicyType ==='nonGePolicies'">
                        <non-ge-policy-details model="ctrl.displayProduct"></non-ge-policy-details>
                    </div>
                    <div ng-if="ctrl.displayProduct.type === 'GENERAL' && ctrl.displayProduct.product_type ==='OTHERS'">
                        <general-insurance-policy-others policy-details="ctrl.displayProduct"></general-insurance-policy-others>
                    </div>
                    <div ng-if="ctrl.policyState ==='claim' && ctrl.model[0]">
                        <life-claim-details policy-details="ctrl.model"></life-claim-details>
                    </div>
                    <div ng-if="ctrl.policyState ==='general claim' && ctrl.model[0]">
                        <general-claim-details policy-details="ctrl.model"></general-claim-details>
                    </div>
                    <div ng-if="ctrl.model[0] && ctrl.policyState ==='proposal'">
                        <life-proposal-details policy-details="ctrl.model[0]"></life-proposal-details>
                    </div>
                </div>
            </div>
        </div>
    </div>
