<!-- <script type="text/ng-template"
    id="dynamicFormConfigurator.html"> -->
<form>
    <div class="row">
        <div class="col-xs-12"
            style="margin-bottom:20px;margin-top:20px">
            <div class="row padding">
                <div class="col-xs-3">
                    <label>Form Name</label>
                </div>
                <div class="col-xs-6"
                    ng-init="ctrl.componentModel.name = (ctrl.componentModel.name === undefined) ? '' : ctrl.componentModel.name">
                    <input ng-model="ctrl.componentModel.name"
                        class="form-control"
                        type="text"
                        style="width:100%">
                </div>
            </div>
            <!-- <div class="row padding">
                <div class="col-xs-3">
                    <label>Form API Path</label>
                </div>
                <div class="col-xs-6">
                    <input ng-model="ctrl.componentModel.apiPath" class="form-control" type="text" style="width:100%">
                </div>
            </div> -->
            <div class="row padding">
                <div class="col-xs-3">
                    <label>Form Mode</label>
                </div>
                <div class="col-xs-6"
                    ng-init="ctrl.componentModel.mode = (ctrl.componentModel.mode === undefined) ? 'edit' : ctrl.componentModel.mode">
                    <select class="w-select form-control"
                        ng-model="ctrl.componentModel.mode">
                        <option value="edit">edit</option>
                        <option value="preview">preview</option>
                        <option value="view">view</option>
                    </select>
                </div>
            </div>
            <div class="row padding">
                <div class="col-xs-3">
                    Add Actions :
                </div>
                <div class="col-xs-3">
                    <input class="btn btn-primary"
                        type="button"
                        value="Add"
                        ng-click="ctrl.addAction()"
                        style="width:auto;">
                </div>
            </div>
            <div class="row margin"
                ng-repeat="action in ctrl.componentModel.actions"
                ng-init="ctrl.componentModel.actions = (ctrl.componentModel.actions === undefined) ? [] : ctrl.componentModel.actions"
                style="margin-top:10px">
                <div class="col-xs-12 panel panel default padding"
                    style="background:#F8F8F8;">
                    <div class="col-xs-12">
                        <div class="col-xs-3">
                            <button class="btn btn-danger"
                                ng-click="ctrl.removeAction($index)">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                            <label>Action {{$index + 1}}</label>
                        </div>
                        <div class="col-xs-2">
                            <label>Action Label</label>
                        </div>
                        <div class="col-xs-6">
                            <input ng-model="action.label"
                                class="form-control"
                                type="text"
                                style="width:100%">
                        </div>
                    </div>
                    <div class="col-xs-12"
                        style="margin-top:5px">
                        <div class="col-xs-offset-3 col-xs-2">
                            <label>Action Type</label>
                        </div>
                        <div class="col-xs-6">
                            <input ng-model="action.type"
                                class="form-control"
                                type="text"
                                style="width:100%">
                        </div>
                    </div>
                    <div class="col-xs-12"
                        style="margin-top:5px">
                        <div class="col-xs-offset-3 col-xs-2">
                            <label>Action API</label>
                        </div>
                        <div class="col-xs-6">
                            <input ng-model="action.apiPath"
                                class="form-control"
                                type="text"
                                style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"
                    role="tab"
                    id="srcPanel_{{ctrl.componentModel.name}}">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" 
                           data-target="#src_{{ctrl.componentModel.name}}" 
                           aria-expanded="true" 
                           aria-controls="src_{{ctrl.componentModel.name}}">
                          <span>Source Mapping</span>
                        </a>
                    </h3>
                </div>
                <div id="src_{{ctrl.componentModel.name}}"
                    class="panel-collapse collapse"
                    role="tabpanel"
                    aria-labelledby="srcPanel_{{ctrl.componentModel.name}}">
                    <div class="row padding">
                        <div class="col-xs-3" style="padding:7px 0 0 60px">
                            Source Mapping :
                        </div>
                        <div class="col-xs-5">
                            <select class="w-select form-control"
                                ng-model="ctrl.selectedSrcMappingName">
                                <option ng-repeat="name in ctrl.srcInputList track by $index"
                                    value="{{name}}"
                                    ng-if="ctrl.checkSrcDependency(name)">{{name}}</option>
                            </select>
                        </div>
                        <div class="col-xs-3">
                            <input class="btn btn-primary"
                                type="button"
                                value="Add"
                                ng-click="ctrl.addSrcMapping()"
                                style="width:auto;">
                        </div>
                    </div>
                    <div class="row margin"
                        ng-repeat="srcMapping in ctrl.componentModel.srcMappings"
                        ng-init="ctrl.componentModel.srcMappings = (ctrl.componentModel.srcMappings === undefined) ? [] : ctrl.componentModel.srcMappings"
                        style="margin-top:10px">
                        <div class="col-xs-12 panel panel default padding"
                            style="background:#F8F8F8;">
                            <div class="col-xs-12">
                                <div class="col-xs-2">
                                    <button class="btn btn-danger"
                                        ng-click="ctrl.removeSrcMapping($index)">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                    <label style="padding-left:40px">Map </label>
                                </div>
                                <div class="col-xs-4">
                                    <input ng-model="srcMapping.from"
                                        class="form-control"
                                        type="text"
                                        style="width:100%">
                                </div>
                                <div class="col-xs-1"
                                    style="padding-top:6px">
                                    <label> To </label>
                                </div>
                                <div class="col-xs-4"
                                    style="padding-top:6px">
                                    <label>{{srcMapping.to}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"
                    role="tab"
                    id="destPanel_{{ctrl.componentModel.name}}">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" 
                           data-target="#dest_{{ctrl.componentModel.name}}" 
                           aria-expanded="true" 
                           aria-controls="dest_{{ctrl.componentModel.name}}">
                          <span>Destination Mapping</span>
                        </a>
                    </h3>
                </div>
                <div id="dest_{{ctrl.componentModel.name}}"
                    class="panel-collapse collapse"
                    role="tabpanel"
                    aria-labelledby="destPanel_{{ctrl.componentModel.name}}">
                    <div class="row padding">
                        <div class="col-xs-3"
                            style="padding:7px 0 0 60px">
                            Destination Mapping :
                        </div>
                        <div class="col-xs-5">
                            <select class="w-select form-control"
                                ng-model="ctrl.selectedDestMappingName">
                                <option ng-repeat="name in ctrl.destInputList track by $index"
                                    value="{{name}}"
                                    ng-if="ctrl.checkDestDependency(name)">{{name}}</option>
                            </select>
                        </div>
                        <div class="col-xs-3">
                            <input class="btn btn-primary"
                                type="button"
                                value="Add"
                                ng-click="ctrl.addDestMapping()"
                                style="width:auto;">
                        </div>
                    </div>
                    <div class="row margin"
                        ng-repeat="destMapping in ctrl.componentModel.destMappings"
                        ng-init="ctrl.componentModel.destMappings = (ctrl.componentModel.destMappings === undefined) ? [] : ctrl.componentModel.destMappings"
                        style="margin-top:10px">
                        <div class="col-xs-12 panel panel default padding"
                            style="background:#F8F8F8;">
                            <div class="col-xs-12">
                                <div class="col-xs-2">
                                    <button class="btn btn-danger"
                                        ng-click="ctrl.removeDestMapping($index)">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                    <label style="padding-left:40px">Map </label>
                                </div>
                                <div class="col-xs-4">
                                    <label style="padding-top:6px">{{destMapping.from}}</label>
                                </div>
                                <div class="col-xs-1"
                                    style="padding-top:6px">
                                    <label> To </label>
                                </div>
                                <div class="col-xs-4">
                                    <input ng-model="destMapping.to"
                                        class="form-control"
                                        type="text"
                                        style="width:100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12"
            style="margin-bottom:20px">
            <div class="panel-group"
                id="accordion"
                role="tablist"
                aria-multiselectable="true">
                <!-- <form-attrs-panel form-attrs="ctrl.componentModel.attrs" form-name="ctrl.componentModel.name"></form-attrs-panel> -->
                <!-- <form-header-attrs-panel form-header-attrs="ctrl.componentModel.header.attrs" form-name="ctrl.componentModel.name"></form-header-attrs-panel> -->
                <!-- <form-error-panel form-error="ctrl.componentModel.error" form-name="ctrl.componentModel.name"></form-error-panel> -->
                <form-sections-group-panel form-sections="ctrl.componentModel.sections"
                    form-name="ctrl.componentModel.name"
                    form-mode="ctrl.componentModel.mode"
                    input-list="ctrl.inputList"
                    src-input-list="ctrl.srcInputList"
                    dest-input-list="ctrl.destInputList"></form-sections-group-panel>
            </div>
        </div>
    </div>
</form>
<!-- </script> -->
