<!-- <script type="text/ng-template"
    id="formAttrsPanel.html"> -->
<div class="panel panel-default">
    <div class="panel-heading"
        role="tab"
        id="formAttrs_{{ctrl.formName}}">
        <h4 class="panel-title">
                            <a data-toggle="collapse" 
                               data-target="#formAttrsBody_{{ctrl.formName}}" 
                               aria-expanded="true" 
                               aria-controls="formAttrsBody_{{ctrl.formName}}">
                              Form Attribute(s)
                            </a>
                        </h4>
    </div>
    <div id="formAttrsBody_{{ctrl.formName}}"
        class="panel-collapse collapse"
        role="tabpanel"
        aria-labelledby="formAttrs_{{ctrl.formName}}">
        <div class="panel-body">
            <div class="col-xs-2">
                <label for="newAttrName">Attribute Name</label>
            </div>
            <div class="col-xs-3">
                <input ng-model="ctrl.newAttrName"
                    class="form-control"
                    id="newAttrName"
                    name="newAttrName"
                    type="text"
                    style="width:100%">
            </div>
            <div class="col-xs-2">
                <label for="newAttrValue">Attribute Value</label>
            </div>
            <div class="col-xs-3">
                <input ng-model="ctrl.newAttrValue"
                    class="form-control"
                    id="newAttrValue"
                    name="newAttrValue"
                    type="text"
                    style="width:100%">
            </div>
            <div class="col-xs-3"
                style="margin-bottom:20px">
                <input class="btn btn-primary"
                    type="button"
                    value="Add Attribute"
                    ng-click="ctrl.addFormAttribute()"
                    style="width:auto;">
            </div>
            <div class="col-xs-12"
                style="margin-bottom:10px"
                ng-repeat="(attrKey, attrValue) in ctrl.formAttrs">
                <div class="col-xs-3">
                    <label for="{{attrKey}}">{{attrKey}}</label>
                </div>
                <div class="col-xs-3">
                    <input ng-model="ctrl.formAttrs[attrKey]"
                        class="form-control"
                        type="text"
                        style="width:100%">
                </div>
                <div class="col-xs-3">
                    <input class="w-button loggin_btn"
                        type="button"
                        value="Remove Attribute"
                        ng-click="ctrl.removeFormAttribute(attrKey)"
                        style="width:auto;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </script> -->
