<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="formHeaderAttr_{{ctrl.formName}}">
        <h4 class="panel-title">
                            <a data-toggle="collapse" 
                               data-target="#formHeaderAttrBody_{{ctrl.formName}}" 
                               aria-expanded="true" 
                               aria-controls="formHeaderAttrBody_{{ctrl.formName}}">
                              Form Header Attribute(s)
                            </a>
                        </h4>
    </div>
    <div id="formHeaderAttrBody_{{ctrl.formName}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="formHeaderAttr_{{ctrl.formName}}">
        <div class="panel-body">
        </div>
    </div>
</div>
