<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="formSecGrp_{{ctrl.formName}}">
        <h4 class="panel-title">
                            <a data-toggle="collapse" 
                               data-target="#formSecGrpBody_{{ctrl.formName}}" 
                               aria-expanded="true" 
                               aria-controls="formSecGrpBody_{{ctrl.formName}}">
                              Form Sections
                            </a>
                        </h4>
    </div>
    <div id="formSecGrpBody_{{ctrl.formName}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="formSecGrp_{{ctrl.formName}}">
        <div class="panel-body">
            <div class="col-xs-12" style="margin-bottom:10px">
                <div class="col-xs-10 col-sm-6 col-md-4">
                    <label>Section Name</label>
                </div>
                <div class="col-xs-10 col-sm-6 col-md-4"
                    ng-init="ctrl.sectionName = (ctrl.sectionName === undefined) ? '' : ctrl.sectionName">
                    <input ng-keydown="ctrl.enterToAddFormSection($event)" ng-model="ctrl.sectionName" class="form-control" type="text" style="width:100%">
                </div>
            </div>
            <div class="col-xs-12" style="margin-bottom:10px">
                <div class="col-xs-10 col-sm-6 col-md-4">
                    <label>Display mode (Default: Inherit Form Mode)</label>
                </div>
                <div class="col-xs-10 col-sm-6 col-md-4"
                    ng-init="ctrl.sectionMode = (ctrl.sectionMode === undefined) ? '' : ctrl.sectionMode">
                    <select ng-keydown="ctrl.enterToAddFormSection($event)" class="w-select form-control" ng-model="ctrl.sectionMode">
                        <option value="">Inherit Form Mode</option>
                        <option value="edit">edit</option>
                        <option value="preview">preview</option>
                        <option value="view">view</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12" style="margin-bottom:20px">
                <div class="col-xs-12">
                    <input class="btn btn-primary" type="button" value="Add Section" ng-click="ctrl.addFormSection()" style="width:auto;">
                </div>
            </div>
            <div class="col-xs-12" ng-repeat="section in ctrl.formSections">
                <a ng-if="$index > 0" ng-click="ctrl.moveSection($index,$index-1)">Move up  </a><a ng-click="ctrl.moveSection($index,$index+1)" ng-if="$index < (ctrl.formSections.length - 1)">Move Down</a>
                <div class="panel-group" id="accordion_{{section.id}}" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <button type="button" class="btn btn-danger" style="float:right;" ng-click="ctrl.removeFormSection(section.id)">Remove Section</button>
                        <div class="panel-heading" role="tab" id="formSection_{{section.id}}">
                            <h3 class="panel-title">
                            <a data-toggle="collapse" 
                               data-target="#section_{{section.id}}" 
                               aria-expanded="true" 
                               aria-controls="section_{{section.id}}">
                              <span>Form Section: <b>{{section.name}}</b></span>
                              <span ng-if="section.mode" style="padding-left:20px;">Mode: <b>{{section.mode}}</b></span>
                              <span ng-if="!section.mode" style="padding-left:20px;">Mode: <b>Inherit Form Mode</b></span>
                            </a>
                        </h3>
                        </div>
                        <div id="section_{{section.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="formSection_{{section.id}}">
                            <form-section-panel section="section" form-input-list="ctrl.inputList" form-src-input-list="ctrl.srcInputList" form-dest-input-list="ctrl.destInputList"></form-section-panel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
