<div class="panel-body">
    <div class="row padding">
        <div class="col-xs-3">
            <label>CSS Class</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.fieldGroup.cssClass = (ctrl.fieldGroup.cssClass === undefined) ? '' : ctrl.fieldGroup.cssClass">
            <input ng-model="ctrl.fieldGroup.cssClass"
                class="form-control"
                type="text"
                style="width:100%">
        </div>
    </div>
    <div class="row padding"
        style="margin-bottom:10px">
        <div class="col-xs-3">
            <label>CSS Style</label>
        </div>
        <div class="col-xs-6"
            ng-init="ctrl.fieldGroup.style = (ctrl.fieldGroup.style === undefined) ? '' : ctrl.fieldGroup.style">
            <textarea style=""
                rows="1"
                ng-model="ctrl.fieldGroup.style"
                class="form-control"
                style="width:100%"></textarea>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12 col-sm-10 col-md-4"
            ng-init="ctrl.selectedInputType = (ctrl.selectedInputType === undefined) ? '' : ctrl.selectedInputType">
            <select class="w-select form-control"
                ng-model="ctrl.selectedInputType">
                <option value="">Select Input Type</option>
                <option value="datePicker">Date Picker</option>
                <option value="singleLineText">Single Line Text</option>
                <option value="multiLineText">Multi Line Text</option>
                <option value="dropDownList">Drop Down List</option>
                <option value="radioGroup">Radio Button</option>
                <option value="checkbox">Check Box</option>
                <option value="plainView">HTML Template</option>
                <option value="plainText">Plain Text</option>
                <option value="modalDialogLink">Modal Dialog Link</option>
                <option value="formAction">Form Action</option>
                <option value="fileUpload">File Upload</option>
                <option value="autoCompleteInput">Autocomplete Input</option>
                <option value="buttonGroup">Button Group</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-5 col-md-4"
            style="margin-bottom:10px">
            <input class="form-control"
                type="text"
                placeholder="name"
                ng-model="ctrl.fieldName"
                style="width:auto;">
        </div>
        <div class="col-xs-6 col-sm-5 col-md-4"
            style="margin-bottom:10px">
            <input class="btn btn-primary"
                type="button"
                value="Add Field"
                ng-click="ctrl.addField()"
                style="width:auto;">
        </div>
    </div>
    <div class="col-xs-12"
        style="border-bottom:2px solid #ccc;margin-bottom:20px"
        width="100%"></div>
    <div class="col-xs-12"
        ng-if="ctrl.fieldGroup.columns && ctrl.fieldGroup.columns.length > 0"
        ng-repeat="column in ctrl.fieldGroup.columns">
        <a ng-if="$index > 0"
            ng-click="ctrl.moveField($index,$index-1)">Move up  </a><a ng-click="ctrl.moveField($index,$index+1)"
            ng-if="$index < (ctrl.fieldGroup.columns.length - 1)">Move Down</a>
        <div class="panel-group"
            id="accordion_{{column.id}}"
            role="tablist"
            aria-multiselectable="true">
            <div class="panel panel-default">
                <button type="button"
                    class="btn btn-danger"
                    style="float:right;"
                    ng-click="ctrl.removeField(column.name)">Remove Column</button>
                <div class="panel-heading"
                    role="tab"
                    id="field_{{column.id}}">
                    <h3 class="panel-title">
                            <a data-toggle="collapse" 
                               data-target="#column_{{column.id}}" 
                               aria-expanded="true" 
                               aria-controls="column_{{column.id}}">
                              <span>Field: <b>{{column.name}}</b></span>
                              <span style="padding-left:20px;">Type: <b>{{column.type}}</b></span>
                            </a>
                        </h3>
                </div>
                <div id="column_{{column.id}}"
                    class="panel-collapse collapse"
                    role="tabpanel"
                    aria-labelledby="field_{{column.id}}">
                    <single-line-text-config field="column"
                        form-input-list="ctrl.formInputList"
                        form-src-input-list="ctrl.formSrcInputList"
                        form-dest-input-list="ctrl.formDestInputList"
                        ng-if="column.type === 'singleLineText'"></single-line-text-config>
                    <multi-line-text-config field="column"
                        form-input-list="ctrl.formInputList"
                        form-src-input-list="ctrl.formSrcInputList"
                        form-dest-input-list="ctrl.formDestInputList"
                        ng-if="column.type === 'multiLineText'"></multi-line-text-config>
                    <date-picker-config field="column"
                        form-input-list="ctrl.formInputList"
                        form-src-input-list="ctrl.formSrcInputList"
                        form-dest-input-list="ctrl.formDestInputList"
                        ng-if="column.type === 'datePicker'"></date-picker-config>
                    <drop-down-list-config field="column"
                        form-input-list="ctrl.formInputList"
                        form-src-input-list="ctrl.formSrcInputList"
                        form-dest-input-list="ctrl.formDestInputList"
                        ng-if="column.type === 'dropDownList'"></drop-down-list-config>
                    <radio-group-config field="column"
                        form-input-list="ctrl.formInputList"
                        form-src-input-list="ctrl.formSrcInputList"
                        form-dest-input-list="ctrl.formDestInputList"
                        ng-if="column.type === 'radioGroup'"></radio-group-config>
                    <check-box-config field="column"
                        form-input-list="ctrl.formInputList"
                        form-src-input-list="ctrl.formSrcInputList"
                        form-dest-input-list="ctrl.formDestInputList"
                        ng-if="column.type === 'checkbox'"></check-box-config>
                    <plain-view-config field="column"
                        form-input-list="ctrl.formInputList"
                        form-src-input-list="ctrl.formSrcInputList"
                        form-dest-input-list="ctrl.formDestInputList"
                        ng-if="column.type === 'plainView'"></plain-view-config>
                    <plain-text-config field="column"
                        form-input-list="ctrl.formInputList"
                        form-src-input-list="ctrl.formSrcInputList"
                        form-dest-input-list="ctrl.formDestInputList"
                        ng-if="column.type === 'plainText'"></plain-text-config>
                    <modal-dialog-link-config field="column"
                        form-input-list="ctrl.formInputList"
                        form-src-input-list="ctrl.formSrcInputList"
                        form-dest-input-list="ctrl.formDestInputList"
                        ng-if="column.type === 'modalDialogLink'"></modal-dialog-link-config>
                    <form-action-config field="column"
                        form-input-list="ctrl.formInputList"
                        form-src-input-list="ctrl.formSrcInputList"
                        form-dest-input-list="ctrl.formDestInputList"
                        ng-if="column.type === 'formAction'"></form-action-config>
                    <file-upload-config field="column"
                        form-input-list="ctrl.formInputList"
                        form-src-input-list="ctrl.formSrcInputList"
                        form-dest-input-list="ctrl.formDestInputList"
                        ng-if="column.type === 'fileUpload'"></file-upload-config>
                    <auto-complete-input-config field="column"
                        form-input-list="ctrl.formInputList"
                        form-src-input-list="ctrl.formSrcInputList"
                        form-dest-input-list="ctrl.formDestInputList"
                        ng-if="column.type === 'autoCompleteInput'"></auto-complete-input-config>
                    <button-group-config field="column"
                        form-input-list="ctrl.formInputList"
                        form-src-input-list="ctrl.formSrcInputList"
                        form-dest-input-list="ctrl.formDestInputList"
                        ng-if="column.type === 'buttonGroup'"></button-group-config>
                </div>
            </div>
        </div>
    </div>
</div>
