<!-- <script type="text/ng-template"
    id="formErrorPanel.html">
 -->
    <div class="panel panel-default">
        <div class="panel-heading"
            role="tab"
            id="formError_{{ctrl.formName}}">
            <h4 class="panel-title">
            <a data-toggle="collapse" 
               data-target="#formErrorBody_{{ctrl.formName}}" 
               aria-expanded="true" 
               aria-controls="formErrorBody_{{ctrl.formName}}">
              Form Errors
            </a>
        </h4>
        </div>
        <div id="formErrorBody_{{ctrl.formName}}"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="formError_{{ctrl.formName}}">
            <div class="panel-body">
                <div class="col-xs-12"
                    style="margin-bottom:10px">
                    <h3>Error Attributes</h3>
                    <div class="col-xs-12">
                        <div class="col-xs-2">
                            <label for="newErrorAttrName">Attribute Name</label>
                        </div>
                        <div class="col-xs-3">
                            <input ng-model="ctrl.newErrorAttrName"
                                class="form-control"
                                name="newErrorAttrName"
                                type="text"
                                style="width:100%">
                        </div>
                        <div class="col-xs-2">
                            <label for="newErrorAttrValue">Attribute Value</label>
                        </div>
                        <div class="col-xs-3">
                            <input ng-model="ctrl.newErrorAttrValue"
                                class="form-control"
                                name="newErrorAttrValue"
                                type="text"
                                style="width:100%">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-3"
                            style="margin-bottom:20px">
                            <input class="btn btn-primary"
                                type="button"
                                value="Add Attribute"
                                ng-click="ctrl.addErrorAttribute()"
                                style="width:auto;">
                        </div>
                    </div>
                    <hr style="border-top:2px solid"
                        width="100%">
                    <div class="col-xs-12"
                        style="margin-bottom:10px"
                        ng-repeat="(attrKey, attrValue) in ctrl.formError.attrs">
                        <div class="col-xs-3">
                            <label for="{{attrKey}}">{{attrKey}}</label>
                        </div>
                        <div class="col-xs-3">
                            <input ng-model="ctrl.formError.attrs[attrKey]"
                                class="form-control"
                                type="text"
                                style="width:100%">
                        </div>
                        <div class="col-xs-3">
                            <input class="btn btn-primary"
                                type="button"
                                value="Remove Attribute"
                                ng-click="ctrl.removeErrorAttribute(attrKey)"
                                style="width:auto;">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <h3>Error Child Attributes</h3>
                    <div class="col-xs-12">
                        <div class="col-xs-2">
                            <label for="newErrorChildAttrName">Attribute Name</label>
                        </div>
                        <div class="col-xs-3">
                            <input ng-model="ctrl.newErrorChildAttrName"
                                class="form-control"
                                name="newErrorChildAttrName"
                                type="text"
                                style="width:100%">
                        </div>
                        <div class="col-xs-2">
                            <label for="newErrorChildAttrValue">Attribute Value</label>
                        </div>
                        <div class="col-xs-3">
                            <input ng-model="ctrl.newErrorChildAttrValue"
                                class="form-control"
                                name="newErrorChildAttrValue"
                                type="text"
                                style="width:100%">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-3"
                            style="margin-bottom:20px">
                            <input class="w-button loggin_btn"
                                type="button"
                                value="Add Attribute"
                                ng-click="ctrl.addErrorChildAttribute()"
                                style="width:auto;">
                        </div>
                    </div>
                    <hr style="border-top:2px solid"
                        width="100%">
                    <div class="col-xs-12"
                        style="margin-bottom:10px"
                        ng-repeat="(attrKey, attrValue) in ctrl.formError.childAttrs">
                        <div class="col-xs-3">
                            <label for="{{attrKey}}">{{attrKey}}</label>
                        </div>
                        <div class="col-xs-3">
                            <input ng-model="ctrl.formError.childAttrs[attrKey]"
                                class="form-control"
                                type="text"
                                style="width:100%">
                        </div>
                        <div class="col-xs-3">
                            <input class="w-button loggin_btn"
                                type="button"
                                value="Remove Attribute"
                                ng-click="ctrl.removeErrorChildAttribute(attrKey)"
                                style="width:auto;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </script> -->
