<div class="panel-body">
    <div class="row padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label>Section Name</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <input ng-model="ctrl.section.name"
                class="form-control"
                type="text"
                style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label>Display mode</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <select class="w-select form-control"
                ng-model="ctrl.section.mode"
                style="margin-bottom:0">
                <option value="">Inherit Form Mode</option>
                <option value="edit">edit</option>
                <option value="preview">preview</option>
                <option value="view">view</option>
            </select>
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label>Section Collapsible</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4"
            ng-init="ctrl.section.collapsible = (ctrl.section.collapsible === undefined) ? false : ctrl.section.collapsible">
            <input ng-model="ctrl.section.collapsible"
                type="radio"
                ng-value="true"> Yes &nbsp;&nbsp;&nbsp;&nbsp;
            <input ng-model="ctrl.section.collapsible"
                type="radio"
                ng-value="false"> No
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label>Header Text (Optional)</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <input ng-model="ctrl.section.header.name"
                class="form-control"
                type="text"
                style="width:100%">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label>Header CSS Style (Optional)</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <!-- <input ng-model="ctrl.section.header.style" class="form-control" type="text" style="width:100%"> -->
            <textarea style=""
                rows="1"
                ng-model="ctrl.section.header.style"
                class="form-control"
                style="width:100%"></textarea>
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label>Section CSS Style (Optional)</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <textarea style=""
                rows="1"
                ng-model="ctrl.section.style"
                class="form-control"
                style="width:100%"></textarea>
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label>Section Panel CSS Style (Optional)</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <textarea style=""
                rows="1"
                ng-model="ctrl.section.panelStyle"
                class="form-control"
                style="width:100%"></textarea>
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label>Section Body CSS Style (Optional)</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <textarea style=""
                rows="1"
                ng-model="ctrl.section.body.style"
                class="form-control"
                style="width:100%"></textarea>
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label>Section Body Panel CSS Style (Optional)</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <textarea style=""
                rows="1"
                ng-model="ctrl.section.body.panelStyle"
                class="form-control"
                style="width:100%"></textarea>
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label>Show by default</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8"
            ng-init="ctrl.section.defaultVisible = (ctrl.section.defaultVisible === undefined) ? true : ctrl.section.defaultVisible">
            <input ng-model="ctrl.section.defaultVisible"
                type="radio"
                ng-value="true"> Yes &nbsp;&nbsp;&nbsp;&nbsp;
            <input ng-model="ctrl.section.defaultVisible"
                type="radio"
                ng-value="false"> No
        </div>
    </div>
    <dependency-config field="ctrl.section"
        form-input-list="ctrl.formInputList"
        dependency-types="ctrl.dependencyTypes"></dependency-config>

    <!-- loop config [s]-->
    <hr class="row"
        style="height:2px;
        background-color: #ccc;" />
    <div class="row padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label>Loop Data Name (Optional)</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <input ng-model="ctrl.section.body.loopData.name"
                class="form-control"
                type="text"
                style="width:100%"
                ng-disabled="ctrl.section.body.loopData.content.rows[0]">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label>Loop Data Content (Optional)</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <input class="btn btn-primary"
                type="button"
                value="Add Loop Content Row"
                ng-click="ctrl.addLoopContentRow()"
                style="width:auto;">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12"
            ng-repeat="(loopRowIndex, row) in ctrl.section.body.loopData.content.rows">
            <a ng-if="loopRowIndex > 0"
                ng-click="ctrl.moveRow(loopRowIndex,loopRowIndex-1, ctrl.section.body.loopData.content.rows)">Move up  </a><a ng-click="ctrl.moveRow(loopRowIndex,loopRowIndex+1, ctrl.section.body.loopData.content.rows)"
                ng-if="loopRowIndex < (ctrl.section.body.loopData.content.rows.length - 1)">Move Down</a>
            <div class="panel-group"
                id="accordion_{{row.id}}"
                role="tablist"
                aria-multiselectable="true">
                <div class="panel panel-default">
                    <button type="button"
                        class="btn btn-danger"
                        style="float:right;"
                        ng-click="ctrl.removeFormSectionRow(ctrl.section.body.loopData.content, row.id)">Remove Loop Row</button>
                    <div class="panel-heading"
                        role="tab"
                        id="sectionLoopRow_{{row.id}}">
                        <h3 class="panel-title">
                        <a data-toggle="collapse" 
                        data-target="#loopRow_{{row.id}}" 
                        aria-expanded="true" 
                        aria-controls="loopRow_{{row.id}}">
                            <span>Loop Row: {{ row.id }}</span>
                        </a>
                    </h3>
                    </div>
                    <div id="loopRow_{{row.id}}"
                        class="panel-collapse collapse"
                        role="tabpanel"
                        aria-labelledby="sectionLoopRow_{{row.id}}">
                        <form-field-group field-group="row"
                            form-input-list="ctrl.formInputList"
                            form-src-input-list="ctrl.formSrcInputList"
                            form-dest-input-list="ctrl.formDestInputList"></form-field-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="row"
        style="height:2px;
        background-color: #ccc;" />
    <!-- =====loop config end===== -->
    <div class="col-xs-12"
        style="margin-top:20px;margin-bottom:20px">
        <div class="col-xs-3"
            style="padding:0;">
            <input class="btn btn-primary"
                type="button"
                value="Add Row Group"
                ng-click="ctrl.addRowGroup()"
                style="width:auto;">
        </div>
    </div>
    <div class="col-xs-12"
        ng-repeat="(rowGroupIndex, rowGroup) in ctrl.section.body.rowGroups">
        <a ng-if="rowGroupIndex > 0"
            ng-click="ctrl.moveRow(rowGroupIndex,rowGroupIndex-1, ctrl.section.body.rowGroups)">Move up  </a><a ng-click="ctrl.moveRow(rowGroupIndex,rowGroupIndex+1, ctrl.section.body.rowGroups)"
            ng-if="rowGroupIndex < (ctrl.section.body.rowGroups.length - 1)">Move Down</a>
        <div class="panel-group"
            id="accordion_{{rowGroup.id}}"
            role="tablist"
            aria-multiselectable="true">
            <div class="panel panel-default">
                <button type="button"
                    class="btn btn-danger"
                    style="float:right;"
                    ng-click="ctrl.removeRowGroup(rowGroup.id)">Remove Row Group</button>
                <div class="panel-heading"
                    role="tab"
                    id="sectionRowGroup_{{rowGroup.id}}">
                    <h3 class="panel-title">
                            <a data-toggle="collapse" 
                               data-target="#rowGroup_{{rowGroup.id}}" 
                               aria-expanded="true" 
                               aria-controls="rowGroup_{{rowGroup.id}}">
                              <span>Section Row Group: {{ rowGroup.id }}</span>
                            </a>
                        </h3>
                </div>
                <div id="rowGroup_{{rowGroup.id}}"
                    class="panel-collapse collapse"
                    role="tabpanel"
                    aria-labelledby="sectionRowGroup_{{rowGroup.id}}">
                    <div class="col-xs-12"
                        style="margin-top:20px;margin-bottom:20px">
                        <div class="col-xs-3"
                            style="padding:0;">
                            <input class="btn btn-primary"
                                type="button"
                                value="Add Field Group"
                                ng-click="ctrl.addFieldGroup(rowGroup)"
                                style="width:auto;">
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12"
                            ng-repeat="(rowIndex, row) in rowGroup.rows">
                            <a ng-if="rowIndex > 0"
                                ng-click="ctrl.moveRow(rowIndex,rowIndex-1, rowGroup.rows)">Move up  </a><a ng-click="ctrl.moveRow(rowIndex,rowIndex+1, rowGroup.rows)"
                                ng-if="rowIndex < (rowGroup.rows.length - 1)">Move Down</a>
                            <div class="panel-group"
                                id="accordion_{{row.id}}"
                                role="tablist"
                                aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <button type="button"
                                        class="btn btn-danger"
                                        style="float:right;"
                                        ng-click="ctrl.removeFormSectionRow(rowGroup, row.id)">Remove Row</button>
                                    <div class="panel-heading"
                                        role="tab"
                                        id="sectionRow_{{row.id}}">
                                        <h3 class="panel-title">
                                        <a data-toggle="collapse" 
                                        data-target="#row_{{row.id}}" 
                                        aria-expanded="true" 
                                        aria-controls="row_{{row.id}}">
                                            <span>Section Row: {{ row.id }}</span>
                                        </a>
                                     </h3>
                                    </div>
                                    <div id="row_{{row.id}}"
                                        class="panel-collapse collapse"
                                        role="tabpanel"
                                        aria-labelledby="sectionRow_{{row.id}}">
                                        <form-field-group field-group="row"
                                            form-input-list="ctrl.formInputList"
                                            form-src-input-list="ctrl.formSrcInputList"
                                            form-dest-input-list="ctrl.formDestInputList"
                                            rows="rowGroup.rows"
                                            row-index="rowIndex"
                                            move-row="ctrl.moveRow"></form-field-group>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
