<h2 style="margin-top:20px">Screen Configurator</h2>
<div class="row"
    style="margin-top:30px;margin-bottom:15px;">
    <div class="form-inline">
        <div class="col-xs-12"
            style="margin-bottom:20px">
            <div class="col-xs-10">
                <label>Screen Code: </label>
                <input id="screenCode"
                    type="text"
                    ng-model="ctrl.screenCode">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-4">
                <button type="button"
                    class="btn btn-primary"
                    ng-click="ctrl.loadServerLayout()">Retrieve Through API</button>
            </div>
        </div>
        <div class="col-xs-12">
            <h4 style="padding-left:30px">OR</h4>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-4">
                <input id="loadfile"
                    type="file"
                    style="visibility: hidden;width:1px;height:1px">
                <button type="button"
                    class="btn btn-primary"
                    ng-click="ctrl.loadLayout()">Load Existing Layout</button>
            </div>
        </div>
        <div class="col-xs-12">
            <h4 style="padding-left:30px">OR</h4>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 col-sm-8 col-md-4">
                <select ng-keydown="ctrl.enterToAddComponent($event)"
                    class="w-select form-control"
                    ng-model="ctrl.selectedComponent"
                    style="width:100%">
                    <option value="">Select Component Type</option>
                    <option value="dynamicForm">Form</option>
                    <option value="tableListing">Table</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4"
                style="margin-bottom:10px">
                <!-- <label for="newComponentName">Name</label> -->
                <input ng-keydown="ctrl.enterToAddComponent($event)"
                    ng-model="ctrl.newComponentName"
                    class="form-control"
                    name="newComponentName"
                    type="text"
                    placeholder="Enter Name"
                    style="width:100%">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <button type="button"
                    class="btn btn-primary"
                    ng-click="ctrl.addComponent()">Add Component</button style="width:100%">
            </div>
        </div>
    </div>
</div>
<div ng-if="ctrl.layout.components.length > 0">
    <div class="row padding"
        style="margin-bottom:20px">
        <div class="col-xs-12"
            style="border-bottom:2px solid #ccc;margin-bottom:20px"
            width="100%"></div>
        <div class="col-xs-12 col-sm-4 col-md-2">
            <h4 for="screenTitle">Screen Title</h4>
        </div>
        <div class="col-xs-8 col-sm-4 col-md-4">
            <input ng-model="ctrl.layout.title"
                ng-init="ctrl.layout.title = (ctrl.layout.title === undefined) ? '' : ctrl.layout.title"
                class="form-control"
                name="layoutTitle"
                type="text">
        </div>
    </div>
</div>
<div class="row"
    ng-repeat="component in ctrl.layout.components"
    ng-if="ctrl.layout">
    <a ng-if="$index > 0"
        ng-click="ctrl.moveComponent($index,$index-1)">Move up  
    </a>
    <a ng-click="ctrl.moveComponent($index,$index+1)"
        ng-if="$index < (ctrl.layout.components.length - 1)">Move Down
    </a>
    <div class="panel panel-default">
        <button type="button"
            class="btn btn-danger"
            style="float:right;"
            ng-click="ctrl.removeComponent($index)">Remove Component</button>
        <div class="panel-heading">
            <h3 class="panel-title">{{ctrl.componentsMap[component.type].title}}: <b>{{component.name}}</b></h3>
        </div>
        <div class="panel-body">
            <div ng-if="component.type === 'dynamicForm'">
                <dynamic-form-configurator component-model="component"
                    input-list="ctrl.inputList[component.id]"
                    src-input-list="ctrl.srcInputList[component.id]"
                    dest-input-list="ctrl.destInputList[component.id]">
                </dynamic-form-configurator>
            </div>
            <div ng-if="component.type === 'tableListing'">
                <table-configurator component-model="component"
                    input-list="ctrl.inputList[component.id]">
                </table-configurator>
            </div>
        </div>
    </div>
</div>
<div ng-if="ctrl.layout.components.length > 0">
    <button type="button"
        class="btn btn-primary"
        ng-click="ctrl.generateLayout()">Generate Layout</button>
    <button type="button"
        class="btn btn-primary"
        ng-if="ctrl.showBtn === 'saveBtn'"
        ng-click="ctrl.saveServerLayout()">Save Layout</button>
    <button type="button"
        class="btn btn-primary"
        ng-if="ctrl.showBtn === 'updateBtn' || ctrl.showBtn === 'saveBtn'"
        ng-click="ctrl.updateServerLayout()">Update Layout</button>
    <button type="button"
        class="btn btn-primary"
        ng-if="ctrl.showBtn === 'updateBtn'"
        ng-click="ctrl.deleteServerLayout()">Delete Layout</button>
    <button type="button"
        class="btn btn-info"
        ng-click="ctrl.preview()">Preview</button>
</div>
