<div class="row padding"
    ng-init="ctrl.field.inputFormat.attributes.currencyFormat = (ctrl.field.inputFormat.attributes.currencyFormat === undefined)? true : ctrl.field.inputFormat.attributes.currencyFormat">
    <div class="col-xs-3">
        <label>Input Type Attributes</label>
    </div>
    <div class="col-xs-8">
        <div class="col-xs-3">
            <label>Format Input</label>
        </div>
        <div class="col-xs-6">
            <input ng-model="ctrl.field.inputFormat.attributes.currencyFormat"
                type="radio"
                ng-value="true"> Yes &nbsp;&nbsp;&nbsp;&nbsp;
            <input ng-model="ctrl.field.inputFormat.attributes.currencyFormat"
                type="radio"
                ng-value="false"> No
        </div>
    </div>
</div>
<div class="row padding"
    ng-init="ctrl.field.inputFormat.attributes.currencyInteger = (ctrl.field.inputFormat.attributes.currencyInteger === undefined)? '9' : ctrl.field.inputFormat.attributes.currencyInteger">
    <div class="col-xs-offset-3 col-xs-8">
        <div class="col-xs-3">
            <label>Integer Length</label>
        </div>
        <div class="col-xs-6">
            <input ng-model="ctrl.field.inputFormat.attributes.currencyInteger"
                type="text"
                class="form-control">
        </div>
    </div>
</div>
<div class="row padding"
    ng-init="ctrl.field.inputFormat.attributes.currencyDecimal = (ctrl.field.inputFormat.attributes.currencyDecimal === undefined)? '2' : ctrl.field.inputFormat.attributes.currencyDecimal">
    <div class="col-xs-offset-3 col-xs-8">
        <div class="col-xs-3">
            <label>Decimal Length</label>
        </div>
        <div class="col-xs-6">
            <input ng-model="ctrl.field.inputFormat.attributes.currencyDecimal"
                type="text"
                class="form-control">
        </div>
    </div>
</div>
