.hfits-input-error {
    margin-top: 0;
    margin-bottom: 10px !important;
    padding: 9px;
    background-color: #C03546;
    border: 1px solid #D0021B;
    border-radius: 4px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
}
.no-margin-bottom {
    margin-bottom: 0px !important;
}
.no-margin-bottom > div > p {
    margin-bottom: 0px !important;
}
