<div class="container cka">
    <div class="page_header">
        <h1>{{'cfo.header.ckaTitle' | translate}}</h1>
    </div>
    <div plain-view
        template-url="'data/contentManaged/cm_801026SCRNCKAIN_instr01.html'">
    </div>
    <!-- <iframe src="data/contentManaged/claim_list_instruction.html"
        width="100%"
        id="contentManagedInstruction"
        scrolling="no"
        marginheight="0"
        frameborder="0"></iframe> -->
    <div>
        <div class="col-xs-12 no-padding"
            ng-if="ctrl.ckaQuestions[0]"
            ng-init="ctrl.initValidation()">
            <div class="col-xs-12 no-padding cka-section"
                ng-repeat="section in ctrl.ckaQuestions">
                <div class="col-xs-12 cka-section-header"
                    ng-bind-html="section.description">

                    <!-- section header -->
                </div>
                <div class="col-xs-12 no-padding cka-section-content"
                    ng-repeat="question in section.details">
                    <div class="col-xs-12 no-padding">
                        <div class="col-xs-12 col-sm-10 no-padding cka-section-content-description"
                            ng-bind-html="question.description">
                            <!-- question content -->
                        </div>
                        <form name="selectionForm_{{question.id}}">
                            <div class="col-xs-12 col-sm-2 no-padding cka-section-content-selection">
                                <div id="selection_{{question.id}}"
                                    name="selection_{{question.id}}"
                                    ng-model="ctrl.model.selection[question.id]">
                                    <div class="col-xs-6 no-padding align-center">
                                        <input type="radio"
                                            name="option_{{question.id}}"
                                            value="Y"
                                            ng-model="ctrl.model.selection[question.id]" />
                                        <span class="col-xs-12 no-padding">Yes</span>
                                    </div>
                                    <div class="col-xs-6 no-padding align-center">
                                        <input type="radio"
                                            name="option_{{question.id}}"
                                            value="N"
                                            ng-model="ctrl.model.selection[question.id]" />
                                        <span class="col-xs-12 no-padding">No</span>
                                    </div>
                                    <div ng-if="!ctrl.validate['selection_' + question.id].isValid"
                                        class="col-xs-12 component-input--has-error">
                                        {{ctrl.validate['selection_'+question.id].message | translate}}
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="col-xs-12 cka-section-details-header"
                        ng-bind-html="question.other_description">
                        <!-- details header -->
                    </div>
                    <div class="col-xs-12 no-padding">
                        <textarea rows="3"
                            class="form-control cka-section-details-input"
                            ng-class="{'cka-section-details-input--has-error':!ctrl.validate['detail_' + question.id].isValid}"
                            id="detail_{{question.id}}"
                            name="detail_{{question.id}}"
                            ng-model="ctrl.model.detail[question.id]"
                            ng-init="ctrl.initTooltip('detail_'+question.id)"
                            ng-change="ctrl.updateRemainings(question.id)"
                            maxlength="{{ctrl.maxCharLength}}"></textarea>
                        <div ng-if="!ctrl.validate['detail_' + question.id].isValid"
                            class="component-input--has-error">
                            {{ctrl.validate['detail_'+question.id].message | translate}}
                        </div>
                        <div id="remainingChar_{{question.id}}"
                            class="remaining-characters">
                            <span>{{ctrl.maxCharLength}}</span> / {{ctrl.maxCharLength}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input class="button button--red-thick float-right"
        style="margin:10px 5px"
        type="button"
        value="{{'cfo.button.submit'|translate}}"
        ng-click="ctrl.submit()" />
</div>
