<div class="container">
    <div style="margin:0 10px">
        <h3 style="color: #ed1c24">{{'cfo.header.ckaOutcome' | translate}}:</h3>
        <div style="margin:20px 0;" ng-bind-html="ctrl.ckaResult | translate">
        	<!-- cka result -->
        </div>
        <div style="text-align: right;">
            <input class="button button--red-thick float-right" type="button" value="{{'cfo.button.ok'|translate}}" ng-click="ctrl.ok()" />
        </div>
    </div>
</div>
