.modal-wrapper {
    padding: 10px;
}

.modal-header-custom {
    min-height: 16px;
    padding: 15px 25px;
}

.modal-body-custom {
    position: relative;
    padding: 15px 25px;
}

.modal-footer-custom {
    text-align: right;
    padding: 15px 25px;
    margin: 0 10px 50px 10px;
}

.modal-close-button {
    padding: 7px;
    float: right;
    top: -20px;
    right: -20px;
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 50%;
    color: #FFF;
    background: red;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.modal-primary-button {
    float: right;
    border-radius: 4px;
    background: #ef1616;
    padding: 12px;
    min-width: 20%;
    border: 0;
    color: #FFF;
}

.modal-secondary-button {
    float: left;
    border-radius: 4px;
    background: #dcdcdc;
    padding: 12px;
    min-width: 20%;
    border: 0;
}