<div class="container">
    <div acknowledgement-view
        display-title="'cfo.header.companyProfileAcknowledgement'"
        content-details="ctrl.contentDetails"
        is-visible="true"
        is-success-view="ctrl.stateParams.upload || ctrl.stateParams.remove">
    </div>
    <div class="page__body">
        <div class="page-section row">
            <div class="col-xs-12 ">
                <a class="button button--light-grey company-acknow__btn"
                    ng-click="ctrl.back()">{{'cfo.button.ok' | translate}}</a>
            </div>
        </div>
    </div>
</div>
