<div class="container"
    ng-if="ctrl.loaded === true">
    <div class="page_header">
        <h1>{{'cfo.header.companyProfile' | translate}}</h1>
    </div>

    <div ng-if="ctrl.mainCompany.subsidiaries[0]">
        <div class="page-section">
            <div class="sub-section__header__title">{{'cfo.label.selectCompany' | translate}}</div>
            <div class="company_selector_box">
                <ul class="company_list">
                    <li>
                        <a class="company-list-item"
                            ng-click="ctrl.updateCompanyDetails(ctrl.mainCompany, $event)">
                        {{::ctrl.mainCompany.company_name}}
                    </a>
                        <ul ng-if="ctrl.mainCompany.subsidiaries[0]">
                            <li ng-repeat="level1 in ctrl.mainCompany.subsidiaries"
                                ng-if="level1.parent===ctrl.mainCompany.cif_num && ctrl.copyArr.indexOf(level1.cif_num) > -1">
                                <a class="company-list-item"
                                    ng-click="ctrl.updateCompanyDetails(level1, $event)">{{::level1.company_name}}</a>
                                <ul>
                                    <li ng-repeat="level2 in ctrl.mainCompany.subsidiaries"
                                        ng-if="level2.parent===level1.cif_num">
                                        <a class="company-list-item"
                                            ng-click="ctrl.updateCompanyDetails(level2, $event)">{{::level2.company_name}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li ng-repeat="level1 in ctrl.mainCompany.subsidiaries"
                                ng-if="level1.parent===ctrl.mainCompany.cif_num && ctrl.copyArr.indexOf(level1.cif_num) < 0">
                                <a class="company-list-item"
                                    ng-click="ctrl.updateCompanyDetails(level1, $event)">{{::level1.company_name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="divider-padding">
            <hr class="section__divider" />
        </div>
    </div>

    <div class="page-section">
        <div class="page-section__header__title">{{'cfo.label.companyDetail' | translate}}</div>
        <div class="sub-section row">
            <div>
                <div class="col-xs-12 vertical-padding input-wrapper">
                    <div>
                        <label class="field-title">{{'cfo.label.companyName' | translate}}
                        </label>
                    </div>
                    <div class="field-value">
                        {{ctrl.companyDetails.company_name}}
                    </div>
                </div>
                <div class="col-xs-12 vertical-padding input-wrapper">
                    <div>
                        <label class="field-title">{{'cfo.label.companyUEN' | translate}}
                        </label>
                    </div>
                    <div class="field-value">
                        {{ctrl.companyDetails.registration_num}}
                    </div>
                </div>
            </div>
            <div>
                <div class="col-xs-12 vertical-padding input-wrapper">
                    <div>
                        <label class="field-title">{{'cfo.label.companyContactAddress' | translate}}
                        </label>
                    </div>
                    <div class="field-value">
                        <div ng-if="ctrl.companyDetails.business_addr.country_name === 'Singapore'">
                            <span ng-if="ctrl.companyDetails.business_addr.block">{{'cfo.label.addressBlock' | translate}} {{ctrl.companyDetails.business_addr.block}}</span>
                            <span ng-if="ctrl.companyDetails.business_addr.street">{{ctrl.companyDetails.business_addr.street}}</span>
                            <span ng-if="ctrl.companyDetails.business_addr.storey_num">#{{ctrl.companyDetails.business_addr.storey_num}}-<span ng-if="ctrl.companyDetails.business_addr.unit_num">{{ctrl.companyDetails.business_addr.unit_num}},</span></span>
                            <span ng-if="ctrl.companyDetails.business_addr.building">{{ctrl.companyDetails.business_addr.building}}</span>
                            <span ng-if="ctrl.companyDetails.business_addr.country_name">{{ctrl.companyDetails.business_addr.country_name}}</span>
                            <span ng-if="ctrl.companyDetails.business_addr.postal_cd">{{ctrl.companyDetails.business_addr.postal_cd}}</span>
                        </div>
                        <div ng-if="ctrl.companyDetails.business_addr.country_name !== 'Singapore'">
                            <span ng-if="ctrl.companyDetails.business_addr.addr_1">{{ctrl.companyDetails.business_addr.addr_1}},</span>
                            <span ng-if="ctrl.companyDetails.business_addr.addr_2">{{ctrl.companyDetails.business_addr.addr_2}},</span>
                            <span ng-if="ctrl.companyDetails.business_addr.addr_3">{{ctrl.companyDetails.business_addr.addr_3}}</span>
                            <span ng-if="ctrl.companyDetails.business_addr.addr_4">{{ctrl.companyDetails.business_addr.addr_4}},</span>
                            <span ng-if="ctrl.companyDetails.business_addr.country_name">{{ctrl.companyDetails.business_addr.country_name}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 vertical-padding input-wrapper">
                    <div>
                        <label class="field-title">{{'cfo.label.companyContactTelephoneNumber' | translate}}
                        </label>
                    </div>
                    <div class="field-value">
                        +{{ctrl.companyDetails.business_phone_num}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
