<div class="modal-wrapper">
    <div class="modal-header-custom">
        <div>
            <span class="modal-close-button"
                aria-hidden="true"
                ng-click="ctrl.cancel()">X</span>
        </div>
    </div>
    <div class="modal-body-custom">
        <div class="lightbox_wrapper">
            <div class="row entry_rows">
                <div class="col-xs-12">
                    <label>{{'cfo.label.companyPleaseClickConfirmLogoUpload' | translate}}</label>
                    <div class="upload-terms-wrapper ">
                        {{'cfo.message.cfo.message.termsAndConditionsContents' | translate}}
                    </div>
                    <input type="checkbox"
                        id="agreement"
                        name="agreement"
                        class="terms-checkbox"
                        ng-model="ctrl.checked"/> {{'cfo.label.termsAndConditiosnAcceptMessage' | translate}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer-custom">
        <button class="button button--red-thin company-confirm-btn" 
            type="button"
            id="confirm"
            value="Confirm"
            ng-click="ctrl.confirm()"
            ng-disabled="!ctrl.checked">
            <span>{{'cfo.button.confirm' | translate}}</span>
        </button>
        <button class="button button--light-grey company-back-btn"
            type="button"
            id="back"
            value="Back"
            ng-click="ctrl.back()">
            <span>{{'cfo.button.back' | translate}}</span>
        </button>
    </div>
</div>
