<div class="container">
    <div class="page_header">
        <h1>{{'cfo.header.changePassword' | translate}}</h1>
    </div>
    <div class="page-body">
        <div class="page-section">
            <div id="errorMessage">
                <div acknowledgement-view
                    display-title="ctrl.acknowledgement.title"
                    content-details="ctrl.acknowledgement.details"
                    is-success-view="ctrl.acknowledgement.isSuccessAck"
                    is-visible="ctrl.acknowledgement.isVisibleAck">
                </div>
            </div>
            <div ng-include="'data/contentManaged/cm_801032SCRNCHANGEPASSWORD_instr01.html'">
            </div>
            <div class="row">
                <div single-line-text
                    label="ctrl.config.currentPassword.label"
                    column-css-class="ctrl.config.currentPassword.columnCssClass"
                    input-css-class="ctrl.config.currentPassword.inputCssClass"
                    label-css-class="ctrl.config.currentPassword.labelCssClass"
                    form-name="ctrl.config.changePasswordForm.name"
                    form-section-mode="ctrl.config.changePasswordForm.mode"
                    form-manager="ctrl.formManager"
                    validators="ctrl.config.currentPassword.validators"
                    field-name="'cur_pwd'"
                    field-id="'cur_pwd'"
                    field-style=""
                    mask-input="true"
                    ng-if="ctrl.compileElement">
                </div>
            </div>
            <div class="row">
                <div single-line-text
                    label="ctrl.config.newPassword.label"
                    column-css-class="ctrl.config.newPassword.columnCssClass"
                    input-css-class="ctrl.config.newPassword.inputCssClass"
                    label-css-class="ctrl.config.newPassword.labelCssClass"
                    form-name="ctrl.config.changePasswordForm.name"
                    form-section-mode="ctrl.config.changePasswordForm.mode"
                    form-manager="ctrl.formManager"
                    validators="ctrl.config.newPassword.validators"
                    field-name="'new_pwd'"
                    field-id="'new_pwd'"
                    field-style=""
                    mask-input="true"
                    ng-if="ctrl.compileElement">
                </div>
            </div>
            <div class="row">
                <div single-line-text
                    label="ctrl.config.confirmNewPassword.label"
                    column-css-class="ctrl.config.confirmNewPassword.columnCssClass"
                    input-css-class="ctrl.config.confirmNewPassword.inputCssClass"
                    label-css-class="ctrl.config.confirmNewPassword.labelCssClass"
                    form-name="ctrl.config.changePasswordForm.name"
                    form-section-mode="ctrl.config.changePasswordForm.mode"
                    form-manager="ctrl.formManager"
                    validators="ctrl.config.confirmNewPassword.validators"
                    field-name="'confirm_new_pwd'"
                    field-id="'confirm_new_pwd'"
                    field-style=""
                    mask-input="true"
                    ng-if="ctrl.compileElement">
                </div>

            </div>
            <div class="sub-section">
                <div class="left-wrapper">
                    <input type="button"
                        value="{{'cfo.button.cancel' | translate}}"
                        class="button button--light-grey left-button"
                        ng-click="ctrl.cancel()" />
                </div>
                <div class="left-wrapper">
                    <input type="button"
                        value="{{'cfo.button.submit' | translate}}"
                        class="button button--red-thin left-button"
                        ng-click="ctrl.submit()" />
                </div>
            </div>
        </div>
    </div>
</div>
