<div class="container">
    <div class="page_header">
        <h1>{{'cfo.header.forceChangePasswordHdr' | translate}}</h1>
    </div>
    <div class="page__body">
        <div class="page-section">
            <div style="background: #FFE0C2; padding: 15px;">
                <div style="font-weight: 700; padding-bottom: 10px;">{{'cfo.label.attention' | translate}}</div>
                <div ng-if="ctrl.subscriber.is_reset_pwd === 'Y'">{{'cfo.message.forceChangePasswordNote1' | translate}}</div>
                <div ng-if="ctrl.subscriber.is_reset_pwd === 'N'">{{'cfo.message.forceChangePasswordNote3' | translate}}</div>
                <div>{{'cfo.message.forceChangePasswordNote2' | translate}}</div>
            </div>

            <div id="errorMessage"
                style="margin-top: 30px;">
                <div acknowledgement-view
                    display-title="ctrl.acknowledgement.title"
                    content-details="ctrl.acknowledgement.details"
                    is-success-view="ctrl.acknowledgement.isSuccessAck"
                    is-visible="ctrl.acknowledgement.isVisibleAck">
                </div>
            </div>

            <div ng-include="'data/contentManaged/cm_SCRNFORCECHANGEPASSWORD_instr01.html'">
            </div>

            <div class="row no-margin">
                <div single-line-text
                    label="ctrl.config.currentPassword.label"
                    column-css-class="ctrl.config.currentPassword.columnCssClass"
                    input-css-class="ctrl.config.currentPassword.inputCssClass"
                    label-css-class="ctrl.config.currentPassword.labelCssClass"
                    form-name="ctrl.config.forceChangePasswordForm.name"
                    form-section-mode="ctrl.config.forceChangePasswordForm.mode"
                    form-manager="ctrl.formManager"
                    validators="ctrl.config.currentPassword.validators"
                    field-name="'currentPassword'"
                    field-id="'currentPassword'"
                    field-style=""
                    mask-input="true"
                    ng-if="ctrl.compileElement">
                </div>
            </div>
            <div class="row no-margin">
                <div single-line-text
                    label="ctrl.config.newPassword.label"
                    column-css-class="ctrl.config.newPassword.columnCssClass"
                    input-css-class="ctrl.config.newPassword.inputCssClass"
                    label-css-class="ctrl.config.newPassword.labelCssClass"
                    form-name="ctrl.config.forceChangePasswordForm.name"
                    form-section-mode="ctrl.config.forceChangePasswordForm.mode"
                    form-manager="ctrl.formManager"
                    validators="ctrl.config.newPassword.validators"
                    field-name="'newPassword'"
                    field-id="'newPassword'"
                    field-style=""
                    mask-input="true"
                    ng-if="ctrl.compileElement">
                </div>
            </div>
            <div class="row no-margin">
                <div single-line-text
                    label="ctrl.config.confirmPassword.label"
                    column-css-class="ctrl.config.confirmPassword.columnCssClass"
                    input-css-class="ctrl.config.confirmPassword.inputCssClass"
                    label-css-class="ctrl.config.confirmPassword.labelCssClass"
                    form-name="ctrl.config.forceChangePasswordForm.name"
                    form-section-mode="ctrl.config.forceChangePasswordForm.mode"
                    form-manager="ctrl.formManager"
                    validators="ctrl.config.confirmPassword.validators"
                    field-name="'confirmPassword'"
                    field-id="'confirmPassword'"
                    field-style=""
                    mask-input="true"
                    ng-if="ctrl.compileElement">
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="left-wrapper">
                <input type="button"
                    value="{{'cfo.button.submit' | translate}}"
                    class="button button--red-thin left-button"
                    ng-click="ctrl.submit()" />
            </div>
        </div>
    </div>
</div>
