<div class="container">
    <div class="page_header">
        <h1>{{'cfo.header.loginOtpHdr' | translate}}</h1>
    </div>
    <div class="page__body">
        <div class="page-section">
            <div class="row no-margin"
                id="errorMessage">
                <div acknowledgement-view
                    display-title="ctrl.acknowledgement.title"
                    content-details="ctrl.acknowledgement.details"
                    is-success-view="ctrl.acknowledgement.isSuccessAck"
                    is-visible="ctrl.acknowledgement.isVisibleAck">
                </div>
            </div>
            <div class="row no-margin"
                style="color: #929292;">
                {{'cfo.message.enterOtp' | translate}}
            </div>
            <div class="row no-margin">
                <div single-line-text
                    label="ctrl.config.oneTimePassword.label"
                    column-css-class="ctrl.config.oneTimePassword.columnCssClass"
                    input-css-class="ctrl.config.oneTimePassword.inputCssClass"
                    label-css-class="ctrl.config.oneTimePassword.labelCssClass"
                    form-name="ctrl.config.loginOtpForm.name"
                    form-section-mode="ctrl.config.loginOtpForm.mode"
                    form-manager="ctrl.formManager"
                    validators="ctrl.config.oneTimePassword.validators"
                    place-holder="ctrl.config.oneTimePassword.placeHolder"
                    field-name="'oneTimePassword'"
                    field-id="'oneTimePassword'"
                    field-style=""
                    ng-if="ctrl.compileElement">
                </div>
                <div class="col-xs-6 col-sm-2"
                    style="padding: 10px 5px;">
                    <input type="button"
                        value="{{'cfo.button.submit' | translate}}"
                        class="button button--red-thin col-xs-12"
                        style="padding: 0 30px;"
                        ng-click="ctrl.submit()" />
                </div>
                <div class="col-xs-6 col-sm-2"
                    style="padding: 10px 5px;">
                    <input type="button"
                        value="{{'cfo.button.cancel' | translate}}"
                        class="button button--light-grey col-xs-12"
                        style="padding: 0 30px;"
                        ng-click="ctrl.cancel()" />
                </div>
            </div>
            <div class="row no-margin"
                style="color: #929292; margin-bottom: 10px; ">
                {{'cfo.message.otpNotes' | translate}}
            </div>
            <div class="row no-margin">
                <input type="button"
                    value="{{'cfo.button.resendOtp' | translate}}"
                    class="button button--light-grey col-xs-12 col-sm-4"
                    style="padding: 0 30px;"
                    ng-click="ctrl.resend()" />
            </div>
        </div>
    </div>
</div>
