<div class="container-fluid no-padding">
    <div style="position: relative; height: 600px;">
        <!-- background: #ddd url('images/slider0.png') no-repeat center center; background-size: contain; -->
        <div style="width: 100%;height: 100%;position: absolute;">
            <!--[if gte IE 9]><!-->
            <object type="text/html"
                data="data/contentManaged/login-main.html"
                style="width:100%; height:100%; margin:0;"></object>
            <!--<![endif]-->
        </div>
        <div class="signin-outer-wrapper row">
            <div class="signin-inner-wrapper col-xs-12">
                <div class="row signin-header">
                    <div class="col-xs-12">{{"cfo.header.signIn" | translate}}</div>
                </div>
                <div class="row signin-body">
                    <div class="row"
                        style="padding: 5px 10px;">
                        <div class="alert alert-danger col-xs-12 signin-body__unauthorized"
                            role="alert"
                            style=""
                            ng-if="ctrl.unauthorized">
                            <span class="glyphicon glyphicon-remove-sign"
                                aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>{{ctrl.loginErrorMsg}}
                        </div>
                    </div>
                    <div class="row">
                        <div single-line-text
                            label="ctrl.config.userId.label"
                            place-holder="ctrl.config.userId.label.name"
                            column-css-class="ctrl.config.userId.columnCssClass"
                            input-css-class="ctrl.config.userId.inputCssClass"
                            label-css-class="ctrl.config.userId.labelCssClass"
                            form-name="ctrl.config.signInForm.name"
                            form-section-mode="ctrl.config.signInForm.mode"
                            form-manager="ctrl.config.signInForm.formManager"
                            validators="ctrl.config.userId.validators"
                            field-name="'userId'"
                            field-id="'userId'"
                            field-style=""
                            ng-if="ctrl.compileElement">
                        </div>
                    </div>
                    <div class="row">
                        <div single-line-text
                            label="ctrl.config.password.label"
                            place-holder="ctrl.config.password.label.name"
                            column-css-class="ctrl.config.password.columnCssClass"
                            input-css-class="ctrl.config.password.inputCssClass"
                            label-css-class="ctrl.config.password.labelCssClass"
                            form-name="ctrl.config.signInForm.name"
                            form-section-mode="ctrl.config.signInForm.mode"
                            form-manager="ctrl.config.signInForm.formManager"
                            validators="ctrl.config.password.validators"
                            field-name="'password'"
                            field-id="'password'"
                            field-style=""
                            mask-input="true"
                            ng-if="ctrl.compileElement">
                        </div>
                    </div>

                    <div class="row signin-body__signin-button-wrapper">
                        <div class="col-xs-12">
                            <button class="col-xs-12 btn signin-body__signin-button-wrapper__signin-button"
                                ng-click="ctrl.login()"
                                ng-disabled="ctrl.loginInProgress">
                                <span>
                                <span class="glyphicon glyphicon-lock signin-body__signin-button-wrapper__signin-button__icon"></span> {{"cfo.button.signInButton" | translate}}
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-align-right">
                            <span ng-click="ctrl.forgotPassword()"
                                ng-app="string"
                                class="signin-body__forgot-password-link">{{'cfo.message.forgotPassword' | translate}}</span>
                        </div>
                    </div>
                    <div class="row signup-wrapper">
                        <div class="col-xs-6">
                           <!--  <span class="signup-wrapper__no-user-id-link">{{'cfo.label.noUserId' | translate}}?</span> -->
                        </div>
                        <div class="col-xs-6 text-align-right">
                            <input type="button"
                                ng-click="ctrl.signUp()"
                                class="btn signup-wrapper__signup-button"
                                value="{{'cfo.button.signUpButton' | translate}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
