<div class="container">
    <div class="page_header">
        <h1>{{'cfo.header.registerOtpHdr' | translate}}</h1>
    </div>
    <div class="page__body">
        <div class="page-section">
            <div style="margin: 10px 0;">{{'cfo.message.registerOtpNote1' | translate}}</div>
            <div style="margin: 10px 0;">{{'cfo.message.registerOtpNote2' | translate}}</div>
            <div class="row no-margin">
                <div single-line-text
                    label="ctrl.config.phoneNumber.label"
                    column-css-class="ctrl.config.phoneNumber.columnCssClass"
                    input-css-class="ctrl.config.phoneNumber.inputCssClass"
                    label-css-class="ctrl.config.phoneNumber.labelCssClass"
                    form-name="ctrl.config.registerOtpForm.name"
                    form-section-mode="ctrl.config.registerOtpForm.mode"
                    form-manager="ctrl.formManager"
                    validators="ctrl.config.phoneNumber.validators"
                    field-input-format="ctrl.config.phoneNumber.inputFormat"
                    field-name="'phoneNumber'"
                    field-id="'phoneNumber'"
                    field-style=""
                    ng-if="ctrl.compileElement">
                </div>
            </div>
            <div class="row no-margin">
                <div single-line-text
                    label="ctrl.config.email.label"
                    column-css-class="ctrl.config.email.columnCssClass"
                    input-css-class="ctrl.config.email.inputCssClass"
                    label-css-class="ctrl.config.email.labelCssClass"
                    form-name="ctrl.config.registerOtpForm.name"
                    form-section-mode="ctrl.config.registerOtpForm.mode"
                    form-manager="ctrl.formManager"
                    validators="ctrl.config.email.validators"
                    field-name="'email'"
                    field-id="'email'"
                    field-style=""
                    ng-if="ctrl.compileElement">
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="left-wrapper">
                <input type="button"
                    value="{{'cfo.button.submit' | translate}}"
                    class="button button--red-thin left-button"
                    ng-click="ctrl.submit()" />
            </div>
        </div>
    </div>
</div>
