<div class="container">
    <div class="page_header page_header-padding">
        <h1>{{'cfo.header.signUp' | translate}}</h1>
    </div>
    <div class="page-section"
        ng-if="ctrl.showTerms">
        <div plain-view
            template-url="'data/contentManaged/signUp_instr01.html'">
        </div>
        <div class="sub-section">
            <div class="left-wrapper">
                <input type="button"
                    value="{{'cfo.button.decline' | translate}}"
                    class="button button--light-grey left-button"
                    ng-click="ctrl.cancelBtnClick()" />
            </div>
            <div class="left-wrapper">
                <input type="button"
                    value="{{'cfo.button.accept' | translate}}"
                    class="button button--red-thin left-button"
                    ng-click="ctrl.acceptBtnClick()" />
            </div>
        </div>
    </div>
    <div class="page-section top-padding"
        ng-if="!ctrl.showTerms">
        <div acknowledgement-view
            display-title="ctrl.acknowledgement.title"
            content-details="ctrl.acknowledgement.details"
            is-success-view="ctrl.acknowledgement.isSuccessAck"
            is-visible="ctrl.acknowledgement.isVisibleAck">
        </div>
        <div class="row">
            <div drop-down-list
                label="ctrl.config.identityType.label"
                form-name="'signUpForm'"
                form-section-mode="ctrl.config.identityType.mode"
                form-manager="ctrl.formManager"
                column-css-class="ctrl.config.identityType.columnCssClass"
                field-name="ctrl.config.identityType.name"
                field-id="ctrl.config.identityType.name"
                default-label="ctrl.config.identityType.defaultLabel"
                ignore-sort="ctrl.config.identityType.ignoreSort"
                field-default-value="ctrl.config.identityType.defaultValue"
                ddl-type="ctrl.config.identityType.ddlType"
                ddl-items="ctrl.config.identityType.ddlItems"
                url="ctrl.config.identityType.url"
                validators="ctrl.config.identityType.validators"></div>
        </div>
        <div class="row">
            <div single-line-text
                label="ctrl.config.identityNumber.label"
                place-holder=""
                column-css-class="ctrl.config.identityNumber.columnCssClass"
                form-name="'signUpForm'"
                form-section-mode="ctrl.config.identityNumber.mode"
                form-manager="ctrl.formManager"
                validators="ctrl.config.identityNumber.validators"
                field-name="ctrl.config.identityNumber.name"
                field-id="ctrl.config.identityNumber.name"
                field-style="ctrl.config.identityNumber.fieldStyle"></div>
        </div>
        <div class="row">
            <div drop-down-list
                label="ctrl.config.countryIssue.label"
                form-name="'signUpForm'"
                form-section-mode="ctrl.config.countryIssue.mode"
                form-manager="ctrl.formManager"
                column-css-class="ctrl.config.countryIssue.columnCssClass"
                field-name="ctrl.config.countryIssue.name"
                field-id="ctrl.config.countryIssue.name"
                default-label="ctrl.config.countryIssue.defaultLabel"
                ignore-sort="ctrl.config.countryIssue.ignoreSort"
                ddl-type="ctrl.config.countryIssue.ddlType"
                field-default-value="ctrl.config.countryIssue.defaultValue"
                ddl-items="ctrl.config.countryIssue.ddlItems"
                validators="ctrl.config.countryIssue.validators"></div>
        </div>
        <div class="sub-section">
            <div class="left-wrapper">
                <input type="button"
                    value="{{'cfo.button.cancel' | translate}}"
                    class="button button--light-grey left-button"
                    ng-click="ctrl.cancelBtnClick()" />
            </div>
            <div class="left-wrapper">
                <input type="button"
                    value="{{'cfo.button.submit' | translate}}"
                    class="button button--red-thin left-button"
                    ng-click="ctrl.submitBtnClick()" />
            </div>
        </div>
    </div>
</div>
